<!DOCTYPE html>
<html data-vue-meta-server-rendered {{{ meta.inject().htmlAttrs.text() }}}>
  <head><!-- index for default theme -->
  	{{{ meta.inject().title.text() }}}
		{{{ meta.inject().meta.text() }}}
		<meta name="generator" content="Jollyes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{{ meta.inject().link.text() }}}
		{{{ meta.inject().script.text() }}}
		{{{ renderResourceHints() }}}
		{{{ renderStyles() }}}
		{{{ output.appendHead() }}}
	</head>
  <body>
		<!--vue-ssr-outlet-->
    {{{ renderState() }}}
    {{{ renderScripts() }}}
    <script type="text/javascript">
      const callbackFn = (event) => {
        var consent = event.detail || CookieFirst.consent;
        if (consent.advertising && consent.performance && consent.functional) {
          window.__rmcp2 = [1,2,3,4,5,6,7,8,9,10];
        } else if (consent.advertising==false && consent.performance==false && consent.functional) {
          window.__rmcp2 = [1,7,10];
        } else if (consent.advertising==false && consent.performance && consent.functional==false) {
          window.__rmcp2 = [5,7,8,10];
        } else if (consent.advertising && consent.performance==false && consent.functional==false) {
          window.__rmcp2 = [2,3,4,7,10];
        } else if (consent.advertising && consent.performance==false && consent.functional) {
          window.__rmcp2 = [1,2,3,4,7,10];
        } else if (consent.advertising==false && consent.performance && consent.functional) {
          window.__rmcp2 = [1,5,7,8,10];
        } else if (consent.advertising==false && consent.performance==false && consent.functional==false) {
          window.__rmcp2 = [];
        }
      };
      // listen for Cookie First initialization event
      window.addEventListener("cf_consent", callbackFn);
    </script>
    <script>
      var SirvOptions = {
        image: {
          threshold: '25%'
        }
      }
    </script>
  </body>
</html>
