<template>
  <div class="pagination" v-if="pageNumber > 1">
    <a href="#" class="prev" :class="{ current: current === 1 }" @click.prevent="gotopage(current -1, $event)">
      <span class="arrow">
        <b>Previous</b>
      </span>
    </a>
    <span class="" v-for="(page, key) in pages" :key="key">
      <span class="active" v-if="page === current">
        {{ page }}
      </span>
      <template v-else>
        <a :href="currentRoute.path + '?page=' + page" @click.prevent="gotopage(page, $event)">
          {{ page }}
        </a>
      </template>
    </span>
    <a href="#" class="next" :class="{ current: current === pageNumber }" @click.prevent="gotopage(current + 1, $event)">
      <span class="arrow">
        <b>Next</b>
      </span>
    </a>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Pagination',
  data () {
    return {
      pageIndexes: []
    }
  },
  props: {
    current: {
      type: Number,
      required: true,
      default: () => {
        return 1
      }
    },
    perpage: {
      type: Number,
      required: true,
      default: () => {
        return 40
      }
    }
  },
  methods: {
    gotopage (page = 1, event = '') {
      if (page >= 1 && page <= this.pageNumber) {
        if (!event.target.classList.contains('current')) {
          this.$router.push({ query: { ...this.$route.query, page: page } })
          const headerOffset = document.querySelector('.header').clientHeight;
          const offsetTop = document.querySelector('#categoryProducts').offsetTop;
          const offset = offsetTop - headerOffset + 10;
          scroll({
            top: offset
          });
          this.$store.dispatch('pagination/prefetchProducts', { page: this.current })
        }
      }
    }
  },
  computed: {
    ...mapGetters({
      currentRoute: 'url/getCurrentRoute',
      productsTotal: 'category-next/getCategoryProductsTotal'
    }),
    pageNumber () {
      return Math.ceil(this.productsTotal / this.perpage)
    },
    pages () {
      let pages = Array.from({ length: this.pageNumber }, (v, k) => k + 1)
      if ((this.current <= 5)) {
        return pages.slice(0, 10)
      } else if (this.current >= this.pageNumber - 5) {
        return pages.slice(Math.max(0, this.pageNumber - 10), this.pageNumber)
      }
      return pages.slice(this.current - 5, (this.current - 5) + 10)
    }
  },
  created () {
    if (this.$route.query.page && this.$route.query.page > this.pageNumber) {
      this.$router.push({ query: { page: 1 } })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$gray-979797: color(gray-979797);
$black: color(black);
$red: color(red);
$oat: color(oat);

.pagination {
  display: flex;
  align-items: top;
  justify-content: center;
  padding: 20px 0;
  border-top: solid 1px $gray-979797;
  flex-wrap: wrap;
  > span{
    display: block;
  }
  a{
    border: solid 1px #C3C3C3;
    padding: 7px 10px 5px;
    margin: 0 4px;
    display: block;
    line-height: 1;
    font-weight: 700;
    color: $black;
    &:hover{
      color: $red;
    }
    &.active{
      color: $red;
      border-color: $red;
    }
    &.prev{
      padding: 8px 10px;
      height: 28px;
      span{
        transform: rotate(225deg);
        margin-right: -3px;
      }
    }
    &.next{
      padding: 8px 10px;
      height: 28px;
      span{
        margin-left: -3px;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    > span, > a{
      margin-top: 3px;
      margin-bottom: 3px;
    }
  }
  .active{
    border: solid 1px #C3C3C3;
    padding: 7px 10px 5px;
    font-weight: 700;
    line-height: 1;
    color: $red;
    display: block;
    margin: 0 4px;
  }
  .arrow {
    b {
      width: 0;
      height: 0;
      overflow: hidden;
      display: block;
    }
  }
}
</style>
