<template>
  <div class="faq-block1 bg-cl-light-blue">
    <div class="container">
      <h2>How can we help you?</h2>
      <div class="faq-search-box">
        <input type="text" name="" v-model="searchText" placeholder="What can we help you with today?" @keyup="checkSearchString" v-if="search">
        <button class="btn" @click="searchFaq()" v-if="search">
          <span>Search</span>
        </button>
        <p v-if="search">Or you can browse by category below</p>
        <p v-else>You can browse by category below</p>
        <img src="/assets/faq.png" alt="">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    faq: {
      type: Array,
      default: function () {
        return []
      }
    },
    category: {
      type: String,
      default: null
    },
    search: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      searchText: null,
      searchData: [],
      allData: []
    }
  },
  methods: {
    checkSearchString () {
      if (this.searchText === '') {
        this.$parent.faq = this.allData
      }
    },
    searchFaq () {
      if (this.searchText) {
        this.$parent.show_loader = true
        if (!this.allData.length) {
          this.allData = this.faq;
        }
        this.searchData = this.faq.filter((item) => {
          return this.searchText.toLowerCase().split(' ').every(v => item.question.toLowerCase().includes(v))
        })
        this.$parent.faq = this.searchData
        this.$parent.category = this.category
        this.$parent.show_loader = false
      } else {
        this.$parent.faq = this.allData
      }
    }
  }
}
</script>
<style lang="scss">
.faq-block1{
  padding: 50px 0 0;
  text-align: center;
  img{
    display: block;
    max-width: 100%;
  }
  .faq-search-box{
    position: relative;
    max-width: 600px;
    margin: 20px auto 0;
    input{
      border: 0px;
      border-radius: 100px;
      width: 100%;
      padding: 20px 130px 20px 25px;
      height: auto;
      line-height: initial;
    }
    button{
      position: absolute;
      border-radius: 100px;
      right: 0;
      top: 0;
      padding: 18px 50px 18px 35px;
      background-image: url(/assets/icons/search-white.png);
      background-repeat: no-repeat;
      background-position: right 25px center;
      background-size: 20px;
    }
    p{
      padding-top: 20px;
      padding-bottom: 30px;
    }
  }
}
@media (max-width: 767px) {
  .faq-block1{
    .faq-search-box{
      input{}
      button{
        position: relative;
        margin-top: 15px;
        top: inherit;
        right: inherit;
        line-height: 1;
      }
    }
  }
}
</style>
