<template>
  <div class="sidebar product-filter">
    <h3 class="sidebar__header flex">
      <span class="filter-sidebar-title">
        {{ $t('Filter') }}
      </span>
      <span
        class="clear-filter"
        @click="resetAllFilters"
        v-show="hasActiveFilters"
      >
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z" />
        </svg>
        <strong>
          {{ $t('Clear filters') }}
        </strong>
      </span>
    </h3>
    <div class="filters-row-wrap">
      <div :class="'filters-row fcontent-' + (filterIndex + 3)"
           v-for="(filter, filterIndex) in availableFilters"
           :key="filterIndex"
      >
        <div class="filters-item">
          <h4 @click="openAccordian(filterIndex + 3)">
            <span>
              {{ $t(filterIndex) }}
            </span>
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z" />
            </svg>
          </h4>
          <div class="filters-content">
            <div v-if="filterIndex==='color'">
              <color-selector
                context="category"
                code="color"
                class="filter-block"
                v-for="(color, index) in filter"
                :key="index"
                :variant="color"
                :selected-filters="getCurrentFilters"
                @change="$emit('changeFilter', $event)"
              />
            </div>
            <div v-else-if="filterIndex==='size'">
              <size-selector
                context="category"
                code="size"
                class="filter-block size-select mr10 mb10"
                v-for="(size, index) in sortById(filter)"
                :key="index"
                :variant="size"
                :selected-filters="getCurrentFilters"
                @change="$emit('changeFilter', $event)"
              />
            </div>
            <div v-else-if="filterIndex==='price'">
              <price-selector
                context="category"
                class="filter-block price-select mb10 block"
                code="price"
                v-for="(price, index) in filter"
                :key="index"
                :id="price.id"
                :from="price.from"
                :to="price.to"
                :content="price.label"
                :variant="price"
                :selected-filters="getCurrentFilters"
                @change="$emit('changeFilter', $event)"
              />
            </div>
            <div v-else-if="filterIndex==='brands'">
              <div class="filter-search mb20">
                <input class="filter-search-input" type="text" v-model="brandSearch" placeholder="Search..">
                <img src="/assets/icons/search-icon.png" alt="Search Brand">
              </div>
              <generic-selector
                context="category"
                class="filter-block mb10 block brand-filters"
                :class="{ hidden: (option.label.toLowerCase().search(brandSearch.toLowerCase()) >= 0) ? false : true }"
                :code="filterIndex"
                v-for="(option, index) in filter"
                :key="index"
                :variant="option"
                :selected-filters="getCurrentFilters"
                @change="$emit('changeFilter', $event)"
              />
            </div>
            <div v-else>
              <generic-selector
                context="category"
                class="filter-block mb10 block"
                :code="filterIndex"
                v-for="(option, index) in filter"
                :key="index"
                :variant="option"
                :selected-filters="getCurrentFilters"
                @change="$emit('changeFilter', $event)"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ColorSelector from 'theme/components/core/ColorSelector'
import SizeSelector from 'theme/components/core/SizeSelector'
import PriceSelector from 'theme/components/core/PriceSelector'
import GenericSelector from 'theme/components/core/GenericSelector'
import pickBy from 'lodash-es/pickBy'

export default {
  data () {
    return {
      brandSearch: '',
      resultData: [],
      isActive: false,
      activeAcordian: null
    }
  },
  components: {
    ColorSelector,
    SizeSelector,
    PriceSelector,
    GenericSelector
  },
  props: {
    filters: {
      type: Object,
      required: true
    }
  },
  computed: {
    hasActiveFilters () {
      return this.$store.getters['category-next/hasActiveFilters']
    },
    getCurrentFilters () {
      return this.$store.getters['category-next/getCurrentFilters']
    },
    availableFilters () {
      return pickBy(this.filters, (filter, filterType) => { return (filter.length && !this.$store.getters['category-next/getSystemFilterNames'].includes(filterType)) })
    }
  },
  methods: {
    resetAllFilters () {
      this.$store.commit('pagination/pagination/CLEAR_CATEGORY_PRODUCTS')
      this.$store.dispatch('category-next/resetSearchFilters')
    },
    sortById (filters) {
      return [...filters].sort((a, b) => { return a.id - b.id })
    },
    openAccordian (digit) {
      if (this.activeAcordian !== null && this.activeAcordian !== digit) {
        if (document.getElementsByClassName(`fcontent-${this.activeAcordian}`)[0]) {
          document.getElementsByClassName(`fcontent-${this.activeAcordian}`)[0].classList.remove('active')
        }
      }
      this.activeAcordian = this.activeAcordian === digit ? null : digit
      document.getElementsByClassName(`fcontent-${digit}`)[0].classList.toggle('active')
    }
  }
}
</script>

<style lang="scss" scoped>
.sidebar {
  &__header {
    justify-content: space-between;
    min-height: 47px;
    flex-wrap: wrap;
    &__clear {
      font-size: .8em;
      min-width: 102px;
      @media only screen and (min-width: 768px) and (max-width: 770px) {
        margin-top: 20px;
      }
    }
  }
}
</style>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray: color(gray);
$oat: color(oat);
$gray-979797: color(gray-979797);
$blue: color(blue);
.main-filter-sidebar{
  .filter-block{
    border-bottom: solid 1px $gray-979797;
    padding: 0 25px;
    .data-block{
      padding-bottom:20px;
      .item-row{
        display: flex;
        align-items: center;
        padding-bottom: 15px;
        &:last-child{
          padding-bottom:0px;
        }
        strong{
          padding-left: 18px;
          font-size: 16px;
          font-weight:400;
          span{
            color: $gray;
          }
        }
      }
    }
    &.availability{
      .data-block{
        .item-row{
          strong{
            span{
              color:$blue;
            }
          }
        }
      }
    }
    .filters-content{
      display:none;
    }
    &.active{
      h3 {
        span {
          transform: rotate(-45deg);
        }
      }
      .filters-content {
        display:block;
        max-height: 250px;
        overflow-y: auto;
      }
    }
  }
  h3{
    position: relative;
    margin: 20px 0;
    cursor: pointer;
    font-size: 16px;
    span{
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -10px;
      width: 10px;
      height: 10px;
      transform: rotate(135deg);
    }
  }
}
.select-box{
  background: transparent;
  border: solid 1px $gray-979797;
  width: 20px;
  height: 20px;
  position: relative;
  &.active{
    &::after{
      content: '';
      border: solid 2px #fff;
      border-left: 0;
      border-bottom: 0;
      width: 15px;
      height: 9px;
      display: block;
      position: absolute;
      transform: rotate(130deg);
      top: 5px;
      left: 4px;
    }
  }
}
.brand-filters {
  &.hidden {
    display: none !important;
  }
}
</style>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-979797: color(gray-979797);

.product-filter{
  h3{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px $gray-979797;
    padding: 20px;
    .clear-filter{
      display: flex;
      align-items: center;
      cursor: pointer;
      svg{
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }
      strong{
        font-size: 14px;
      }
    }
  }
  .filters-item{
    border-bottom: solid 1px $gray-979797;
    padding: 20px;
    h4{
      font-size: 16px;
      text-transform: capitalize;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      svg {
        width: 15px;
      }
    }
    .filters-content{
      display:none;
      padding: 20px 0 0;
    }
  }
}
.filters-row.active {
  .filters-content {
    display: block;
    max-height: 250px;
    overflow-y: auto;
    .filter-block {
      display: flex;
      align-items: center;
      .hidden {
        display: none !important;
      }
    }
  }
}
.filter-search{
  margin: 0 0 15px 0 ;
  position: relative;
  .filter-search-input{
    width: 100%;
    border-radius: 0;
    height: 37px;
    border: solid 1px $gray-979797;
    padding: 0 35px 0 10px;
  }
  img{
    position: absolute;
    right: 8px;
    top: 8px;
    height: 21px;
    opacity: 0.4;
    pointer-events: none;
  }
}
</style>
