<template>
  <div class="category-quicklinks relative">
    <h2>
      {{ $t('Quick links') }}
    </h2>
    <p>
      {{ $t('See what our customers are loving this week') }}
    </p>
    <div class="skeleton-wrap" v-if="!isLoaded">
      <div class="skeleton-content">
        <div class="item" v-for="index in 6" :key="index">
          <div class="skeleton-image" />
          <div class="skeleton-line" />
        </div>
      </div>
    </div>
    <div class="quicklinks-list flex" v-else>
      <template v-for="(categoryList, index) in category">
        <div class="sub-item" :key="index" v-if="categoryList.include_in_menu">
          <router-link :to="categoryLink(categoryList)" :class="{'active': $route.path.split('/').pop() === categoryList.url_path.split('/').pop()}">
            <span>
              <img
                :src="getCategoryImage(categoryList.thumbnail)"
                :alt="categoryList.name"
              >
            </span>
            <h4>{{ categoryList.name }}</h4>
          </router-link>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import SwiperCore, { Navigation } from 'swiper';
import { formatCategoryLink } from '@vue-storefront/core/modules/url/helpers';
import { getCategoryUrl, correctUrl } from 'theme/helpers'

SwiperCore.use([Navigation]);

export default {
  components: {
  },
  data () {
    return {
      childCategories: null,
      isLoaded: false
    }
  },
  props: {
    category: {
      type: Array,
      default: () => []
    }
  },
  mounted () {
    this.isLoaded = true;
  },
  computed: {
    ...mapGetters({
      getCurrentCategory: 'category-next/getCurrentCategory'
    })
  },
  methods: {
    getCategoryImage (img) {
      return correctUrl(getCategoryUrl(img))
    },
    categoryLink (category) {
      return formatCategoryLink(category)
    }
  }
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$white: color(white);
$black: color(black);
$black-464444: color(black-464444);
$red:color(red);

.category-quicklinks{
  text-align: center;
  min-height: 355px;
  h2{
    margin-bottom: 10px;
  }
  p{
    padding-bottom: 30px;
  }
  .quicklinks-list{
    flex-wrap:wrap;
    margin:0 -10px;
    .sub-item{
      width: 16.666666%;
      padding: 0 45px 30px;
      span{
        border-radius: 100%;
        position: relative;
        padding-top: 100%;
        display: block;
        border-radius: 100%;
        overflow: hidden;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-position: top;
          object-fit: cover;
          transition: 0.4s;
          filter: grayscale(25%);
        }
      }
      h4{
        padding-top: 15px;
        transition: 0.4s;
      }
      & > a:hover {
        img {
          filter: grayscale(0);
        }
        h4{
          color: $red;
        }
      }
    }
  }
  @media (max-width: 1199px) {
    .quicklinks-list{
      .sub-item{
        width:20%;
        padding: 0 30px 30px;
      }
    }
  }
  @media (max-width: 991px) {
    .quicklinks-list{
      .sub-item{
        width:25%;
        h4{
          padding-top: 10px;
        }
      }
    }
  }
  @media (max-width: 767px) {
    h2{
      margin-bottom: 5px;
    }
    p{
      padding-bottom: 20px;
    }
    .quicklinks-list{
      .sub-item{
        width:33.333333%;
        padding: 0 10px 15px;
      }
    }
  }
  .skeleton-wrap {
    .skeleton-content {
      margin-left: -10px;
      margin-right: -10px;
      display: flex;
      flex-wrap: wrap;
      .item {
        padding: 30px 45px 0;
        width: 16.666666667%;
        .skeleton-image {
          margin: auto;
          border-radius: 50%;
          overflow: hidden;
          padding-top: 100%;
        }
        .skeleton-line {
          height: 20px;
          max-width: 150px;
          margin: 15px auto 20px;
        }
        @media (max-width: 1199px) {
          width:20%;
          padding: 30px 30px 0;
        }
        @media (max-width: 991px) {
          width: 25%;
        }
        @media (max-width: 767px) {
          width:33.333333%;
          padding: 15px 10px 0;
          .skeleton-image {
            height: auto;
            padding-top: 100%;
          }
          .skeleton-line {
            height: 15px;
            margin-top: 10px;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}
</style>
