<template>
  <div class="category-list relative" :id="sliderId" v-if="category && category.length > 0">
    <no-ssr>
      <div class="category-swiper align-center" :class="checkLength <= 8 ? 'less-category' : ''">
        <div class="swiper-arrows">
          <span :id="sliderId + '-button-prev'" class="swiper-button-prev" slot="button-prev">
            <img src="/assets/icons/right-arrow.png" width="15" height="24" alt="Prev">
          </span>
          <span :id="sliderId + '-button-next'" class="swiper-button-next" slot="button-next">
            <img src="/assets/icons/right-arrow.png" width="15" height="24" alt="Next">
          </span>
        </div>
        <swiper class="swiper flex" :options="swiperOption" :instance-name="sliderId">
          <swiper-slide v-for="(categoryList, index) in category" :key="index">
            <router-link :to="categoryLink(categoryList)" :class="{'active': $route.path.split('/').pop() === categoryList.url_path.split('/').pop()}">
              <span>
                <img
                  :src="getCategoryImage(categoryList.thumbnail)"
                  :alt="categoryList.name"
                >
              </span>
              <h2>{{ categoryList.name }}</h2>
            </router-link>
          </swiper-slide>
        </swiper>
      </div>
    </no-ssr>
  </div>
  <div class="skeleton-wrap" v-else>
    <div class="speical-skeleton-content">
      <div class="item" v-for="index in 8" :key="index">
        <div class="skeleton-image" />
        <div class="skeleton-line" />
      </div>
    </div>
  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr';
import { mapGetters } from 'vuex'
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import SwiperCore, { Navigation } from 'swiper';
import { formatCategoryLink } from '@vue-storefront/core/modules/url/helpers';
import { getCategoryUrl } from 'theme/helpers'
import 'swiper/swiper.scss'

SwiperCore.use([Navigation]);

export default {
  components: {
    'no-ssr': NoSSR,
    Swiper,
    SwiperSlide
  },
  data () {
    return {
      childCategories: null,
      swiperOption: {
        slidesPerView: 'auto',
        // centeredSlides: true,
        grabCursor: true,
        observer: true,
        observeParents: true,
        navigation: {
          nextEl: ('#' + this.sliderId + '-button-next'),
          prevEl: ('#' + this.sliderId + '-button-prev')
        },
        breakpoints: this.sliderBreakPoints()
      }
    }
  },
  props: {
    sliderId: {
      type: String,
      default: ''
    },
    perPageCustom: {
      type: Array,
      default: () => []
    },
    category: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    ...mapGetters({
      getCurrentCategory: 'category-next/getCurrentCategory'
    }),
    checkLength () {
      return this.category.length;
    }
  },
  methods: {
    getCategoryImage (img) {
      return getCategoryUrl(img)
    },
    sliderBreakPoints () {
      let breakPointsArr = {};
      let breakPointsScreens = [];
      let slidesPerViewArr = [];

      this.perPageCustom.forEach((perPage) => {
        breakPointsScreens.push(perPage[0]);
        slidesPerViewArr.push({
          slidesPerView: perPage[1][0],
          spaceBetween: perPage[1][1]
        });
      });
      breakPointsArr = Object.assign(...breakPointsScreens.map((k, i) => ({ [k]: slidesPerViewArr[i] })));
      return breakPointsArr;
    },
    categoryLink (category) {
      return formatCategoryLink(category)
    }
  }
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$white: color(white);
$black: color(black);
$black-464444: color(black-464444);

.category-swiper{
  &.less-category{
    .swiper-wrapper{
      justify-content: center;
      .swiper-slide{
        &:last-child{
          margin-right:0 !important;
        }
      }
      @media (max-width: 1199px) {
        justify-content: normal;
      }
    }
  }
  .swiper-slide{
    a{
      display: block;
      color:$color-primary;
      h2{
        font-size:14px;
        font-weight:600;
      }
      span{
        position: relative;
        display: block;
        border-radius: 100%;
        overflow: hidden;
        img {
          display:block;
          width:100%;
        }
        margin-bottom: 20px;
      }
      &:hover{
        span{
          border-color: $white;
        }
      }
    }
  }
}
</style>
<style lang="scss" scoped>
.swiper-arrows{
  display: none;
  justify-content: flex-end;
  margin-bottom: 15px;
  @media (max-width: 767px) {
    display: flex;
  }
}
</style>
