<template>
  <div class="articles-list relative" :id="sliderId">
    <div class="block-title flex between-xs">
      <h2>
        {{ secTitle }}
        <div class="sec-subtitle" v-if="subTitle">
          {{ subTitle }}
        </div>
      </h2>
      <div class="swiper-arrows flex">
        <span :id="sliderId + '-button-prev'" class="swiper-button-prev" slot="button-prev">
          <img src="/assets/icons/right-arrow.png" width="15" height="24" alt="Prev">
        </span>
        <span :id="sliderId + '-button-next'" class="swiper-button-next" slot="button-next">
          <img src="/assets/icons/right-arrow.png" width="15" height="24" alt="Next">
        </span>
      </div>
    </div>
    <div class="articles-swiper">
      <swiper class="swiper flex" :options="swiperOption" :instance-name="sliderId">
        <swiper-slide v-for="(categoryList, index) in categorySliderList" :key="index">
          <span>
            <router-link :to="categoryList.link"><img :src="categoryList.image" alt=""></router-link>
          </span>
          <h4>
            <router-link :to="categoryList.link">
              {{ categoryList.name }}
            </router-link>
          </h4>
          <p>{{ categoryList.description }}</p>
          <router-link :to="categoryList.link" class="btn">
            {{ $t('Read More') }}
          </router-link>
        </swiper-slide>
      </swiper>
    </div>
  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr';
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import SwiperCore, { Navigation } from 'swiper';
import 'swiper/swiper.scss'

SwiperCore.use([Navigation]);

export default {
  components: {
    Swiper,
    SwiperSlide
  },
  data () {
    return {
      categorySliderList: [],
      swiperOption: {
        slidesPerView: 'auto',
        // centeredSlides: true,
        grabCursor: true,
        navigation: {
          nextEl: ('#' + this.sliderId + '-button-next'),
          prevEl: ('#' + this.sliderId + '-button-prev')
        },
        breakpoints: this.sliderBreakPoints()
      }
    }
  },
  props: {
    sliderId: {
      type: String,
      default: ''
    },
    products: {
      type: null,
      required: true
    },
    secTitle: {
      type: String,
      default: ' New Product'
    },
    subTitle: {
      type: String,
      default: ''
    },
    perPageCustom: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    sliderBreakPoints () {
      let breakPointsArr = {};
      let breakPointsScreens = [];
      let slidesPerViewArr = [];

      this.perPageCustom.forEach((perPage) => {
        breakPointsScreens.push(perPage[0]);
        slidesPerViewArr.push({
          slidesPerView: perPage[1][0],
          spaceBetween: perPage[1][1]
        });
      });
      breakPointsArr = Object.assign(...breakPointsScreens.map((k, i) => ({ [k]: slidesPerViewArr[i] })));
      return breakPointsArr;
    }
  }
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$white: color(white);
$black: color(black);
$black-464444: color(black-464444);

.articles-top{
  .swiper-slide{
    display: block;
    color:$color-primary;
    width:17%;
    margin-right:25px;
    @media (max-width:767px) {
      width: 29%;
      margin-right: 20px;
    }
    .btn{
      text-transform: capitalize;
      font-size: 14px;
      padding: 9px 18px 8px;
    }
    h4{
      font-size: 18px;
      padding: 15px 0 10px 0;
    }
    p{
      font-size: 14px;
    }
    span{
      position: relative;
      display: block;
      border-radius:8px;
      overflow: hidden;
      img {
        display:block;
        width:100%;
      }
    }
  }
}
</style>
