<template>
  <div>
    <slot />
  </div>
</template>

<script>
import { isServer } from '@vue-storefront/core/helpers'
export default {
  name: 'CmsBlockWithTitle',
  props: {
    isTrustPilot: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  mounted () {
    if (this.isTrustPilot) {
      this.reloadTrustpilot()
    }
  },
  methods: {
    reloadTrustpilot () {
      if (isServer) return false

      let trustbox = document.querySelectorAll('.trustpilot-widget');
      if (trustbox && trustbox.length > 0) {
        trustbox.forEach(tb => {
          if (window.Trustpilot !== undefined) {
            window.Trustpilot.loadFromElement(tb);
          }
        })
      }
    }
  }
}
</script>
