@charset "utf-8";
/* CSS Document */
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-979797:color(gray-979797);
$clouds: #ecf0f1;
$color-secondary: color(secondary);
$white: color(white);
$black: color(black);

body{
  color:#020202;
}
p{ margin:0px; padding:0px 0 15px 0;  font-family: 'Montserrat', sans-serif; font-size:18px; color:#020202; line-height:29px; font-weight: 400; }
h1{ margin: 0px; padding: 0px;  }
h2{ margin: 0px; padding: 0px;  }
h3{ margin: 0px; padding: 0px;  }
h4{ margin: 0px; padding: 0px;  }
h5{ margin: 0px; padding: 0px;  }
h6{ margin: 0px; padding: 0px;  }
address, blockquote, dd, div, dl, dt, fieldset, form, frame, frameset{ margin:0; padding:0; border: 0px; outline: none; }
label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin:0px; padding:0; outline:none; border:0;}
a{ text-decoration:none; border: 0px; outline: none; transition: all .5s;}
a:hover, a:focus, a:active{ text-decoration:none; border: 0px; outline: none; transition: all .5s;}
a, area, button, [role="button"], input:not([type=range]), label, select, summary, textarea {  -ms-touch-action: manipulation;   touch-action: manipulation;}
a img{ border:none; outline: none;}
a:focus {outline:none; }
border{ border-collapse:collapse;}
hr{ height:1px; background:#333333; border:none;}
.clear{ clear:both;}
.left{ float:left;}
.right{ float:right;}
.clearfix:before,
.clearfix:after { content: " "; display: table;}
.clearfix:after { clear: both;}
.clearfix { *zoom: 1;}
img { max-width: 100%; height: auto;}
button { border-radius: 0;}
input, button, select, optgroup, textarea {  margin: 0;  font-family: inherit;  font-size: inherit;  line-height: inherit;}
button, input {  overflow: visible;}
button, select {  text-transform: none;}
select {  word-wrap: normal;}
button, [type="button"], [type="reset"], [type="submit"] {  -webkit-appearance: button;}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) { cursor: pointer;}
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { padding: 0;   border-style: none;}
input[type="radio"], input[type="checkbox"] {  box-sizing: border-box;  padding: 0;}
input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {  -webkit-appearance: listbox;}
textarea {  overflow: auto;  resize: vertical;}
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {  height: auto;}
[type="search"] {  outline-offset: -2px;  -webkit-appearance: none;}
[type="search"]::-webkit-search-decoration {  -webkit-appearance: none;}
::-webkit-file-upload-button {  font: inherit;  -webkit-appearance: button;}
output {  display: inline-block;}
summary {  display: list-item;  cursor: pointer;}
template {  display: none;}
[hidden] {  display: none !important;}
::-moz-selection { color: #fff; background: #f28911;}
::selection {  color: #fff; background: #f28911;}


.header_image_desktop{ display: block; text-align: center; }

/*Banner CSS*/
.banner{ background: #e21916;  }
.banner_cn{ display: flex; align-items: center; }
.banner_image{
  width: 450px;
  flex-shrink: 0;
  img{
    display: block;
  }
}
.banner_content{ padding: 0 0 0 25px; }
.banner_content h1{ font-family: 'Montserrat', sans-serif; font-weight: 900; color: #fff; font-size: 42px;  }

/*Home Section 1 CSS*/
.section_1{ padding: 20px 0 15px 0 }
.section_1 h2{ font-size: 24px; color: #000000; font-weight: 900; padding: 0 0 18px 0 }
.section_1 p{ font-size: 18px; font-weight: 400; line-height: 1.4; color: #000000; padding-bottom: 0px;  }

/*Home Section 2 CSS*/
.section_2{ background: #f8f8f8; padding: 45px 0; }
.section_2_container{ display: flex; justify-content: space-between; align-items: center; padding: 0 100px;}
.section_2_container_img{ width: 345px; flex-shrink: 0 }
.section_2_container_content{ width: 400px; flex-shrink: 0 }
.section_2_container_content h2{ font-size: 24px; color: #000000; font-weight: 900; padding: 0 0 18px 0  }
.section_2_container_content p{ font-size: 14px; font-weight: 400; line-height: 1.4; color: #000000; padding-bottom: 0px; }

/*Home Section 3 CSS*/
.section_3{ padding: 20px 0;  }
.section_3_container{ display: flex; justify-content: space-between; }
.section_3_container_box{ width: 400px; flex-shrink: 0;  }
.sec_img{ margin: 0 0 20px 0 }
.sec_img img{ width: 100%; border: 1px solid #989898; }
.section_3_container_box h2{ font-size: 24px; color: #000000; font-weight: 900; padding: 0 0 10px 0; text-align: center;  }
.section_3_container_box p{ font-size: 14px; font-weight: 400; line-height: 1.4; color: #000000; padding-bottom: 0px;  }


/*Community Page*/

.community_banner{ width: 496px;  }
.community_section_2{ background: #f8f8f8; padding: 25px 20px; }
.community_section_2 h2{ font-size: 24px; color: #000000; font-weight: 900; padding: 0 0 10px 0; text-align: center;  }
.coummunity_bx_container{ display: flex; justify-content: space-between; padding-top: 15px}
.community_box{ width: 150px; text-align: center; }
.comminity_cn{ font-weight: 700; font-size: 16px; text-align: center; padding: 12px 0 0 0; line-height: 1.4 }
.community_section_3_cn{ display: flex; justify-content: space-between; }
.community_img_3{ width: 400px; flex-shrink: 0 }
.community_img_3 img{ border: 1px solid #989898; }
.community_content{ padding: 0 0 0 70px; }
.community_section_3{ padding: 20px 0 }
.community_section_3 h2{ font-size: 24px; color: #000000; font-weight: 900; padding: 0 0 10px 0; }
.community_section_3 p{ font-size: 16px; font-weight: 400; line-height: 1.4; color: #000000; padding-bottom: 10px;  }
.community_section_3 h3{ font-size: 18px; color: #000000; font-weight: 700; padding: 0 0 10px 0; }
.community_section_3 ul{ margin: 0; padding: 0 0 0 15px; list-style: none; }
.community_section_3 ul li{ float: none; display: block; position: relative; font-size: 16px; font-weight: 400; line-height: 1.4; color: #000000; padding: 0 0 0 20px;}
.community_section_3 ul li:after{ content: ''; position: absolute; left: 0; top:8px; width: 4px; height: 4px; background: #DC291E; border-radius: 50%;  }

.community_section_4{ background: #e5e2d9; padding: 20px 0; }
.community_section_4_cn{ display: flex; justify-content: space-between; align-items: center; }
.community_section_4_img{ width: 400px; flex-shrink: 0; order: 2 }
.community_section_4_img img{border: 1px solid #989898;   }

.community_section_4_content{ width: 380px;  }
.community_section_4_content h2{font-size: 24px; color: #000000; font-weight: 900; padding: 0 0 10px 0;  }
.community_section_4_content p{ font-size: 14px; line-height: 1.4 }
a.btn_store{ width: 120px; height: 36px; display: block; text-align: center; line-height: 36px; background: #DC291E; border-radius: 18px; font-size: 12px; color: #fff; font-weight: 700;  }

.community_section_5{ padding: 45px 0 }
.location_heading{  font-size: 24px; color: #000000; font-weight: 900; padding: 0 0 20px 0; }
.location_heading img{ margin: 0 30px -5px 0; vertical-align: baseline; }

.address_cn{  }
.address_cn h3{ font-weight: 700; color: #000000; font-size: 18px;  }
.address_cn p{ font-size: 16px; font-weight: 400;  }

/*Neighbour CSS*/

.neig_section_1{ background: #F8F8F8; padding: 20px 0 }
.neig_img img{ border: 1px solid #989898; }
.neig_content{ display: flex; align-items: center; justify-content: space-between; }
.neig_img{ width: 400px; flex-shrink: 0 }
.neig_con{ flex-shrink: 0 ; width: 600px; }
.neig_con h2{ font-size: 24px; color: #000000; font-weight: 900; padding: 0 0 10px 0;   }
.neig_con p{ font-size: 16px; font-weight: 400;  line-height: 1.4;  color: #000000; padding-bottom: 10px; }
.ph_content a{ font-size: 16px; font-weight: 700;  line-height: 1.4;  color: #000000;  }


.accro_cn{ border: 1px solid #C3C3C3; padding: 20px;  }
.accrodian_box ul{ margin: 0; padding: 0; list-style: none; }
.accrodian_box ul li{ float: none; display: block; }
.accrodian_box ul li a{ display: flex; align-items: center;  font-weight: 700; font-size: 18px; color: #000; margin-bottom: 20px; margin-right: 0 !important}
.accrodian_box ul li a img{ width: 62px; flex-shrink: 0; margin: 0 15px 0 0; }

.acc_inner{  }
.acc_inner h3{ font-weight: 700; font-size: 16px; padding: 0 0 10px 0  }
.acc_inner p{ font-size: 16px; line-height: 30px; color: #000; font-weight: 400;  padding-bottom: 10px; }
.acc_inner ul{ margin: 0; padding: 0 0 15px 0; list-style: none; }
.acc_inner ul li{  font-size: 16px; line-height: 26px; color: #000; font-weight: 400;   }
.accordion-btn{ text-align: right; font-size: 20px;  }
.accrosian_holder{ padding-bottom: 20px; }
.accrosian_holder h2{ text-align: center; padding: 20px 0; font-size: 24px; color: #000000; font-weight: 900;  }

/*Pet Club CSS*/
a.btn_join{width: 120px; height: 36px; line-height: 36px; display: block; text-align: center; background:#DC291E; border-radius: 18px; font-size: 12px; font-weight: 700; color: #fff; text-transform: capitalize;}
a.btn_login{width: 120px; height: 36px; line-height: 36px; display: block; text-align: center; background:#000000; border-radius: 18px; font-size: 12px; font-weight: 700; color: #fff; text-transform: capitalize;}
.center_button_group{ display: flex; justify-content: center; padding: 15px 0 10px 0}
.center_button_group a{ margin: 0 10px; }
.center_button_group a:hover{ background: #ec5c16 }
.how_work_section{ background: #f8f8f8; padding: 20px 0; }
.how_container{ display: flex; justify-content: space-between; }
.how_content{ width: 470px; flex-shrink: 0  }
.how_image{ width: 400px; flex-shrink: 0 }
.how_content h2{ font-size: 24px; color: #000000; font-weight: 900; padding: 0 0 10px 0;  }
.how_content p{ font-size: 16px; font-weight: 400;  line-height: 1.4;  color: #000000; padding-bottom: 15px;  }
.how_content p strong{ font-weight: normal; font-weight: 700;  }
.how_image img{ border: 1px solid #989898 }
.pet_section_3{ padding: 20px 0 }
.pet_section_3 .community_content{ width:650px; }
.pet_section_3 h2{ font-size: 24px; color: #000000; font-weight: 900; padding: 0 0 15px 0;  }
.pet_section_3 p{ font-size: 16px; font-weight: 400;  line-height: 1.4;  color: #000000; padding-bottom: 15px;  }
.app_download{ display: flex; align-items: center; font-size: 14px; color: #000; font-weight: 400;padding-top: 10px; }
.app_download a{ padding: 0 12px; }
.how_sec{ background: #E4E1D8; padding: 20px 0; text-align: center;}
.how_sec h2{  font-size: 24px; color: #000000; font-weight: 900; padding: 0 0 15px 0;  }
.how_sec p{font-size: 16px; font-weight: 400;  line-height: 1.4;  color: #000000; padding-bottom: 15px; }
.faq_section{ padding: 25px 0 }
.faq_section h2{  font-size: 24px; color: #000000; font-weight: 900; padding: 0 0 15px 0; text-align: center; }

.faqbox{
  a{
    margin: 0 !important;
    width: 100%;
    background: #f8f8f8;
    border: 1px solid #c4c4c4;
    display: block;
    font-weight: 700;
    color: #000;
    font-size: 18px;
    margin-bottom: 10px !important;
    padding: 10px 40px 10px 20px;
    line-height: 1.4;
  }
  .accordion-btn{
    padding-right: 15px;
    color: #000;
  }
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      display: block;
      width: 100%;
    }
  }
}
.faq_content{ padding: 10px 15px; }
.faq_content p{ color: #000000; font-weight: 700; font-size: 18px;  }


/*Groom CSS*/
.groom_banner{ background: #1b191e; }
.groom_section_1{ padding: 20px 0; text-align: center; }
.groom_section_1 h2{  font-size: 24px; color: #000000; font-weight: 900; padding: 0 0 15px 0; text-align: center; }
.groom_section_1 p{ font-size: 16px; font-weight: 400;  line-height: 1.4;  color: #000000; padding-bottom: 15px; }
.groom_sec_cn{ display: flex; justify-content: space-between; }
.groom_sec_div{ width: 25%; text-align: center; }
.groom_cn h3{ font-weight: 700; color: #000; font-size: 18px; padding-bottom: 20px; }
.groom_img{ margin: 0 0 30px 0 }
.packages_section{ padding: 20px 0 20px 0; background: #e5e2d9; }
.package_box_holder{ margin: 0 -10px; display: flex; flex-wrap: wrap; }
.package_box{  width: calc(33.33% - 20px); margin: 10px; background: #ffffff;}
.pack_inner{ padding: 25px 20px; }
.pack_inner h2{  font-size: 20px; color: #000000; font-weight: 900; padding: 0 0 15px 0; text-align: center; }
.pack_inner ul{ margin: 0; padding: 0; list-style: none; }
.pack_inner ul li{ display: block; position: relative; font-size: 16px; font-weight: 400; color: #000; margin-bottom: 5px; padding-right: 20px;  }
.pack_inner ul li:after{ content: '√'; position: absolute; right: 0px; top: 0px; font-family: 'Montserrat', sans-serif; font-size: 16px; color: #000000; font-weight: 700; }

.groom_Section_4{ background: #DC291E; padding: 20px 0; text-align: center;  }
.groom_Section_4 h2{  font-size: 24px; color: #fff; font-weight: 900; padding: 0 0 15px 0; text-align: center; }
.groom_Section_4 p{ font-size: 16px; font-weight: 400;  line-height: 1.4;  color: #fff; padding-bottom: 15px; }
.book_form{ display: flex; justify-content: center; margin: 10px 0 0 0;}
.book_form select{ width: 300px; height: 45px; border-radius: 26px; background: #fff; font-weight: 400; font-size: 14px; color: #000; border: none; outline: none; padding: 0 25px; -webkit-appearance:none; -moz-appearance:none; appearance:none; background-image: url(/assets/icons/gray-down-arrow.png); background-repeat: no-repeat; background-position: 95% center ; margin: 0 10px; }
.book_form input[type=submit]{ width: 150px; height: 45px; border: none; outline: none; cursor: pointer; border-radius: 23px; background: #000000; font-weight: 700; font-size: 16px; color: #fff;  margin: 0 10px; }
.pack_img img{ width: 100% }
.pak_heading{ text-align: center; padding-bottom: 15px;}
.pak_heading h2{  font-size: 24px; color: #000; font-weight: 900; padding: 0 0 15px 0; text-align: center; }
.pak_heading p{ font-size: 16px; font-weight: 400;  line-height: 1.4;  color: #000; padding-bottom: 15px; }

/*Footer*/
.footer{ text-align: center; }


/**/
.mobile_header{ display: none; }
.footer_img_mobile{ display: none; }
.mobile_img{ display: none; }


/*Responsive CSS*/
@media only screen and (max-width:1199px) {
.section_2_container{ padding: 0 50px;  }
}
@media only screen and (max-width:992px) {
.section_3_container_box{ width: 50%; padding: 0 15px;  }
.section_3_container_box h2, .section_2_container_content h2, .section_1 h2{ font-size: 20px; }
.section_2_container { padding: 0px; }
.section_2_container_img, .section_2_container_content{ width: 50%; padding: 0 15px; }
.banner_image{ width: 300px; }
.banner_content h1{ font-size: 32px;  }
.package_box{ width: 100% }

}
@media only screen and (max-width:767px) {
.mobile_header{ display: block; text-align: center; }
.header_image_desktop{ display: none; }
.footer_img_mobile{ display: block; }
.footer_img_desktop{ display: none; }

.banner_image{ width: 150px; }
.banner_content h1{ font-size: 20px; }
.banner_content{ padding-top:0px; padding-left: 10px; }
.section_2{ background: #fff; padding: 15px 0 0px 0}
.section_2_container_img{ width: 100%; padding: 0 0 15px 0; text-align: center; }
.section_2_container_content{ width: 100%; padding: 0 0 15px 0 ;text-align: center; }
.section_2_container{ flex-wrap: wrap; }
.desktop_img{ display: none; }
.mobile_img{ display: block; }
.section_3_container_box h2, .section_2_container_content h2, .section_1 h2{ font-size: 24px; }
.section_3_container{ flex-wrap: wrap; }
.section_3_container_box{ width: 100%; padding: 0; text-align: center; padding-bottom: 15px; }
.section_1 p br{ display: none; }
.coummunity_bx_container{ flex-wrap: wrap; }
.community_box{ margin-bottom: 15px; }
.coummunity_bx_container{ margin: 0 -15px; }
.community_box{ width: 33.33%; padding: 0 5px; }
.community_ban .banner_content h1{ font-size: 18px !important; }
.community_section_3_cn{ flex-wrap: wrap; }
.community_img_3{ width: 100% }
.community_content{ padding: 15px 0; }
.community_section_3 h2{ text-align: center; }
.community_section_4_cn{ flex-wrap: wrap; }
.community_section_4_img{ width: 100%; order: 1 }
.community_section_4_content{ order: 2; text-align: center; padding: 25px 0 15px 0 }
a.btn_store{ margin: 0 auto }
.location_heading{ display: flex;  }
.location_heading img{ flex-shrink: 0 }
.neig_content{ flex-wrap: wrap; }
.neig_con h2{ text-align: center; padding: 20px 0 }
.neig_con{ width: 100% }
.how_container{ flex-wrap: wrap; }
.how_content{ width: 100%; text-align: center; }
.how_image{ width: 100%; }
.pet_section_3 h2{ text-align: center; }
.app_download{ flex-wrap: wrap; text-align: center; justify-content: center;}
.app_download span{ width: 100%; text-align: center; padding-bottom: 15px; }
.groom_sec_cn{ flex-wrap: wrap; }
.groom_sec_div{ width: 50% }

.book_form{ flex-wrap: wrap; }
.book_form select{ width: 100%; }
.book_form input[type=submit]{ width: 100% ; margin: 15px; }


}
@media only screen and (max-width:419px) {
.banner_content h1{ font-size:18px; }
.section_3_container_box h2, .section_2_container_content h2, .section_1 h2{ font-size: 22px; }
.community_box{ width: 50%; padding: 0 15px; }
.banner_content h1{ font-size: 16px; }
}

#cms-page{
  line-height: 1.5;
  .small-space + .small-space{
    padding-top: 0;
  }
  p {
    line-height: 1.5;
  }
  ul, ol{
    margin-bottom: 1.5rem;
    padding-left: 15px;
    line-height: 1.5;
  }
  ul{
    li{
      list-style-type: disc;
      font-size: 14px;
    }
  }
  p{
    font-size: 14px;
  }
  h1, h2, h3, h4, h5, h6{
    margin-bottom: 20px;
  }
  #storeForm{
    .search-box{
      display: flex;
      justify-content: center;
      align-items: center;
      .input-text{
        border: 1px solid #979797;
        border-radius: 4px;
        margin-right: 10px;
        padding: 10px 15px;
        height: inherit;
        line-height: inherit;
      }
      .searchButton{
        .button{
          border: 0;
          border-radius: 10px;
          background-color: $color-secondary;
          color: $white;
          font-size: 14px;
          font-weight: 700;
          line-height: 1.3;
          padding: 12px 24px 10px;
          display: inline-flex;
          justify-content: center;
          text-align: center;
          transition: all 0.5s linear;
          text-transform: uppercase;
          margin: 0;
        }
      }
    }
  }
}
