<template>
  <div ref="slides" class="">
    <div class="offer-banner-slider skeleton-after" v-if="bannerSlides != ''">
      <no-ssr>
        <swiper-slider :banner-data="bannerSlides" :slider-id="sliderId" :is-mobile="isMobile" :breakpoint="sliderBreakPoints" v-if="checkBannerLength > 12" />
        <div v-else v-html="bannerSlides" class="swiper-wrapper" />
      </no-ssr>
    </div>
  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr';
import { correctUrl } from 'theme/helpers'

export default {
  components: {
    'no-ssr': NoSSR,
    SwiperSlider: () => import('theme/components/theme/SwiperSlider')
  },
  data () {
    return {
      isMobile: false
    }
  },
  props: {
    sliderId: {
      type: String,
      default: ''
    },
    bannerSlides: {
      type: String,
      required: true,
      default: ''
    },
    perPageCustom: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    checkBannerLength () {
      return (this.bannerSlides.match(/<img/g) || []).length
    },
    sliderBreakPoints () {
      let breakPointsArr = {};
      let breakPointsScreens = [];
      let slidesPerViewArr = [];

      this.perPageCustom.forEach((perPage) => {
        breakPointsScreens.push(perPage[0]);
        slidesPerViewArr.push({
          slidesPerView: perPage[1][0],
          spaceBetween: perPage[1][1]
        });
      });
      breakPointsArr = Object.assign(...breakPointsScreens.map((k, i) => ({ [k]: slidesPerViewArr[i] })));
      return breakPointsArr;
    }
  },
  methods: {
    correctImage (img) {
      return correctUrl(img)
    },
    checkIsMobileView () {
      this.isMobile = window.innerWidth <= 767
    }
  },
  mounted () {
    this.checkIsMobileView();
    window.addEventListener('resize', this.checkIsMobileView)
  }
}
</script>
<style lang="scss">
.offer-banner-slider{
  position: relative;
  padding-top: 362.5px;
  .swiper-container,
  .swiper-wrapper,
  .swiper-wrapper img {
    width: 100%;
  }
  .swiper-wrapper p {
    width: 100%;
    padding: 0;
  }
  @media (max-width: 1450px) {
    padding-top: 25%;
  }
  .swiper-arrows{
    > span{
      position: absolute;
      top: 50%;
      z-index: 2;
      margin: -12px 0 0 0;
      img{
        width: auto;
      }
      &.swiper-button-prev{
        left: 20px;
      }
      &.swiper-button-next{
        right: 20px;
      }
      @media (max-width: 767px) {
        &.swiper-button-prev{
          left: 10px;
        }
        &.swiper-button-next{
          right: 10px;
        }
      }
    }
  }
  .swiper-slide{
    img{
      display:block;
      width:100%;
    }
  }
}
</style>
