<template>
  <div class="customer-address-form myaccount-form">
    <h3 class="bold align-center py20">
      Edit Address
    </h3>
    <form class="row gutter-md" autocomplete="off">
      <div class="col-xs-12 col-md-6 mb10">
        <base-input
          class="mb-6"
          type="text"
          name="first-name"
          :placeholder="`${$t('First name')}`"
          v-model.trim="customer.firstName"
          :label="true"
          @input="$v.customer.firstName.$touch()"
          :validations="[
            {
              condition: !$v.customer.firstName.required && $v.customer.firstName.$error,
              text: $t('Field is required')
            },
            {
              condition: !$v.customer.firstName.minLength,
              text: $t('Name must have at least 3 letters.')
            }
          ]"
        />
      </div>

      <div class="col-xs-12 col-md-6 mb10">
        <base-input
          class="mb-6"
          type="text"
          name="last-name"
          :placeholder="`${$t('Last name')}`"
          v-model.trim="customer.lastName"
          :label="true"
          @input="$v.customer.lastName.$touch()"
          :validations="[{
            condition: !$v.customer.lastName.required && $v.customer.lastName.$error,
            text: $t('Field is required')
          }]"
        />
      </div>

      <div class="col-xs-12 col-md-12 mb10">
        <base-input
          class="mb-6"
          type="text"
          name="apartment-number"
          :placeholder="`${$t('House name / Apartment number')}`"
          v-model.trim="customer.house"
          :label="true"
          @input="$v.customer.house.$touch()"
          :validations="[{
            condition: !$v.customer.house.required && $v.customer.house.$error,
            text: $t('Field is required')
          }]"
        />
      </div>

      <div class="col-xs-12 col-md-12 mb10 address-container" :class="{ active: writeStreet }">
        <base-input
          class="mb-6"
          type="text"
          name="street-address"
          :placeholder="`${$t('Street name')}`"
          v-model.trim="customer.street"
          :label="true"
          @input="$v.customer.street.$touch()"
          :validations="[{
            condition: !$v.customer.street.required && $v.customer.street.$error,
            text: $t('Field is required')
          }]"
          @keyup="findAddresses('street')"
        />
        <ul class="address-list" v-if="addresses && addresses.length > 0">
          <li v-for="add in addresses" :key="add.Id" @click="getAddress(add)">
            {{ (add.Type == 'Postcode') ? add.Description : [add.Text,add.Description].join(', ') }}
          </li>
        </ul>
      </div>

      <div class="col-xs-12 col-md-12 mb10">
        <base-input
          class="mb-6"
          type="text"
          name="city"
          :placeholder="`${$t('City')}`"
          v-model.trim="customer.city"
          :label="true"
          @input="$v.customer.city.$touch()"
          :validations="[{
            condition: !$v.customer.city.required && $v.customer.city.$error,
            text: $t('Field is required')
          }]"
        />
      </div>

      <div class="col-xs-12 col-md-12 mb10">
        <base-input
          class="mb-6"
          type="text"
          name="state"
          :placeholder="`${$t('County')}`"
          :label="true"
          v-model.trim="customer.region"
        />
      </div>
      <div class="col-xs-12 col-md-12 mb10 address-container" :class="{ active: writePostcode }">
        <base-input
          class="mb-6"
          type="text"
          name="zip-code"
          :placeholder="`${$t('Postcode')}`"
          v-model.trim="customer.postcode"
          :label="true"
          @input="$v.customer.postcode.$touch()"
          :validations="[
            {
              condition: !$v.customer.postcode.required && $v.customer.postcode.$error,
              text: $t('Field is required')
            },
            {
              condition: !$v.customer.postcode.minLength,
              text: $t('Zip-code must have at least 3 letters.')
            }
          ]"
          @keyup="findAddresses('postcode')"
        />
        <ul class="address-list" v-if="addresses && addresses.length > 0">
          <li v-for="add in addresses" :key="add.Id" @click="getAddress(add)">
            {{ (add.Type == 'Postcode') ? add.Description : [add.Text,add.Description].join(', ') }}
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-12 mb10">
        <base-select
          class="mb-6"
          name="countries"
          :options="countryOptions"
          :selected="customer.country"
          :placeholder="$t('Country')"
          :validations="[
            {
              condition: $v.customer.country.$error && !$v.customer.country.required,
              text: $t('Field is required')
            }
          ]"
          v-model="customer.country"
          @blur="$v.customer.country.$touch()"
          @change="$v.customer.country.$touch()"
        />
      </div>

      <div class="col-xs-12 col-md-12 mb10">
        <base-number-input
          class="mobile"
          type="number"
          name="number"
          v-model.trim="customer.phone"
          @blur="$v.customer.phone.$touch()"
          :label="true"
          :placeholder="$t('Mobile number')"
          :maxlength="10"
          :min="0"
          :validations="[
            {
              condition: !$v.customer.phone.required && $v.customer.phone.$error,
              text: $t('Field is required.')
            },
            {
              condition: !$v.customer.phone.maxLength,
              text: $t('Mobile number have maximum 12 digits.')
            }
          ]"
        />
      </div>

      <div class="col-xs-12 col-md-12 mb10" />

      <div class="col-xs-12 col-md-12">
        <base-checkbox
          class="mb-6"
          id="default_shipping"
          v-model="customer.default_shipping"
          :label="true"
          @click="customer.default_shipping = !customer.default_shipping"
        >
          {{ $t('Use as my default shipping address') }}
        </base-checkbox>
      </div>

      <div class="col-xs-12 col-md-12">
        <base-checkbox
          class="mb-6"
          id="default_billing"
          v-model="customer.default_billing"
          @click="customer.default_billing = !customer.default_billing"
        >
          {{ $t('Use as my default billing address') }}
        </base-checkbox>
      </div>

      <div class="col-xs-12 col-sm-6 col-12 mt15">
        <div class="relative">
          <span @click="validateAddress" v-if="$v.$invalid" class="save-btn-overlay" />
          <button-full
            @click.native="addcustomerAddress"
            :disabled="$v.$invalid"
          >
            {{ $t('Save') }}
          </button-full>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 flex middle-xs mt15">
        <a href="javascript:void(0)" @click="exitSection" class="inline-block text-grey-dark bg-grey-lighter py-2 px-3 btn btn-secondary w-100">
          {{ $t('Cancel') }}
        </a>
      </div>
    </form>
  </div>
</template>
<script>
import { required, minLength, maxLength } from 'vuelidate/lib/validators'
import ButtonFull from 'theme/components/theme/ButtonFull'
import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import BaseSelect from 'theme/components/core/blocks/Form/BaseSelect'
import Countries from '@vue-storefront/i18n/resource/countries.json'
import { AddAddress } from './AddAddress'
import toString from 'lodash-es/toString'
import { mapGetters } from 'vuex'
import BaseNumberInput from 'theme/components/core/blocks/Form/BaseNumberInput'

export default {
  name: 'AddressForm',
  props: {
    addressId: {
      type: Number,
      required: false,
      default: null
    }
  },
  components: {
    ButtonFull,
    BaseCheckbox,
    BaseInput,
    BaseSelect,
    BaseNumberInput
  },
  computed: {
    ...mapGetters({
      addresses: 'addressy/getAddressList',
      address: 'addressy/getAddress'
    }),
    countryOptions () {
      let countries = this.countries.filter(country => country.code === 'GB' || country.code === 'IE')
      return countries.map((item) => {
        return {
          value: item.code,
          label: item.name
        }
      })
    }
  },
  data () {
    return {
      writePostcode: false,
      writeStreet: false,
      customer: {
        firstName: null,
        lastName: null,
        phone: null,
        street: null,
        house: null,
        city: null,
        region: null,
        country: 'GB',
        postcode: null,
        default_shipping: false,
        default_billing: false
      },
      // address: [],
      countries: Countries
    }
  },
  mounted () {
    this.customer = this.getCustomerAddress()
  },
  mixins: [ AddAddress ],
  methods: {
    exitSection () {
      this.$v.$reset()

      this.customer = {
        firstName: '',
        lastName: '',
        street: '',
        house: '',
        city: '',
        postcode: '',
        region: '',
        country: '',
        phone: '',
        default_shipping: false,
        default_billing: false
      }

      this.$emit('reset-toggle')
    },
    validateAddress () {
      this.$v.customer.firstName.$touch();
      this.$v.customer.lastName.$touch();
      this.$v.customer.house.$touch();
      this.$v.customer.street.$touch();
      this.$v.customer.city.$touch();
      this.$v.customer.postcode.$touch();
      this.$v.customer.phone.$touch();
    },
    addcustomerAddress () {
      if (this.addressId === null) {
        this.addAddress(this.customer)
      } else {
        if (!this.objectsEqual(this.customer, this.getCustomerAddress())) {
          this.updateAddress(this.addressId, this.customer)
        }
      }
      this.$store.commit('segment/saveAddress', this.$store.state.user.current)
      this.exitSection()
    },
    // async getAddressByPostCode (addressData) {
    //   await this.$store.dispatch('address-book/getAddressByPostCode', addressData)
    //   this.address = this.$store.getters['address-book/getAddressDetail'] || [];
    // },
    getCustomerAddress () {
      let currentUser = Object.assign({}, this.$store.state.user.current)
      if (currentUser && this.addressId !== null) {
        let index
        for (let i = 0; i < currentUser.addresses.length; i++) {
          if (toString(currentUser.addresses[i].id) === toString(this.addressId)) {
            index = i
          }
        }
        if (index >= 0) {
          return {
            firstName: currentUser.addresses[index].firstname,
            lastName: currentUser.addresses[index].lastname,
            street: currentUser.addresses[index].street[0],
            house: currentUser.addresses[index].street[1],
            city: currentUser.addresses[index].city,
            postcode: currentUser.addresses[index].postcode,
            region: currentUser.addresses[index].region.region ? currentUser.addresses[index].region.region : '',
            country: currentUser.addresses[index].country_id,
            phone: currentUser.addresses[index].hasOwnProperty('telephone') ? currentUser.addresses[index].telephone : '',
            default_shipping: currentUser.addresses[index].default_shipping ? currentUser.addresses[index].default_shipping : false,
            default_billing: currentUser.addresses[index].default_billing ? currentUser.addresses[index].default_billing : false
          }
        }
      } else {
        return {
          firstName: '',
          lastName: '',
          street: '',
          house: '',
          city: '',
          postcode: '',
          region: '',
          country: 'GB',
          phone: '',
          default_shipping: false,
          default_billing: false
        }
      }
    },
    objectsEqual (a, b) {
      const aProps = Object.keys(a)
      const bProps = Object.keys(b)

      if (aProps.length !== bProps.length) {
        return false
      }

      for (let i = 0; i < aProps.length; i++) {
        let propName = aProps[i]
        if (!b.hasOwnProperty(propName)) {
          return false
        } else {
          if (a[propName] !== null && b[propName] !== null && a[propName] === 'object' && b[propName] === 'object') {
            if (!this.objectsEqual(a[propName], b[propName])) {
              return false
            }
          } else if (a[propName] !== b[propName]) {
            return false
          }
        }
      }
      return true
    },
    getAddressValue (type) {
      let address = '';
      if (type === 'postcode') {
        this.writePostcode = true;
        this.writeStreet = false;
        address = this.customer.postcode
      }
      if (type === 'street') {
        this.writePostcode = false;
        this.writeStreet = true;
        address = this.customer.street
      }
      return address;
    },
    findAddresses (type) {
      let address = this.getAddressValue(type);
      if (address.length >= 3) {
        this.$store.dispatch('addressy/search', { text: address });
      }
    },
    getAddress (address) {
      this.$store.dispatch('addressy/clear');
      if (address.Type === 'Address') {
        this.$store.dispatch('addressy/get', address.Id);
        this.writePostcode = false;
        this.writeStreet = false;
      } else {
        this.$store.dispatch('addressy/search', { text: address.Text, container: address.Id });
      }
    }
  },
  validations: {
    customer: {
      firstName: {
        required,
        minLength: minLength(3)
      },
      lastName: {
        required
      },
      country: {
        required
      },
      street: {
        required
      },
      house: {
        required
      },
      postcode: {
        required,
        minLength: minLength(3)
      },
      city: {
        required
      },
      phone: {
        required,
        maxLength: maxLength(12)
      }
    }
  },
  watch: {
    address: {
      handler () {
        let add = this.address;
        if (add.Id) {
          let strAddress = [add.Company, add.Line1, add.Line2].filter(item => item);
          let aptNum = [add.Line3, add.Line4, add.Line5].filter(item => item);
          this.customer.street = strAddress.join(', ')
          this.customer.house = aptNum.join(', ')
          this.customer.city = add.City
          this.customer.region = add.Province
          this.customer.postcode = add.PostalCode
          this.customer.country = add.CountryIso2
        }
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.save-btn-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: not-allowed;
}
</style>
<style lang="scss">
.error-msg {
  margin-top: 5px;
}
.customer-address-form {
  .checkbox-wrap {
    position: relative;
  }
}
.address-container {
  position: relative;
  .address-list {
    position: absolute;
    top: 100%;
    left: 15px;
    right: 15px;
    z-index: 1;
    background-color: #fff;
    max-height: 235px;
    overflow: auto;
    border: 1px solid #828282;
    display: none;
    li {
      padding: 10px;
      cursor: pointer;
      border-bottom: 1px solid #828282;
      transition: 0.3s;
      &:hover,
      &.selected {
        background-color: #000;
        color: #fff;
      }
    }
  }
  &.active {
    .address-list {
      display: block;
    }
  }
}
</style>
