<template>
  <div class="mb15 customer-address">
    <div class="customer-address-list mb15" v-if="getallAddresses.length > 0">
      <h3 class="bold align-center py20">
        {{ $t('Your saved addresses') }}
      </h3>
      <div class="row gutter-md m0">
        <div class="col-md-12 col-sm-12 col-xs-12 mb30 p0" :class="'customer-address-'+ address.id" v-for="address in getallAddresses" :key="address.id">
          <div class="shipping-summary flex">
            <div class="shipping-locations">
              <img src="/assets/maps.jpg" alt="maps">
            </div>
            <div class="address-box shipping-details">
              <p class="bold mb10">
                {{ address.firstname }} {{ address.lastname }}
              </p>
              <p v-if="address.company">
                {{ address.company }}
              </p>
              <p>
                {{ address.street[0] }}
                <span v-if="address.street[1]"> {{ address.street[1] }}</span>
              </p>
              <p>
                {{ address.city }} {{ address.postcode }}
              </p>
              <p>
                <span v-if="address.region">{{ address.region.region }}, </span>
                {{ getCountryName(address.country_id) }}
              </p>
              <p v-if="address.telephone">
                {{ address.telephone }}
              </p>
            </div>
            <div class="address-action">
              <a href="javascript:void(0)" @click="editAddress(address.id)" title="Edit"><img src="/assets/icons/edit.svg" width="20"></a>
              <a href="javascript:void(0)" @click="removeCustomerAddress(address.id)" title="remove"><img src="/assets/icons/remove.svg" width="20"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gutter-md" :class="showDefaultFlag ? 'show' : 'hidden'">
      <div class="col-xs-12 col-md-12">
        <div class="shipping-empty align-center">
          <h3 class="bold align-center py20">
            {{ $t('Your saved addresses') }}
          </h3>
          <h2 class="bold pb20">
            {{ $t('You don’t have any saved addresses at the moment.') }}
          </h2>
          <p>
            {{ $t('Adding addresses will make it quicker for you next time you checkout.') }}
          </p>
        </div>
      </div>
    </div>
    <div class="gutter-md">
      <div class="col-xs-12 col-md-12">
        <div class="px20">
          <button-full
            @click.native="toggleAddressForm = !toggleAddressForm"
            v-show="!toggleAddressForm"
          >
            {{ $t('+ Add new address') }}
          </button-full>
        </div>
      </div>
    </div>
    <address-form
      v-if="toggleAddressForm"
      @reset-toggle="resetToggle"
      :address-id="currentAddressId"
    />
  </div>
</template>
<script>

import AddressForm from './AddressForm'
import ButtonFull from 'theme/components/theme/ButtonFull'
import Countries from '@vue-storefront/i18n/resource/countries.json'
import { RemoveAddress } from './RemoveAddress'
import i18n from '@vue-storefront/i18n'

export default {
  name: 'CustomerAddress',
  data () {
    return {
      toggleAddressForm: false,
      countries: Countries,
      showDefaultFlag: true,
      currentAddressId: null
    }
  },
  computed: {
    getallAddresses () {
      let { current } = this.$store.state.user
      this.checkUserHasAddress(current)
      return current ? current.addresses : []
    }
  },
  components: {
    ButtonFull,
    AddressForm
  },
  mixins: [ RemoveAddress ],
  methods: {
    checkUserHasAddress (current) {
      if (current && current.addresses.length > 0) {
        this.showDefaultFlag = false
      } else {
        this.showDefaultFlag = true
      }
    },
    resetToggle () {
      this.toggleAddressForm = false
      this.currentAddressId = null
    },
    getCountryName (countryId) {
      return this.countries.filter(country => country.code === countryId)[0].name
    },
    editAddress (addressId) {
      if (this.toggleAddressForm) {
        this.toggleAddressForm = false
      }
      setTimeout(() => {
        this.toggleAddressForm = true
        this.currentAddressId = addressId
      }, 1)
    },
    removeCustomerAddress (addressId) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: i18n.t('Are you sure you want to remove this address?'),
        action1: { label: i18n.t('Cancel'), action: 'close' },
        action2: { label: i18n.t('OK'),
          action: () => {
            this.removeAddress(addressId)
            document.querySelector('.customer-address-' + addressId).remove()
          }
        },
        hasNoTimeout: true
      })
    }
  }
}
</script>
<style lang="scss">
.address-box {
  p {
    padding-bottom: 0;
    line-height: 1.6;
  }
}
.address-action {
  border-top: 0;
  display: flex;
  align-items: flex-start;
  a {
    color: #4A4A4A;
    display: block;
    margin-left: 10px;
  }
}
</style>
