<template>
  <div class="relative">
    <div class="swiper-slider-wrap" v-if="typeof bannerData === 'object'">
      <div v-swiper="swiperOption" :instance-name="sliderId">
        <div class="swiper-wrapper" v-if="isLoggedIn">
          <div class="swiper-slide hover-on-product" v-for="(slide, index) in bannerData" :key="index" v-if="slide.link !== 'register' && slide.link !== 'login'">
            <router-link :to="slide.link">
              <img :src="!isMobile ? renderImg(slide.image) : renderImg(slide.mobile_image)" :alt="slide.title" class="img-cover" :width="!isMobile ? 1920 : 420" :height="!isMobile ? 640 : 300">
            </router-link>
          </div>
        </div>
        <div class="swiper-wrapper" v-else>
          <div class="swiper-slide hover-on-product" v-for="(slide, index) in bannerData" :key="index">
            <a href="#" @click.prevent="openRegister" v-if="slide.link === 'register'">
              <img :src="!isMobile ? renderImg(slide.image) : renderImg(slide.mobile_image)" :alt="slide.title" class="img-cover" :width="!isMobile ? 1920 : 420" :height="!isMobile ? 640 : 300">
            </a>
            <a href="#" @click.prevent="openLoginForm" v-else-if="slide.link === 'login'">
              <img :src="!isMobile ? renderImg(slide.image) : renderImg(slide.mobile_image)" :alt="slide.title" class="img-cover" :width="!isMobile ? 1920 : 420" :height="!isMobile ? 640 : 300">
            </a>
            <router-link :to="slide.link" v-else>
              <img :src="!isMobile ? renderImg(slide.image) : renderImg(slide.mobile_image)" :alt="slide.title" class="img-cover" :width="!isMobile ? 1920 : 420" :height="!isMobile ? 640 : 300">
            </router-link>
          </div>
        </div>
      </div>
    </div>
    <div class="favorite-brands-swiper align-center" v-else>
      <div class="swiper-container promotional-bar-menu flex">
        <div v-swiper:mySwiper="swiperOption">
          <div v-html="renderImg(bannerData)" class="swiper-wrapper" />
        </div>
      </div>
    </div>
    <div :id="sliderId + '-button-prev'" class="swiper-button-prev" slot="button-prev" style="display:block">
      <img src="/assets/icons/right-arrow.png" width="15" height="24" alt="Prev">
    </div>
    <div :id="sliderId + '-button-next'" class="swiper-button-next" slot="button-next" style="display:block">
      <img src="/assets/icons/right-arrow.png" width="15" height="24" alt="Next">
    </div>
  </div>
</template>
<script>
import { mapActions } from 'vuex'
import { correctUrl } from 'theme/helpers'
import SwiperCore, { Navigation, Pagination } from 'swiper';
import { directive } from 'vue-awesome-swiper'
import 'swiper/swiper.scss'

SwiperCore.use([Navigation, Pagination]);

export default ({
  name: 'SwiperSilder',
  props: {
    bannerData: {
      type: [Array, String],
      required: true
    },
    sliderId: {
      type: String,
      default: 'homepage-banners'
    },
    isMobile: {
      type: Boolean,
      default: false
    },
    breakpoint: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    }
  },
  data () {
    return {
      swiperOption: {
        spaceBetween: 0,
        slidesPerView: 1,
        loop: false,

        pagination: {
          el: ('#' + this.sliderId + '-pagination'),
          clickable: true
        },
        navigation: {
          nextEl: ('#' + this.sliderId + '-button-next'),
          prevEl: ('#' + this.sliderId + '-button-prev')
        },
        autoplay: {
          delay: 5000
        },
        breakpoints: this.breakpoint
      }
    };
  },
  directives: {
    swiper: directive
  },
  methods: {
    ...mapActions({
      openLogin: 'ui/toggleLogin'
    }),
    openRegister () {
      this.openLogin();
      this.$store.commit('ui/setAuthElem', 'register')
    },
    openLoginForm () {
      this.openLogin();
      this.$store.commit('ui/setAuthElem', 'login')
    },
    renderImg (image) {
      return correctUrl(image);
    }
  },
  computed: {
    isLoggedIn () {
      return this.$store.getters['user/isLoggedIn']
    }
  }
})
</script>
<style lang="scss" scoped>
.relative {
   .swiper-slide{
    img{
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .swiper-button-prev,
  .swiper-button-next{
    position: absolute;
    z-index: 2;
    top: 50%;
    margin-top: -26px;
    &.swiper-button-disabled{
      opacity: 0.5;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  .swiper-button-prev {
    transform: rotate(-180deg);
    left: 15px;
  }
  .swiper-button-next {
    right: 15px;
  }
}
</style>
