<template lang="html">
  <div class="tabs__light">
    <ul class="tabs__header relative">
      <li v-for="(tab, index) in tabs"
          :key="tab.title"
          @click="selectTab(index)"
          :class="{'tab__selected': (index == selectedIndex)}"
      >
        {{ tab.title }}
      </li>
    </ul>
    <slot />
  </div>
</template>

<script>
export default {
  data () {
    return {
      selectedIndex: 0, // the index of the selected tab,
      tabs: [] // all of the tabs
    }
  },
  created () {
    this.tabs = this.$children
  },
  mounted () {
    this.selectTab(0)
  },
  watch: {
    $route (to, from) {
      this.selectTab(0)
    }
  },
  methods: {
    selectTab (i) {
      this.selectedIndex = i

      // loop over all the tabs
      this.tabs.forEach((tab, index) => {
        tab.isActive = (index === i)
      })
    }
  }
}
</script>

<style lang="scss">

  ul.tabs__header {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    & > li {
      @media (max-width: 992px) {
        margin: 0;
        padding: 12px 0;
        width: 50%;
        text-align: center;
      }
    }
  }

</style>
