<template>
  <div class="mywishlist">
    <h3 class="bold align-center py20">
      {{ $t('Your favourites') }}
    </h3>
    <div class="row middle-xs">
      <clear-wishlist-button v-if="productsInWishlist.length" @click="clearWishlist" class="col-xs-12 col-sm  mb20 end-sm" />
    </div>
    <div v-if="!productsInWishlist.length" class="favourite-msg">
      <h4>
        {{ $t('You don’t have any favourite products at the moment.') }}
      </h4>
      <p>
        {{ $t("You can favourite any product when your browsing the Jollyes website and they will show up here for quick and easy access later. ") }}
      </p>
      <router-link :to="localizedRoute('/')" class="btn">
        {{ $t('Find your favourites') }}
      </router-link>
    </div>
    <div class="products row">
      <product v-for="wishlistProduct in productsInWishlist" :key="wishlistProduct.id" :product="wishlistProduct" />
    </div>
  </div>
</template>
<script>
import Wishlist from '@vue-storefront/core/compatibility/components/blocks/Wishlist/Wishlist'
import Product from 'theme/components/core/blocks/Wishlist/Product'
import ClearWishlistButton from 'theme/components/core/blocks/Wishlist/ClearWishlistButton'

export default {
  props: {
    product: {
      type: Object,
      required: false,
      default: () => { }
    }
  },
  components: {
    Product,
    ClearWishlistButton
  },
  methods: {
    clearWishlist () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('Are you sure you would like to remove all the items from the wishlist?'),
        action1: { label: this.$t('OK'),
          action: () => {
            this.$store.dispatch('wishlist/clear')
          }
        },
        action2: { label: this.$t('Cancel'), action: 'close' },
        hasNoTimeout: true
      })
    }
  },
  mixins: [Wishlist]
}
</script>

<style lang="scss">
@import '~theme/css/animations/transitions';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';

$bg-secondary: color(secondary, $colors-background);
$border-secondary: color(secondary, $colors-border);
$white: color(white);
$oat: color(oat);
$gray-979797: color(gray-979797);
$red: color(red);
$black: color(black);
  i {
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
  .mywishlist{
    padding: 0 20px;
    .products{
      justify-content: center;
      @media (max-width: 767px) {
        margin: 0 -5px;
        [class*=" col-xs"]{
          padding: 0 5px;
        }
      }
    }
    .product{
      position: relative;
      border-radius: 8px;
      background-color: $white;
      padding: 10px;
      margin-bottom: 25px;
      a{
        color: $black;
      }
      @media (max-width: 767px) {
        padding:5px;
      }
    }
    .product__icons{
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      z-index: 1;
      i{
        color: $red;
        opacity: inherit;
        cursor: pointer;
      }
    }
    %label {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background-color: $border-secondary;
      text-transform: uppercase;
      color: $white;
      font-size: 12px;
    }
    .product-cover {
      overflow: hidden;
      padding: 0 30px;

      &__thumb {
        padding-bottom: calc(143.88% / (164.5 / 100));
        @media screen and (min-width: 768px) {
          padding-bottom: calc(300% / (276.5 / 115));
        }
        will-change: opacity, transform;
        transition: 0.3s opacity $motion-main, 0.3s transform $motion-main;
      }

      @media screen and (min-width: 768px) {
        &:hover {
          .product-cover__thumb {
            opacity: 1;
            transform: scale(1.1);
          }
          &.sale::after,
          &.new::after {
            opacity: 0.8;
          }
        }
      }

      &.sale {
        &::after {
          @extend %label;
          content: 'Sale';
        }
      }
      &.new {
        &::after {
          @extend %label;
          content: 'New';
        }
      }
    }
    .product .sale-tag{
      position: absolute;
      left: -2px;
      top: -2px;
    }
    .product .pro-title{
      margin: 10px 0 0;
      padding: 0;
      min-height: 36px;
      font-size: 14px;
    }
    .clearcart-btn{
      .material-icons{
        font-size: 21px;
      }
    }
    .availability-status{
      font-size: 12px;
      position: absolute;
      right: 0;
      bottom: 0;
    }
    .favourite-msg{
      text-align: center;
      padding-bottom: 25px;
      h4{
        font-size: 21px;
        padding-bottom: 20px;
      }
      p{
        padding-bottom: 25px;
      }
    }
  }
</style>
