<template>
  <div class="myorders">
    <!-- My orders header -->
    <h3 class="bold align-center py20">
      {{ $t('Your orders') }}
    </h3>
    <!-- My orders body -->
    <div class="px20">
      <button :class="showInstoreTable ? 'btn' : 'btn btn-outline'" @click="showOrderTableContent('instore')">
        In-store
      </button>
      <button :class="showOnlineTable ? 'btn' : 'btn btn-outline'" @click="showOrderTableContent('online')">
        Online
      </button>
      <!-- instore table -->
      <div class="table-responsive">
        <table class="mb20 w-100 mt20" v-if="showInstoreTable">
          <thead>
            <tr>
              <th class="p10">
                {{ $t('Order no.') }}
              </th>
              <th class="p10">
                {{ $t('Date') }}
              </th>
              <th class="p10">
                {{ $t('Store') }}
              </th>
              <th class="p10">
                {{ $t('Amount') }}
              </th>
              <th class="p10">
                {{ $t('Details') }}
              </th>
            </tr>
          </thead>
          <tbody v-if="inStoreOrderData.length > 0">
            <tr v-for="order in inStoreOrderData" :key="order.entity_id">
              <td class="p10">
                {{ order.increment_id }}
              </td>
              <td class="p10">
                {{ order.created_at | date(null, storeView) }}
              </td>
              <td class="p10">
                {{ order.extension_attributes.shipping_collection_store }}
              </td>
              <td class="p10">
                {{ order.grand_total | price(storeView) }}
              </td>
              <td class="p10" />
            </tr>
          </tbody>
          <tbody class="orders-empty-msg align-center" v-else>
            <tr>
              <td colspan="5">
                <p class="align-center pt20">
                  {{ $t('You don’t have any in-store orders, if you think you should, please check the online tab for online orders or you can always get in touch with us for help.') }}
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- online table -->
      <div class="table-responsive">
        <table class="mb20 w-100 mt20" v-if="showOnlineTable">
          <thead>
            <tr>
              <th class="p10">
                {{ $t('Order no.') }}
              </th>
              <th class="p10">
                {{ $t('Date') }}
              </th>
              <th class="p10">
                {{ $t('Store') }}
              </th>
              <th class="p10">
                {{ $t('Amount') }}
              </th>
              <th class="p10">
                {{ $t('Details') }}
              </th>
            </tr>
          </thead>
          <tbody v-if="onlineOrderData.length > 0">
            <tr v-for="order in onlineOrderData" :key="order.entity_id">
              <td class="p10">
                {{ order.increment_id }}
              </td>
              <td class="p10">
                {{ order.created_at | date("MMMM D, YYYY", storeView) }}
              </td>
              <td class="p10">
                {{ order.extension_attributes.shipping_collection_store }}
              </td>
              <td class="p10">
                {{ order.grand_total | price(storeView) }}
              </td>
              <td class="p10">
                <router-link class="btn no-underline block py10 px15" :to="localizedRoute(`/my-account/orders/${order.entity_id}`)">
                  {{ $t('Details') }}
                </router-link>
              </td>
            </tr>
          </tbody>
          <tbody class="orders-empty-msg align-center" v-else>
            <tr>
              <td colspan="5">
                <p class="align-center pt20">
                  {{ $t('You don’t have any online orders, if you think you should please check the in-store tab for in-store orders or you can always get in touch with us for help.') }}
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import UserOrder from '@vue-storefront/core/modules/order/components/UserOrdersHistory'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

export default {
  data () {
    return {
      showInstoreTable: true,
      showOnlineTable: false,
      instore_order: 'clickandcollect_clickandcollect',
      // online_order: 'matrixrate_matrixrate_1',
      onlineOrderData: [],
      inStoreOrderData: []
    }
  },
  mixins: [UserOrder],
  computed: {
    storeView () {
      return currentStoreView()
    }
  },
  methods: {
    getFilterOrders (shippingMethod) {
      if (shippingMethod === this.instore_order) {
        this.inStoreOrderData = this.ordersHistory.filter(order => order.extension_attributes.shipping_assignments[0].shipping.method === shippingMethod);
      } else {
        this.onlineOrderData = this.ordersHistory.filter(order => order.extension_attributes.shipping_assignments[0].shipping.method !== this.instore_order);
      }
    },
    showOrderTableContent (tablename) {
      if (tablename === 'online') {
        this.showOnlineTable = true;
        this.showInstoreTable = false;
        this.getFilterOrders()
      }
      if (tablename === 'instore') {
        this.showOnlineTable = false;
        this.showInstoreTable = true;
        this.getFilterOrders(this.instore_order)
      }
    }
  },
  mounted () {
    this.getFilterOrders(this.instore_order)
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/base/global_vars';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-icon-hover: color(secondary, $colors-background);
$white: color(white);
$black: color(black);
$red: color(red);
img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
}

table {
  i {
    vertical-align: middle;
  }
}

.dropdown {
  display: block;
  margin: -20px;
  padding: 20px;

  @media (max-width: 1199px) {
    margin: -10px;
    padding: 10px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    width: 160px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

  a {
    color: $white;
    &:hover,
    &:focus {
      background-color: $color-icon-hover;
      opacity: 1;
    }

  }

  &:hover .dropdown-content {
    display: block;
  }

}
.myorders{
  .btn{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: normal;
    padding: 5px 10px 5px;
    border: solid 1px $red;
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
  .btn-outline{
    border: solid 1px $black;
    background: $white;
    color: $black;
    &:hover{
      transition: all 0.5s linear;
      background: $red;
      border-color: $red;
      color: $white;
    }
  }
}
</style>
