<template>
  <div class="myorders" v-if="order">
    <h3 class="bold align-center py20">
      {{ $t('Your order') }}
    </h3>
    <div class="myorders-top px20 pb20">
      <p>
        <label>
          {{ $t('Order no:') }}
        </label>
        <span>
          {{ $t('Order #') }}{{ order.increment_id }}
        </span>
      </p>
      <p>
        <label>
          {{ $t('Date:') }}
        </label>
        <span>
          {{ order.created_at | date("MMMM D, YYYY", storeView) }}
        </span>
      </p>
      <p>
        <label>{{ $t('Amount:') }}</label>
        <span>{{ order.grand_total | price(storeView) }}</span>
      </p>
      <p class="mb10">
        <label>{{ $t('Payment:') }}</label>
        <span> {{ paymentMethod }}</span>
      </p>
      <a :href="'https://jollyes.trackhive.co/trackingPage/' + order.increment_id + '?searchBy=order_number'" target="_blank" class="btn product-link">
        Track Order
      </a>
    </div>
    <div
      v-for="item in singleOrderItems"
      :key="item.item_id"
      :class="[prodQty[item.product_id] == 0 ? 'myorders-disable' : '', 'flex myorders-row p20']"
    >
      <div class="orders-img">
        <product-image :image="{ src: itemThumbnail[item.sku] }" />
      </div>
      <div class="yesyouarein orders-text" :data-th="$t('Product Name')">
        <base-checkbox
          :id="'product_'+item.item_id"
          :value="false"
          class="checkbox"
          @input="ReorderSelected(item.product_id, $event)"
        />
        <p class="product-name">
          {{ item.name }}
        </p>
        <p class="h3">
          {{ item.price_incl_tax | price(storeView) }}
          <span class="old-price">{{
            item.price_incl_tax | price(storeView)
          }}</span>
        </p>
        <router-link
          class="product-link"
          :to="productLinks[item.product_id]"
        >
          <button class="btn">
            {{ $t('Write a review') }}
          </button>
        </router-link>
        <p class="ml-auto align-right pt10" v-if="prodQty[item.product_id] == 0">
          {{ $t('*This item is no longer available') }}
        </p>
      </div>
    </div>
    <div class="p20 reorder">
      <DeliveryOption />
      <button :disabled="ReOrderButtonState" class="btn w-100" @click.prevent="remakeOrder(skipGrouped(FilterSeletectedOrder))">
        {{ $t('Re-order selected items now') }}
      </button>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import MyOrder from '@vue-storefront/core/compatibility/components/blocks/MyAccount/MyOrder';
import ProductImage from 'theme/components/core/ProductImage';
import {
  getThumbnailPath,
  productThumbnailPath
} from '@vue-storefront/core/helpers';
import { currentStoreView } from '@vue-storefront/core/lib/multistore';
import { mapActions } from 'vuex';
import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox';
import DeliveryOption from 'theme/components/core/DeliveryOption';
import { formatProductLink } from '@vue-storefront/core/modules/url/helpers'

export default {
  mixins: [MyOrder],
  components: {
    ProductImage,
    BaseCheckbox,
    DeliveryOption
  },
  data () {
    return {
      itemThumbnail: [],
      prodQty: [],
      selectedProductsOrder: [],
      FilterSeletectedOrder: [],
      productLinks: []
    };
  },
  computed: {
    storeView () {
      return currentStoreView();
    },
    ReOrderButtonState () {
      if (this.FilterSeletectedOrder.length === 0) {
        return true;
      } else {
        return false;
      }
    }
  },
  methods: {
    ...mapActions({
      getProduct: 'product/single'
    }),
    ReorderSelected (value, $event) {
      if ($event === true) {
        this.selectedProductsOrder.push(value)
      }
      if ($event === false) {
        this.selectedProductsOrder = this.selectedProductsOrder.filter(e => e !== value)
      }
      this.FilterSeletectedOrder = this.order.items.filter(e => this.selectedProductsOrder.includes(e.product_id))
    }
  },
  mounted () {
    this.singleOrderItems.forEach(async (item) => {
      if (!this.itemThumbnail[item.sku]) {
        const product = await this.getProduct({ options: { sku: item.sku } });
        const thumbnail = productThumbnailPath(product);
        const productURL = formatProductLink(product, currentStoreView().storeCode)
        Vue.set(
          this.itemThumbnail,
          item.sku,
          getThumbnailPath(thumbnail, 280, 280)
        );
        Vue.set(
          this.prodQty,
          product.id,
          product.stock.qty
        );
        Vue.set(
          this.productLinks,
          product.id,
          productURL
        );
      }
    });
  }
};
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-tertiary: color(tertiary);
$color-white-smoke: color(white-smoke);
$gray-979797: color(gray-979797);
$white: color(white);
$gray-979797: color(gray-979797);

table {
  border-collapse: collapse;
  width: 100%;

  @media (max-width: 767px) {
    border-top: none;
  }

  th,
  td {
    text-align: left;
    padding: 20px;

    &.align-right {
      text-align: right;

      @media (max-width: 767px) {
        text-align: left;
      }
    }
    @media (max-width: 1199px) {
      padding: 10px;
    }
  }
  thead {
    @media (max-width: 767px) {
      display: none;
    }
  }

  tbody {
    tr {
      @media (max-width: 767px) {
        display: block;
      }

      &:nth-child(even) {
        td {
          background-color: $color-white-smoke;
        }
      }
    }

    td {
      @media (max-width: 767px) {
        display: block;
        text-align: left;
        padding: 10px 20px;
        &:before {
          content: attr(data-th) ': ';
          font-weight: 700;
        }
      }

      &:first-child {
        @media (max-width: 767px) {
          padding: 20px 20px 10px 20px;
        }
      }

      &:last-child {
        @media (max-width: 767px) {
          padding: 10px 20px 20px 20px;
        }
      }
    }
  }

  tfoot {
    tr {
      @media (max-width: 767px) {
        display: block;
      }

      &:last-child {
        td:last-child {
          padding-bottom: 20px;
        }
      }
    }

    td {
      @media (max-width: 767px) {
        display: block;
      }

      &:first-child {
        @media (max-width: 767px) {
          font-weight: 700;
          padding: 20px 20px 5px 20px;
        }
      }

      &:last-child {
        @media (max-width: 767px) {
          padding: 5px 20px 0 20px;
        }
      }
    }
  }

  i {
    vertical-align: middle;
  }
}
a:not(.product-link) {
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-tertiary;
  }

  &:hover {
    &:after {
      opacity: 0;
    }
  }
}

address {
  font-style: normal;
}
.myorders-top {
  p {
    display: flex;
    font-size: 16px;
    padding-bottom: 2px;
    label {
      width: 100px;
      font-weight: bold;
    }
  }
  @media (max-width: 767px) {
    display: table;
    margin-left: auto;
    margin-right: auto;
  }
}
.myorders-row {
  border: 1px solid $gray-979797;
  margin: 0 0 -1px -1px;
  background: $white;
  @media (max-width: 767px) {
    margin: 0;
    border-left: none;
    border-right: none;
  }
  &.myorders-disable {
    pointer-events: none;
    opacity: 0.3;
  }
  .orders-img {
    .product-image {
      width: 150px;
      border: 1px solid $gray-979797;
      @media (max-width: 767px) {
        width: 120px;
      }
    }
  }
  .orders-text {
    width: calc(100% - 150px);
    padding-left: 20px;
    @media (max-width: 767px) {
      width: calc(100% - 120px);
      padding-left: 10px;
    }
  }
  position: relative;
  .checkbox {
    position: absolute;
    right: 10px;
    top: 15px;
    @media (max-width: 767px) {
      right: 0;
      top: 10px;
    }
  }
  p {
    @media (max-width: 767px) {
      padding-bottom: 8px;
      &.product-name {
        padding-right: 20px;
      }
    }
    &.align-right {
      font-size: 12px;
    }
  }
  .h3 {
    @media (max-width: 767px) {
      font-size: 18px;
    }
  }
  .btn {
    @media (max-width: 767px) {
      display: table;
      margin-left: 0;
      margin-right: 0;
      font-size: 14px;
      padding: 5px 15px 5px;
    }
  }
}
.old-price {
  text-decoration: line-through;
  color: $gray-979797;
}
.btn {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: normal;
  padding: 5px 24px 5px;
  @media (max-width: 767px) {
    font-size: 14px;
    display: table;
    margin-left: auto;
    margin-right: auto;
  }
}
.reorder {
  .btn {
    font-size: 18px;
    font-weight: bold;
    padding: 8px 24px 8px;
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
  @media (max-width: 767px) {
    padding: 20px 10px;
  }
}
</style>

<style lang="scss">
.reorder {
  .delivery-option {
    .delivery-box {
      display: flex;
      align-items: center;
      @media (max-width: 767px) {
        display: block;
      }
      label {
        display: none;
      }
      .delivery-item {
        width: 33.333333%;
        margin-right: 15px;
        @media (max-width: 1420px) {
          width: 49%;
          margin-right: 1%;
        }
        @media (max-width: 767px) {
          width: 100%;
          margin-right: 0;
        }
      }
    }
  }
}
.orders-img {
  .product-image {
    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      display: block;
    }
  }
}
</style>
