<template>
  <div class="myprofile">
    <!-- My profile body (edit mode) -->
    <div v-if="isEdited">
      <h3 class="col-xs-12 bold align-center py20">
        {{ $t('Edit your profile') }}
      </h3>
      <div class="myaccount-form mb10">
        <div class="row">
          <base-input
            class="col-xs-12 col-md-6 mb10 edit-icon"
            type="text"
            name="first-name"
            :label="true"
            autocomplete="given-name"
            :placeholder="$t('First name')"
            v-model.trim="currentUser.firstname"
            @input="$v.currentUser.firstname.$touch()"
            :validations="[
              {
                condition: !$v.currentUser.firstname.required,
                text: $t('Field is required')
              },
              {
                condition: !$v.currentUser.firstname.minLength,
                text: $t('Name must have at least 2 letters.')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-md-6 mb10 edit-icon"
            type="text"
            name="last-name"
            :label="true"
            autocomplete="family-name"
            :placeholder="$t('Last name')"
            v-model.trim="currentUser.lastname"
            @input="$v.currentUser.lastname.$touch()"
            :validations="[{
              condition: !$v.currentUser.lastname.required,
              text: $t('Field is required')
            }]"
          />
          <base-input
            class="col-xs-12 col-md-12 mb10"
            type="email"
            name="email-address"
            autocomplete="email"
            :label="true"
            :placeholder="$t('Email address')"
            v-model="currentUser.email"
            :disabled="true"
            :validations="[
              {
                condition: !$v.currentUser.email.required,
                text: $t('Field is required')
              },
              {
                condition: !$v.currentUser.email.email,
                text: $t('Please provide valid e-mail address.')
              }
            ]"
          />
          <base-number-input
            class="col-xs-12 col-md-12 mb10 edit-icon"
            type="tel"
            name="number"
            autocomplete="mobile"
            :label="true"
            :placeholder="$t('Mobile number')"
            :maxlength="11"
            v-model="mobileData"
          />
          <base-password
            class="col-xs-12 col-md-12 mb10 edit-icon"
            type="password"
            :label="true"
            name="old-password"
            autocomplete="current-password"
            :placeholder="$t('Current password *')"
            v-model="oPassword"
            @input="$v.oPassword.$touch()"
            :validations="[{
              condition: !$v.oPassword.required,
              text: $t('Field is required')
            }]"
          />

          <base-password
            class="col-xs-12 col-md-12 mb10 edit-icon"
            type="password"
            :label="true"
            name="password"
            autocomplete="new-password"
            :placeholder="$t('New password *')"
            v-model="nPassword"
            @input="$v.nPassword.$touch()"
            :validations="[{
              condition: !$v.nPassword.required && $v.nPassword.$error,
              text: $t('Field is required')
            }]"
          />

          <base-password
            class="col-xs-12 col-md-12 mb10 edit-icon"
            type="password"
            name="password-confirm"
            :label="true"
            autocomplete="new-password"
            :placeholder="$t('Confirm new password *')"
            v-model="rPassword"
            @input="$v.rPassword.$touch()"
            :validations="[
              {
                condition: !$v.rPassword.required && $v.rPassword.$error,
                text: $t('Field is required')
              },
              {
                condition: !$v.rPassword.sameAsPassword,
                text: $t('Passwords must be identical.')
              }
            ]"
          />

          <div class="col-xs-12 col-sm-6 py10">
            <button-full
              @click.native="updateMyProfile"
              :disabled="checkValidation()"
            >
              {{ $t('Update my profile') }}
            </button-full>
          </div>
          <div class="col-xs-12 col-sm-6 flex middle-xs py10">
            <a href="#" @click="exitSection" class="btn btn-outline w-100">
              {{ $t('Cancel') }}
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- My profile summary -->
    <div class="fs16 mb35" v-else>
      <h3 class="col-xs-12 bold align-center py20">
        {{ $t('Your profile') }}
      </h3>
      <div class="col-xs-12 h4">
        <div class="myaccount-form">
          <div class="profile-details">
            <div class="profile-details-row flex">
              <label>{{ $t('Name') }}</label>
              <p>
                : {{ currentUser.firstname }} {{ currentUser.lastname }}
              </p>
            </div>
            <div class="profile-details-row flex">
              <label>{{ $t('Email address') }}</label>
              <p>
                : {{ currentUser.email }}
              </p>
            </div>
            <div class="profile-details-row flex" v-if="currentUser.custom_attributes.find(x => x.attribute_code === 'mobilenumber') != null">
              <label>{{ $t('Mobile') }}</label>
              <p>
                : {{ currentUser.custom_attributes.find(x => x.attribute_code === 'mobilenumber').value }}
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 p0 pt20">
            <a href="#" v-if="!isEdited" class="btn w-100" @click.prevent="edit">
              <span class="pr5">
                {{ $t('Edit your profile') }}
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength, email, sameAs } from 'vuelidate/lib/validators'
import MyProfile from '@vue-storefront/core/compatibility/components/blocks/MyAccount/MyProfile'
import { unicodeAlpha } from '@vue-storefront/core/helpers/validators'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import BasePassword from 'theme/components/core/blocks/Form/BasePassword'
import ButtonFull from 'theme/components/theme/ButtonFull'
import BaseNumberInput from 'theme/components/core/blocks/Form/BaseNumberInput'
import config from 'config'
import pick from 'lodash-es/pick'

export default {
  components: {
    BaseInput,
    BasePassword,
    ButtonFull,
    BaseNumberInput
  },
  mixins: [MyProfile],
  data () {
    return {
      nPassword: '',
      oPassword: ''
    }
  },
  computed: {
    countryOptions () {
      return this.countries.map((item) => {
        return {
          value: item.code,
          label: item.name
        }
      })
    },
    mobileData: {
      get () {
        let mobileArray = this.currentUser.custom_attributes.find(x => x.attribute_code === 'mobilenumber')
        if (mobileArray != null) {
          return mobileArray.value
        } else {
          return null
        }
      },
      set (value) {
        let mobile = this.currentUser.custom_attributes.find(x => x.attribute_code === 'mobilenumber')
        if (mobile) {
          mobile.value = value
        } else {
          this.currentUser.custom_attributes.push({ attribute_code: 'mobilenumber', value: '' })
          this.currentUser.custom_attributes.find(x => x.attribute_code === 'mobilenumber').value = value
        }
        this.currentUser.mobile = value
      }
    }
  },
  methods: {
    checkValidation () {
      if (this.changePassword) {
        return this.$v.$invalid
      } else if (this.changePassword) {
        return this.$v.currentUser.$invalid || this.$v.nPassword.$invalid || this.$v.rPassword.$invalid
      } else if (!this.changePassword) {
        return this.$v.currentUser.$invalid
      } else {
        return this.$v.currentUser.$invalid
      }
    },
    updateMyProfile () {
      let updatedProfile
      if (!this.objectsEqual(this.currentUser, this.$store.state.user.current, ['updated_at', 'addresses']) ||
        !this.objectsEqual(this.userCompany, this.getUserCompany()) ||
        (this.userCompany.company && !this.addCompany)
      ) {
        updatedProfile = pick(JSON.parse(JSON.stringify(this.$store.state.user.current)), [...config.users.allowModification, 'default_billing'])
        updatedProfile.firstname = this.currentUser.firstname
        updatedProfile.lastname = this.currentUser.lastname
        updatedProfile.email = this.currentUser.email
        updatedProfile.custom_attributes = { mobilenumber: this.currentUser.mobile }
        if (updatedProfile.hasOwnProperty('default_billing')) {
          let index
          for (let i = 0; i < updatedProfile.addresses.length; i++) {
            if (toString(updatedProfile.addresses[i].id) === toString(updatedProfile.default_billing)) {
              index = i
            }
          }
          if (index >= 0) {
            if (this.addCompany) {
              updatedProfile.addresses[index].firstname = this.currentUser.firstname || ''
              updatedProfile.addresses[index].lastname = this.currentUser.lastname || ''
              updatedProfile.addresses[index].company = this.userCompany.company || ''
              updatedProfile.addresses[index].street = [this.userCompany.street, this.userCompany.house] || ['', '']
              updatedProfile.addresses[index].city = this.userCompany.city || ''
              updatedProfile.addresses[index].region = {
                region: this.userCompany.region ? this.userCompany.region : null
              }
              updatedProfile.addresses[index].country_id = this.userCompany.country || ''
              updatedProfile.addresses[index].postcode = this.userCompany.postcode || ''
              updatedProfile.addresses[index].vat_id = this.userCompany.taxId || ''
              updatedProfile.addresses[index].telephone = this.userCompany.phone || ''
              updatedProfile.addresses[index].default_billing = true
            } else {
              this.userCompany = {
                company: '',
                street: '',
                house: '',
                city: '',
                region: '',
                country: '',
                postcode: '',
                taxId: '',
                phone: ''
              }
            }
          }
          delete updatedProfile['default_billing']
        } else if (this.addCompany) {
          updatedProfile.addresses.push({
            firstname: this.currentUser.firstname,
            lastname: this.currentUser.lastname,
            company: this.userCompany.company,
            street: [this.userCompany.street, this.userCompany.house],
            city: this.userCompany.city,
            ...(this.userCompany.region ? { region: { region: this.userCompany.region } } : {}),
            country_id: this.userCompany.country,
            postcode: this.userCompany.postcode,
            vat_id: this.userCompany.taxId,
            telephone: this.userCompany.phone,
            default_billing: true
          })
        }
      }
      this.exitSection(null, updatedProfile)
      if (this.nPassword) {
        setTimeout(() => this.$bus.$emit('myAccount-before-changePassword', {
          currentPassword: this.oPassword,
          newPassword: this.nPassword
        }), 2000)
      }
    }
  },
  validations: {
    currentUser: {
      firstname: {
        required,
        minLength: minLength(2),
        unicodeAlpha
      },
      lastname: {
        required,
        unicodeAlpha
      },
      email: {
        required,
        email
      }
    },
    oPassword: {
      required
    },
    nPassword: {
      required
    },
    rPassword: {
      required,
      sameAsPassword: sameAs('nPassword')
    }
  }
}
</script>

<style lang="scss">
@import "~theme/css/base/global_vars";
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
$color-icon-hover: color(secondary, $colors-background);
$white: color(white);
$black: color(black);
$red: color(red);
$gray-979797: color(gray-979797);
$gray: color(gray);
$gray-c3c3c3: color(gray-c3c3c3);

.myprofile {
  .btn {
    font-size: 18px;
    text-transform: capitalize;
    padding: 10px 24px 7px;
  }
  .btn-outline {
    border: solid 1px $black;
    color: $black;
    padding: 9px 24px 6px;
    background: $white;
    &:hover {
      background: $red;
      color: $white;
      border: solid 1px $red;
    }
  }
  .icon{
    right: 44px;
    top: 34px;
    font-size: 19px;
    color: $gray-c3c3c3;
  }
}
.profile-details{
  .profile-details-row{
    padding-bottom:10px;
    label{
      font-weight:600;
      width: 23%;
      line-height: 2.07;
    }
    p{
      width: 78%;
      padding-left: 10px;
      padding-bottom:0;
      line-height: 2.07;
      word-break: break-all;
      @media (max-width: 767px) {
        font-size: 12px;
      }
    }
  }
}
.myaccount-form {
  max-width: 720px;
  margin: auto;
  @media (max-width: 767px) {
    padding: 0 20px;
  }
  .select-wrapper {
    display: flex;
    flex-wrap: wrap;
    select {
      &:first-child {
        height: 30px;
        border: solid 1px $gray;
        font-size: 16px;
        padding: 0px 7px;
        line-height: 29px;
      }
    }
    select:focus ~ label,
    select:not(.empty) ~ label {
      color: $black;
    }
    label {
      position: static;
      order: -1;
      padding-bottom: 0;
      margin-bottom: 5px;
      color: $black;
    }
    &::after {
      top: 35px;
      right: 23px;
    }
  }
  .base-input {
    .relative {
      display: flex;
      flex-wrap: wrap;
      input {
        &:first-child {
          height: 30px;
          border: solid 1px $gray;
          font-size: 16px;
          padding: 7px;
        }
      }
      input:focus {
        border: solid 1px $red;
      }
    }
    label {
      position: static;
      order: -1;
      padding-bottom: 0;
      margin-bottom: 5px;
      color: $black;
    }
    input:focus ~ label,
    input:not(.empty) ~ label {
      color: $black;
    }
  }
  @media (max-width: 767px) {
    .checkbox {
      label {
        font-size: 16px;
        padding-left: 26px;
      }
    }
  }
  .edit-icon{
    .relative{
      &::after{
        content: '';
        display: inline-block;
        background: url(/assets/icons/edit-icon.png) no-repeat;
        background-size: auto;
        width:20px;
        height:20px;
        background-size: cover;
        position: absolute;
        top: 50%;
        margin-top: 5px;
        right: 5px;
        @media (max-width: 767px) {
          margin-top: 3px;
        }
      }
    }
  }
}
.profile-details {
  border: 1px solid $gray-979797;
  background: $white;
  padding: 20px;
  margin-left: -1px;
}
</style>
