<template>
  <div class="shipping-details" :class="{ 'active' : !isEdited }">
    <customer-address />
  </div>
</template>

<script>
import { required, minLength } from 'vuelidate/lib/validators'
import MyShippingDetails from '@vue-storefront/core/compatibility/components/blocks/MyAccount/MyShippingDetails'
import { unicodeAlpha, unicodeAlphaNum } from '@vue-storefront/core/helpers/validators'
import CustomerAddress from 'src/modules/aureatelabs/addres-book/components/CustomerAddress'

export default {
  components: {
    CustomerAddress
  },
  mixins: [MyShippingDetails],
  computed: {
    countryOptions () {
      return this.countries.map((item) => {
        return {
          value: item.code,
          label: item.name
        }
      })
    }
  },
  validations: {
    shippingDetails: {
      firstName: {
        required,
        minLength: minLength(2),
        unicodeAlpha
      },
      lastName: {
        required
      },
      country: {
        required
      },
      street: {
        required,
        unicodeAlphaNum
      },
      house: {
        required,
        unicodeAlphaNum
      },
      postcode: {
        required,
        minLength: minLength(3)
      },
      city: {
        required,
        unicodeAlpha
      }
    }
  }
}
</script>

<style lang="scss">
@import '~theme/css/base/global_vars';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-icon-hover: color(secondary, $colors-background);
$white: color(white);
$black: color(black);
$red: color(red);
$gray-979797: color(gray-979797);
$gray: color(gray);

.shipping-details{
  .btn{
    font-size: 18px;
    text-transform: capitalize;
    padding: 10px 24px 7px;
    &.btn-secondary {
      padding: 9px 24px 6px;
    }
  }
  .btn-outline{
    border:  solid 1px $black;
    color: $black;
    padding: 9px 24px 6px;
    background:$white;
    &:hover{
      background:$red;
      color: $white;
      border:  solid 1px $red;
    }
  }
  .delete-address{
    align-items: center;
    a{
      margin-left: auto;
      span{
        display: inline-block;
        vertical-align: middle;
        font-size: 19px;
        color: $red;
      }
    }
  }
}
.myaccount-form{
  max-width: 720px;
  margin: auto;
  @media (max-width:767px) {
    padding:0 20px;
  }
  .select-wrapper{
    display: flex;
    flex-wrap: wrap;
    select{
        &:first-child{
          height: 30px;
          border:  solid 1px $gray;
          font-size: 16px;
          padding: 0px 7px;
          line-height: 29px;
        }
      }
      select:focus ~ label, select:not(.empty) ~ label{
        color: $black;
      }
      label{
        position: static;
        order: -1;
        padding-bottom: 5px;
        color: $black;
    }
    &::after{
      top: 35px;
      right: 23px;
    }
  }
  .base-input{
    .relative{
      display: flex;
      flex-wrap: wrap;
      input{
        &:first-child{
          height: 30px;
          border:  solid 1px $gray;
          font-size: 16px;
          padding: 7px;
        }
      }
      input:focus{
        border:  solid 1px $red;
      }
    }
    label{
        position: static;
        order: -1;
        padding-bottom: 5px;
        color: $black;
    }
    input:focus ~ label, input:not(.empty) ~ label{
       color: $black;
    }
  }
   @media (max-width:767px) {
    .checkbox{
      label{
        font-size: 16px;
        padding-left: 26px;
      }
    }
  }
}
.shipping-details{
  .shipping-summary{
    border: 1px solid $gray-979797;
    margin:1px 0 -1px -1px;
    background: $white;
    padding: 20px;
    position: relative;
    @media (max-width:767px) {
      padding: 15px 10px;
      margin: 0;
      border-left: none;
      border-right: none;
    }
    .shipping-locations{
      border: 1px solid $gray-979797;
      width: 150px;
      display: table;
      a{
        line-height: 0;
        display: block;
        img{
          width: 100%;
        }
      }
      @media (max-width:767px) {
        width:90px;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
    .shipping-details{
      width: calc(100% - 150px);
      padding-left: 20px;
      @media (max-width:767px) {
        padding-left: 10px;
        width: calc(100% - 150px);
        p{
          font-size: 14px;
          line-height: 17px;
          &.bold{
            margin-bottom: 6px;
          }
        }
      }
      .checkbox{
        position: absolute;
        right: 30px;
        top: 16px;
        @media (max-width:767px) {
          position: static;
          text-align: right;
          margin:-5px -17px -5px 0;
        }
        label{
          padding-left:0;
          padding-right:30px;
          &::before{
            left:inherit;
            right:0;
          }
           &::after{
             left:inherit;
             right:5px;
           }
        }
      }
      p{
        padding:0 0 2px 0;
      }
    }
    .edite-links{align-self: center;}
  }
  .btn[data-v-7c607e8b] {
      font-size: 18px;
      font-weight: bold;
      padding: 8px 24px 8px;
  }
}
</style>
