<template>
  <div class="payment-methods">
    <ListingCards />
  </div>
</template>
<script>

export default {
  components: {
    ListingCards: () =>
      import('src/modules/adyen/components/ListingCards.vue')
  }
}
</script>
