<template>
  <div>
    <h3 class="bold align-center py20">
      {{ $t('Your Vouchers') }}
    </h3>
    <div class="site-loader-wrap" v-if="show_loader">
      <div class="site-ajax-loader" />
    </div>
    <div v-else class="px20">
      <no-ssr>
        <table class="w-100 mb20">
          <thead>
            <tr>
              <th class="p10">
                {{ $t('Voucher No.') }}
              </th>
              <th class="p10">
                {{ $t('Issued Date') }}
              </th>
              <th class="p10">
                {{ $t('Expiry Date') }}
              </th>
              <th class="p10">
                {{ $t('Status') }}
              </th>
            </tr>
          </thead>
          <tbody v-if="VouchersData.length>0">
            <tr v-for="(voucher, index) in VouchersData" :key="index">
              <td class="p10">
                {{ voucher.voucher_no }}
              </td>
              <td class="p10">
                {{ voucher.issue_date }}
              </td>
              <td class="p10">
                {{ voucher.expiry_date }}
              </td>
              <td class="p10">
                {{ voucher.status }}
              </td>
            </tr>
          </tbody>
          <tbody v-else>
            <tr>
              <td colspan="4">
                <p class="align-center pt20">
                  {{ $t('You haven\'t earned any vouchers yet, please allow 24 hours for recently earned vouchers to display.') }}
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </no-ssr>
    </div>
    <div class="petclub-points-banner hidden-xs">
      <cms-block identifier="petclub-voucher-image" />
    </div>
  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr';
import { mapState } from 'vuex'
import CmsBlock from 'theme/components/core/blocks/Cms/Block.vue';

export default {
  data () {
    return {
      VouchersData: [],
      show_loader: true
    };
  },
  components: {
    'no-ssr': NoSSR,
    CmsBlock
  },
  computed: {
    ...mapState({
      currentUser: state => state.user.current
    })
  },
  methods: {
    async setClubVouchersData () {
      if (this.currentUser && this.currentUser.email) {
        // await this.$store.dispatch('PetClubs/getpetClubVoucherslist', 'nisarg.shukla@aureatelabs.com');
        await this.$store.dispatch('PetClubs/getpetClubVoucherslist', this.currentUser.email);
        const v_data = this.$store.getters['PetClubs/getpetClubVoucherslist'] || [];
        if (v_data[0] && v_data[0].hasOwnProperty('ErrorCode') === false) {
          this.VouchersData = v_data
        }
        this.show_loader = false;
      }
    }
  },
  created () {
    this.setClubVouchersData();
  }
};
</script>
