<template>
  <div class="petclubpoints">
    <div class="showpointsbarwrap">
      <show-points-bar
        title="Your PetCLUB points"
        :min="0"
        :max="1000"
        :fillbarwidth="PointsBarWidth"
        :earned="totalEarnedPoints"
        :remaining="remainingPoints"
      />
    </div>
    <h3 class="bold align-center py20">
      {{ $t('Points History') }}
    </h3>
    <div class="site-loader-wrap" v-if="show_loader">
      <div class="site-ajax-loader" />
    </div>
    <div v-else class="px20">
      <no-ssr>
        <table class="w-100 mb20">
          <thead>
            <tr>
              <th class="p10">
                {{ $t('Activity') }}
              </th>
              <th class="p10">
                {{ $t('Date') }}
              </th>
              <th class="p10">
                {{ $t('Points Earned') }}
              </th>
              <th class="p10">
                {{ $t('Expiry') }}
              </th>
            </tr>
          </thead>
          <tbody v-if="ClubPoints.length > 0">
            <tr v-for="(pointsData, index) in ClubPoints" :key="index">
              <td class="p10">
                {{ pointsData.activity }}
              </td>
              <td class="p10">
                {{ pointsData.ref_date }}
              </td>
              <td class="p10">
                {{ pointsData.total_points }}
              </td>
              <td class="p10">
                {{ pointsData.expiery_date }}
              </td>
            </tr>
          </tbody>
          <tbody v-else>
            <tr>
              <td class="bold align-center p10" colspan="4">
                {{ $t('No Points Found!') }}
              </td>
            </tr>
          </tbody>
        </table>
      </no-ssr>
      <div class="bold align-center p20">
        {{ $t('PerCLUB points expire after 6 months, if you can\'t see points for a recent transaction, please allow 24 hours for them to appear.') }}
      </div>
    </div>
    <div class="petclub-points-banner hidden-xs">
      <cms-block identifier="petclub-points-image" />
    </div>
  </div>
</template>

<style lang="scss">

.petclub-points-banner p {
  max-width: 462px;
  margin-left: auto;
  margin-right: auto;
}
body {
  .petclubpoints {
    @media (max-width: 768px) {
      > .px20 {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    table {
      tr {
          th {
            @media (max-width: 767px) {
              text-align: center;
            }
        }
      }
    }
  }
}

</style>

<script>
import NoSSR from 'vue-no-ssr';
import { mapState } from 'vuex'
import ShowPointsBar from '../../ShowPointsBar.vue';
import CmsBlock from 'theme/components/core/blocks/Cms/Block.vue';

export default {
  data () {
    return {
      ClubPoints: [],
      totalEarnedPoints: 0,
      remainingPoints: 1000,
      tableHeaderText: [],
      minPoint: 0,
      maxPoint: 1000,
      show_loader: true,
      userPetClubData: []
    };
  },
  components: {
    'no-ssr': NoSSR,
    'show-points-bar': ShowPointsBar,
    CmsBlock
  },
  computed: {
    ...mapState({
      currentUser: state => state.user.current
    }),
    PointsBarWidth () {
      return parseInt(this.totalEarnedPoints) * parseInt(100) / parseInt(this.maxPoint)
    }
  },
  methods: {
    async setClubPointsData () {
      if (this.currentUser && this.currentUser.email) {
        await this.$store.dispatch('PetClubs/getpetClubPointslist', this.currentUser.email);
        this.userPetClubData = this.$store.getters['PetClubs/getpetClubPointslist'] || [];
        if (this.userPetClubData.length > 1) {
          this.ClubPoints = this.userPetClubData[0];
          this.totalEarnedPoints = this.userPetClubData[1].total_points
          this.remainingPoints = this.userPetClubData[1].total_amount
          if (this.totalEarnedPoints === 0 && this.ClubPoints.length === 1) {
            if (this.ClubPoints[0].activity === 'SIGN_UP') {
              this.totalEarnedPoints = this.ClubPoints[0].total_points
              this.remainingPoints = parseInt(1000) - parseInt(this.totalEarnedPoints)
            }
          }
        }
        this.show_loader = false;
      }
    }
  },
  mounted () {
    this.setClubPointsData();
  }
};
</script>
