<template>
  <div class="w-100">
    <div
      class="store-block"
      v-for="(storeItem, index) in storeLists"
      :key="index"
    >
      <div class="store-information">
        <div class="flex middle-xs store-info-head">
          <img v-if="storeItem.icon !== null" :src="getFormatedUrlForStore({url:storeItem.icon.handle})" :alt="storeItem.icon.altText">
          <div>
            <h3>
              {{ storeItem.name }}
            </h3>
            <span class="flex middle-xs">
              <div class="flex middle-xs" v-if="!isStoreLocalStore(storeItem)">
                <img src="/assets/icons/pointer-red-icon.png" alt="">
                <strong>
                  {{ $t('Your Local') }}
                </strong>
              </div>
              <div>
                ({{ $t('Closes at') }} {{ storecloseTime(storeItem) }})
              </div>
            </span>
          </div>
        </div>
        <p class="gotham">
          {{ storeItem.streetAddress }}, {{ storeItem.city }}, {{ storeItem.county }}, {{ storeItem.postCode }}
        </p>
        <div class="flex store-contact-info gotham">
          <div class="open-time-list">
            <ul>
              <li v-for="storeTime in getStoreTimings(storeItem)" :key="storeTime.weekDay">
                <span>
                  <strong>{{ $t(storeTime.weekDay) }}</strong> {{ storeTime.startTime }} - {{ storeTime.endTime }}
                </span>
              </li>
            </ul>
          </div>
          <div class="contact-info">
            <ul>
              <li>
                <a :href="'tel:' + storeItem.phoneNumber">
                  <img src="/assets/icons/call-icon.png" alt="">
                  <span>
                    {{ storeItem.phoneNumber }}
                  </span>
                </a>
              </li>
              <li>
                <a target="_blank" :href="'mailto:' + storeItem.emailAddress">
                  <img src="/assets/icons/mail-icon.png" alt="">
                  <span>
                    {{ storeItem.emailAddress }}
                  </span>
                </a>
              </li>
              <li>
                <router-link :to="'/store/'+storeItem.uid">
                  <img src="/assets/icons/map-icon2.png" alt="">
                  <span>
                    {{ $t('Get Directions') }}
                  </span>
                </router-link>
              </li>
            </ul>
          </div>
        </div>
        <div class="flex between-xs btn-box" v-if="isListing">
          <router-link class="btn black" :to="'store/'+storeItem.uid">
            {{ 'Go to store page' }}
          </router-link>
          <button class="btn flex middle-xs" v-if="isStoreLocalStore(storeItem)" @click.prevent="addToLocalStoreListing(storeItem)">
            <img src="/assets/icons/pointer-icon.png" alt="">
            <span>
              {{ 'Set as your local' }}
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import stores from 'theme/mixins/stores'
import { mapState, mapGetters, mapActions } from 'vuex'

export default {
  name: 'StoresList',
  props: {
    storeLists: {
      type: Array,
      required: true,
      default: () => []
    },
    isListing: {
      type: Boolean,
      required: false,
      default: () => false
    }
  },
  computed: {
    ...mapGetters({
      storelocator: 'store-locators/getStoreLocatorsList'
    }),
    ...mapState({
      currentUser: state => state.user.current
    })
  },
  async mounted () {
    await this.$store.dispatch('store-locators/list', {});
  },
  methods: {
    ...mapActions({
      openLogin: 'ui/toggleLogin'
    }),
    addToLocalStoreListing (storeData) {
      if (!this.currentUser) {
        this.openLogin()
        this.$store.commit('ui/setAuthElem', 'login')
      } else {
        this.addToLocalStore(storeData);
      }
    },
    storeIcon (storeItem) {
      return storeItem.icon.url ? storeItem.icon.url : '';
    }
  },
  mixins: [stores]
};
</script>
<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$black: color(black);
$red: color(red);
$oat: color(oat);

.store-block {
  padding: 0 10px 20px 10px;
  width: 50%;
  .store-information {
    border: 1px solid $oat;
    padding: 20px;
    height: 100%;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .store-info-head {
      > img {
        border-radius: 100%;
        min-width: 60px;
        min-height: 60px;
        max-width: 60px;
        border: solid 4px $red;
        margin-right: 25px;
      }
      span {
        font-size: 16px;
        padding: 8px 0 0 0;
        strong {
          padding: 0 8px 0 6px;
        }
      }
      h3 {
        font-size: 21px;
      }
      @media (max-width: 767px) {
        > img {
          margin-right: 15px;
        }
        span {
          font-size: 14px;
        }
      }
    }
    p {
      font-size: 16px;
      margin: 0;
      padding: 25px 0 0 0;
      @media (max-width: 767px) {
        font-size: 14px;
        padding: 15px 0 0 0;
      }
    }
    .store-contact-info {
      margin: 25px 0 0 0;
      align-items: center;
      > div {
        width: 50%;
        padding-top: 5px;
        padding-bottom: 5px;
        &.open-time-list {
          border-right: solid 1px #c2c2c2;
          ul {
            li {
              font-size: 14px;
              line-height: 1.2;
              padding: 5px 0;
              span {
                display: inline-block;
                min-width: 40px;
              }
            }
          }
        }
        &.contact-info {
          padding-left: 10px;
          ul {
            li {
              padding: 10px 0;
              word-break: break-all;
              a {
                display: flex;
                align-items: center;
                font-size: 14px;
                img {
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
      @media (max-width: 767px) {
        margin-top: 15px;
        > div {
          &.open-time-list {
            padding-right: 5px;
          }
        }
      }
      @media (max-width: 419px) {
        display: block;
        > div {
          width: 100%;
          &.open-time-list {
            padding:0 0 10px;
            border-right: 0;
            border-bottom: solid 1px #c2c2c2;
          }
        }
      }
    }
  }
}
.open-time-list {
  strong {
    font-weight: normal;
    min-width: 36px;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
  }
}
@media (max-width: 1380px) {
  .store-block {
    width: 50%;
  }
}
@media (max-width: 992px) {
 .store-block {
    padding: 0 0 5px 0;
    width: 100%;
    .store-information {
      padding: 10px;
    }
  }
}

</style>
<style lang="scss">
.store-list{
  flex-wrap: wrap;
  .store-block{
    padding: 10px;
    width: 33.333333%;
    .store-information{
      .btn-box{
        margin-top: 10px;
        .btn{
          text-transform:inherit;
          display: inline-flex;
          align-items: center;
          padding: 8px 20px 8px;
          font-size: 12px;
          img{
            margin-right: 5px;
          }
          @media (max-width: 419px){
            padding: 8px 10px 8px;
          }
        }
      }
    }
  }
  @media (max-width: 1380px){
    .store-block{
      width: 50%;
    }
  }
  @media (max-width: 991px){
    .store-block {
      padding: 0 0 10px 0;
      width: 100%;
    }
  }
}
</style>
