<template>
  <div class="stores">
    <h3 class="col-xs-12 bold align-center py20">
      {{ $t('Your Store') }}
    </h3>
    <div class="all-store-info" v-if="userStoreData && userStoreData.id">
      <storelist class="store-detail flex" :store-lists="[userStoreData]" />
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <router-link to="/locator">
            <button class="btn w-100">
              {{ $t('Change your store') }}
            </button>
          </router-link>
        </div>
      </div>
    </div>
    <div v-else class="stores empty-msg align-center px20">
      <h2>
        {{ $t('You don\'t have a favourite store at the moment.') }}
      </h2>
      <p class="pb20">
        {{ $t("Adding a favourite store means we can show you what stock is available for click & collect.") }}
      </p>
      <div class="align-center mt30 pb20">
        <router-link class="btn" :to="'/locator'">
          {{ $t('Find your favourite store') }}
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import Storelist from 'theme/components/core/blocks/MyAccount/Storelist.vue';
import { mapGetters } from 'vuex'
import { getCookie } from 'theme/helpers'

export default {
  components: {
    Storelist
  },
  computed: {
    ...mapGetters({
      userStoreData: 'store-location/storeDetail'
    })
  },
  methods: {
    async checkCurrentUserStore () {
      let store = getCookie('storelocator');
      if (store !== null && store !== '') {
        store = JSON.parse(store);
        await this.$store.dispatch('store-location/storeDetail', { storeId: store.name.toLowerCase() });
      }
    }
  },
  created () {
    this.checkCurrentUserStore();
  }
};
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$black: color(black);
$red: color(red);
$oat: color(oat);
.stores{
  h2{
    font-size:21px;
    margin-bottom:20px;
    font-weight: 700;
  }
}
.all-store-info {
  padding: 0 20px;
  .btn {
    font-size: 18px;
    text-transform: capitalize;
    padding: 9px 24px 9px;
  }
  @media (max-width: 992px) {
   padding: 0 10px;
   .btn {
     margin: 15px 0 20px;

   }
  }
}
.store-list {
  flex-wrap: wrap;
  margin: 0 -10px;
}
@media (max-width: 992px) {
  .store-list {
    margin-left: auto;
    margin-right: auto;
    max-width: 580px;
  }
}
</style>
