<template>
  <div class="articles">
    <div class="container small-space perfect-pk">
      <articles-slider class="articles-top" :sec-title="'Articles'" :slider-id="'articles'" :per-page-custom="[['auto', ['auto', 45]]]" />
    </div>
    <product-listing-slider class="latest-treatments container small-space bg-cl-light-gray" :per-page-custom="[['auto', ['auto', 45]]]" :sec-title="'Best Selling Toothpaste'" :products="getEverythingNewCollection" :slider-id="'best-selling-toothpaste'" />
    <div class="container small-space articles-bottom pt0">
      <div class="row">
        <div class="col-md-6 col-xs-12 pr25">
          <articles-slider class="articles-top" :sec-title="'Top Dog Articles'" :slider-id="'top-dog-articles'" :per-page-custom="[['auto', ['auto', 45]]]" />
        </div>
        <div class="col-md-6 col-xs-12 pl25">
          <articles-slider class="articles-top" :sec-title="'Top Puppy Articles'" :slider-id="'top-puppy-articles'" :per-page-custom="[['auto', ['auto', 45]]]" />
        </div>
        <div class="col-md-12 col-xs-12">
          <div class="divider" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-12 pr25">
          <articles-slider class="articles-top" :sec-title="'Top Cat Articles'" :slider-id="'top-cat-articles'" :per-page-custom="[['auto', ['auto', 45]]]" />
        </div>
        <div class="col-md-6 col-xs-12 pl25">
          <articles-slider class="articles-top" :sec-title="'Top Kitten Articles'" :slider-id="'top-kitten-articles'" :per-page-custom="[['auto', ['auto', 45]]]" />
        </div>
        <div class="col-md-12 col-xs-12">
          <div class="divider" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { isServer, onlineHelper } from '@vue-storefront/core/helpers'
import { mapGetters } from 'vuex'
import config from 'config'
import { registerModule } from '@vue-storefront/core/lib/modules'
import ProductListingSlider from 'theme/components/core/blocks/Category/ProductListingSlider'
import ArticlesSlider from 'theme/components/core/blocks/Articles/ArticlesSlider'

export default {
  data () {
    return {
      loading: true
    }
  },
  components: {
    ProductListingSlider,
    ArticlesSlider
  },
  computed: {
    ...mapGetters('homepage', ['getEverythingNewCollection']),
    ...mapGetters({
      getCategoryProducts: 'category-next/getCategoryProducts'
    }),
    categories () {
      return this.getCategories
    },
    isCategoryEmpty () {
      return this.getCategoryProductsTotal === 0
    },
    isLazyHydrateEnabled () {
      return config.ssr.lazyHydrateFor.some(
        field => ['homepage', 'homepage.new_collection'].includes(field)
      )
    }
  },
  beforeRouteEnter (to, from, next) {
    if (!isServer && !from.name) { // Loading products to cache on SSR render
      next(vm =>
        vm.$store.dispatch('homepage/fetchNewCollection').then(res => {
          vm.loading = false
        })
      )
    } else {
      next()
    }
  }
}
</script>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$black: color(black);
$sky-d2ddf0: color(sky-d2ddf0);
$gray:color(gray);

.articles{
  .pt0{
    padding-top:0;
    padding-bottom:0;
  }
  .divider{
    border-bottom: solid 1px rgba($gray ,0.2);
    @media (max-width:767px) {
      border:0;
    }
  }
  .latest-treatments{
    background:rgba($sky-d2ddf0,0.3);
    .swiper-slide{
      width:17%;
      margin-right:25px;
      @media (max-width:767px) {
        width: 29%;
        margin-right: 20px;
      }
    }
  }
  .articles-bottom{
    .pr25{
      padding-right: 25px;
      border-right: solid 1px rgba($gray ,0.2);
      padding-top: 25px;
      @media (max-width:767px) {
        padding-right:15px;
        border-left:0;
      }
    }
    .pl25{
      padding-left: 25px;
      border-left: solid 1px rgba($gray ,0.2);
      margin-left: -1px;
      padding-top: 25px;
      @media (max-width:767px) {
        padding-left:15px;
        border-left:0;
        border-top: solid 1px rgba($gray ,0.2);
        border-bottom: solid 1px rgba($gray ,0.2);
      }
    }
    .articles-top{
      .swiper-slide{
        width:35%;
        margin-right:25px;
        padding-bottom: 25px;
        @media (max-width:767px) {
           width:39%;
        }
      }
    }
  }
}

</style>
