<template>
  <div id="category" class="brand-detail-page">
    <div class="site-loader-wrap" v-if="loadingProducts">
      <div class="site-ajax-loader" />
    </div>
    <div class="category-listing" v-else>
      <div class="sub-category container">
        <div class="block-title">
          <h2>{{ brand.title }}</h2>
          <div class="py20" v-if="brand.image">
            <img :src="brand.image" :alt="brand.title">
          </div>
          <div class="sec-subtitle" v-if="brand.description" v-html="brand.description" />
        </div>
      </div>
      <div class="container">
        <div class="flex">
          <div class="col-md-12 products-list p0 small-space bg-cl-light-gray">
            <product-listing
              v-if="product.length"
              :columns="defaultColumn"
              :products="product"
              class="product-row1"
              :total-products="50"
            />
            <div class="container small-space" v-else>
              <h4 data-testid="noProductsInfo">
                {{ $t('No products found!') }}
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import config from 'config'
import { getFbId } from 'theme/helpers'
import ProductListing from '../components/core/ProductListing.vue'
import { mapGetters } from 'vuex'
import { prepareQuery } from '@vue-storefront/core/modules/catalog/queries/common'
import onBottomScroll from '@vue-storefront/core/mixins/onBottomScroll'
import { htmlDecode } from '@vue-storefront/core/filters'

export default {
  components: {
    ProductListing
  },
  data () {
    return {
      brands: null,
      brandProducts: [],
      defaultColumn: 4,
      loadingProducts: true,
      start: 0,
      size: 24
    }
  },
  mixins: [onBottomScroll],
  computed: {
    ...mapGetters({
      brand: 'brand/getBrand',
      product: 'product/getProducts'
    })
  },
  watch: {
    '$route' () {
      this.getBrands()
    },
    brand: {
      handler () {
        let query = prepareQuery({ filters: [{ 'key': 'brands', 'value': { 'eq': this.brand.value } }] });
        this.$store.dispatch('product/list', {
          query: query,
          size: this.size,
          start: this.start,
          updateState: true
        }).then(res => {
          this.loadingProducts = false;
        })
        this.start = this.size;
      }
    }
  },
  methods: {
    getBrands () {
      this.loadingProducts = true;
      this.$store.dispatch('brand/brandByKey', { filterValues: this.$route.params.slug });
    },
    onBottomScroll () {
      if (this.loadingProducts) return
      this.loadingProducts = true
      try {
        let query = prepareQuery({ filters: [{ 'key': 'brands', 'value': { 'eq': this.brand.value } }] });
        this.$store.dispatch('product/list', {
          query: query,
          size: this.size,
          start: this.start,
          updateState: true,
          append: true
        });
        this.start += this.size;
      } catch (e) {
        console.log(e);
      } finally {
        this.loadingProducts = false
      }
    }
  },
  async mounted () {
    this.getBrands()
  },
  metaInfo () {
    const { meta_title, meta_description, meta_keyword, image, url_alias, title } = this.brand;
    const brand_url = url_alias ? config.aureatelabs.site_url + '/brand/' + url_alias : '';
    const meta = [
      { vmid: 'description', name: 'description', content: meta_description ? htmlDecode(meta_description) : '' },
      { vmid: 'og:title', property: 'og:title', content: meta_title || title || '' },
      { vmid: 'og:description', property: 'og:description', content: meta_description ? htmlDecode(meta_description) : '' },
      { vmid: 'meta_keywords', name: 'keywords', content: meta_keyword || '' },
      { vmid: 'og:image', property: 'og:image', content: image || '' },
      { vmid: 'og:url', property: 'og:url', content: brand_url },
      { vmid: 'og:type', property: 'og:type', content: 'website' },
      { vmid: 'fb:app_id', property: 'fb:app_id', content: getFbId() },
      { vmid: 'twitter:title', property: 'twitter:title', content: meta_title || title || '' },
      { vmid: 'twitter:text:title', property: 'twitter:text:title', content: meta_title || title || '' },
      { vmid: 'twitter:description', property: 'twitter:description', content: meta_description ? htmlDecode(meta_description) : '' },
      { vmid: 'twitter:image', property: 'twitter:image', content: image || '' },
      { vmid: 'twitter:url', property: 'twitter:url', content: brand_url }
    ]

    return {
      title: meta_title || title,
      meta
    }
  }
}
</script>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$red: color(red);
$oat: color(oat);

#category{
  .sub-category{
    padding-left:15px;
    padding-right:15px;
    .block-title{
      text-align:center;
      padding-top:15px;
      padding-bottom:0px;
      h2{
        width:100%;
        .sec-subtitle{
          font-size:18px;
          max-width:1400px;
          margin:15px auto 0;
        }
      }
      p{
        padding-top:15px;
        line-height: 1.5;
      }
      img {
        max-width: 100%;
      }
    }
    @media (max-width: 767px) {
      .block-title{
        h2{
          .sec-subtitle{
            font-size:14px;
          }
        }
      }
    }
  }
}
.product-listing{
  @media (max-width: 767px) {
    > div{
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
.brand-detail-page {
  .product-listing {
    .productslist {
      @media (min-width: 1451px) {
        flex-basis: 20%;
        max-width: 20%;
      }
    }
  }
}
</style>
