<template>
  <div id="category">
    <div class="department-page" v-if="getCurrentCategory.parent_id === 2">
      <div class="department-banner" v-if="getCurrentCategory.promotionalbanner && getCurrentCategory.promotionalbanner != ''">
        <lazy-hydrate when-idle>
          <category-banner-slider class="category-banner" :banner-slides="getCurrentCategory.promotionalbanner" :slider-id="'category-banner'" :per-page-custom="[['auto', [1, 0]]]" />
        </lazy-hydrate>
      </div>
      <div class="intro-block container relative small-space align-center">
        <div v-if="getCurrentCategory.description" v-html="getCurrentCategory.description" />
      </div>
      <lazy-hydrate when-visible>
        <sub-category-quick-links :category="SubChildCatData" class="sub-category small-space container" />
      </lazy-hydrate>
      <lazy-hydrate :trigger-hydration="!loading" v-if="isLazyHydrateEnabled">
        <product-listing-slider
          v-if="trendingProducts[0] && trendingProducts[0].length > 4"
          class="exclusive-to-jollyes container pt20 pb20 bg-cl-oat"
          :per-page-custom="[[200, ['auto', 10]], [768, [3, 15]], [992, [4, 40]], [1200, [5, 45]]]"
          :sec-title="'Can’t buy better'"
          :sub-title="'Fantastic deals only at Jollyes'"
          :products="trendingProducts[0] instanceof Array ? trendingProducts[0] : []"
          :slider-id="'buy-better'"
        />
      </lazy-hydrate>
      <lazy-hydrate when-visible>
        <block-with-title :is-trust-pilot="true">
          <div class="category-trustpilot-section carousel-skeleton">
            <div class="category-trustpilot-sec section-padding" v-if="getCurrentCategory.trustpilot_detail">
              <div class="container">
                <div v-html="getCurrentCategory.trustpilot_detail" />
              </div>
            </div>
            <div class="skeleton container" v-else />
          </div>
        </block-with-title>
      </lazy-hydrate>
      <lazy-hydrate :trigger-hydration="!loading" v-if="isLazyHydrateEnabled">
        <product-listing-slider
          v-if="exclusiveProducts[0] && exclusiveProducts[0].length > 4"
          class="exclusive-to-jollyes container pt20 pb20 bg-cl-light-gray"
          :per-page-custom="[[200, ['auto', 10]], [768, [3, 15]], [992, [4, 40]], [1200, [5, 45]]]"
          :sec-title="'Exclusive to Jollyes'"
          :sub-title="'Want to know more? Expert advices from Jollyes the Pet People'"
          :products="exclusiveProducts[0] instanceof Array ? exclusiveProducts[0] : []"
          :slider-id="'exclusive-products'"
        />
      </lazy-hydrate>
      <lazy-hydrate when-visible>
        <div class="favorite-bands-section carousel-skeleton">
          <favorite-brands v-if="ourBrands && ourBrands.length > 0" class="favorite-bands-home bg-cl-light-gray container p0" :sec-title="'Our favourite brands'" :slider-id="'favorite-bands'" :per-page-custom="[[200, [4, 20]], [768, ['auto', 20]], [1380, ['auto', 42]]]" :brand-data="ourBrands" :class="{ 'remove-bg' : exclusiveProducts[0] && exclusiveProducts[0].length < 4 }" />
          <div class="skeleton container" v-else />
        </div>
      </lazy-hydrate>
      <looking-dog-food class="container p0 category-offer-banner" v-if="promotionalBannerUrl" :link="getCurrentCategory.promotionalurl2" :image="promotionalBannerUrl" />
    </div>
    <div class="category-listing" v-else-if="getCurrentCategory.parent_id > 2">
      <div v-if="getCurrentCategory.promotionalbanner && getCurrentCategory.promotionalbanner != ''">
        <category-banner-slider class="category-banner container p0" :banner-slides="getCurrentCategory.promotionalbanner" :slider-id="'category-banner'" :per-page-custom="[['auto', [1, 0]]]" />
      </div>
      <breadcrumbs />
      <div class="sub-category sub-category container">
        <div class="block-title flex between-xs">
          <h1>
            <span class="sub-category-title">{{ getCurrentCategory.name }}</span>
            <div class="sec-subtitle" v-if="getCurrentCategory.description" v-html="getCurrentCategory.description" />
          </h1>
        </div>
      </div>
      <lazy-hydrate when-idle>
        <sub-category-slider
          :category="SubChildCatData"
          class="sub-category small-space container"
          :slider-id="'sub-category'"
          :per-page-custom="[[200, ['auto', 15]],[576, [6, 20]], [768, [6, 20]], [1200, [8, 30]]]"
        />
      </lazy-hydrate>
      <div class="container category-product-list" id="categoryProducts">
        <div class="flex">
          <div class="col-md-3 p0 category-filters mobile-filters brdr-right-1 brdr-cl-gray-979797" v-show="mobileFilters" v-observe-visibility="{
            callback: (isVisible, entry) => visibilityChanged(isVisible, entry, 'sidebar'),
            once: true,
          }"
          >
            <lazy-hydreate v-if="sectionList.sidebar" when-visible>
              <div class="close-container absolute w-100 hidden-lg hidden-xl">
                <i class="p5 close cl-accent pointer" @click="closeFilters">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" />
                  </svg>
                </i>
              </div>
              <sidebar :filters="getAvailableFilters" @changeFilter="changeFilter" />
              <button-full
                class="mt10 mb20 btn_filter hidden-md"
                @click="closeFilters"
              >
                {{ $t('Filter') }}
              </button-full>
            </lazy-hydreate>
          </div>

          <div class="col-md-9 products-list p0 small-space bg-cl-light-gray">
            <div v-observe-visibility="{
              callback: (isVisible, entry) => visibilityChanged(isVisible, entry, 'filters'),
              once: true,
            }"
            >
              <div class="sorting-row container" v-if="sectionList.filters">
                <p class="count-items">
                  {{ $t('{count} items', { count: getCategoryProductsTotal }) }}
                  {{ $t('found in:') }}
                  <strong>
                    {{ getCurrentCategory.name }}
                    <span class="close-icon" @click="closeCategory()" />
                  </strong>
                </p>
                <div class="sorting flex">
                  <PerPage :value="perPage" />
                  <sort-by
                    :has-label="true"
                    @change="changeFilter"
                    :value="getCurrentSearchQuery.sort"
                  />
                </div>
              </div>
              <div class="row m0 swap-div mobile-filter-row" v-if="sectionList.filters">
                <lazy-hydrate when-visible>
                  <div class="mobile-sorting col-xs-2">
                    <PerPage :value="perPage" />
                  </div>
                  <div class="mobile-sorting col-xs-6">
                    <sort-by
                      @change="changeFilter"
                      :value="getCurrentSearchQuery.sort"
                    />
                  </div>
                  <div class="col-xs-4 mobile-filter">
                    <button
                      class="mobile-filters-button cl-balck fs-medium-small bg-cl-white"
                      @click="openFilters"
                    >
                      {{ $t('Filters') }}
                    </button>
                  </div>
                </lazy-hydrate>
              </div>
            </div>
            <div class="container small-space no-found" v-if="isCategoryEmpty">
              <h4 data-testid="noProductsInfo">
                {{ $t('No products found!') }}
              </h4>
              <p>{{ $t('Please change Your search criteria and try again. If still not finding anything relevant, please visit the Home page and try out some of our bestsellers!') }}</p>
            </div>
            <div v-else v-observe-visibility="{
              callback: (isVisible, entry) => visibilityChanged(isVisible, entry, 'productList'),
              once: true,
            }"
            >
              <lazy-hydrate when-visible v-if="sectionList.productList">
                <div>
                  <product-listing
                    is-categoy-page="1"
                    :columns="defaultColumn"
                    :products="getCategoryProducts"
                    class="product-row1"
                    :total-products="getCategoryProductsTotal"
                    :category="getCurrentCategory"
                  />
                  <div class="product-skeleton-list" v-if="!getCategoryProducts.length">
                    <div class="skeleton-item" v-for="index in 8" :key="index">
                      <div class="skeleton-image" />
                    </div>
                  </div>
                </div>
              </lazy-hydrate>
              <div v-observe-visibility="{
                callback: (isVisible, entry) => visibilityChanged(isVisible, entry, 'pagination'),
                once: true,
              }"
              >
                <lazy-hydrate when-visible v-if="sectionList.pagination">
                  <pagination :perpage="perPage" :current="current" />
                </lazy-hydrate>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="site-loader-wrap" v-else>
      <div class="site-ajax-loader" />
    </div>
  </div>
</template>

<script>
import LazyHydrate from 'vue-lazy-hydration'
import Sidebar from '../components/core/blocks/Category/Sidebar.vue'
import Breadcrumbs from '../components/core/Breadcrumbs.vue'
import SortBy from '../components/core/SortBy.vue'
import PerPage from '../components/core/PerPage.vue'
import { isServer } from '@vue-storefront/core/helpers'
import { Logger } from '@vue-storefront/core/lib/logger'
import { getSearchOptionsFromRouteParams } from '@vue-storefront/core/modules/catalog-next/helpers/categoryHelpers'
import config from 'config'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import { mapGetters } from 'vuex'
import { catalogHooksExecutors } from '@vue-storefront/core/modules/catalog-next/hooks'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import { htmlDecode } from '@vue-storefront/core/filters'
import SubCategorySlider from 'theme/components/core/blocks/Category/SubCategorySlider'
import SubCategoryQuickLinks from 'theme/components/core/blocks/Category/SubCategoryQuickLinks'
import CategoryBannerSlider from 'theme/components/theme/blocks/Category/CategoryBannerSlider'
import { getCategoryUrl, getFbId } from 'theme/helpers'
import { quickSearchByQuery } from '@vue-storefront/core/lib/search';
import { SearchQuery } from 'storefront-query-builder'
import { formatCategoryLink } from '@vue-storefront/core/modules/url/helpers';
import Pagination from 'src/modules/vue-storefront-pagination/components/Pagination'
import { productImageUrl } from 'theme/helpers'

let THEME_PAGE_SIZE = 40
const composeInitialPageState = async (store, route, forceLoad = false) => {
  try {
    const filters = getSearchOptionsFromRouteParams(route.params)
    const cachedCategory = store.getters['category-next/getCategoryFrom'](route.path)
    const currentCategory = cachedCategory && !forceLoad ? cachedCategory : await store.dispatch('category-next/loadCategory', { filters })
    const paginationCategory = store.getters['pagination/getCategory'];
    const ourBrand = store.getters['ourbrands/getOurBrandslist']
    const trendingProducts = store.getters['trendingProducts/getTrendingProductslist']
    const exclusiveProducts = store.getters['exclusiveProducts/getExclusiveProductslist']

    if (currentCategory.level === 2 || ourBrand.length === 0 || paginationCategory !== currentCategory.id) {
      store.dispatch('ourbrands/getOurBrandslist', currentCategory.id);
    }
    if (currentCategory.level === 2 || exclusiveProducts.length === 0 || paginationCategory !== currentCategory.id) {
      store.dispatch('exclusiveProducts/getExclusiveProductslist', currentCategory.id);
    }
    if (currentCategory.level === 2 || trendingProducts.length === 0 || paginationCategory !== currentCategory.id) {
      store.dispatch('trendingProducts/getTrendingProductslist', currentCategory.id);
    }

    let pageSize = store.getters['url/isBackRoute'] ? store.getters['url/getCurrentRoute'].categoryPageSize : (store.getters['category-next/getCategorySearchProductsStats'] && store.getters['category-next/getCategorySearchProductsStats'].perPage) ? store.getters['category-next/getCategorySearchProductsStats'].perPage : THEME_PAGE_SIZE
    let page = store.getters['url/getCurrentRoute'].query.page;
    await store.dispatch('pagination/loadCategoryProducts', { route, category: currentCategory, pageSize, page, isMobile: !!(!isServer && window.innerWidth <= 768) })
    store.dispatch('pagination/prefetchProducts', { page: page })
    const breadCrumbsLoader = store.dispatch('category-next/loadCategoryBreadcrumbs', { category: currentCategory, currentRouteName: currentCategory.name, omitCurrent: true })
    if (isServer) await breadCrumbsLoader
    catalogHooksExecutors.categoryPageVisited(currentCategory)
  } catch (e) {
    Logger.error('Problem with setting Category initial data!', 'category', e)()
  }
}

export default {
  components: {
    LazyHydrate,
    ButtonFull,
    Breadcrumbs,
    Sidebar,
    SortBy,
    PerPage,
    SubCategorySlider,
    CategoryBannerSlider,
    SubCategoryQuickLinks,
    ProductListing: () => import(/* webpackPrefetch: true */ 'theme/components/core/ProductListing'),
    FavoriteBrands: () => import(/* webpackPrefetch: true */ 'theme/components/core/blocks/Category/FavoriteBrands'),
    ProductListingSlider: () => import(/* webpackPrefetch: true */ 'theme/components/core/blocks/Category/ProductListingSlider'),
    LookingDogFood: () => import(/* webpackPrefetch: true */ 'theme/components/core/blocks/Offers/LookingDogFood'),
    Pagination,
    BlockWithTitle: () => import('theme/components/core/blocks/Cms/BlockWithTitle')
  },
  data () {
    return {
      SlideHtml: null,
      mobileFilters: false,
      defaultColumn: 4,
      loadingProducts: false,
      loading: true,
      parentIDofChild: 0,
      lastLevelChild: null,
      SubChildCatData: [],
      OurBrandData: [],
      getExclusiveJollyes: [],
      currentPage: 1,
      sectionList: {
        productList: false,
        pagination: false,
        filters: false
      }
    }
  },
  computed: {
    ...mapGetters({
      getCurrentSearchQuery: 'category-next/getCurrentSearchQuery',
      getCategoryProducts: 'category-next/getCategoryProducts',
      getCurrentCategory: 'category-next/getCurrentCategory',
      getCategoryProductsTotal: 'category-next/getCategoryProductsTotal',
      getAvailableFilters: 'category-next/getAvailableFilters',
      getCategories: 'category-next/getCategories',
      ourBrands: 'ourbrands/getOurBrandslist',
      trendingProducts: 'trendingProducts/getTrendingProductslist',
      exclusiveProducts: 'exclusiveProducts/getExclusiveProductslist',
      categorySearchState: 'category-next/getCategorySearchProductsStats'
    }),
    current () {
      return this.currentPage
    },
    perPage () {
      let pageNumber = Number(this.categorySearchState.perPage) || THEME_PAGE_SIZE
      return (pageNumber % 2 !== 0) ? pageNumber + 1 : pageNumber
    },
    isLazyHydrateEnabled () {
      return config.ssr.lazyHydrateFor.includes('category-next.products')
    },
    isCategoryEmpty () {
      return this.getCategoryProductsTotal === 0
    },
    isMobile () {
      if (isServer) return false
      if (window.innerWidth <= 768) {
        return true
      }
      return false
    },
    promotionalBannerUrl () {
      let promotionalBannerUrl = ''
      if (this.isMobile) {
        if (this.getCurrentCategory.mobileimage2 !== null && this.getCurrentCategory.hasOwnProperty('mobileimage2') === true) {
          const banner1 = this.getCurrentCategory.mobileimage2.split(/[/ ]+/).pop();
          promotionalBannerUrl = this.getCategoryImage(banner1)
        }
      } else {
        if (this.getCurrentCategory.promotionalimage2 !== null && this.getCurrentCategory.hasOwnProperty('promotionalimage2') === true) {
          const banner2 = this.getCurrentCategory.promotionalimage2.split(/[/ ]+/).pop();
          promotionalBannerUrl = this.getCategoryImage(banner2)
        }
      }
      return promotionalBannerUrl
    }
  },
  async asyncData ({ store, route, context }) { // this is for SSR purposes to prefetch data - and it's always executed before parent component methods
    if (context) context.output.cacheTags.add('category')
    await composeInitialPageState(store, route)
  },
  async beforeRouteEnter (to, from, next) {
    if (isServer) next() // SSR no need to invoke SW caching here
    else if (!from.name) { // SSR but client side invocation, we need to cache products and invoke requests from asyncData for offline support
      next(async vm => {
        vm.loading = true
        await composeInitialPageState(vm.$store, to, true)
        await vm.$store.dispatch('category-next/cacheProducts', { route: to }) // await here is because we must wait for the hydration
        vm.loading = false
      })
    } else { // Pure CSR, with no initial category state
      next(async vm => {
        vm.loading = true
        vm.$store.dispatch('category-next/cacheProducts', { route: to })
        vm.loading = false
      })
    }
  },
  watch: {
    '$route' (nV, oV) {
      this.currentPage = nV.query.page || 1
      this.SubChildCatData = []
      this.parentIDofChild = 0;
      this.getSubCategory()
    }
  },
  methods: {
    visibilityChanged (is_visible, entry, section) {
      this.sectionList[section] = is_visible
    },
    closeCategory () {
      let returnURL = '';
      const splitUrlPath = this.getCurrentCategory.url_path.split('/')
      if (splitUrlPath.length > 1) {
        splitUrlPath.pop()
      }
      if (splitUrlPath.length > 0) {
        const urlString = splitUrlPath.join('/')
        returnURL = urlString + '.html'
      }
      this.$router.push(this.localizedRoute('/' + returnURL))
    },
    openFilters () {
      this.mobileFilters = true
    },
    closeFilters () {
      this.mobileFilters = false
    },
    async changeFilter (filterVariant) {
      await this.$store.dispatch('pagination/switchSearchFilters', [filterVariant])
    },
    columnChange (column) {
      this.defaultColumn = column
    },
    async getSubCategory () {
      let subCatData = [];
      this.parentIDofChild = this.getCurrentCategory.parent_id
      if (this.parentIDofChild > 0) {
        let searchQuery = new SearchQuery()
        const size = 50
        const start = 0
        const sort = 'position:asc'
        const includeFields = config.entities.optimize ? config.entities.category.includeFields : null
        const excludeFields = config.entities.optimize ? config.entities.category.excludeFields : null
        searchQuery.applyFilter({ key: 'id', value: { 'eq': this.parentIDofChild } })
        const responseData = await quickSearchByQuery({ entityType: 'category', query: searchQuery, sort: sort, size: size, start: start, includeFields: includeFields, excludeFields: excludeFields })
        if (responseData.items && responseData.items.length === 1) {
          const subCatData = responseData.items[0].children_data
          this.SubChildCatData = subCatData.sort((a, b) => {
            return a.position - b.position
          });
        }
      }

      if (this.SubChildCatData && this.SubChildCatData.length > 0 && this.getCurrentCategory && this.getCurrentCategory.children_data) {
        subCatData = this.getCurrentCategory.children_data.filter(subcat => subcat.hasOwnProperty('show_in_menu') === false || (subcat.show_in_menu && subcat.show_in_menu === 1))
        if (subCatData && subCatData.length > 0) {
          this.SubChildCatData = subCatData.sort((a, b) => {
            return a.position - b.position
          });
        }
      }
    },
    getCategoryImage (img) {
      return getCategoryUrl(img)
    }
  },
  created () {
    this.currentPage = Number(this.$route.query.page) || 1
  },
  async mounted () {
    this.getSubCategory()
  },
  destroyed () {
    this.SubChildCatData = [];
  },
  metaInfo () {
    const storeView = currentStoreView()
    const { meta_title, meta_description, meta_keywords, name, category, slug, image } = this.getCurrentCategory
    const category_url = this.getCurrentCategory ? formatCategoryLink(this.getCurrentCategory) : ''
    const cat_full_url = config.aureatelabs.site_url + category_url;
    const category_image = image ? this.getCategoryImage(image) : '';
    const meta = [
      { vmid: 'description', name: 'description', content: meta_description ? htmlDecode(meta_description) : '' },
      { vmid: 'og:title', property: 'og:title', content: name || '' },
      { vmid: 'og:description', property: 'og:description', content: meta_description ? htmlDecode(meta_description) : '' },
      { vmid: 'meta_keywords', name: 'keywords', content: meta_keywords || '' },
      { vmid: 'og:image', property: 'og:image', content: productImageUrl(category_image, 'category-Page') },
      { vmid: 'og:url', property: 'og:url', content: cat_full_url },
      { vmid: 'og:type', property: 'og:type', content: 'website' },
      { vmid: 'fb:app_id', property: 'fb:app_id', content: getFbId() },
      { vmid: 'twitter:title', property: 'twitter:title', content: name || '' },
      { vmid: 'twitter:text:title', property: 'twitter:text:title', content: name || '' },
      { vmid: 'twitter:description', property: 'twitter:description', content: meta_description ? htmlDecode(meta_description) : '' },
      { vmid: 'twitter:image', property: 'twitter:image', content: category_image },
      { vmid: 'twitter:url', property: 'twitter:url', content: cat_full_url }
    ]

    return {
      title: htmlDecode(meta_title || name),
      meta
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-979797: color(gray-979797);
  .btn {
    &__filter {
      min-width: 100px;
    }
  }
  .divider {
    width: calc(100vw - 8px);
    bottom: 20px;
    left: -36px;
  }

  .mobile-sorting {
    display: none;
  }

  .category-title {
    line-height: 65px;
  }

  .sorting {
    label {
      margin-right: 10px;
    }
  }

  @media (max-width: 991px) {
    .category-title {
      margin: 0;
      font-size: 36px;
      line-height: 40px;
    }

    .products-list {
      width: 100%;
      max-width: none;
      flex-basis: auto;
    }

    .mobile-filters-button {
      display: block;
      height: 45px;
      background-image: url(/assets/icons/icon-filter.png);
      background-repeat: no-repeat;
      border: 1px solid $gray-979797;
      padding-left: 40px;
      background-size: 24px;
      background-position: left 10px center;
      text-align: left;
      width: 100%;
      font-size: 14px;
    }

    .sorting {
      display: none;
      select {
        width: 100%;
      }
    }

    .mobile-sorting {
      display: block;
      padding-right: 7.5px;
    }

    .mobile-filter {
      padding-left: 7.5px;
    }

    .product-listing {
      margin-top: 25px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .mobile-filters {
      position: fixed;
      background-color: #F2F2F2;
      z-index: 1000;
      padding: 20px 35px;
      left: 0;
      width: 100%;
      flex-basis: 100%;
      max-width: 100%;
      height:100vh;
      top: 0;
      box-sizing: border-box;
      overflow-y: auto;
      border-right: 0px;
      .sidebar {
        position: relative;
        width: 100%;
        .main-filter-sidebar {
          width: 100%;
          height: auto;
        }
      }
    }

    .mobile-filters-body {
      padding-top: 50px;
    }
  }
  @media (max-width: 767px) {
    .product-listing {
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 10px;
    }
  }

  .close-container {
    left: 0;
    top: 0;
  }

  .close {
    margin-left: auto;
  }
</style>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$red: color(red);
$oat: color(oat);
$tertiary: color(tertiary);
.favorite-bands-home {
  &.remove-bg{
    background: none;
  }
  .favorite-brands {
    background-color: $oat;
    .favorite-brands-swiper {
      max-width: 100%;
      padding: 0;
      overflow: hidden;
      h3 {
        display: none;
      }
    }
  }
  @media (min-width: 768px) {
    .swiper-slide{
      width: 150px;
    }
  }
}
.category-banner{
  overflow: hidden;
}
#category{
  .sub-category{
    padding-left:15px;
    padding-right:15px;
    font-optical-sizing: none;
    .sub-category-title {
      display: block;
      min-height: 21px;
    }
    .block-title{
      text-align:center;
      padding-top:15px;
      padding-bottom:0px;
      h1{
        width:100%;
        font-size: 24px;
        .sec-subtitle,.sec-subtitle p{
          font-size:18px;
          max-width:1400px;
          margin:15px auto 0;
          line-height: 1.5;
          @media (max-width: 767px) {
            font-size:15px;
          }
        }
        .sec-subtitle p {
          padding-top: 0;
          padding-bottom: 0;
          margin-top: 0;
        }
      }
      p{
        padding-top:15px;
      }
      .swiper-arrows{
        display:none;
      }
    }
    .category-swiper{
      max-width:1140px;
      margin:0 auto;
      .swiper-slide{
        span{
          display:block;
          position: relative;
          padding-top: 100%;
          img{
            border-radius: 100%;
            filter: grayscale(25%);
            max-width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            @media only screen and (max-width: 575px)  {
              width: 80px;
              height: 80px;
            }
          }
        }
        &:hover,
        .active{
          span{
            img{
              filter: grayscale(0);
            }
          }
          h4 {
            color: $red;
          }
        }
      }
    }
    @media (max-width: 767px) {
      padding-left:10px;
      padding-right:10px;
      .block-title{
        h2{
          .sec-subtitle{
            font-size:14px;
          }
        }
      }
      .category-swiper{
        .swiper-slide{
          span{
            &:after{
              border: solid 5px $red;
            }
          }
          a{
            span{
              margin-bottom:15px;
            }
          }
        }
      }
    }
    @media (max-width: 576px) {
      .category-swiper{
        .swiper-slide{
          max-width:80px;
        }
      }
    }
  }
}
.category-promotional-banner{
  .promotional-banner{
    align-items: flex-end;
    .banner-img{
      margin-top: 20px;
      width: 51%;
      img{
        display: block;
        max-width: 100%;
      }
    }
    .banner-info{
      padding-left: 85px;
      padding-bottom: 75px;
      width: 49%;
      h2{
        font-size: 76px;
        padding-bottom:20px;
      }
      h3{
        font-size: 33px;
        padding-bottom:15px;
      }
      p{
        font-size: 23px;
        line-height: 1.3;
      }
    }
    @media (max-width: 1360px) {
      .banner-info{
        padding-left: 45px;
        h2{
          font-size: 55px;
          padding-bottom:10px;
        }
        h3{
          font-size: 29px;
        }
        p{
          font-size: 20px;
        }
      }
    }
    @media (min-width: 992px) {
      .banner-info{
        order: 2;
      }
    }
    @media (max-width: 992px) {
      &.d-flex{
        display: block;
      }
      .banner-img{
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .banner-info{
        width: 100%;
        padding: 0;
        text-align: center;
      }
    }
  }
  @media (max-width: 767px) {
    .promotional-banner{
      .banner-info{
        padding-top: 25px;
      }
    }
  }
}
.sorting-row{
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding-bottom:25px;
  .count-items{
    padding: 0;
    > strong{
      padding-left: 10px;
    }
  }
  .close-icon{
    background: url(/assets/icons/close-icon.png);
    width: 19px;
    height: 18px;
    display: inline-flex;
    cursor: pointer;
    vertical-align: middle;
    margin-top: -8px;
    background-size: 100% auto;
    font-size: 13px;
  }
}
.products-list{
  .no-found{
    padding-bottom:0px;
    h4{
      margin-bottom:10px;
    }
    p{
      padding-bottom:0px;
    }
  }
}
.product-listing{
  @media (max-width: 767px) {
    > div{
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
.exclusive-to-jollyes{
  .bg-svg{
    display: none;
  }
}
.category-favorite-bands{
  overflow: hidden;
  .swiper-slide{
    max-width:160px;
  }
}
.department-page{
  .offer-banner-slider {
    padding-top: 33.36%;
    @media (max-width: 767px) {
      padding-top: 71.45%;
    }
  }
  .intro-block {
    padding-bottom: 0;
  }
  .category-quicklinks {
    padding-top: 25px;
  }
  .intro-block{
    h1{
      font-size: 24px;
      line-height: 1.3;
      margin-bottom: 10px;
      @media (max-width: 767px) {
        font-size: 20px;
      }
    }
    p{
      padding-bottom: 0px;
    }
  }
}
.department-banner{
  img{
    width: 100%;
  }
}
.category-offer-banner{
  img{
    display:block;
    width:100%;
  }
}
.exclusive-to-jollyes,
.latest-treatments,
.best-for-dogs{
  .product-slider{
    .swiper-slide{
      height: auto;
      .product {
        height: 100%;
        margin-bottom: 0;
      }
    }
  }
  @media (max-width: 767px) {
    .product-slider{
      .swiper-slide{
        max-width:182px;
        height: auto;
        .product {
          height: 100%;
          margin-bottom: 0;
        }
      }
    }
    .swiper-arrows{
      padding-right:15px;
    }
    &.container{
      padding-right:0;
    }
  }
}
@media (max-width: 991px) {
  .mobile-sorting {
    .sort-by{
      width: 100%;
    }
    .select1 {
      width: 100%;
      padding: 13px 15px 13px 7px;
      font-size: 13px;
      height: 45px;
      background-size: 10px auto;
      background-position: right 5px center;
      @media (max-width: 767px) {
        font-size: 14px;
      }
    }
  }
  .main-filter-sidebar {
    width: 100%;
    height: auto;
    .filter-block{
        padding: 0 15px;
        h3{
          margin: 15px 0;
        }
      &:last-child{
        border-bottom: 0px;
      }
    }
  }
  .category-listing{
    .category-product-list{
      padding: 0;
    }
  }
}
 .category-filters{
   .btn_filter{
     width: 100%;
     padding: 10px;
     margin-top:15px;
     display: block;
     text-align: center;
     background: #979797;
     display: none;
     @media (max-width: 991px) {
       display: block;
     }
   }
 }
@media (min-width: 992px) {
  .category-filters{
    &.mobile-filters{
      display: block !important;
      position: sticky;
      top: 182px;
      align-self: flex-start;
      margin-bottom: 50px;
    }
  }
  .mobile-filter-row{
    display: none !important;
  }
}
@media (max-width: 991px) {
  .products-list{
    .sorting-row{
      display: none;
    }
  }
}
@media (max-width: 419px) {
  .mobile-filter-row{
    padding: 0 10px;
    .col-xs-6{
      padding: 0;
      &.mobile-sorting{
        padding-right:5px;
      }
      &.mobile-filter{
        padding-left:5px;
      }
    }
  }
}
.product-skeleton-list {
  display: flex;
  flex-wrap: wrap;
  @media only screen and (max-width: 992px) {
    margin-top: 25px;
  }
  @media only screen and (max-width: 767px) {
    margin-bottom: 10px;
  }
  .skeleton-item {
    flex-basis: 25%;
    max-width: 25%;
    padding-right: 15px;
    padding-left: 15px;
    @media only screen and (min-width: 768px) and (max-width: 992px) {
      flex-basis: 33.33%;
      max-width: 33.33%;
    }
    @media only screen and (max-width: 767px) {
      flex-basis: 50%;
      max-width: 50%;
      padding-left: 5px;
      padding-right: 5px;
    }
    .skeleton-image {
      padding-top: calc(300% / (156.5 / 100));
      margin-bottom: 25px;
      position: relative;
      border-radius: 8px;
      overflow: hidden;
      @media only screen and (min-width: 768px) and (max-width: 992px) {
        padding-top: calc(300% / (147 / 89));
      }
      @media only screen and (max-width: 767px) {
        padding-top: calc(300% / (200 / 120));
      }
      @media only screen and (max-width: 575px) {
        padding-top: calc(300% / (147 / 112));
      }
      &::after {
        content: '';
        animation: refresh 2s infinite linear;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0.2;
        background-color: $tertiary;
      }
    }
  }
}
@keyframes refresh {
  0% {
    opacity: 0.2;
  }
  40%{
    opacity: 0.6;
  }
   100% {
    opacity: 0.2;
  }
}
.category-listing {
  .skeleton-wrap {
    padding-top: 25px;
    padding-bottom: 25px;
    margin: auto;
    .speical-skeleton-content {
      display: flex;
      justify-content: center;
      .item {
        margin: 0 8px;
        width: 136.25px;
        .skeleton-image {
          max-width: 116px;
          height: 116px;
          margin: auto;
          border-radius: 50%;
          overflow: hidden;
        }
        .skeleton-line {
          height: 20px;
          max-width: 150px;
          margin: 20px auto 16px;
        }
        @media only screen and (min-width: 576px) and (max-width: 1200px)  {
          width: 16.66%;
          .skeleton-image {
            padding-top: 100%;
            max-width: 100%;
            height: auto;
          }
          &:nth-last-child(-n+2) {
            display: none;
          }
        }
        @media only screen and (max-width: 575px)  {
          width: 76px;
          flex: 0 0 76px;
          &:first-child {
            margin-left: 0;
          }
          .skeleton-image {
            max-width: 76px;
            height: 76px;
          }
          .skeleton-line {
            margin-bottom: 0;
            height: 17px;
          }
          &:nth-last-child(-n+5) {
            display: none;
          }
        }
      }
      @media only screen and (max-width: 575px)  {
        justify-content: flex-start;
        margin-top: 25px;
      }
    }
    @media only screen and (max-width: 767px)  {
      padding-bottom: 20px;
    }
  }
  @media only screen and (max-width: 767px)  {
    .breadcrumbs {
      min-height: 58px;
    }
  }
}
.category-trustpilot-section {
  min-height: 310px;
  @media only screen and (max-width: 767px) {
    min-height: 220px;
  }
}
.favorite-bands-section {
  min-height: 315px;
  @media only screen and (min-width: 993px) and (max-width: 1024px) {
    min-height: 306px;
  }
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    min-height: 295px;
  }
  @media only screen and (max-width: 767px) {
    min-height: 163px;
  }
}
</style>
