<template>
  <div id="checkout" class="bg-cl-light-gray py20" :class="{'thankyoupage': isThankYouPage}">
    <div class="container">
      <div class="row" v-show="!isThankYouPage || !showThankYouPage">
        <div class="col-lg-9 col-xs-12 checkout-left">
          <delivery-option :is-active="true" />
          <personal-details
            class="line relative checkout-box px15 py15 bg-cl-white mb20 brdr-1 brdr-cl-gray"
            :is-active="activeSection.personalDetails"
            :focused-field="focusedField"
          />
          <shipping class="line relative checkout-box px15 py15 bg-cl-white mb20 brdr-1 brdr-cl-gray" :is-active="activeSection.shipping" v-if="!isVirtualCart" />
          <payment class="line relative checkout-box px15 py15 bg-cl-white mb20 brdr-1 brdr-cl-gray" :is-active="activeSection.payment" />
          <order-review class="line relative checkout-box px15 bg-cl-white mb20 brdr-1 brdr-cl-gray" :is-active="true" v-show="isMobile" />
          <div class="bg-cl-transparent cart-right" v-if="isMobile">
            <cart-summary :show-payment="showPaymentBar" />
          </div>
          <div class="flex between-xs middle-xs mb10 termswrap">
            <base-checkbox
              id="terms"
              v-model="conditions"
              :validations="[{
                condition: !$v.conditions.sameAs && $v.conditions.$error
              }]"
            >
              <a target="_blank" href="/i/terms-and-conditions"> {{ $t('I accept terms and conditions') }} *</a>
            </base-checkbox>
          </div>
          <div class="button-container" :class="isMobile ? 'cart-summary-proceed-btn my20' : 'mb20'" v-show="!showPaymentSection">
            <button-full @click.native="setShowPaymentSection();">
              {{ $t("Continue to payment") }}
            </button-full>
          </div>
          <div class="order-review line relative checkout-box px15 bg-cl-white mb20 brdr-1 brdr-cl-gray" :class="isMobile ? 'mt20' : ''" v-show="showPaymentSection">
            <div class="mt20 mb20 bg-cl-white">
              <h3 class="mb15 h3">
                {{ $t("Payment methods") }}
              </h3>
              <AdyenPayments @orderPlace="placeOrder" :style="showPaymentBar ? 'pointer-events:none; opacity: 0.5;' :null" />
            </div>
          </div>
        </div>
        <div class="col-lg-3 bg-cl-transparent cart-right" v-if="!isMobile">
          <cart-summary :show-payment="showPaymentBar" />
        </div>
      </div>
    </div>
    <thank-you-page v-show="isThankYouPage && showThankYouPage" />
  </div>
</template>

<script>
import Checkout from '@vue-storefront/core/pages/Checkout'
import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox.vue'
import PersonalDetails from 'theme/components/core/blocks/Checkout/PersonalDetails'
import Shipping from 'theme/components/core/blocks/Checkout/Shipping'
import Payment from 'theme/components/core/blocks/Checkout/Payment'
import OrderReview from 'theme/components/core/blocks/Checkout/OrderReview'
import CartSummary from 'theme/components/core/blocks/Checkout/CartSummary'
import ThankYouPage from 'theme/components/core/blocks/Checkout/ThankYouPage'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { OrderModule } from '@vue-storefront/core/modules/order'
import DeliveryOption from '../components/core/DeliveryOption.vue'
import { getCookie } from 'theme/helpers'
import { Logger } from '@vue-storefront/core/lib/logger'
import { mapGetters } from 'vuex'
import EventBus from '@vue-storefront/core/compatibility/plugins/event-bus'
import ButtonFull from 'theme/components/theme/ButtonFull'
import { isServer } from '@vue-storefront/core/helpers'
import { sameAs } from 'vuelidate/lib/validators'

export default {
  components: {
    BaseCheckbox,
    PersonalDetails,
    Shipping,
    Payment,
    OrderReview,
    CartSummary,
    ThankYouPage,
    DeliveryOption,
    ButtonFull,
    AdyenPayments: () =>
      import('src/modules/adyen/components/AdyenPayments.vue')
  },
  validations: {
    conditions: {
      sameAs: sameAs(() => true)
    }
  },
  mixins: [Checkout],
  beforeCreate () {
    registerModule(OrderModule)
  },
  computed: {
    ...mapGetters({
      getCarttotals: 'cart/getTotals',
      adyenOrder: 'payment-adyen/getAdyenOrderData',
      product: 'product/getProducts'
    }),
    isMobile () {
      if (isServer) return false
      if (window.innerWidth <= 768) {
        return true
      }
      return false
    }
  },
  mounted () {
    this.$store.commit('ui/setMicrocart', false)
    this.$store.commit('ui/setSidebar', false)
    // this.$bus.$on('checkout-after-shippingDetails', this.onAfterShippingDetails)
  },
  label: {
    type: Boolean,
    required: false,
    default: true
  },
  data () {
    return {
      showPaymentSection: false,
      showPaymentBar: true,
      forceHidePaymentBar: false,
      showThankYouPage: false,
      conditions: false
    }
  },
  watch: {
    validationResults: {
      handler (value) {
        if (value.shipping.$invalid === false && value.payment.$invalid === false && !this.forceHidePaymentBar && this.showPaymentBar) {
          this.showPaymentBar = false
        }
        if (value.shipping.$invalid !== false || value.payment.$invalid !== false ||
          (value.personalDetails.personalDetails === undefined || value.personalDetails.personalDetails.$invalid !== false)) {
          this.showPaymentSection = false
          this.$bus.$emit('all-section-validated', false);
        }
        if (value.shipping.$invalid === false && value.payment.$invalid === false &&
          (value.personalDetails.personalDetails !== undefined && value.personalDetails.personalDetails.$invalid === false)) {
          this.$bus.$emit('all-section-validated', true);
        }
        this.$bus.$emit('all-section-validation', {
          shipping: value.shipping.$invalid,
          payment: value.payment.$invalid,
          personalDetails: value.personalDetails.personalDetails !== undefined ? value.personalDetails.personalDetails.$invalid : false
        });
      },
      deep: true
    },
    forceHidePaymentBar: {
      handler (value) {
        this.showPaymentBar = value
      },
      deep: true
    },
    conditions: {
      handler (value) {
        if (this.$v.$invalid) {
          this.showPaymentSection = false
        }
      }
    }
  },
  async beforeMount () {
    this.$bus.$on('payment-show-thank-you-page', this.setShowThankYouPage)
  },
  beforeDestroy () {
    this.$bus.$off('payment-show-thank-you-page', this.setShowThankYouPage)
  },
  methods: {
    setShowThankYouPage () {
      this.showThankYouPage = true
    },
    setShowPaymentSection () {
      this.showPaymentSection = (this.validationResults.shipping.$invalid === false && this.validationResults.payment.$invalid === false && (this.validationResults.personalDetails.personalDetails !== undefined && this.validationResults.personalDetails.personalDetails.$invalid === false) && this.$v.$invalid === false)
      if (this.showPaymentSection === false) {
        let validationMessage = '';
        if (this.validationResults.personalDetails.personalDetails === undefined || this.validationResults.personalDetails.personalDetails.$invalid) {
          validationMessage = this.$t('Please provide your valid personal information')
        } else if (this.validationResults.shipping.$invalid) {
          validationMessage = this.$t('Please enter required & valid shipping information')
        } else if (this.validationResults.payment.$invalid) {
          validationMessage = this.$t('Please enter required & valid billing information')
        } else if (this.$v.$invalid) {
          validationMessage = this.$t('You must accept the terms and conditions.')
        }
        if (validationMessage !== '') {
          this.$store.dispatch('notification/spawnNotification', {
            type: 'error',
            message: validationMessage,
            action1: { label: this.$t('OK') }
          })
        }
      } else {
        if (this.isMobile) {
          setTimeout(() => {
            const adyenBlockSection = document.querySelector('.adyen-block');
            adyenBlockSection.scrollIntoView();
          }, 50);
        }
      }
    },
    prepareOrder () {
      const localstoredata = getCookie('storelocator');
      if (localstoredata !== null) {
        const storeJsonData = JSON.parse(localstoredata);
        this.storeLocatorId = storeJsonData.shop_id
      }
      this.order = {
        user_id: this.$store.state.user.current ? this.$store.state.user.current.id.toString() : '',
        cart_id: this.$store.state.cart.cartServerToken ? this.$store.state.cart.cartServerToken.toString() : '',
        products: this.$store.state.cart.cartItems,
        addressInformation: {
          billingAddress: {
            region: this.payment.state,
            region_id: this.payment.region_id ? this.payment.region_id : 0,
            country_id: this.payment.country,
            street: [this.payment.streetAddress, this.payment.apartmentNumber],
            company: this.payment.company,
            telephone: this.payment.phoneNumber,
            postcode: this.payment.zipCode,
            city: this.payment.city,
            firstname: this.payment.firstName,
            lastname: this.payment.lastName,
            email: this.personalDetails.emailAddress,
            region_code: this.payment.region_code ? this.payment.region_code : '',
            vat_id: this.payment.taxId
          },
          shipping_method_code: this.shippingMethod.method_code ? this.shippingMethod.method_code : this.shipping.shippingMethod,
          shipping_carrier_code: this.shippingMethod.carrier_code ? this.shippingMethod.carrier_code : this.shipping.shippingCarrier,
          payment_method_code: this.getPaymentMethod(),
          payment_method_additional: this.adyenOrder,
          shippingExtraFields: { 'storelocator_id': this.storeLocatorId }
        }
      }
      if (!this.isVirtualCart) {
        this.order.addressInformation.shippingAddress = {
          region: this.shipping.state,
          region_id: this.shipping.region_id ? this.shipping.region_id : 0,
          country_id: this.shipping.country,
          street: [this.shipping.streetAddress, this.shipping.apartmentNumber],
          company: '',
          telephone: this.shipping.phoneNumber,
          postcode: this.shipping.zipCode,
          city: this.shipping.city,
          firstname: this.shipping.firstName,
          lastname: this.shipping.lastName,
          email: this.personalDetails.emailAddress,
          region_code: this.shipping.region_code ? this.shipping.region_code : ''
        }
      }

      return this.order
    },
    disablePaymentBox (param) {
      this.forceHidePaymentBar = param
    },
    notifyEmptyCart () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('Shopping cart is empty. Please add some products before entering Checkout'),
        action1: { label: this.$t('OK') }
      })
    },
    notifyOutStock (chp) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: chp.name + this.$t(' is out of stock!'),
        action1: { label: this.$t('OK') }
      })
    },
    notifyNotAvailable () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t('Some of the ordered products are not available!'),
        action1: { label: this.$t('OK') }
      })
    },
    notifyStockCheck () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('Stock check in progress, please wait while available stock quantities are checked'),
        action1: { label: this.$t('OK') }
      })
    },
    notifyNoConnection () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('There is no Internet connection. You can still place your order. We will notify you if any of ordered products is not available because we cannot check it right now.'),
        action1: { label: this.$t('OK') }
      })
    },
    async onAfterPlaceOrder (payload) {
      this.confirmation = payload.confirmation
      if (this.adyenOrder.resultCode === 'Authorised') {
        setTimeout(() => {
          this.$store.dispatch('payment-adyen/invoice', this.confirmation)
        }, 5000)
      }

      // this.$store.commit('criteo/addData', payload)
      this.$store.commit('rakuten/addRmTrans', { order: payload, totals: this.getCarttotals })
      this.$store.dispatch('checkout/setThankYouPage', true)
      this.$store.dispatch('user/getOrdersHistory', { refresh: true, useCache: true })
      Logger.debug(payload.order)()
    },
    checkStocks () {
      let isValid = true
      for (let child of this.$children) {
        if (child.hasOwnProperty('$v') && child.$refs.cartSummary === 'undefined') {
          if (child.$v.$invalid) {
            // Check if child component is Personal Details.
            // If so, then ignore validation of account creation fields.
            if (child.$v.hasOwnProperty('personalDetails')) {
              if (child.$v.personalDetails.$invalid) {
                isValid = false
                break
              }
            } else {
              isValid = false
              break
            }
          }
        }
      }

      if (typeof navigator !== 'undefined' && navigator.onLine) {
        if (this.stockCheckCompleted) {
          if (!this.stockCheckOK) {
            isValid = false
            this.notifyNotAvailable()
          }
        } else {
          this.notifyStockCheck()
          isValid = false
        }
      }
      return isValid
    },
    placeOrder () {
      return true;
    }
  }
}
</script>

<style lang="scss">
@import '~theme/css/base/text';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$bg-secondary: color(secondary, $colors-background);
$color-tertiary: color(tertiary);
$color-secondary: color(secondary);
$color-error: color(error);
$white: color(white);
$black: color(black);
$gray-979797: color(gray-979797);
$blue: color(blue);
$green: color(green);
$silver: color(silver);
$red: color(red);

#checkout {
  min-height: calc(100vh - 173px);
  .delivery-box {
    .qty-element-label {
      display: none;
    }
  }
  .radioStyled {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 16px;
    line-height: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      border-radius: 50%;
      border: 1px solid $bg-secondary;

      &:after {
        content: "";
        position: absolute;
        display: none;
        top: 3px;
        left: 3px;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background: $color-secondary;
      }
    }

    input:checked ~ .checkmark:after {
      display: block;
    }
  }
  .button-wrap.button-container {
    button {
      min-width: 250px;
      margin-left: 15px;
      @media (max-width: 767px) {
        margin: 0 15px;
        font-size: 13px;
        padding: 10px 5px;
        min-width: auto;
        margin: 0 5px;
        width: 50%;
      }
      &.add-address {
        background: $black;
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
  .show-address {
    &.active {
      display: flex;
    }
  }
  .shipping-address {
    flex-flow: row;
    flex-wrap: wrap;
    padding: 0 7px;
    .address-item {
      border: 1px solid $gray-979797;
      width: calc(33.33% - 15px);
      margin: 0 7px 15px;
      padding: 10px;
      min-height: 202px;
      position: relative;
      .address-box {
        padding-bottom: 5px;
        min-height: 150px;
        .full-name {
          width: calc(100% - 130px);
        }
        p {
          margin-bottom: 0;
          padding-bottom: 0;
          line-height: 1.5;
        }
      }
      .default-active {
        display: none;
      }
      &.primary-address {
        .default-active {
          position: absolute;
          right: 10px;
          top: 10px;
          color: $red;
          font-size: 14px;
          display: block;
        }
        input + label {
          &:before {
            background-color: $gray-979797;
            border-color: $gray-979797;
          }
          &:after{
            content: '';
            position: absolute;
            top: 11px;
            left: 5px;
            width: 11px;
            height: 5px;
            border: 2px solid $white;
            border-top: none;
            border-right: none;
            transform: rotate(-45deg);
          }
        }
      }
      .selected-box {
        p {
          font-size: 14px;
          margin-right: 5px;
          display: block;
          padding-bottom: 0;
          margin-top: 8px;
        }
        label {
          width: 25px;
          height: 25px;
        }
        input:checked + label {
          &:before {
            background-color: $gray-979797;
            border-color: $gray-979797;
          }
          &:after {
            top: 11px;
          }
        }
      }
    }
    @media (max-width: 1100px) {
      padding: 0 3px;
      .address-item {
        width: calc(50% - 15px);
      }
    }
    @media (max-width: 479px) {
      padding: 0;
      .address-item {
        width: calc(100% - 15px);
        margin: 0 10px 10px;
        min-height: 172px;
        .address-box {
          min-height: 120px;
        }
      }
    }
  }
  .checkout-left {
    label:not(.qty-element-label) {
      display: inline-flex;
    }
    .order-review {
      label:not(.qty-element-label) {
        display: block;
      }
    }
    .delivery-box{
      display: flex;
      align-items: flex-start;
      .delivery-item{
        width: 33.333333%;
        margin-right: 15px;
        min-height: 56px;
        &:last-child{
          margin-right: 0px;
        }
        &.delivery-collect {
          h2 {
            width: 100%;
          }
          label:after {
            top: 18px;
            transform: none;
          }
          .locator-wrap {
            max-height: 208px;
          }
          .store-data-block {
            align-items: center;
            .store-name {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    @media (max-width: 1420px) {
      .delivery-box{
        flex-wrap: wrap;
        .delivery-item{
          width: 49%;
          margin-right: 1%;
        }
      }
    }
    @media (max-width: 767px) {
      .delivery-box{
        display: block;
        .delivery-item{
          width: 100%;
          margin-right: 0;
        }
      }
    }
    @media (min-width: 990px) {
      padding-right: 5px;
    }
    @media (min-width: 767px) {
      .row{
        margin-left: -15px;
        margin-right: -15px;
      }
    }
  }
  ul.products {
    li {
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
  .cart-sidebar {
    width: 100%;
    .prices {
      .link {
        display: inline-block;
      }
    }
  }
  .product-border {
    .product-image {
      @media (min-width: 768px) {
        width: 152px;
      }
    }
  }
  .order-review {
    .cart-box {
      padding: 0 15px 15px;
    }
    .cart-list {
      padding: 20px 15px;
    }
  }
  input:checked + label {
    &:before {
      background-color: $green;
      border-color: $green;
    }
    &:after {
      background-color: transparent;
      border-width: 2px;
      top: 50%;
    }
  }
  input[type="checkbox"] + label {
    &:after {
      top: 10px;
    }
  }
  input + label {
    &:before {
      top: 5px;
    }
  }
  .billing-save {
    label {
      @media (max-width: 767px) {
        margin-top: 10px;
      }
      font-size: 16px;
      display: block;
    }
  }
  .icon-view {
    font-size: 16px;
    i {
      font-size: 18px;
      margin-left: 5px;
    }
    .width {
      min-width: 90px;
    }
    .billing-width {
      min-width: 135px;
    }
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (max-width: 767px) {
    .h3 {
      font-size: 18px;
    }
    .container{
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .number-circle {
    width: 35px;
    height: 35px;
    @media (max-width: 768px) {
      width: 25px;
      height: 25px;
      line-height: 25px;
    }
  }
  .base-input {
    input {
      border: 1px solid $gray-979797;
      padding: 8px 10px;
      height: 40px;
      font-size: 14px;
      line-height: normal;
      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 1.35;
      }
      + {
        label {
          top: -10px;
          background: $white;
          font-size: 14px;
          padding: 2px 4px;
          left: 6px;
          color: $black;
        }
      }
      label {
        top: 14px;
        left: 10px;
        color: $black;
      }
    }
    input.empty {
      + {
        label {
          top: 10px;
          left: 5px;
          color: $black;
        }
      }
    }
    &.input-right {
      @media (min-width: 767px) {
        padding-right: 0;
      }
    }
  }
  .checkout-box {
    h3 {
      font-size: 21px;
      @media (max-width: 1024px) {
        font-size: 18px;
      }
    }
    .icon {
      margin-right: 10px;
    }
    @media (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
  .button-container {
    .btn {
      text-transform: none;
      font-size: 16px;
      padding: 10px 25px;
      @media (max-width: 980px) {
        font-size: 15px;
        padding: 10px 15px;
        width: auto;
      }
    }
  }
  .termswrap {
    @media (max-width: 767px) {
      margin-top: 10px;
      .h4 {
        font-size: 14px;
        padding-left: 30px
      }
    }
  }
}
.checkout-title {
  @media (max-width: 767px) {
    background-color: $bg-secondary;
    margin-bottom: 25px;
    h1 {
      font-size: 36px;
    }
  }
}
.thankyoupage {
    padding: 0;
}
</style>
