<template>
  <div id="cms-page">
    <div v-html="cmsPageContent.content" />
  </div>
</template>

<script>
import config from 'config'
import { getFbId } from 'theme/helpers'
import CmsPage from '@vue-storefront/core/pages/CmsPage'
import { htmlDecode } from '@vue-storefront/core/filters'
import { mapActions, mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      isLogged: 'user/isLoggedIn'
    }),
    cmsPageContent () {
      return this.$store.state.cmsPage.current
    }
  },
  mixins: [CmsPage],
  mounted () {
    this.setRegisterLink(document.querySelectorAll('.btn_join'));
    this.setRegisterLink(document.querySelectorAll('.btn_login'));
  },
  methods: {
    setRegisterLink (btnElemt) {
      if (this.isLogged) {
        btnElemt.forEach(rb => {
          rb.remove();
        })
      } else {
        if (btnElemt && btnElemt.length > 0) {
          btnElemt.forEach(rb => {
            if (rb.tagName.toLowerCase() === 'button') {
              rb.addEventListener('click', (e) => {
                e.stopImmediatePropagation();
                this.openRegister();
                return false;
              });
            } else {
              let href = rb.getAttribute('href');
              if (href === '' || href === '#') {
                rb.addEventListener('click', (e) => {
                  e.stopImmediatePropagation();
                  if (rb.classList.contains('btn_join')) {
                    this.openRegister();
                  } else if (rb.classList.contains('btn_login')) {
                    this.openLoginForm();
                  } else {
                    return false;
                  }
                  return false;
                });
              }
            }
          })
        }
      }
    },
    ...mapActions({
      openLogin: 'ui/toggleLogin'
    }),
    openRegister () {
      this.openLogin();
      this.$store.commit('ui/setAuthElem', 'register')
    },
    openLoginForm () {
      this.openLogin();
      this.$store.commit('ui/setAuthElem', 'login')
    }
  },
  metaInfo () {
    const { meta_title, meta_description, meta_keyword, identifier, title } = this.cmsPageContent
    const main_logo = config.aureatelabs.site_url + '/assets/site-logo.png';
    const page_url = identifier ? config.aureatelabs.site_url + '/i/' + identifier : '';
    const meta = [
      { vmid: 'description', name: 'description', content: meta_description ? htmlDecode(meta_description) : '' },
      { vmid: 'og:title', property: 'og:title', content: title || '' },
      { vmid: 'og:description', property: 'og:description', content: meta_description ? htmlDecode(meta_description) : '' },
      { vmid: 'meta_keywords', name: 'keywords', content: meta_keyword || '' },
      { vmid: 'og:image', property: 'og:image', content: main_logo },
      { vmid: 'og:url', property: 'og:url', content: page_url },
      { vmid: 'og:type', property: 'og:type', content: 'website' },
      { vmid: 'fb:app_id', property: 'fb:app_id', content: getFbId() },
      { vmid: 'twitter:title', property: 'twitter:title', content: title || '' },
      { vmid: 'twitter:text:title', property: 'twitter:text:title', content: title || '' },
      { vmid: 'twitter:description', property: 'twitter:description', content: meta_description ? htmlDecode(meta_description) : '' },
      { vmid: 'twitter:image', property: 'twitter:image', content: main_logo },
      { vmid: 'twitter:url', property: 'twitter:url', content: page_url }
    ]

    return {
      title: meta_title || title,
      meta
    }
  }
}
</script>
<style lang="scss">
@import '~theme/css/pages/cmspage';
</style>
