<template>
  <div id="page_not_found">
    <div class="page_not_found-row flex between-xs">
      <div class="img-404">
        <img src="/assets/404-img.jpg">
      </div>
      <div class="page_not_found-text">
        <h1>
          {{ $t("Oops...") }}
        </h1>
        <h3> {{ $t("The page you’re looking for doesn’t exist.") }}</h3>
        <p>
          {{ $t('You can always head back to our') }}
          <a href="mailto:contributors@vuestorefront.io">
            {{ $t('homepage') }}
          </a>
          {{ $t('or jump straight to one of our popular pages using the links below.') }}
        </p>
      </div>
    </div>
    <cms-block :identifier="'specail_offer'" :block-class="['shop-by-department', 'small-space']" :sync="true" />
  </div>
</template>

<script>
import Error from '@vue-storefront/core/pages/Error'
import CmsBlock from 'theme/components/core/blocks/Cms/Block'

export default {
  name: 'Error',
  mixins: [Error],
  components: {
    CmsBlock
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-tertiary: color(tertiary);
$color-white-smoke: color(white-smoke);
$gray-979797: color(gray-979797);
$white: color(white);
$gray-979797: color(gray-979797);

#page_not_found {
  .page_not_found-row{
    max-width: 1125px;
    padding: 70px  0px 0;
    margin:auto;
    @media (max-width: 767px) {
      flex-wrap: wrap;
      padding: 70px 15px 0px 15px;
      .img-404{
        text-align: center;
        width: 100%;
        padding-bottom:10px;
        img{
          max-width: 400px;
          width: 100%;
        }
      }
    }
    .page_not_found-text{
      max-width:560px;
      @media (max-width: 767px) {
        max-width:inherit;
        h3{
          font-size:18px;
        }
      }
      h3{
          padding-bottom:10px;
      }
      h1{
        font-size:36px;
        padding-bottom:10px;
      }
      p{
        a{text-decoration: underline;}
      }
    }
  }
}
</style>
