<template>
  <div class="faq-page">
    <faqSearch :category="category" :faq="faq" :search="true" />
    <div class="faq-block2 small-space">
      <div class="container">
        <h2 class="align-center">
          Frequently asked questions
        </h2>
        <div class="site-loader-wrap" v-if="show_loader">
          <div class="site-ajax-loader" />
        </div>
        <div class="faq-list">
          <div class="faq-grid">
            <h3 v-if="!show_loader">
              {{ category.replace(/_/g, ' ') }}
            </h3>
            <div class="faq-accordion">
              <div class="acc-menu" :class="['accordion-' + category + '-' + index]" :ref="'accordion-' +category + '-' + index" v-for="(faqList, index) in faq" :key="index">
                <h4 class="question" @click="toggleAccordion(category, index)">
                  {{ faqList.question }}
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none" />
                    <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z" />
                  </svg>
                </h4>
                <div class="accordion-body">
                  {{ faqList.answer }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FooterLinks from 'theme/components/core/blocks/Footer/FooterLinks'
import faqSearch from 'theme/components/theme/blocks/Faq/Search'

export default {
  data () {
    return {
      faq: [],
      show_loader: true,
      category: this.$route.params.category
    }
  },
  components: {
    // eslint-disable-next-line vue/no-unused-components
    FooterLinks,
    faqSearch
    // faq
  },
  mounted () {
    this.toggleAccordionOnMount();
    window.addEventListener('resize', this.toggleAccordionOnResize);
  },
  destroyed () {
    window.removeEventListener('resize', this.toggleAccordionOnResize);
  },
  methods: {
    toggleAccordion (category, index) {
      this.$refs['accordion-' + category + '-' + index][0].classList.toggle('is-open');
    },
    toggleAccordionOnResize () {
      Object.values(this.$el.getElementsByClassName('acc-menu')).forEach((accord) => {
        accord.classList.remove('is-open');
      });
    },
    toggleAccordionOnMount () {
      Object.values(this.$el.getElementsByClassName('acc-menu')).forEach((accord) => {
        accord.classList.remove('is-open');
      });
    }
  },
  async beforeCreate () {
    const category = this.$route.params.category
    await this.$store.dispatch('faq/faqDetail', { category: category });
    this.faq = this.$store.getters['faq/getFaqDetail'] || [];
    this.show_loader = false;
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$light-gray: color(light-gray);
$oat: color(oat);
$white: color(white);
$black: color(black);
$red: color(red);
$gray-cccccc: color(gray-cccccc);
$gray-c2c2c2: color(gray-c2c2c2);
$gray-8b8b8b: color(gray-8b8b8b);
$gray-979797: color(gray-979797);
.faq-block2{
  .faq-list{
    padding-top: 25px;
    justify-content: space-between;
    flex-wrap: wrap;
    .faq-accordion{
      padding-bottom:15px
    }
    .faq-grid{
      width: 100%;
      margin-bottom: 25px;
      h3{
        color: $red;
        margin-bottom: 10px;
      }
      .acc-menu{
        border-bottom: solid 1px $gray-979797;
        padding: 15px;
        h4{
          position: relative;
          padding: 0 25px 0 0;
          font-weight: 600;
          font-size: 14px;
          cursor: pointer;
          svg{
            position:absolute;
            right: 0;
            top: 0;
            font-size: 20px;
            margin: -3px -8px;
          }
        }
        .accordion-body{
          display: none;
          padding: 15px 0 0 0;
        }
        &.is-open{
          .question{
            i{
              transform: rotate(90deg);
            }
          }
          .accordion-body{
            display: block;
          }
        }
      }
    }
  }
}
@media (max-width: 1360px) {
  .faq-block2{
    .faq-list{
      flex-wrap: wrap;
      margin: 0 -15px;
      .faq-grid{
        padding: 0 15px;
        max-width: 50%;
      }
    }
  }
}
@media (max-width: 767px) {
  .faq-block2{
    .faq-list{
      margin: 0 -10px;
      .faq-grid{
        padding: 0 10px;
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
</style>
