<template>
  <div id="home">
    <div class="home-main-banner skeleton-after">
      <div>
        <lazy-hydrate when-idle>
          <main-banner-slider :banner-data="banners" v-if="banners !== undefined" />
        </lazy-hydrate>
      </div>
    </div>

    <lazy-hydrate :when-visible="{ rootMargin: '200px' }">
      <div class="speical-offers-section">
        <div class="cms-content speical-offers section-padding" v-if="homeCmsData.specialOffer" v-html="correctImageUrl(homeCmsData.specialOffer)" />
        <div class="skeleton-wrap container" v-else>
          <div class="speical-skeleton-title">
            <div class="skeleton-line" />
            <div class="skeleton-line" />
          </div>
          <div class="speical-skeleton-content">
            <div class="item" v-for="index in 12" :key="index">
              <div class="skeleton-image" />
              <div class="skeleton-line" />
            </div>
          </div>
        </div>
      </div>
    </lazy-hydrate>

    <lazy-hydrate :when-visible="{ rootMargin: '200px' }">
      <block-with-title>
        <div class="what-need-section">
          <div class="cms-content container what-need small-space bg-cl-oat" v-if="homeCmsData.petNeeds" v-html="correctImageUrl(homeCmsData.petNeeds)" />
          <div class="skeleton container" v-else />
        </div>
      </block-with-title>
    </lazy-hydrate>

    <lazy-hydrate :when-visible="{ rootMargin: '200px' }">
      <block-with-title :is-trust-pilot="true">
        <div class="shop-by-department-section carousel-skeleton">
          <div class="cms-content container shop-by-department small-space" v-if="homeCmsData.shopByDepartment" v-html="correctImageUrl(homeCmsData.shopByDepartment)" />
          <div class="skeleton container" v-else />
        </div>
      </block-with-title>
    </lazy-hydrate>

    <lazy-hydrate :when-visible="{ rootMargin: '200px' }">
      <block-with-title>
        <div class="exclusive-to-jollyes-section carousel-skeleton">
          <product-listing-slider v-if="exclusiveProducts.length > 0" class="exclusive-to-jollyes container small-space bg-cl-oat" :per-page-custom="[[200, ['auto', 10]], [768, [3, 15]], [992, [4, 40]], [1200, [5, 45]]]" :sec-title="'Can’t buy better'" :sub-title="'Fantastic deals only at Jollyes'" :products="exclusiveProducts[0]" :slider-id="'buy-better'" :today-data="exclusiveProducts[0]" />
          <div class="exclusive-to-jollyes-skeleton skeleton container" v-else />
        </div>
      </block-with-title>
    </lazy-hydrate>

    <lazy-hydrate :when-visible="{ rootMargin: '200px' }">
      <block-with-title>
        <div class="cms-content container offer-banner offer-banner-first skeleton-after p0" v-if="homeCmsData.homeOfferBanner1" v-html="correctImageUrl(homeCmsData.homeOfferBanner1)" />
        <div class="skeleton container" v-else />
      </block-with-title>
    </lazy-hydrate>

    <lazy-hydrate :when-visible="{ rootMargin: '200px' }">
      <block-with-title>
        <div class="perfect-pk-section carousel-skeleton">
          <div class="container small-space perfect-pk" v-if="getDataPuppy.length > 0 || getDataKitten.length > 0">
            <div class="row">
              <div class="col-xs-12" :class="getDataKitten.length > 0 ? 'col-md-6' : 'col-md-12 perfect-full-sec'" v-if="getDataPuppy.length > 0">
                <category-slider :sec-title="'The perfect start for your puppy'" :slider-id="'perfect-puppy'" :per-page-custom="[[200, ['auto', 10]], [768, [3, 20]], [1380, ['auto', 45]]]" :puppy-data="getDataPuppy" />
              </div>
              <div class="col-md-6 col-xs-12" :class="getDataPuppy.length > 0 ? 'col-md-6' : 'col-md-12 perfect-full-sec'" v-if="getDataKitten.length > 0">
                <category-slider :sec-title="'The perfect start for your kitten'" :slider-id="'perfect-kitten'" :per-page-custom="[[200, ['auto', 10]], [768, [3, 20]], [1380, ['auto', 45]]]" :puppy-data="getDataKitten" />
              </div>
            </div>
          </div>
          <div class="skeleton container" v-else />
        </div>
      </block-with-title>
    </lazy-hydrate>

    <lazy-hydrate :when-visible="{ rootMargin: '200px' }">
      <block-with-title>
        <div class="customer-best-deals-section carousel-skeleton">
          <div class="container small-space bg-cl-oat customer-best-deals" v-if="getBestSellinglist.length > 0 || getTodayDeal.length > 0">
            <div class="row">
              <div class="col-xs-12" :class="getTodayDeal.length > 0 ? 'col-md-6' : 'col-md-12 perfect-full-sec'" v-if="getBestSellinglist.length > 0">
                <product-listing-slider :slider-id="'customer-favourites'" :per-page-custom="[[200, ['auto', 10]], [768, ['auto', 20]], [1380, ['auto', 45]]]" :sec-title="'Customer favourites'" :products="getBestSellinglist" :today-data="getBestSellinglist" />
              </div>
              <div class="col-xs-12" :class="getBestSellinglist.length > 0 ? 'col-md-6' : 'col-md-12 perfect-full-sec'" v-if="getTodayDeal.length > 0">
                <product-listing-slider :slider-id="'best-deals'" :per-page-custom="[[200, ['auto', 10]], [768, ['auto', 20]], [1380, ['auto', 45]]]" :sec-title="'Today’s best deals'" :products="getTodayDeal" :today-data="getTodayDeal" />
              </div>
            </div>
          </div>
          <div class="skeleton container" v-else />
        </div>
      </block-with-title>
    </lazy-hydrate>

    <lazy-hydrate :when-visible="{ rootMargin: '200px' }">
      <block-with-title>
        <div class="latest-treatments-section carousel-skeleton">
          <product-listing-slider v-if="getCoolingRangeProductList.length > 0" class="latest-treatments container small-space bg-cl-light-gray" :per-page-custom="[[200, ['auto', 10]], [768, [3, 15]], [992, [4, 40]], [1200, [5, 45]]]" :sec-title="'Try our latest at home spa treatments'" :products="getCoolingRangeProductList" :slider-id="'latest-treatments'" :today-data="getCoolingRangeProductList" />
          <div class="skeleton container" v-else />
        </div>
      </block-with-title>
    </lazy-hydrate>

    <lazy-hydrate :when-visible="{ rootMargin: '200px' }">
      <block-with-title>
        <div class="dog-groomer-section">
          <div class="cms-content container dog-groomer p0" v-if="homeCmsData.dogGrooming" v-html="correctImageUrl(homeCmsData.dogGrooming)" />
          <div class="skeleton container" v-else />
        </div>
      </block-with-title>
    </lazy-hydrate>

    <lazy-hydrate :when-visible="{ rootMargin: '200px' }">
      <block-with-title>
        <div class="offer-banner-section">
          <div class="cms-content container offer-banner p0" v-if="homeCmsData.homeOfferBanner2" v-html="correctImageUrl(homeCmsData.homeOfferBanner2)" />
          <div class="skeleton container" v-else />
        </div>
      </block-with-title>
    </lazy-hydrate>

    <lazy-hydrate :when-visible="{ rootMargin: '200px' }">
      <block-with-title>
        <div class="best-for-dogs-section carousel-skeleton">
          <product-listing-slider v-if="getBestDogData.length > 0" class="best-for-dogs container small-space bg-cl-light-gray" :per-page-custom="[[200, ['auto', 10]], [768, [3, 15]], [992, [4, 40]], [1200, [5, 45]]]" :sec-title="'Best buys for dogs'" :sub-title="'Want to know more? Expert advices from Jollyes the Pet People'" :products="getBestDogData" :slider-id="'best-for-dogs'" :today-data="getBestDogData" />
          <div class="skeleton container" v-else />
        </div>
      </block-with-title>
    </lazy-hydrate>

    <lazy-hydrate :when-visible="{ rootMargin: '200px' }">
      <block-with-title>
        <div class="favorite-bands-section carousel-skeleton">
          <favorite-brands v-if="getOurBrandslist.length > 0" class="favorite-bands-home bg-cl-light-gray container p0" :sec-title="'Our favourite brands'" :slider-id="'favorite-bands'" :per-page-custom="[[200, [4, 20]], [768, ['auto', 20]], [1380, ['auto', 42]]]" :brand-data="getOurBrandslist" />
          <div class="skeleton container" v-else />
        </div>
      </block-with-title>
    </lazy-hydrate>

    <lazy-hydrate :when-visible="{ rootMargin: '200px' }">
      <block-with-title>
        <div class="dog-groomer-bottom-section">
          <div class="cms-content container dog-groomer p0" v-if="homeCmsData.communityPet" v-html="correctImageUrl(homeCmsData.communityPet)" />
          <div class="skeleton container" v-else />
        </div>
      </block-with-title>
    </lazy-hydrate>
  </div>
</template>

<script>
// query constructor
import { isServer, onlineHelper } from '@vue-storefront/core/helpers'
import LazyHydrate from 'vue-lazy-hydration'
// Theme local components
import { Logger } from '@vue-storefront/core/lib/logger'
import { mapGetters, mapActions, mapState } from 'vuex'
import config from 'config'
import { getFbId, correctUrl } from 'theme/helpers'

export default {
  data () {
    return {
      life_stage_data: this.$store.state.attribute.list_by_code.life_stage,
      isSkeletonLoad: true,
      isProductSkeletonLoad: true,
      isCategorykeletonLoad: true,
      isbestSellingDataLoad: true,
      isTreatmentsProductsLoad: true,
      isDogProductsLoad: true,
      isBrandSkeletonLoad: true,
      isVisibleFor: {
        homeSpeicalOffersSection: false,
        whatNeedSection: false,
        shopByDepartmentSection: false,
        exclusiveToJollyesSection: false,
        offerBannerFirstSection: false,
        customerBestDealsSection: false,
        latestTreatmentsSection: false,
        dogGroomerSection: false,
        offerBannerSection: false,
        bestForDogsSection: false,
        favoriteBandsSection: false,
        homeDogGroomerBottomSection: false,
        getDataPuppy: false
      }
    }
  },
  components: {
    LazyHydrate,
    ProductListingSlider: () => import('theme/components/core/blocks/Category/ProductListingSlider'),
    FavoriteBrands: () => import('../components/core/blocks/Category/FavoriteBrands.vue'),
    CategorySlider: () => import('theme/components/core/blocks/Category/CategorySlider'),
    MainBannerSlider: () => import('theme/components/core/blocks/MainSlider/MainBannerSlider'),
    BlockWithTitle: () => import('theme/components/core/blocks/Cms/BlockWithTitle')
  },
  computed: {
    ...mapGetters('user', ['isLoggedIn']),
    ...mapGetters({
      getBannerList: 'banner/getBannerList',
      getExclusiveProductslist: 'exclusiveProducts/getExclusiveProductslist',
      getBestSellinglist: 'bestSelling/getBestSellinglist',
      getOurBrandslist: 'ourbrands/getOurBrandslist',
      getDataPuppy: 'homepage/getDataPuppy',
      getDataKitten: 'homepage/getDataKitten',
      getTodayDeal: 'homepage/getTodayDeal',
      getBestDogData: 'homepage/getBestDogData',
      getCoolingRangeProductList: 'homepage/getCoolingRangeProductList',
      cmsBlocks: 'cmsBlock/cmsBlocks'
    }),
    ...mapState({
      banners: state => state.banner.banners,
      exclusiveProducts: state => state.exclusiveProducts.exclusive
    }),
    isOnline () {
      return onlineHelper.isOnline
    },
    isLazyHydrateEnabled () {
      return config.ssr.lazyHydrateFor.some(
        field => ['homepage', 'homepage.new_collection'].includes(field)
      )
    },
    homeCmsData () {
      return {
        specialOffer: this.cmsBlocks.find((_) => _.identifier === 'specail_offer')?.content || '',
        petNeeds: this.cmsBlocks.find((_) => _.identifier === 'pet_needs')?.content || '',
        shopByDepartment: this.cmsBlocks.find((_) => _.identifier === 'shop_by_department')?.content || '',
        homeOfferBanner1: this.cmsBlocks.find((_) => _.identifier === 'home_offer_banner1')?.content || '',
        dogGrooming: this.cmsBlocks.find((_) => _.identifier === 'dog_grooming')?.content || '',
        homeOfferBanner2: this.cmsBlocks.find((_) => _.identifier === 'home_offer_banner2')?.content || '',
        communityPet: this.cmsBlocks.find((_) => _.identifier === 'community_pet')?.content || ''
      }
    }
  },
  async mounted () {
    let pushFlag = true;
    const allQuickLinks = document.querySelectorAll('.quick-links .item a')
    if (allQuickLinks.length > 0 && pushFlag) {
      pushFlag = false;
      this.pushLinkToRouter(allQuickLinks);
    }
    if (!this.isLoggedIn && localStorage.getItem('redirect')) this.$bus.$emit('modal-show', 'modal-signup')
    this.isSkeletonLoad = false;
    this.isProductSkeletonLoad = false;
    this.isCategorykeletonLoad = false;
    this.isbestSellingDataLoad = false;
    this.isTreatmentsProductsLoad = false;
    this.isDogProductsLoad = false;
    this.isBrandSkeletonLoad = false;
  },
  methods: {
    isViewableNow (isVisible, entry, section) {
      this.isVisibleFor[section] = isVisible
    },
    pushLinkToRouter (aElement) {
      if (aElement && aElement.length > 0) {
        aElement.forEach(link => {
          link.addEventListener('click', (e) => {
            e.preventDefault();
            const href = link.getAttribute('href');
            this.$router.push(this.localizedRoute(href))
            return false;
          })
        })
      }
    },
    ...mapActions({
      loadDataFromEs: 'homepage/loadDataFromEs'
    }),
    correctImageUrl (value) {
      return correctUrl(value)
    }
  },
  watch: {
    isLoggedIn () {
      const redirectObj = localStorage.getItem('redirect')
      if (redirectObj) this.$router.push(redirectObj)
      localStorage.removeItem('redirect')
    }
  },
  async asyncData ({ store, route, context }) { // this is for SSR purposes to prefetch data
    if (context) context.output.cacheTags.add(`home`)
    Logger.info('Calling asyncData in Home Page (core)')()
    Promise.all([
      await store.dispatch('banner/list', {})
    ])
  },
  beforeRouteEnter (to, from, next) {
    if (!isServer) { // Loading products to cache on SSR render
      next(async vm => {
        vm.$store.dispatch('cmsBlock/list', {
          filterValues: [
            'specail_offer',
            'pet_needs',
            'shop_by_department',
            'home_offer_banner1',
            'dog_grooming',
            'home_offer_banner2',
            'community_pet'
          ],
          skipCache: true
        })
        vm.$store.dispatch('bestSelling/bestSelling')
        vm.$store.dispatch('exclusiveProducts/getExclusiveProductslist', 2)
        vm.$store.dispatch('ourbrands/getOurBrandslist', 2)
        vm.$store.dispatch('homepage/loadDataFromEs', {
          filters: [{ 'key': 'inchoo_featured_product', 'value': { 'eq': 1 } }, { 'key': 'category_ids', 'value': { 'eq': 460 } }],
          size: 10,
          type: 'coolingRangeProducts'
        })
        vm.$store.dispatch('homepage/loadDataFromEs', {
          filters: [{ 'key': 'inchoo_featured_product', 'value': { 'eq': 1 } }, { 'key': 'category_ids', 'value': { 'eq': 459 } }],
          size: 10,
          type: 'bestDogData'
        })
        vm.$store.dispatch('homepage/loadDataFromEs', {
          filters: [{ 'key': 'inchoo_featured_product', 'value': { 'eq': 1 } }],
          size: 10,
          type: 'todayDeal'
        })
        const puppy_life_stage_id = 7200;
        vm.$store.dispatch('homepage/loadDataFromEs', {
          filters: [{ 'key': 'inchoo_featured_product', 'value': { 'eq': 1 } }, { 'key': 'life_stage', 'value': { 'eq': puppy_life_stage_id } }],
          size: 10,
          type: 'dataPuppy'
        })
        const kitten_life_stage_id = 5579;
        vm.$store.dispatch('homepage/loadDataFromEs', {
          filters: [{ 'key': 'inchoo_featured_product', 'value': { 'eq': 1 } }, { 'key': 'life_stage', 'value': { 'eq': kitten_life_stage_id } }],
          size: 10,
          type: 'dataKitten'
        })
      })
    } else {
      next()
    }
  },
  metaInfo () {
    const title = 'Jollyes.co.uk | Pet Food & Accessories | Jollyes - The Pet People'
    const meta_description = 'Pet store ranging from pet food, toys accessories and more. Buy in store and online with free delivery options available.'
    const meta_keyword = 'pet store, pet food, dog food, cat food, puppy food, dog toys, kitten food, dog beds'
    const image = config.aureatelabs.site_url + '/assets/site-logo.png';
    const page_url = config.aureatelabs.site_url
    const meta = [
      { vmid: 'description', name: 'description', content: meta_description },
      { vmid: 'og:title', property: 'og:title', content: title || '' },
      { vmid: 'og:description', property: 'og:description', content: meta_description },
      { vmid: 'meta_keywords', name: 'keywords', content: meta_keyword || '' },
      { vmid: 'og:image', property: 'og:image', content: image || '' },
      { vmid: 'og:url', property: 'og:url', content: page_url },
      { vmid: 'og:type', property: 'og:type', content: 'website' },
      { vmid: 'fb:app_id', property: 'fb:app_id', content: getFbId() },
      { vmid: 'twitter:title', property: 'twitter:title', content: title || '' },
      { vmid: 'twitter:text:title', property: 'twitter:text:title', content: title || '' },
      { vmid: 'twitter:description', property: 'twitter:description', content: meta_description },
      { vmid: 'twitter:image', property: 'twitter:image', content: image || '' },
      { vmid: 'twitter:url', property: 'twitter:url', content: page_url }
    ]

    return {
      title,
      meta
    }
  }
}
</script>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$oat: color(oat);
$white: color(white);
$black: color(black);
.new-collection {
  @media (max-width: 767px) {
    padding-top: 0;
  }
}
.favorite-bands-home {
  .favorite-brands {
    background-color: $oat;
    .favorite-brands-swiper {
      max-width: 100%;
      padding: 0;
      overflow: hidden;
      h3 {
        display: none;
      }
    }
  }
  .swiper-slide{
    width: 160px;
  }
}
.exclusive-to-jollyes,
.latest-treatments,
.best-for-dogs{
  @media (max-width: 767px) {
    .product-slider{
      .swiper-slide{
        max-width:182px;
      }
    }
    .swiper-arrows{
      padding-right:15px;
    }
    &.container{
      padding-right:0;
    }
  }
  @media (max-width: 419px) {
    .swiper-arrows{
      padding-right:10px;
    }
  }
}

.perfect-pk{
  .row{
    margin-left: -25px;
    margin-right: -25px;
    > div{
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  .block-title{
    h2{
      max-width: 270px;
    }
  }
  .perfect-full-sec {
    .block-title{
      h2{
        max-width: 100%;
      }
    }
  }
  @media (min-width: 1380px) {
    .swiper-slide{
      width: 150px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1380px) {
    .swiper-slide{
      width: 120px;
    }
  }
  @media (max-width: 767px) {
    .row{
      margin-left: -15px;
      margin-right: -15px;
      > div{
        padding-left: 15px;
        padding-right: 15px;
        .category-swiper{
          margin-right:-15px;
        }
      }
    }
    h4{
      font-size: 14px;
    }
    .category-swiper{
      .swiper-slide{
        max-width:120px;
        a{
          span{
            margin-bottom: 10px;
          }
        }
      }
    }
    #perfect-puppy{
      margin-bottom: 20px;
    }
  }
  @media (max-width: 419px) {
    &.container{
      padding-right: 0;
    }
    .row{
      margin-left: -10px;
      margin-right: 0;
    }
  }
}

.customer-best-deals{
  .slider-container,
  .product-slider,
  .product-slider-wrap {
    @media (min-width: 768px) {
      height: 100%;
    }
  }
  .slider-container {
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      // flex-direction: column;

      & > div {
        flex-basis: 100%;
      }
    }
  }
  .swiper-container {
    @media (min-width: 768px) {
      flex-grow: 1;
      height: 88%;
    }
  }
  .row{
    margin-left: -25px;
    margin-right: -25px;
    > div{
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  @media (min-width: 768px) {
    .swiper-slide{
      width: 240px;
    }
  }
  @media (max-width: 767px) {
    .swiper-slide{
      width: 182px;
    }
    .swiper-arrows{
      padding-right:15px;
    }
    .row{
      margin-left: -15px;
      margin-right: -15px;
      > div{
        padding-left: 15px;
        padding-right: 0;
      }
    }
    #customer-favourites{
      padding-bottom:20px;
    }
  }
  @media (max-width: 419px) {
    &.container{
      padding-right: 0;
    }
    .row{
      margin-left: -10px;
      margin-right: 0;
    }
  }
}

/* Home CMS Block */
.speical-offers{
  .offer-content {
    order: 1;
    max-width: 360px;
    p{
      font-size: 14px;
      padding: 15px 0;
    }
  }
  .offer-img{
    order: 2;
    img{
      max-width: 100%;
    }
  }
  @media (max-width: 767px) {
    text-align: center;
    .offer-content{
      margin: 10px auto 0;
      h2{
        max-width: 220px;
        margin: 0 auto;
      }
    }
  }
}

.what-need{
  .cms-content{
    max-width: 1300px;
    margin: 0 auto;
  }
  h2{
    margin-bottom: 20px;
  }
  .what-need-block{
    margin-left:-5px;
    margin-right:-5px;
    img {
      width: auto;
      height: auto;
    }
    a{
      text-decoration:underline;
    }
  }
  .d-flex{
    padding: 0 5px;
  }
  .what-need-content{
    padding-left: 10px;
    h3{
      margin-bottom: 5px;
    }
    p{
      padding: 0 0 5px;
      a{
        text-decoration: underline;
      }
    }
  }
  @media only screen and (max-width: 992px) {
    img{
      max-width: 60px;
    }
    .what-need-content{
      padding-left: 0;
      p{
        font-size: 13px;
      }
    }
    .d-flex{
      display: inline-block;
      text-align: center;
      width: 33.333333%;
    }
  }
}

.dog-groomer{
  &.cms-content{
    display: flex;
  }
  .dog-image{
    background: #252429 no-repeat 0 0 / cover;
    display: inline-flex;
    align-items: center;
    width: 50%;
    padding: 25px;
    img{
      width: 100%;
      display: block;
    }
  }
  .dog-service{
    display: inline-flex;
    align-items: center;
    color:$white;
    width: 50%;
    padding: 25px;
    .dog-service-caption{
      max-width: 490px;
      margin: 0 auto;
    }
    p{
      padding: 10px 0 15px;
    }
    .dog-care-box{
      justify-content: center;
      padding: 0 0 10px 0;
      .dog-care-item{
        border: solid 6px $white;
        border-radius: 100%;
        width: 100px;
        height: 100px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
        img{
          height: 45px;
        }
      }
    }
  }
  @media only screen and (max-width: 1200px) {
    .dog-service{
      .dog-care-box{
        .dog-care-item{
          width: 80px;
          height: 80px;
          margin: 0 5px;
          img{
            height: 40px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 992px) {
    .dog-image{
      display: none;
    }
    .dog-service{
      width: 100%;
    }
  }
  @media only screen and (max-width: 419px) {
    &.cms-content{
      .dog-service{
        padding: 15px;
        .dog-service-caption{
          max-width: 290px;
        }
        .dog-care-box{
          padding-bottom: 0;
          .dog-care-item{
            width: 60px;
            height: 60px;
            margin: 0 3px;
            border-width: 4px;
            img{
              height: 30px;
            }
          }
        }
      }
    }
  }
}
.best-for-dogs-section {
  min-height: 621.5px;
  @media only screen and (min-width: 1025px) and (max-width: 1450px) {
    min-height: 555px;
  }
  @media only screen and (min-width: 993px) and (max-width: 1024px) {
    min-height: 568.78px;
  }
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    min-height: 624px;
  }
  @media only screen and (max-width: 767px) {
    min-height: 475px;
  }
  @media only screen and (max-width: 575px) {
    min-height: 560px;
  }
}
.favorite-bands-section {
  min-height: 325px;
  @media only screen and (min-width: 993px) and (max-width: 1024px) {
    min-height: 306px;
  }
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    min-height: 295px;
  }
  @media only screen and (max-width: 767px) {
    min-height: 163px;
  }
}
.dog-groomer-bottom-section {
  .skeleton {
    height: 357px;
    @media only screen and (min-width: 993px) and (max-width: 1200px) {
      height: 337px;
    }
    @media only screen and (min-width: 768px) and (max-width: 992px) {
      height: 337px;
    }
    @media only screen and (max-width: 767px) {
      height: 299px;
    }
  }
}
.exclusive-to-jollyes-section {
  min-height: 573px;
  @media only screen and (min-width: 768px) and (max-width: 1450px) {
    min-height: 520px;
  }
  @media only screen and (max-width: 767px) {
    min-height: 445px;
  }
  @media only screen and (max-width: 575px) {
    min-height: 532px;
  }
}
.latest-treatments-section {
  min-height: 559.5px;
  @media only screen and (min-width: 768px) and (max-width: 1450px) {
    min-height: 490px;
  }
  @media only screen and (max-width: 767px) {
    min-height: 421.8px;
  }
  @media only screen and (max-width: 575px) {
    min-height: 489px;
  }
}
.perfect-pk-section {
  min-height: 402px;
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    min-height: 390px;
  }
  @media only screen and (max-width: 767px) {
    min-height: 630px;
  }
}
.customer-best-deals-section {
  min-height: 584.5px;
  @media only screen and (max-width: 767px) {
    min-height: 854px;
  }
  @media only screen and (max-width: 575px) {
    min-height: 988px;
  }
}
.speical-offers-section {
  .shop-by-department .quick-links .item span {
    @media only screen and (min-width: 768px) {
      width: 150px;
      height: 150px;
    }
    @media only screen and (max-width: 767px) {
      padding-top: 100%;
      position: relative;
      display: block;
      img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
    }
  }
  .speical-skeleton-title {
    .skeleton-line:first-child {
      height: 31px;
      max-width: 150px;
      margin: 0 auto 10px;
    }
    .skeleton-line:last-child {
      margin: 0 auto 15px;
      height: 19px;
      max-width: 360px;
    }
  }
  .skeleton-wrap {
    padding-top: 85px;
    padding-bottom: 85px;
    @media only screen and (max-width: 767px)  {
      padding-top: 40px;
      padding-bottom: 40px;
      .speical-skeleton-title {
        .skeleton-line:first-child {
          height: 23px;
          max-width: 110px;
        }
        .skeleton-line:last-child {
          height: 16px;
          max-width: 320px;
        }
      }
    }
    .speical-skeleton-content {
      margin-left: -10px;
      margin-right: -10px;
      display: flex;
      flex-wrap: wrap;
      .item {
        padding: 25px 10px 0;
        width: 16.666666667%;
        .skeleton-image {
          max-width: 150px;
          height: 150px;
          margin: auto;
          border-radius: 50%;
          overflow: hidden;
        }
        .skeleton-line {
          height: 20px;
          max-width: 150px;
          margin: 15px auto 0;
        }
        @media only screen and (min-width: 993px) and (max-width: 1200px)  {
          width: 20%;
        }
        @media only screen and (min-width: 768px) and (max-width: 992px)  {
          width: 25%;
        }
        @media only screen and (max-width: 767px)  {
          width: 25%;
          padding-top: 12px;
          .skeleton-image {
            height: auto;
            padding-top: 100%;
          }
          .skeleton-line {
            height: 12px;
            margin-top: 8px;
          }
        }
        @media only screen and (max-width: 419px)  {
          width: 33.33%;
        }
      }
    }
  }
}
.what-need-section {
  .skeleton {
    height: 221px;
    @media only screen and (min-width: 768px) and (max-width: 992px) {
      height: 232px;
    }
    @media only screen and (max-width: 767px) {
      height: 239px;
    }
  }
}
.shop-by-department-section {
  min-height: 310px;
  @media only screen and (max-width: 767px) {
    min-height: 220px;
  }
}
.dog-groomer-section {
  .skeleton {
    height: 587.5px;
    @media only screen and (min-width: 768px) and (max-width: 992px) {
      height: 337px;
    }
    @media only screen and (max-width: 767px) {
      height: 283px;
    }
  }
}
.offer-banner-section {
  .skeleton {
    height: 139px;
    margin-top: 40px;
    margin-bottom: 40px;
    @media only screen and (min-width: 768px) and (max-width: 992px) {
      height: 155px;
    }
    @media only screen and (max-width: 767px) {
      height: 334px;
    }
  }
}
div.offer-banner-first {
  padding-top: 19.7%;
  @media only screen and (min-width: 768px) and (max-width: 1450px) {
    padding-top: 25%;
  }
  @media only screen and (max-width: 767px) {
    padding-top: 71.4%;
  }
}
.home-main-banner {
  position: relative;
  padding-top: 33.33%;
  overflow: hidden;
  @media (max-width: 767px) {
    padding-top: 71.43%;
  }
}
</style>
