<template>
  <div id="product">
    <section class="product-top-section">
      <div class="container">
        <div class="row m0 breadcrumbs hidden-xs">
          <div class="col-xs-12">
            <breadcrumbs
              class="hidden-xs"
            />
          </div>
        </div>
        <div class="row m0 hidden-md">
          <div class="col-xs-12 mobile-product-title">
            <h2
              class="mb5 mt0 product-name" data-testid="productName"
            >
              {{ productName() | htmlDecode }}
            </h2>
            <div class="product-reviews-summary short flex middle-sm" v-if="reviews">
              <div class="rating-summary">
                <span class="rating-result" :style="productRatingLength" />
              </div>
              <span class="reviews-actions" v-if="totalReview > 0" @click.prevent="scrollToOpenReviewForm()">{{ totalReview }} {{ $t ('(Reviews)') }}</span>
              <a class="reviews-actions" v-else href="#" @click.prevent="scrollToOpenReviewForm()">{{ $t('Be the first to review') }}</a>
            </div>
          </div>
        </div>
        <section class="row m0 mt10 mb20 between-xs ">
          <div class="col-xs-12 col-md-6 col-lg-5 center-xs middle-xs image main-product-image">
            <div class="relative">
              <sirv-thumbnail :gallery="productImages" :name="productName()" />
              <AddToWishlist class="product-wishlist" :product="getCurrentProduct" />
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-7 data">
            <h1
              class="mb20 mt0 cl-mine-shaft product-name hidden-xs"
              data-testid="productName"
            >
              {{ productName() | htmlDecode }}
            </h1>
            <div class="row product-details-price">
              <div class="col-xs-12 col-lg-6">
                <div class="product-reviews-summary short flex middle-sm hidden-xs" v-if="reviews">
                  <div class="rating-summary">
                    <span class="rating-result" :style="productRatingLength" />
                  </div>
                  <span class="reviews-actions" v-if="totalReview > 0" @click.prevent="scrollToOpenReviewForm()">{{ totalReview }} {{ $t ('(Reviews)') }}</span>
                  <a class="reviews-actions" v-else @click.prevent="scrollToOpenReviewForm()">{{ $t('Be the first to review') }}</a>
                </div>
                <div class="skeleton-reviews" v-else>
                  <div class="skeleton-line" />
                  <div class="skeleton-line" />
                </div>
                <special-offer v-if="getCurrentProduct.stock && getCurrentProduct.stock.is_in_stock" :banner-message="getCurrentProduct.banner_message" />
                <div class="out-of-stock-btn" v-if="getCurrentProduct.stock && !getCurrentProduct.stock.is_in_stock">
                  {{ $t('Out of stock') }}
                </div>
                <div class="price-tag">
                  <div class="price-list actual">
                    <product-price
                      v-if="getCurrentProduct.type_id !== 'grouped'"
                      :product="getCurrentProduct"
                      :custom-options="getCurrentCustomOptions"
                    />
                  </div>
                </div>
                <div class="price-actual flex hidden">
                  <span>
                    <product-price
                      v-if="getCurrentProduct.type_id !== 'grouped'"
                      :product="getCurrentProduct"
                      :custom-options="getCurrentCustomOptions"
                      :show-only-default="true"
                    />
                  </span>
                  <div class="price-sub">
                    <img src="assets/icons/icon-subscribe-red.png" alt="icon_subscribe">
                    <p class="p0">
                      {{ $t('Subscribe & save to get 5% off') }}
                      <span>
                        {{ $t('Select in cart for discount') }}
                      </span>
                    </p>
                  </div>
                </div>
                <div class="cl-primary variants" v-if="getCurrentProduct.type_id =='configurable'">
                  <div
                    class="error"
                    v-if="getCurrentProduct.errors && Object.keys(getCurrentProduct.errors).length > 0"
                  >
                    {{ getCurrentProduct.errors | formatProductMessages }}
                  </div>
                  <div class="h5" v-for="option in getProductOptions" :key="option.id">
                    <div class="variants-label" data-testid="variantsLabel">
                      {{ $t(option.label) }}
                    </div>
                    <div class="m0 pt10 pb40 variants-wrapper">
                      <div v-if="option.label == 'Color'">
                        <color-selector
                          v-for="filter in getAvailableFilters[option.attribute_code]"
                          :key="filter.id"
                          :variant="filter"
                          :selected-filters="getSelectedFilters"
                          @change="changeFilter"
                        />
                      </div>
                      <div :class="option.attribute_code" class="flex flex-wrap" v-else>
                        <weight-selector
                          v-for="filter in getAvailableFilters[option.attribute_code]"
                          :key="filter.id"
                          :variant="filter"
                          :selected-filters="getSelectedFilters"
                          @change="changeFilter"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <product-links
                  v-if="getCurrentProduct.type_id === 'grouped'"
                  :products="getCurrentProduct.product_links"
                />
                <product-bundle-options
                  v-if="getCurrentProduct.bundle_options && getCurrentProduct.bundle_options.length > 0"
                  :product="getCurrentProduct"
                />
                <product-custom-options
                  v-else-if="getCurrentProduct.custom_options && getCurrentProduct.custom_options.length > 0"
                  :product="getCurrentProduct"
                />
              </div>
              <div class="col-xs-12 col-lg-5 col-lg-offset-1" :class="{'hidden' : getCurrentProduct.stock && !getCurrentProduct.stock.is_in_stock}">
                <div class="quantity-rightbar">
                  <div class="addtocart-quantity">
                    <quantity-box
                      v-model.number="getCurrentProduct.qty"
                      :is-simple-or-configurable="isSimpleOrConfigurable"
                      :aria-label="'Quantity'"
                      :has-label="true"
                      :custom-width="10"
                      class="product-quantity h5 cl-primary lh25 qty"
                      size="lg"
                      :value="getCurrentProduct.qty"
                      :max-quantity="getCurrentProduct.stock.qty"
                      :force-disable-btn="hideCartBtn"
                    />
                    <add-to-cart
                      :product="getCurrentProduct"
                      :force-disable-btn="hideCartBtn"
                      class="btn addtocart uppercase"
                    />
                  </div>
                  <div class="delivery-section">
                    <lazy-hydrate on-interaction="click">
                      <delivery-option :product="getCurrentProduct" :is-active="true" />
                    </lazy-hydrate>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
    <section class="product-details-tabs container p0">
      <div class="row m0">
        <div class="col-xs-12 p0">
          <tabs class="product-details-tabs">
            <tab :title="$t('Product details')" class="row m0" v-if="getCurrentProduct.description">
              <lazy-hydrate when-visible>
                <div class="product-detail-left col-lg-12 small-space">
                  <div class="product-desc">
                    <h2>{{ productName() }}</h2>
                    <no-ssr>
                      <div v-html="getCurrentProduct.description" />
                    </no-ssr>
                  </div>
                </div>
              </lazy-hydrate>
            </tab>
            <tab :title="$t('Ingredients')" class="row m0" v-if="getCurrentProduct.nutrition">
              <div class="product-detail-left col-lg-12 small-space">
                <div class="product-desc">
                  <no-ssr>
                    <div v-html="getCurrentProduct.nutrition" />
                  </no-ssr>
                </div>
              </div>
            </tab>
            <tab :title="$t('Feeding guide')" class="row m0" v-if="getCurrentProduct.feedingguide">
              <div class="product-detail-left col-lg-12 small-space" v-if="getCurrentProduct">
                <div class="product-desc">
                  <no-ssr>
                    <div class="feeding-weight" v-html="getCurrentProduct.feedingguide" />
                  </no-ssr>
                </div>
              </div>
            </tab>
            <tab :title="$t('More from brand')">
              <div>
                <product-listing-slider v-if="dataPuppy.length > 0" class="latest-treatments container small-space bg-cl-light-gray" :per-page-custom="[[200, ['auto', 10]], [768, [3, 15]], [992, [4, 40]], [1200, [5, 45]]]" :sec-title="'More brand product'" :products="dataPuppy" :slider-id="'more-brand-product'" />
                <div class="align-center small-space" v-else>
                  {{ $t('Not finding anything relevant information.') }}
                </div>
              </div>
            </tab>
            <tab :title="$t('Delivery & returns')">
              <div class="product-detail-left col-lg-12 small-space">
                <div class="product-desc">
                  <no-ssr>
                    <cms-block :identifier="'delivery_and_returns'" />
                  </no-ssr>
                </div>
              </div>
            </tab>
          </tabs>
        </div>
      </div>
    </section>
    <lazy-hydrate :when-visible="{ rootMargin: '200px' }">
      <related-products type="upsell" />
    </lazy-hydrate>
    <lazy-hydrate :when-visible="{ rootMargin: '200px' }">
      <product-review :product="getCurrentProduct" />
    </lazy-hydrate>
    <lazy-hydrate :when-visible="{ rootMargin: '200px' }">
      <reviews
        :product-name="productName()"
        :product-id="getCurrentProduct.id"
        v-show="isOnline"
        :product="getCurrentProduct"
      />
    </lazy-hydrate>
    <script v-html="getJsonLd" type="application/ld+json" />
  </div>
</template>

<script>
import config from 'config'
import RelatedProducts from 'theme/components/core/blocks/Product/Related.vue'
import AddToCart from 'theme/components/core/AddToCart.vue'
import ColorSelector from 'theme/components/core/ColorSelector.vue'
import WeightSelector from 'theme/components/core/WeightSelector.vue'
import Breadcrumbs from 'theme/components/core/Breadcrumbs.vue'
import QuantityBox from 'theme/components/core/QuantityBox.vue'
import focusClean from 'theme/components/theme/directives/focusClean'
import AddToWishlist from 'theme/components/core/blocks/Wishlist/AddToWishlist'
import { mapGetters, mapState } from 'vuex'
import LazyHydrate from 'vue-lazy-hydration'
import { ProductOption } from '@vue-storefront/core/modules/catalog/components/ProductOption.ts'
import { getAvailableFiltersByProduct, getSelectedFiltersByProduct } from '@vue-storefront/core/modules/catalog/helpers/filters'
import { isOptionAvailableAsync } from '@vue-storefront/core/modules/catalog/helpers/index'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import { htmlDecode } from '@vue-storefront/core/filters'
import { ReviewModule } from '@vue-storefront/core/modules/review'
import { RecentlyViewedModule } from '@vue-storefront/core/modules/recently-viewed'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { onlineHelper, isServer, productJsonLd } from '@vue-storefront/core/helpers'
import { catalogHooksExecutors } from '@vue-storefront/core/modules/catalog-next/hooks'
import ProductPrice from 'theme/components/core/ProductPrice'
import { doPlatformPricesSync } from '@vue-storefront/core/modules/catalog/helpers'
import { filterChangedProduct } from '@vue-storefront/core/modules/catalog/events'
import SpecialOffer from 'theme/components/core/blocks/Offers/SpecialOffer'
import tabs from 'theme/components/theme/Tabs.vue'
import tab from 'theme/components/theme/Tab.vue'
import NoSSR from 'vue-no-ssr'
import { prepareQuery } from '@vue-storefront/core/modules/catalog/queries/common'
import ProductListingSlider from 'theme/components/core/blocks/Category/ProductListingSlider'
import CmsBlock from 'theme/components/core/blocks/Cms/Block'
import { formatProductLink } from '@vue-storefront/core/modules/url/helpers'
import map from 'lodash-es/map'
import meanBy from 'lodash-es/meanBy'
import sumBy from 'lodash-es/sumBy'
import { getFbId, productImageUrl, correctUrl } from 'theme/helpers'
import SirvThumbnail from 'src/themes/jollyes/components/core/SirvThumbnail'

export default {
  components: {
    AddToCart,
    AddToWishlist,
    Breadcrumbs,
    ColorSelector,
    ProductBundleOptions: () => import(/* webpackPrefetch: true */ 'theme/components/core/ProductBundleOptions.vue'),
    ProductCustomOptions: () => import(/* webpackPrefetch: true */ 'theme/components/core/ProductCustomOptions.vue'),
    ProductLinks: () => import(/* webpackPrefetch: true */ 'theme/components/core/ProductLinks.vue'),
    Reviews: () => import(/* webpackPrefetch: true */ 'theme/components/core/blocks/Reviews/Reviews'),
    ProductReview: () => import(/* webpackPrefetch: true */ '../components/theme/blocks/Reviews/ProductReview'),
    DeliveryOption: () => import(/* webpackPrefetch: true */ 'theme/components/core/DeliveryOption'),
    RelatedProducts,
    WeightSelector,
    LazyHydrate,
    ProductPrice,
    SpecialOffer,
    QuantityBox,
    tabs,
    tab,
    SirvThumbnail,
    ProductListingSlider,
    CmsBlock,
    'no-ssr': NoSSR
  },
  mixins: [ProductOption],
  directives: { focusClean },
  beforeCreate () {
    registerModule(ReviewModule)
    registerModule(RecentlyViewedModule)
  },
  data () {
    return {
      pName: '',
      hideCartBtn: false,
      productData: [],
      dataPuppy: [],
      deliveryData: [],
      maxQuantity: 0,
      quantityError: false,
      isStockInfoLoading: false,
      hasAttributesLoaded: false,
      manageQuantity: true,
      checkReviewFlag: false
    }
  },
  computed: {
    ...mapGetters({
      getCurrentCategory: 'category-next/getCurrentCategory',
      getCurrentProduct: 'product/getCurrentProduct',
      getProductGallery: 'product/getProductGallery',
      getCurrentProductConfiguration: 'product/getCurrentProductConfiguration',
      attributesByCode: 'attribute/attributeListByCode',
      getCurrentCustomOptions: 'product/getCurrentCustomOptions',
      getAttributeListByCode: 'attribute/getAttributeListByCode'
    }),
    ...mapState({
      reviews: state => state.review.items.items,
      totalReview: state => state.review.items.items ? state.review.items.items.length : 0
    }),
    productImages () {
      let productImages = this.getProductGallery.map(x => {
        let productImage = {
          error: productImageUrl(x.error, 'Product-Page'),
          loading: productImageUrl(x.loading, 'Product-Page'),
          src: productImageUrl(x.src, 'Product-Page')
        }
        return Object.assign({}, x, productImage)
      })
      return productImages
    },
    getOptionLabel () {
      return (option) => {
        const configName = option.attribute_code ? option.attribute_code : option.label.toLowerCase()
        return this.getCurrentProductConfiguration[configName] ? this.getCurrentProductConfiguration[configName].label : configName
      }
    },
    isOnline (value) {
      return onlineHelper.isOnline
    },
    getProductOptions () {
      if (
        this.getCurrentProduct.errors &&
        Object.keys(this.getCurrentProduct.errors).length &&
        Object.keys(this.getCurrentProductConfiguration).length
      ) {
        return []
      }
      return this.getCurrentProduct.configurable_options
    },
    getOfflineImage () {
      return {
        src: this.getThumbnail(this.getCurrentProduct.image, config.products.thumbnails.width, config.products.thumbnails.height),
        error: this.getThumbnail(this.getCurrentProduct.image, config.products.thumbnails.width, config.products.thumbnails.height),
        loading: this.getThumbnail(this.getCurrentProduct.image, config.products.thumbnails.width, config.products.thumbnails.height)
      }
    },
    getCustomAttributes () {
      return Object.values(this.attributesByCode || [])
        .filter(
          a => a.is_visible && a.is_user_defined && (parseInt(a.is_visible_on_front) || a.is_visible_on_front === true) && this.getCurrentProduct[a.attribute_code]
        )
        .sort((a, b) => { return a.attribute_id > b.attribute_id })
    },
    getAvailableFilters () {
      return getAvailableFiltersByProduct(this.getCurrentProduct)
    },
    getSelectedFilters () {
      return getSelectedFiltersByProduct(this.getCurrentProduct, this.getCurrentProductConfiguration)
    },
    isSimpleOrConfigurable () {
      return ['simple', 'configurable'].includes(this.getCurrentProduct.type_id)
    },
    isAddToCartDisabled () {
      if (this.quantityError || this.isStockInfoLoading) {
        return false
      }

      return this.isOnline && !this.maxQuantity && this.manageQuantity && this.isSimpleOrConfigurable
    },
    storeView () {
      return currentStoreView()
    },
    getJsonLd () {
      const ratingValOut100 = this.getCurrentProduct.rating ? Math.round(this.getCurrentProduct.rating) : '';
      const totalRatingCount = this.getCurrentProduct.rating_count ? Math.round(this.getCurrentProduct.rating_count) : '';

      const productPrice = this.getCurrentProduct.price_incl_tax ? parseFloat(this.getCurrentProduct.price_incl_tax.toFixed(2)) : this.getCurrentProduct.price_incl_tax

      const productImageUrl = this.getThumbnail(this.getCurrentProduct.image)
      const brandName = this.getCurrentProduct.schema_brands ? this.getCurrentProduct.schema_brands : ''

      // best review data
      const schemaRatingVal = this.getCurrentProduct.best_review && this.getCurrentProduct.best_review.schema_rating_value ? Math.round(this.getCurrentProduct.best_review.schema_rating_value) : '';
      const reviewAuthor = this.getCurrentProduct.best_review && this.getCurrentProduct.best_review.schema_review_author ? this.getCurrentProduct.best_review.schema_review_author : '';
      const schemaRatingBody = this.getCurrentProduct.best_review && this.getCurrentProduct.best_review.schema_review_body ? this.getCurrentProduct.best_review.schema_review_body : '';

      const created_date = this.getCurrentProduct.best_review && this.getCurrentProduct.best_review.schema_review_created_at ? this.getCurrentProduct.best_review.schema_review_created_at : '';
      const reviewPublishDate = created_date ? created_date.slice(0, created_date.indexOf(' ')) : '';

      const schemaData = productJsonLd(this.getCurrentProduct, this.getCurrentProductConfiguration.color && this.getCurrentProductConfiguration.color.label, this.$store.state.storeView.i18n.currencyCode, this.getCustomAttributes, productPrice, productImageUrl, ratingValOut100, totalRatingCount, schemaRatingBody, schemaRatingVal, reviewPublishDate, reviewAuthor, brandName)
      return JSON.stringify(schemaData)
    },
    productRatingLength () {
      let ratings = 0;
      if (this.totalReview && this.totalReview > 0) {
        ratings = sumBy(map(this.reviews, 'ratings'), (rating) => {
          return meanBy(rating, 'value');
        })
        return 'width:' + (((ratings / this.totalReview) * 100) / 5).toFixed(2) + '%';
      }
      return 'width:0';
    }
  },
  async mounted () {
    this.$store.commit('segment/produtView', this.getCurrentProduct)
    await this.$store.dispatch('recently-viewed/addItem', this.getCurrentProduct)

    let featuredQuery = prepareQuery({ filters: [{ 'key': 'brands', 'value': { 'eq': this.getCurrentProduct.brands } }] });
    const featuredQueryResult = await this.$store.dispatch('product/findProducts', {
      query: featuredQuery,
      start: 0,
      size: 8,
      options: {
        populateRequestCacheTags: false,
        prefetchGroupProducts: false
      }
    }, { root: true })
    const brandData = featuredQueryResult.items.length > 0 ? featuredQueryResult.items : [];
    this.dataPuppy = brandData.filter(item => item.id !== this.getCurrentProduct.id)
    this.deliveryData = this.getAttributeListByCode.delivery_type &&
    this.getAttributeListByCode.delivery_type.options.filter(item => item.value === this.getCurrentProduct.delivery_type)
  },
  async asyncData ({ store, route, context }) {
    if (context) context.output.cacheTags.add('product')
    const product = await store.dispatch('product/loadProduct', { parentSku: route.params.parentSku, childSku: route && route.params && route.params.childSku ? route.params.childSku : null })
    const loadBreadcrumbsPromise = store.dispatch('product/loadProductBreadcrumbs', { product })
    if (isServer) await loadBreadcrumbsPromise
    catalogHooksExecutors.productPageVisited(product)
  },
  beforeRouteEnter (to, from, next) {
    if (isServer) {
      next()
    } else {
      next((vm) => {
        vm.getQuantity()
      })
    }
  },
  watch: {
    '$route' () {
      this.pName = ''
    },
    isOnline: {
      handler (isOnline) {
        if (isOnline) {
          this.getQuantity()
        }
      }
    },
    totalReview: {
      handler () {
        this.checkReviewFlag = true;
      }
    }
  },
  methods: {
    disableQtyBtn (qty) {
      if (qty > 0) {
        this.stopQtyCount = qty
      }
    },
    disableAddToCartBtn (prm) {
      this.hideCartBtn = prm
    },
    updateProductQty (qty) {
      this.$store.dispatch('cart/updateQuantity', { product: this.getCurrentProduct, qty: qty })
    },
    scrollToOpenReviewForm () {
      const headerOffset = document.querySelector('.header').clientHeight;
      const offsetTop = document.querySelector('.productreview-section').offsetTop;
      const offset = offsetTop - headerOffset;
      scroll({
        top: offset,
        behavior: 'smooth'
      });
      this.$bus.$emit('show-review-form', true)
    },
    notifyOutStock () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t(
          'The product is out of stock and cannot be added to the cart!'
        ),
        action1: { label: this.$t('OK') }
      })
    },
    notifyWrongAttributes () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t(
          'No such configuration for the product. Please do choose another combination of attributes.'
        ),
        action1: { label: this.$t('OK') }
      })
    },
    async changeFilter (variant) {
      const selectedConfiguration = Object.assign({ attribute_code: variant.type }, variant)
      await filterChangedProduct(selectedConfiguration, this.$store, this.$router)
      this.getQuantity()
    },
    openSizeGuide () {
      this.$bus.$emit('modal-show', 'modal-sizeguide')
    },
    isOptionAvailable (option) { // check if the option is available
      const currentConfig = Object.assign({}, this.getCurrentProductConfiguration)
      currentConfig[option.type] = option
      return isOptionAvailableAsync(this.$store, { product: this.getCurrentProduct, configuration: currentConfig })
    },
    async getQuantity () {
      if (this.isStockInfoLoading) return // stock info is already loading
      this.isStockInfoLoading = true
      try {
        if (config.products.alwaysSyncPricesClientSide) {
          doPlatformPricesSync([this.getCurrentProduct]);
        }
        const res = await this.$store.dispatch('stock/check', {
          product: this.getCurrentProduct,
          qty: this.getCurrentProduct.qty
        })

        this.manageQuantity = res.isManageStock
        this.maxQuantity = res.isManageStock ? res.qty : null
      } finally {
        this.isStockInfoLoading = false
      }
    },
    handleQuantityError (error) {
      this.quantityError = error
    },
    productName () {
      if (this.pName === '') {
        this.pName = this.getCurrentProduct ? this.getCurrentProduct.name : ''
        this.$store.dispatch('review/list', { productId: this.getCurrentProduct.id, size: 500, sort: 'created_at:desc' })
      }
      return this.pName;
    }
  },
  metaInfo () {
    // const storeView = currentStoreView()
    const { meta_title, meta_description, meta_keyword, name, slug } = this.getCurrentProduct
    const product_image = productImageUrl(this.getThumbnail(this.getCurrentProduct.image, config.products.thumbnails.width, config.products.thumbnails.height), 'Product-Page')
    const product_url = formatProductLink(this.getCurrentProduct, currentStoreView().storeCode)
    const product_url_full = product_url ? config.aureatelabs.site_url + product_url : '';
    let links = []
    if (this.productImages && this.productImages.length > 0) {
      this.productImages.map(banner => links.push({ rel: 'preload', as: 'image', href: !this.isMobile ? correctUrl(banner.image) : correctUrl(banner.mobile_image) }))
    }

    const meta = [
      { vmid: 'description', name: 'description', content: meta_description ? htmlDecode(meta_description) : '' },
      { vmid: 'og:title', property: 'og:title', content: name || '' },
      { vmid: 'og:description', property: 'og:description', content: meta_description ? htmlDecode(meta_description) : '' },
      { vmid: 'meta_keywords', name: 'keywords', content: meta_keyword || '' },
      { vmid: 'og:image', property: 'og:image', content: product_image },
      { vmid: 'og:url', property: 'og:url', content: product_url_full },
      { vmid: 'og:type', property: 'og:type', content: 'website' },
      { vmid: 'fb:app_id', property: 'fb:app_id', content: getFbId() },
      { vmid: 'twitter:title', property: 'twitter:title', content: name || '' },
      { vmid: 'twitter:text:title', property: 'twitter:text:title', content: name || '' },
      { vmid: 'twitter:description', property: 'twitter:description', content: meta_description ? htmlDecode(meta_description) : '' },
      { vmid: 'twitter:image', property: 'twitter:image', content: product_image },
      { vmid: 'twitter:url', property: 'twitter:url', content: product_url_full }
    ]

    return {
      /* link: [
        { rel: 'amphtml',
          href: this.$router.resolve(localizedRoute({
            name: this.getCurrentProduct.type_id + '-product-amp',
            params: {
              parentSku: this.getCurrentProduct.parentSku ? this.getCurrentProduct.parentSku : this.getCurrentProduct.sku,
              slug: this.getCurrentProduct.slug,
              childSku: this.getCurrentProduct.sku
            }
          }, storeView.storeCode)).href
        }
      ], */
      title: htmlDecode(meta_title || this.productName()),
      meta,
      links
    }
  }
}
</script>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$bg-secondary: color(secondary, $colors-background);
$black: color(black);
$gray-979797: color(gray-979797);
$gray: color(gray);
$light-gray: color(light-gray);
$oat: color(oat);
$red-f14e46: color(red-f14e46);
$red: color(red);
$blue: color(blue);
.product {
  &__add-to-compare {
    display: none;
    @media (min-width: 767px) {
      display: block;
    }
  }
}

.breadcrumbs {
  @media (max-width: 767px) {
    margin: 15px 0;
    padding: 20px 0 0;
  }
}
label {
  margin: 5px 0 10px;
  font-size: 14px;
  display: block;
}
.product-name {
    font-size: 21px;
    line-height:1.3;
    color: $black;
}
.product-details-price {
  .delivery-option {
    .delivery-box {
      margin-top: 15px;
      display: block;
      .delivery-item {
        width: 100%;
        h2 {
          span {
            font-size: 12px;
          }
        }
      }
      @media (max-width: 767px) {
         margin-top:0px;
      }
    }
  }
  .product-reviews-summary {
    padding: 10px 0;
    a {
      color: $blue;
      margin-left: 10px;
    }
    @media (min-width: 768px) {
      display: flex;
    }
    &.short{
      .rating-summary{
        background: url(/assets/icons/star.png);
        width: 100px;
        height: 20px;
        .rating-result{
          background: url(/assets/icons/star-active.png);
          display: block;
          height: 20px;
        }
      }
      .reviews-actions{
        cursor: pointer;
        font-size: 14px;
        line-height: 1.2;
        margin-left: 5px;
      }
    }
  }
  .size{
    display: flex;
    flex-wrap: wrap;
    > div{
      margin-bottom: 10px;
    }
  }
}
.product-details-price {
  .special-offer {
    padding: 7px 15px;
    font-size: 16px;
    border-width: 1px;
    margin-bottom: 15px;
  }
}
.price-tag {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid $gray-979797;
}
.price-actual {
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid $gray-979797;
  .price-sub {
    display: flex;
    align-items: center;
    margin-left: 15px;
    p {
      font-size: 14px;
      margin-left: 10px;
      span {
        display: block;
        color: $gray-979797;
        font-size: 13px;
        margin-top: 3px
      }
    }
  }
}

.btn {
  &.addtocart {
    padding: 10px 15px;
    font-weight: 600;
    font-size: 14px;
    width: 100%;
    &.button-disabled{
      opacity: 0.5;
    }
  }
  &:hover {
    background-color: $red-f14e46;
    opacity: 1;
  }
}

.error {
  color: $red;
  font-weight: bold;
  padding-bottom: 15px;
}

.data {
  @media (max-width: 767px) {
    border-bottom: 1px solid $bg-secondary;
  }
}

.image {
  @media (max-width: 1023px) {
    margin-bottom: 20px;
  }
  .add-to-wishlist {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
  }
}

.product-name {
  @media (max-width: 767px) {
    font-size: 18px;
    padding: 20px 0 0 0;
  }
}

.variants-label {
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.variants-wrapper {
  @media (max-width: 767px) {
    padding-bottom: 30px;
  }

  .sizes {
    @media (max-width: 767px) {
      width: 100%;
    }
  }

  .size-guide {
    height: 40px;
    @media (max-width: 767px) {
      width: 100%;
      margin-left: 0;
    }
  }
}

.product-top-section {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  @media (max-width: 767px) {
    padding: 0;
    background-color: $white;
  }
}

.add-to-buttons {
  @media (max-width: 767px) {
    padding-top: 30px;
    margin-bottom: 40px;
  }
}

.details-title {
  padding: 0 8px;

  @media (max-width: 767px) {
    font-size: 18px;
    margin: 0;
  }
}

.details-wrapper {
  @media (max-width: 767px) {
    position: relative;
    max-height: 140px;
    overflow: hidden;
    transition: all 0.3s ease;
    font-size: 14px;
  }

  &--open {
    max-height: none;
  }
}

.details-overlay {
  @media (max-width: 767px) {
    position: absolute;
    height: 75%;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    cursor: pointer;
    background: linear-gradient(rgba($white, 0), rgba($white, 1));
    &.hidden {
      display: none;
    }
  }
}

.attributes {
  list-style-type: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/*.product-image {
  mix-blend-mode: multiply;
}*/

.web-share {
  float: right;
}
.feeding-weight {
  span {
    border: 1px solid $oat;
    padding: 1px;
  }
}
.table-details {
  table {
    border-collapse: collapse;
    thead {
      tr {
        background-color: $light-gray;
        th {
          padding: 10px 20px;
          font-size: 16px;
          text-align: left;
        }
      }
    }
    tbody {
      tr {
          border-bottom: 1px solid $gray-979797;
        td {
          font-size: 16px;
          font-weight: bold;
          padding: 10px 15px;
          background: $white;
          &:first-child {
            color: $gray-979797;
            width: 250px;
            font-weight: normal;
            @media (max-width: 767px) {
              width: 180px;
            }
          }
        }
      }
    }
  }
}
.product-top-section{
  .addtocart-quantity {
    .qty-input{
      margin-bottom: 15px;
    }
  }
}
@media (max-width: 1200px) {
  .product-details-price {
     > div {
      width: 100%;
      max-width: 100%;
      flex-basis: 100%;
      margin-left: 0;
    }
  }
}
@media (max-width: 992px) {
  .addtocart-quantity {
    display: flex;
    align-items: flex-end;
    .product-quantity {
      width: 48%;
      margin-right: 2%;
      .qty-element {
        margin-bottom: 0;
      }
    }
    .btn.addtocart {
      width: 48%;
      margin-left: 2%;
      margin-bottom: 15px;
    }
  }
}
.product-details-tabs {
  .tabs__header {
    padding: 0 6.5%;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      background: $gray-979797;
      bottom: 0;
      height: 1px;
      width: 100%;
      left: 0;
      right: 0;
      z-index: -1;
    }
    li {
      padding: 30px 5px;
      width: 20%;
      text-align: center;
      cursor: pointer;
      color: $black;
      border: 1px solid $gray-979797;
      border-right-color: transparent;
      background-color: $light-gray;
      &.tab__selected {
        background-color: $white;
        border: 1px solid $gray-979797;
        border-bottom-color: $white;
        border-right: 1px solid transparent;
        z-index: 1;
      }
      &:last-child {
        border-right: 1px solid $gray-979797;
      }
    }
  }
  .product-detail-left {
    h2 {
      font-size: 21px;
      font-weight: bold;
      color: $black;
      margin-bottom: 15px;
    }
    p {
      color: $black;
      line-height: 1.5;
    }
    ul {
      li {
        color: $black;
        font-size: 16px;
        margin: 15px 0;
        position: relative;
        padding-left: 20px;
        &:after {
          content: "";
          position: absolute;
          border-radius: 50%;
          background: $red;
          height: 7px;
          width: 7px;
          left: 0;
          top: 5px;
        }
      }
    }
}
.product-detail-right {
  background-color:$light-gray;
  padding: 20px 30px;
  ul {
    li {
      border-top: 1px solid $gray-979797;
      padding: 25px 0;
      display: flex;
      justify-content: start;
      font-weight: bold;
      color: $black;
      font-size: 16px;
      span {
        min-width: 200px;
        display: inline-block;
        vertical-align: top;
        color: $gray-979797;
      }
    }
    .notes {
      p {
        font-size: 14px;
        color: $gray-979797;
      }
    }
  }
  .notes {
    font-size: 14px;
    color: $gray-979797;
  }
}
.product-details-tabs-content {
  display: none;
  &.active {
    display: block;
  }
}
}

.product-details-tabs {
  @media (max-width: 1024px) {
    .product-detail-right {
      padding: 15px 20px;
      ul {
        li {
          padding: 15px 0;
          font-size: 14px;
          span {
            min-width: 150px;
          }
        }
      }
    }
  }
  @media (max-width: 991px) {
    .tab {
      padding: 0 15px;
    }
  }
  @media (max-width: 768px) {
    padding: 0;
    .product-desc {
      margin-bottom: 15px;
    }
    .product-detail-right {
      width: 100%;
      padding: 25px 15px;
      ul {
        li {
          font-size: 16px;
        }
      }
    }
    .tab {
      h2 {
        margin-bottom: 15px;
        font-size: 18px;
      }
    }
    .tabs__header {
      padding: 0 15px;
      overflow-y: auto;
      flex-wrap: nowrap;
      li {
        min-width: 160px;
        padding: 20px 5px;
      }
    }
  }
}

table.feedingguide {
  width: 380px;
  text-align: center;
  border-collapse: collapse;
  font-size: 18px;
  font-family: inherit;
  font-weight: 400;
}
table.feedingguide td,
table.feedingguide th {
  padding: 8px 4px;
}
table.feedingguide tbody td {
  height: 60px;
  border-bottom: 1px solid #CCC;
}
.guiderow {
  font-weight: bold;
  color: #979797;
}
table.feedingguide thead {
  background: $light-gray;
}
table.feedingguide thead th {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  background: $light-gray;
}
.quantity-rightbar{
  background: $light-gray;
  padding: 10px 15px;
  .qty-element-label{
    font-weight: 500;
  }
  @media (max-width: 767px) {
    padding: 0px 0px 15px 0;
    background: none;
  }
}
.out-of-stock-btn {
  color: $black;
  border: 1px solid $black;
  border-radius: 3px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  padding: 6px 10px;
  margin-bottom: 15px;
}
.special-offer {
  & + .out-of-stock-btn {
    margin-top: 10px;
  }
}
.mobile-product-title {
  .product-reviews-summary {
    padding: 10px 0;
    a {
      color: $blue;
      margin-left: 10px;
    }
    @media (min-width: 768px) {
      display: flex;
    }
    &.short{
      .rating-summary{
        background: url(/assets/icons/star.png);
        width: 100px;
        height: 20px;
        .rating-result{
          background: url(/assets/icons/star-active.png);
          display: block;
          height: 20px;
        }
      }
      .reviews-actions{
        font-size: 14px;
        line-height: 1.2;
        margin-left: 5px;
      }
    }
  }
}
.skeleton-reviews{
  height: 40px;
  overflow: hidden;
  .skeleton-line{
    height: 15px;
    margin-bottom: 5px;
    width: 100%;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
.skeleton-price{
  .skeleton-line{
    height: 40px;
    width: 100%;
  }
}
</style>
