<template>
  <div class="container small-space search-result-wrapper">
    <div class="search_items">
      <h2>
        {{ $t("Search result(s) for " + searchText + "...") }}
      </h2>
      <div class="flex">
        <div
          class="col-md-3 p0 category-filters mobile-filters brdr-right-1 brdr-cl-gray-979797"
          v-show="mobileFilters"
        >
          <div class="close-container absolute w-100 hidden-lg hidden-xl">
            <i
              class="p5 close cl-accent pointer"
              @click="closeFilters"
            >
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="cl-accent">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" />
              </svg>
            </i>
          </div>
          <search-sidebar
            :filters="filters"
            :is-filter-active="!finalFilterString"
            @reset-filter="resetFilterString"
            :tags="variants"
          />
        </div>
        <div class="col-md-9 products-list p15 small-space bg-cl-light-gray">
          <div class="row m0 swap-div mobile-filter-row">
            <div class="mobile-sorting col-xs-6" />
            <div class="col-xs-6 mobile-filter">
              <button
                class="mobile-filters-button cl-balck fs-medium-small bg-cl-white"
                @click="openFilters"
              >
                {{ $t("Filters") }}
              </button>
            </div>
          </div>
          <div class="result-list">
            <product-listing
              v-if="product.length > 0"
              :columns="4"
              :products="product"
              class="product-row1"
              :total-products="50"
              :sajari-search-result="sajariSearchResult"
            />
            <div v-if="!productLoading && !product.length" style="margin:auto;">
              <h2>No result found</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="search_items" v-if="articlesResults.length > 0">
      <h2>{{ "Articles..." }}</h2>
      <div class="flex result-list">
        <div
          class="item"
          v-for="(article, index) of articlesResults"
          :key="index"
        >
          <router-link to="/">
            <span>
              <product-image
                :image="getProductImage(article.values.articleimage, 'article')"
              />
            </span>
            <p>{{ article.values.title }}</p>
          </router-link>
        </div>
      </div>
    </div>
    <div class="site-loader-wrap" style="margin:50px;" v-if="productLoading">
      <div class="site-ajax-loader" />
    </div>
  </div>
</template>
<script>
import config from 'config';
import {
  Client,
  DefaultSession,
  TrackingType,
  InteractiveSession
} from '@sajari/sdk-js';
import ProductImage from 'theme/components/core/ProductImage.vue';
import { currentStoreView } from '@vue-storefront/core/lib/multistore';
import { formatProductLink } from '@vue-storefront/core/modules/url/helpers';
import SearchSidebar from '../components/theme/blocks/searchSidebar.vue';
import onBottomScroll from '@vue-storefront/core/mixins/onBottomScroll';
import { prepareQuery } from '@vue-storefront/core/modules/catalog/queries/common';
import { mapGetters } from 'vuex';
import ProductListing from '../components/core/ProductListing.vue';
import { getFbId } from 'theme/helpers'

export default {
  name: 'SearchResult',
  mixins: [onBottomScroll],
  watch: {
    $route (to, from) {
      if (from.name === 'search-result') {
        this.finalFilterString = null;
        this.appendResult = false;
        this.page = 1;
        this.productSearchInstance(this.finalFilterString);
      }
    }
  },
  data () {
    return {
      searchResult: [],
      articlesResults: [],
      mobileFilters: false,
      filters: {},
      appliedFilter: {},
      finalFilterString: null,
      variants: [],
      perPage: 48,
      page: 1,
      productLoading: false,
      noResult: false,
      appendResult: true,
      sajariSearchResult: []
    };
  },
  computed: {
    ...mapGetters({
      product: 'product/getProducts'
    }),
    searchText () {
      return this.$route.query.keyword || ''
    }
  },
  components: {
    ProductImage,
    SearchSidebar,
    ProductListing
  },
  async created () {
    this.$store.commit('product/product/SET_PRODUCTS', {
      start: 0,
      perPage: 50,
      total: 0,
      items: []
    });
    this.productSearchInstance();

    /**
     * Uncommnet below {this.articleSeachInstance()} method for article seachig as well
     */
    // this.articleSeachInstance()
  },
  beforeMount () {
    this.$bus.$on('get-applied-sajari-filter', this.checkAvailabelFilter);
    this.sajariSearchResult = [];
  },
  methods: {
    openFilters () {
      this.mobileFilters = true;
    },
    closeFilters () {
      this.mobileFilters = false;
    },
    productSearchInstance (filter = null) {
      if (this.searchText && this.searchText !== '') {
        this.productLoading = true;
        const {
          projectId,
          product: { collectionId, pipeline }
        } = config.sajari;
        let client = new Client(projectId, collectionId).pipeline(pipeline);
        let clickTrackedSession = new InteractiveSession(
          'q',
          new DefaultSession(TrackingType.Click, 'seourl', {})
        );

        let productValues = {
          q: this.searchText,
          resultsPerPage: '48',
          page: this.page.toString(),
          countAggregate:
          'dietary_requirements,breed_size,lifestage,mainflavour,web_brands,web_categories'
        };
        this.page += 1;
        if (filter) productValues.filter = filter.toString();

        client
          .search(productValues, clickTrackedSession.next(productValues))
          .then(async ([response, values]) => {
            const { aggregates, results } = response;
            this.filters = aggregates;
            if (results && results.length > 0) {
              this.noResult = false;
              let productSkus = results.map(product => product.values.sku);
              let productClicks = results.map(product => product.token.click);
              if (productSkus.length === productClicks.length) {
                productSkus.forEach((sku, index) => {
                  this.sajariSearchResult.push({ 'sku': sku, click: productClicks[index] })
                })
              }

              let featuredQuery = prepareQuery({
                filters: [{ key: 'sku', value: { eq: productSkus } }]
              });
              await this.$store
                .dispatch('product/list', {
                  query: featuredQuery,
                  size: 48,
                  start: 0,
                  updateState: true,
                  append: this.appendResult
                })
                .then(res => {
                  this.searchResult = res.items.length > 0 ? res.items : [];
                });
              this.appendResult = true;
            } else {
              this.searchResult = [];
              this.noResult = true;
            }
            this.productLoading = false;
          });
      }
    },
    articleSeachInstance () {
      const {
        projectId,
        article: { collectionId, pipeline }
      } = config.sajari;
      let articleClient = new Client(projectId, collectionId).pipeline(
        pipeline
      );
      let articleClickTrackedSession = new InteractiveSession(
        'q',
        new DefaultSession(TrackingType.Click, 'seourl', {})
      );

      let articleValues = {
        q: this.searchText,
        resultsPerPage: '50',
        countAggregate: 'articlecategory'
      };
      // localizedRoute(article.values.uid) for article url
      articleClient
        .search(articleValues, articleClickTrackedSession.next(articleValues))
        .then(([response, values]) => {
          const { results } = response;
          this.articlesResults = results && results.length > 0 ? results : [];
        });
    },
    getProductImage (path, type) {
      let thumbnail = this.getThumbnail(
        '/' + path,
        config.products.thumbnails.width,
        config.products.thumbnails.height
      );
      return type === 'article'
        ? {
          src: path,
          loading: thumbnail
        }
        : {
          src: thumbnail,
          loading: thumbnail
        };
    },
    getSearchProductUrl (product) {
      return formatProductLink(product, currentStoreView().storeCode);
    },
    checkAvailabelFilter (payload) {
      this.appendResult = false;
      const { filterType, variant, remove } = payload;
      if (this.variants.includes(variant)) {
        let variantIndex = this.variants.indexOf(variant);
        this.variants.splice(variantIndex, 1);
      } else {
        this.variants.push(variant);
      }
      // paylaod: Object<filterType, variant, remove>
      if (this.appliedFilter[filterType]) {
        // check if already key is exit or not
        if (remove) {
          // check if properties are gonna remove
          let variantIndex = this.appliedFilter[filterType].indexOf(variant);
          this.appliedFilter[filterType].splice(variantIndex, 1);
          if (this.appliedFilter[filterType].length === 0) {
            // Remove key from object if value array is blank
            delete this.appliedFilter[filterType];
          }
        } else {
          // Add value into existed key in an object
          this.appliedFilter[filterType] = [
            ...this.appliedFilter[filterType],
            ...[variant]
          ];
        }
      } else {
        // Add new key value for newly coming key
        this.appliedFilter[filterType] = [variant];
      }

      if (Object.keys(this.appliedFilter).length > 0) {
        // check @appliedFilter object has key value
        this.page = 1;
        let filterKeys = Object.keys(this.appliedFilter); // Individual key's value
        this.finalFilterString =
          '(' +
          filterKeys
            .map(key => {
              if (key !== 'web_brands') {
                // return `${key}=['${this.appliedFilter[key].join("','")}']` // For filter type List
                return this.appliedFilter[key]
                  .map(value => {
                    return `${key}=['${value}']`; // For filter type List
                  })
                  .join(' OR ');
              } else {
                return (
                  this.appliedFilter[key].length > 0 &&
                  this.appliedFilter[key]
                    .map(value => {
                      return this.appliedFilter[key].length === 1
                        ? `${key} = '${value}'`
                        : `(${key} = '${value}')`; // For filter type String
                    })
                    .join(' OR ')
                );
              }
            })
            .join(') AND (') +
          ')';
        this.productSearchInstance(this.finalFilterString);
      } else {
        this.resetFilterString(); // reset filter string if no active filter available
      }
    },
    resetFilterString (allReset = false) {
      this.finalFilterString = '';
      this.appliedFilter = {};
      this.perPage = 48;
      this.variants = [];
      this.appendResult = false;
      this.page = 1;
      this.productSearchInstance(this.finalFilterString);
      if (allReset) this.$bus.$emit('remove-active-btns');
    },
    onBottomScroll () {
      if (this.productLoading || this.product.length === 0) return;
      // this.productLoading = true
      this.perPage += 48;
      this.productSearchInstance(this.finalFilterString);
    }
  },
  destroyed () {
    this.$bus.$off('get-applied-sajari-filter', this.checkAvailabelFilter);
  },
  metaInfo () {
    const meta_description = 'Pet store ranging from pet food, toys accessories and more. Buy in store and online with free delivery options available.'
    const meta_keyword = 'pet store, pet food, dog food, cat food, puppy food, dog toys, kitten food, dog beds'
    const meta_title = 'Search results for: \'' + this.searchText + '\' | Jollyes - The Pet People'
    const main_logo = config.aureatelabs.site_url + '/assets/site-logo.png';
    const page_url = config.aureatelabs.site_url + '/search-result?keyword=' + this.searchText;
    const meta = [
      { vmid: 'description', name: 'description', content: meta_description },
      { vmid: 'og:title', property: 'og:title', content: meta_title },
      { vmid: 'og:description', property: 'og:description', content: meta_description },
      { vmid: 'meta_keywords', name: 'keywords', content: meta_keyword },
      { vmid: 'og:image', property: 'og:image', content: main_logo },
      { vmid: 'og:url', property: 'og:url', content: page_url },
      { vmid: 'og:type', property: 'og:type', content: 'website' },
      { vmid: 'fb:app_id', property: 'fb:app_id', content: getFbId() },
      { vmid: 'twitter:title', property: 'twitter:title', content: meta_title },
      { vmid: 'twitter:text:title', property: 'twitter:text:title', content: meta_title },
      { vmid: 'twitter:description', property: 'twitter:description', content: meta_description },
      { vmid: 'twitter:image', property: 'twitter:image', content: main_logo },
      { vmid: 'twitter:url', property: 'twitter:url', content: page_url }
    ]
    return {
      title: 'Search results for: \'' + this.searchText + '\' | Jollyes - The Pet People',
      meta
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
$light-gray: color(light-gray);
$gray-979797: color(gray-979797);

.search-result-wrapper {
  min-height: 35vh;
}
.search_items {
  h2 {
    text-align: center;
    margin-bottom: 15px;
  }
  .result-list {
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    .item {
      margin-bottom: 20px;
      width: 25%;
      padding: 0 15px;
      a {
        background: $light-gray;
        display: block;
        height: 100%;
        padding: 15px;
        border-radius: 8px;
        span {
          padding-top: 100%;
          display: block;
          position: relative;
          img {
            position: absolute;
            top: 0;
            left: 0;
            max-width: 100%;
            max-height: 100%;
            object-position: top;
            object-fit: cover;
          }
        }
        p {
          padding: 15px 0 0;
          font-size: 14px;
          line-height: 1.3;
        }
      }
      &:last-child {
        margin-bottom: 0px;
      }
    }
    @media (max-width: 1199px) {
      .item {
        width: 25%;
      }
    }
    @media (max-width: 991px) {
      margin-top: 25px;
      .item {
        width: 33.333333%;
      }
    }
    @media (max-width: 680px) {
      margin-left: -10px;
      margin-right: -10px;
      .item {
        width: 50%;
        padding-left: 10px;
        padding-right: 10px;
        a {
          padding: 10px;
        }
      }
    }
  }
}

.close-container {
  left: 0;
  top: 0;
}

@media (min-width: 992px) {
  .category-filters {
    &.mobile-filters {
      display: block !important;
      position: sticky;
      top: 182px;
      align-self: flex-start;
      margin-bottom: 50px;
    }
  }
  .mobile-filter-row {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .category-title {
    margin: 0;
    font-size: 36px;
    line-height: 40px;
  }

  .products-list {
    width: 100%;
    max-width: none;
    flex-basis: auto;
  }

  .mobile-filters-button {
    display: block;
    height: 45px;
    background-image: url(/assets/icons/icon-filter.png);
    background-repeat: no-repeat;
    border: 1px solid $gray-979797;
    padding-left: 40px;
    background-size: 24px;
    background-position: left 10px center;
    text-align: left;
    width: 100%;
    font-size: 14px;
  }

  .sorting {
    display: none;
    select {
      width: 100%;
    }
  }

  .mobile-sorting {
    display: block;
    padding-right: 7.5px;
  }

  .mobile-filter {
    padding-left: 7.5px;
  }

  .product-listing {
    margin-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .mobile-filters {
    position: fixed;
    background-color: #f2f2f2;
    z-index: 1000;
    padding: 20px 35px;
    left: 0;
    width: 100%;
    flex-basis: 100%;
    max-width: 100%;
    height: 100vh;
    top: 0;
    box-sizing: border-box;
    overflow-y: auto;
    border-right: 0px;
    .sidebar {
      position: relative;
      width: 100%;
      .main-filter-sidebar {
        width: 100%;
        height: auto;
      }
    }
  }

  .mobile-filters-body {
    padding-top: 50px;
  }

  .products-list {
    .sorting-row {
      display: none;
    }
  }
}
@media (max-width: 419px) {
  .mobile-filter-row {
    padding: 0 10px;
    .col-xs-6 {
      padding: 0;
      &.mobile-sorting {
        padding-right: 5px;
      }
      &.mobile-filter {
        padding-left: 5px;
      }
    }
  }
}
</style>
