<template>
  <div id="cms-page">
    <div v-html="getCmsPage[0].content" />
  </div>
</template>

<script>
import config from 'config'
import { getFbId } from 'theme/helpers'
import { mapGetters } from 'vuex'
import i18n from '@vue-storefront/i18n'
import { htmlDecode } from '@vue-storefront/core/filters'

export default {
  name: 'Since1971',
  computed: {
    ...mapGetters({
      getCmsPage: 'cmsPage/getCmsPages'
    })
  },
  async asyncData ({ store }) {
    await store.dispatch('cmsPage/single', { key: 'identifier', value: 'since-1971' })
  },
  metaInfo () {
    const { meta_title, meta_description, meta_keyword, identifier } = this.getCmsPage[0];
    const main_logo = config.aureatelabs.site_url + '/assets/site-logo.png';
    const page_url = identifier ? config.aureatelabs.site_url + '/' + identifier : '';
    const meta = [
      { vmid: 'description', name: 'description', content: meta_description ? htmlDecode(meta_description) : '' },
      { vmid: 'og:title', property: 'og:title', content: meta_title || '' },
      { vmid: 'og:description', property: 'og:description', content: meta_description ? htmlDecode(meta_description) : '' },
      { vmid: 'meta_keywords', name: 'keywords', content: meta_keyword || '' },
      { vmid: 'og:image', property: 'og:image', content: main_logo },
      { vmid: 'og:url', property: 'og:url', content: page_url },
      { vmid: 'og:type', property: 'og:type', content: 'website' },
      { vmid: 'fb:app_id', property: 'fb:app_id', content: getFbId() },
      { vmid: 'twitter:title', property: 'twitter:title', content: meta_title || '' },
      { vmid: 'twitter:text:title', property: 'twitter:text:title', content: meta_title || '' },
      { vmid: 'twitter:description', property: 'twitter:description', content: meta_description ? htmlDecode(meta_description) : '' },
      { vmid: 'twitter:image', property: 'twitter:image', content: main_logo },
      { vmid: 'twitter:url', property: 'twitter:url', content: page_url }
    ]
    return {
      title: meta_title || i18n.t('Since 1971'),
      meta
    }
  }
}
</script>
<style lang="scss">
@import '~theme/css/pages/cmspage';
</style>
