<template>
  <div class="store-detail">
    <div class="site-loader-wrap" v-if="storeItem.length === 0">
      <div class="site-ajax-loader" />
    </div>
    <div class="container bg-cl-light-gray" v-else>
      <router-link to="/locator">
        <button class="back-btn">
          <span class="arrow" />
          {{ $t('Back') }}
        </button>
      </router-link>
      <div class="store-head relative flex middle-xl">
        <span class="round-img small">
          <img :src="getFormatedUrlForStore({url: storeItem.icon.handle})" :alt="storeItem.icon.altText || storeParams" :title="storeItem.name">
        </span>
        <div class="store-address">
          <h2>
            {{ storeItem.name }}
          </h2>
          <p class="weight-600 mb5">
            {{ storeItem.streetAddress }}, {{ storeItem.city }}, {{ storeItem.county }}, {{ storeItem.postCode }}
          </p>
          <p v-if="!!storeItem.licenseNumber">
            License number: {{ storeItem.licenseNumber }}
          </p>
        </div>
        <div class="make-local-store">
          <span>
            {{ $t('Your local store') }}
          </span>
          <label class="on-off-btn" @click="offBtn">
            <input type="checkbox" ref="set_local_store" v-if="currentUser" :checked="!isStoreLocalStore(storeItem)" @change.prevent="setStoreAsLocal($event, storeItem)">
            <span class="checkmark" />
          </label>
        </div>
      </div>
      <div class="store-block1 flex">
        <div class="hours border-box">
          <h4>
            {{ $t('Store Hours') }}
          </h4>
          <ul class="open-time-list">
            <li v-for="storeTime in getStoreTimings(storeItem)" :key="storeTime.weekDay">
              <span>
                <strong>{{ $t(storeTime.weekDay) }}</strong> {{ storeTime.startTime }} - {{ storeTime.endTime }}
              </span>
            </li>
          </ul>
        </div>
        <div class="contact border-box">
          <h4>
            {{ $t('Contact') }}
          </h4>
          <ul class="contact-info">
            <li>
              <a :href="'tel:' + storeItem.phoneNumber">
                <img src="/assets/icons/call-icon.png" alt="">
                <span>
                  {{ storeItem.phoneNumber }}
                </span>
              </a>
            </li>
            <li>
              <a target="_blank" :href="'mailto:' + storeItem.emailAddress">
                <img src="/assets/icons/mail-icon.png" alt="">
                <span>
                  {{ storeItem.emailAddress }}
                </span>
              </a>
            </li>
          </ul>
          <h4>
            {{ $t('Follow us on:') }}
          </h4>
          <ul class="social-media">
            <li v-if="storeItem.facebookPage">
              <a target="_blank" :href="storeItem.facebookPage">
                <img src="/assets/icons/facebook-icon.svg" alt="Facebook">
              </a>
            </li>
            <li v-if="storeItem.twitterPage">
              <a target="_blank" :href="storeItem.twitterPage">
                <img src="/assets/icons/twitter-icon.svg" alt="Twitter">
              </a>
            </li>
            <li v-if="storeItem.instagramPage">
              <a target="_blank" :href="storeItem.instagramPage">
                <img src="/assets/icons/instagram-icon.svg" alt="Instagram">
              </a>
            </li>
            <li v-if="storeItem.youtubePage">
              <a target="_blank" :href="storeItem.youtubePage">
                <img src="/assets/icons/youtube-icon.svg" alt="Youtube">
              </a>
            </li>
          </ul>
        </div>
        <no-ssr>
          <store-map
            :latitude="storeItem.map.latitude"
            :longitude="storeItem.map.longitude"
            :store="storeItem"
          />
        </no-ssr>
      </div>
      <div class="store-information" v-if="getStoreInformation(storeItem).length > 0">
        <h2 class="small-space">
          {{ $t('Store Information') }}
        </h2>
        <div class="service-info">
          <div class="border-box" v-for="(storeInfo, index) in getStoreInformation(storeItem)" :key="index">
            <h3>
              {{ $t(storeInfo.title) }}
            </h3>
            <ul class="flex">
              <li v-for="(service, indx) in storeInfo.storeService" :key="indx">
                <span class="round-img">
                  <img :src="getFormatedUrlForStore({url:service.icon.handle})" :alt="service.icon.altText || storeParams" :title="service.name">
                </span>
                <h4>
                  {{ service.name }}
                </h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="special-hours-services" v-if="getStoreServices(storeItem).length > 0">
        <h2 class="small-space">
          {{ $t('Services with Special Hours') }}
        </h2>
        <div class="special-services">
          <div class="services-block">
            <div class="services-acc border-box is-open"
                 :ref="'accordion-' + serviceItem.serviceName"
                 v-for="serviceItem in getStoreServices(storeItem)" :key="serviceItem.serviceName"
                 :class="'accordion-' + serviceItem.serviceName"
            >
              <h3 class="accordion-header flex middle-xs" @click="toggleAccordion(serviceItem.serviceName)">
                <span class="round-img small">
                  <img :src="getFormatedUrlForStore({ url:serviceItem.storeDetail.image.handle, type:'circle'})" :alt="serviceItem.storeDetail.image.altText || storeParams" :title="serviceItem.storeDetail.name">
                </span>
                {{ serviceItem.storeDetail.name }}
              </h3>
              <div class="accordion-body">
                <div class="flex opening-hours">
                  <span>
                    <img :src="getFormatedUrlForStore({url :serviceItem.storeDetail.image.handle, height: 400, width: 400})" :alt="serviceItem.storeDetail.image.altText || storeParams" :title="serviceItem.storeDetail.name">
                  </span>
                  <div class="hours-list">
                    <h4>
                      {{ $t('Opening Hours') }}
                    </h4>
                    <ul>
                      <li v-for="storeTime in getStoreTimings(serviceItem.storeDetail)" :key="storeTime.weekDay">
                        <span>
                          <strong>{{ $t(storeTime.weekDay) }}</strong> {{ storeTime.startTime }} - {{ storeTime.endTime }}
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="services-offered">
                  <h4>{{ $t(serviceItem.serviceTitle) }}</h4>
                  <ul class="flex">
                    <li class="round-img" v-for="(offeredList, offer) in serviceItem.services" :key="offer" v-if="offeredList.icon">
                      <img :src="getFormatedUrlForStore({url: offeredList.icon.handle})" :alt="offeredList.icon.altText || storeParams" :title="offeredList.name">
                    </li>
                  </ul>
                  <p v-html="serviceItem.storeDetail.shortDescription" />
                  <a class="btn black" v-if="serviceItem.storeDetail.appointmentUrl" :href="serviceItem.storeDetail.appointmentUrl" target="_blank">
                    {{ $t('Book Now') }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <block-with-title :is-trust-pilot="true">
        <cms-block :identifier="'store_trustpilot'" :block-class="['store-trustpilot p0 pt20 pb20']" />
      </block-with-title>
      <store-photo-gallery v-if="storeItem.storeImages.length > 0" class="small-space" :sec-title="'Store images'" :slider-id="'store-photo-gallery'" :per-page-custom="[[200, ['auto', 20]]]" :store-photo-gallery="storeItem.storeImages" />
      <store-events v-if="storeItem.events.length > 0" :store-events="storeItem.events" />
      <jollyes-team v-if="storeItem.employee.length > 0" class="small-space" :sec-title="'Meet the Jollyes Ellesmere Port team'" :slider-id="'jollyes-team'" :per-page-custom="[[200, [2, 10]], [576, [3, 15]], [992, [4, 20]], [1200, [6, 20]]]" :teams="storeItem.employee" />
    </div>
    <script v-html="getJsonLd" type="application/ld+json" />
  </div>
</template>

<script>
import StorePhotoGallery from 'theme/components/theme/blocks/Store/StorePhotoGallery'
import StoreEvents from 'theme/components/theme/blocks/Store/StoreEvents'
import JollyesTeam from 'theme/components/theme/blocks/Store/JollyesTeam'
import stores from 'theme/mixins/stores'
import { htmlDecode } from '@vue-storefront/core/filters/html-decode'
import { mapState, mapActions } from 'vuex'
import NoSSR from 'vue-no-ssr'
import CmsBlock from 'theme/components/core/blocks/Cms/Block'
import { eraseCookie, getFbId } from 'theme/helpers'
import BlockWithTitle from 'theme/components/core/blocks/Cms/BlockWithTitle'

export default {
  async asyncData ({ store, route, context }) {
    return store.dispatch('store-location/storeDetail', { storeId: route.params.storeId })
  },
  components: {
    StorePhotoGallery,
    'store-map': () => { if (typeof window !== 'undefined') return import('theme/components/theme/blocks/Store/StoreMap') },
    StoreEvents,
    JollyesTeam,
    'no-ssr': NoSSR,
    CmsBlock,
    BlockWithTitle
  },
  computed: {
    ...mapState({
      currentUser: state => state.user.current
    }),
    storeParams () {
      return this.$route.params.storeId
    },
    storeItem () {
      const storeDetail = this.$store.getters['store-location/storeDetail'] || {};
      if (storeDetail.id && storeDetail.id !== '') {
        return storeDetail
      }
      return []
    },
    getJsonLd () {
      let schemaData = {};
      if (this.storeItem && Object.keys(this.storeItem).length !== 0) {
        const schemaSameAs = [
          this.storeItem?.facebookPage || '',
          this.storeItem?.twitterPage || '',
          this.storeItem?.instagramPage || '',
          this.storeItem?.youtubePage || ''
        ];
        const storeName = this.storeItem?.name || ''
        const storeImageUrl = this.storeItem.icon && this.storeItem.icon.url ? this.storeItem.icon.url : ''
        const storeTelephone = this.storeItem?.phoneNumber || ''
        const storeURL = 'https://www.jollyes.co.uk/store/' + this.storeItem.uid

        let matchingWeekDays = [
          'monday',
          'tuesday',
          'wednesday',
          'thursday',
          'friday',
          'saturday',
          'sunday'
        ];

        let sameOpenCloseDays = [
          'Monday',
          this.storeItem.mondayOpening === this.storeItem.tuesdayOpening && this.storeItem.mondayClosing === this.storeItem.tuesdayClosing ? 'Tuesday' : '',
          this.storeItem.mondayOpening === this.storeItem.wednesdayOpening && this.storeItem.mondayClosing === this.storeItem.wednesdayClosing ? 'Wednesday' : '',
          this.storeItem.mondayOpening === this.storeItem.thursdayOpening && this.storeItem.mondayClosing === this.storeItem.thursdayClosing ? 'Thursday' : '',
          this.storeItem.mondayOpening === this.storeItem.fridayOpening && this.storeItem.mondayClosing === this.storeItem.fridayClosing ? 'Friday' : '',
          this.storeItem.mondayOpening === this.storeItem.saturdayOpening && this.storeItem.mondayClosing === this.storeItem.saturdayClosing ? 'Saturday' : '',
          this.storeItem.mondayOpening === this.storeItem.sundayOpening && this.storeItem.mondayClosing === this.storeItem.sundayClosing ? 'Sunday' : ''
        ]
        sameOpenCloseDays = sameOpenCloseDays.filter(el => { return el; });
        const sameOpenCloseDaysLowercase = sameOpenCloseDays.map(v => v.toLowerCase());

        const getDifferenceDays = matchingWeekDays.filter(x => !sameOpenCloseDaysLowercase.includes(x));
        const globalOpening = this.storeItem.mondayOpening ? this.timeConvert24(this.storeItem.mondayOpening) : ''
        const globalClosing = this.storeItem.mondayClosing ? this.timeConvert24(this.storeItem.mondayClosing) : ''

        let allOpeningClosingDays = [{
          '@type': 'OpeningHoursSpecification',
          'dayOfWeek': sameOpenCloseDays,
          'opens': globalOpening,
          'closes': globalClosing
        }];
        if (getDifferenceDays.length > 0) {
          for (let day in getDifferenceDays) {
            const dayofWeek = getDifferenceDays[day].charAt(0).toUpperCase() + getDifferenceDays[day].slice(1);
            const openingName = getDifferenceDays[day] + 'Opening';
            const closingName = getDifferenceDays[day] + 'Closing';
            const dayOpenTime = this.storeItem[openingName] ? this.timeConvert24(this.storeItem[openingName]) : ''
            const dayCloseTime = this.storeItem[closingName] ? this.timeConvert24(this.storeItem[closingName]) : ''

            const newObj = {
              '@type': 'OpeningHoursSpecification',
              dayOfWeek: dayofWeek,
              opens: dayOpenTime,
              closes: dayCloseTime
            }
            allOpeningClosingDays.push(newObj)
          }
        }

        schemaData = {
          '@context': 'https://schema.org',
          '@type': 'LocalBusiness',
          'name': storeName,
          'image': storeImageUrl,
          '@id': storeURL,
          'url': storeURL,
          'telephone': storeTelephone,
          'address': {
            '@type': 'PostalAddress',
            'streetAddress': this.storeItem?.streetAddress || '',
            'addressLocality': this.storeItem?.city || '',
            'postalCode': this.storeItem?.postCode || '',
            'addressCountry': 'GB'
          },
          'geo': {
            '@type': 'GeoCoordinates',
            'latitude': this.storeItem.map && this.storeItem.map.latitude ? this.storeItem.map.latitude : '',
            'longitude': this.storeItem.map && this.storeItem.map.longitude ? this.storeItem.map.longitude : ''
          },
          'openingHoursSpecification': allOpeningClosingDays,
          'sameAs': schemaSameAs
        }
      }
      return schemaData ? JSON.stringify(schemaData) : schemaData
    }
  },
  methods: {
    ...mapActions({
      openLogin: 'ui/toggleLogin'
    }),
    timeConvert24 (time) {
      if (time !== null) {
        time = time.replace(/(..?)/g, '$1:').slice(0, -1)
        time = time.toString().match(/^([01]\d|2[0-3])(:)([0-5]\d)(:[0-5]\d)?$/) || [time];

        if (time.length > 1) { // If time format correct
          time = time.slice(1); // Remove full string match value
        }
        return time.join(''); // return adjusted time or original string
      }
      return null
    },
    setStoreAsLocal (event, storeData) {
      if (event.target.checked) {
        this.addToLocalStore(storeData);
      } else {
        this.$bus.$emit('change-store-text', 'Store Locator')
        eraseCookie('storelocator');
      }
    },
    toggleAccordion (index) {
      if (this.$refs['accordion-' + index] instanceof Array) {
        this.$refs['accordion-' + index][0].classList.toggle('is-open');
      } else {
        this.$refs['accordion-' + index].classList.toggle('is-open');
      }
    },
    offBtn () {
      if (!this.currentUser) {
        this.openLogin()
        this.$store.commit('ui/setAuthElem', 'login')
      }
    },
    getStoreServices (storeItem) {
      return [
        { serviceName: 'groomer', serviceTitle: 'Grooming Services', storeDetail: storeItem.groomer, services: storeItem.groomer?.groomingServices },
        { serviceName: 'vet', serviceTitle: 'Grooming Services', storeDetail: storeItem.vet, services: storeItem.vet?.services },
        { serviceName: 'cpc', serviceTitle: 'Community Pet Clinic services', storeDetail: storeItem.cpc, services: storeItem.cpc?.services }
      ].filter(service => service.storeDetail !== null)
    },
    getStoreInformation (storeItem) {
      return [
        { title: 'Store Information', storeService: storeItem.storeService },
        { title: 'We Sell', storeService: storeItem.ranges }
      ].filter(info => info.storeService.length > 0)
    },
    storeImage (icon) {
      return this.getFormatedUrlForStore({ url: icon })
    }
  },
  mixins: [stores],
  metaInfo () {
    const { metaDescription, metaTitle, metaKeywords, icon, name } = this.storeItem
    const store_img_link = this.storeImage(icon.handle)
    const meta = [
      { vmid: 'description', name: 'description', content: metaDescription ? htmlDecode(metaDescription) : '' },
      { vmid: 'og:title', property: 'og:title', content: name || '' },
      { vmid: 'og:description', property: 'og:description', content: metaDescription ? htmlDecode(metaDescription) : '' },
      { vmid: 'meta_keywords', name: 'keywords', content: metaKeywords || '' },
      { vmid: 'og:image', property: 'og:image', content: store_img_link },
      { vmid: 'og:url', property: 'og:url', content: this.$route.fullPath },
      { vmid: 'og:type', property: 'og:type', content: 'website' },
      { vmid: 'fb:app_id', property: 'fb:app_id', content: getFbId() },
      { vmid: 'twitter:title', property: 'twitter:title', content: name || '' },
      { vmid: 'twitter:text:title', property: 'twitter:text:title', content: name || '' },
      { vmid: 'twitter:description', property: 'twitter:description', content: metaDescription ? htmlDecode(metaDescription) : '' },
      { vmid: 'twitter:image', property: 'twitter:image', content: store_img_link },
      { vmid: 'twitter:url', property: 'twitter:url', content: this.$route.fullPath }
    ]

    return {
      title: htmlDecode(metaTitle || 'Store Locator'),
      meta
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$light-gray: color(light-gray);
$oat: color(oat);
$white: color(white);
$black: color(black);
$red: color(red);
$gray-cccccc: color(gray-cccccc);
$gray-c2c2c2: color(gray-c2c2c2);
$gray-8b8b8b: color(gray-8b8b8b);
.map {
  .leaflet-popup {
    bottom:30px !important;
  }
}
.weight-600 {
  font-weight: 600;
}
.round-img{
  overflow: hidden;
  border-radius: 100%;
  border: solid 6px $red;
  width: 100px;
  height: 100px;
  padding: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &.small{
    width: 65px;
    height: 65px;
    border-width: 4px;
    padding: 0;
  }
  img{
    max-width: 100%;
    max-height: 100%;
  }
  @media (max-width: 419px){
    &.small{
      width: 50px;
      height: 50px;
    }
    width: 70px;
    height: 70px;
    border: solid 3px #e1251b;
  }
}
.back-btn{
  background: transparent;
  border: 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 25px 0;
  span{
    transform: rotate(225deg);
    margin-right: 15px;
  }
}
.store-head{
  padding-right: 180px;
  span{
    margin-right: 30px;
  }
  h2{
    margin-bottom: 5px;
  }
  p{
    padding: 0;
  }
  .make-local-store{
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 5px;
    span{
      margin-right: 10px;
    }
  }
  @media (max-width: 1199px) {
    padding: 0 0 0 80px;
    min-height: 65px;
    > span{
      position: absolute;
      left: 0;
    }
    .make-local-store{
      bottom: inherit;
      top: -42px;
    }
  }
  @media (max-width: 1199px) {
    padding: 0 0 0 70px;
  }
}
.store-block1{
  padding: 20px 0 0 0;
  h4{
    margin-bottom: 20px;
  }
  .hours{
    padding-left: 5%;
    padding-right: 5%;
    width: 25%;
    ul{
      li{
        font-size: 14px;
        line-height: 1.1;
        padding: 0 0 15px;
        &:last-child{
          padding-bottom: 0;
        }
        strong {
          font-weight: normal;
          min-width: 48px;
          display: inline-block;
          vertical-align: top;
          margin-right: 10px;
        }
        span{
          color: $gray-8b8b8b;
          display: inline-block;
          min-width: 65px;
        }
      }
    }
  }
  .contact{
    padding-left: 5%;
    padding-right: 5%;
    width: 25%;
    .contact-info{
      padding-bottom: 5px;
      li{
        padding: 0 0 15px;
        a{
          display: flex;
          align-items: center;
          font-size: 14px;
          img{
            margin-right: 20px;
          }
        }
      }
    }
    .social-media{
      display: flex;
      li{
        margin-right: 10px;
      }
    }
  }
  .map{
    width: 50%;
    border: 1px solid $oat;
    overflow: hidden;
    z-index: 0;
    iframe{
      width: 100%;
      display: block;
    }
  }
  @media (max-width: 1380px) {
    .hours,
    .contact{
      padding-left: 3%;
      padding-right: 3%;
    }
  }
  @media (max-width: 1199px) {
    flex-wrap: wrap;
    h4{
      font-size: 16px;
    }
    .hours{
      margin-right: 2%;
    }
    .hours,
    .contact{
      padding: 20px;
      width: 49%;
    }
    .map{
      width: 100%;
      margin-top: 20px;
      height: 400px;
    }
  }
  @media (max-width: 767px) {
    .hours {
      width: 100%;
      margin: 0 0 20px;
    }
    .contact{
      width: 100%;
      margin: 0px;
    }
    .map{
      margin-top: 0;
      height: 300px;
    }
  }
}
.store-information{
  .service-info{
    ul{
      li{
        text-align: center;
        padding-right: 45px;
        padding-top: 20px;
        h4{
          padding-top: 15px;
        }
      }
    }
  }
  @media (max-width: 1199px) {
    .service-info{
      ul{
        flex-wrap: wrap;
        li{
          padding: 15px 10px;
        }
      }
    }
  }
  @media (max-width: 767px) {
    .service-info{
      .border-box{
        margin-bottom: 20px;
        &:last-child{
          margin-bottom: 0px;
        }
      }
      h3{
        font-size: 16px;
      }
      ul{
        li{
          h4{
            font-size: 14px;
          }
        }
      }
    }
  }
  @media (max-width: 576px) {
    h2.small-space{
      padding-bottom: 10px;
    }
    .service-info{
      ul{
        margin-left: -10px;
        margin-right: -10px;
        li{
          width: 33.333333%;
          padding: 15px 10px;
          h4{
            padding-top: 10px;
            font-size: 12px;
          }
        }
      }
    }
  }
}
.special-services{
  .services-block{
    .services-acc{
      h3{
        position: relative;
        cursor: pointer;
        span{
          margin-right: 20px;
        }
        &:after{
          content: '';
          position: absolute;
          border-top: solid 2px $black;
          border-right: solid 2px $black;
          width: 10px;
          height: 10px;
          display: inline-flex;
          transform: rotate(135deg);
          right: 5px;
          top: 50%;
          margin-top: -6px;
        }
      }
      .accordion-body{
        display: none;
        padding: 20px 0 0 0;
        > div{
          width: 50%;
        }
        h4{
          margin-bottom: 25px;
        }
        .opening-hours{
          > span{
            max-width: 395px;
            img{
              max-width: 100%;
            }
          }
          .hours-list{
            padding-left: 60px;
            ul{
              li{
                padding: 0 0 10px;
                strong {
                  font-weight: normal;
                  min-width: 48px;
                  display: inline-block;
                  vertical-align: top;
                  margin-right: 10px;
                }
                span{
                  font-size: 16px;
                  display: inline-flex;
                  min-width: 60px;
                }
                &:last-child{
                  padding-bottom: 0px;
                }
              }
            }
          }
        }
        .services-offered{
          padding: 0 0 0 35px;
          ul{
            padding-bottom: 20px;
            li{
              margin: 0 20px 0 0;
            }
          }
        }
      }
      &.is-open{
        .accordion-body{
          display: flex;
        }
        h3:after{
          transform: rotate(-45deg);
        }
      }
    }
  }
  @media (max-width: 1380px) {
    .services-block{
      .services-acc{
        .accordion-body{
          flex-wrap:wrap;
          .opening-hours{
            > span{
              max-width: 320px;
            }
            .hours-list{
              padding-left: 15px;
              h4{
                margin-bottom: 15px;
              }
            }
          }
          .services-offered{
            padding: 0;
          }
        }
      }
    }
  }
  @media (max-width: 1190px) {
    .services-block{
      .services-acc{
        .accordion-body{
          .opening-hours{
            width: 100%;
            > span{
              width: 65%;
              max-width: 65%;
              img{
                width: 100%;
                display: block;
              }
            }
            .hours-list{
              width: 35%;
              padding-left: 25px;
            }
          }
          .services-offered{
            width: 100%;
            padding: 20px 0 0;
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    .services-block{
      .services-acc{
        &.border-box{
          padding: 10px;
        }
        h3{
          font-size: 16px;
          padding-right: 25px;
        }
        .accordion-body{
          h4{
            font-size: 16px;
          }
          .opening-hours{
            flex-wrap: wrap;
            > span{
              width: 100%;
              max-width: 520px;
            }
            .hours-list{
              width: 100%;
              padding:20px 0 0 0;
            }
          }
          .services-offered{
            width: 100%;
            padding: 20px 0 0;
            h4{
              margin-bottom: 15px;
            }
            ul{
              margin: 0 -5px;
              li{
                margin: 0 5px;
                width: 50px;
                height: 50px;
                border: solid 3px #e1251b;
                padding: 8px;
              }
            }
          }
        }
      }
    }
  }
}
</style>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$black: color(black);
$red: color(red);
#store-photo-gallery{
  .store-swiper{
    margin-right:-25px;
    .swiper-slide{
      max-width:150px;
    }
    @media (max-width: 767px) {
      margin-right: -15px;
    }
    @media (max-width: 419px) {
      margin-right: -10px;
    }
  }
}
.services-offered {
  p {
    a {
      color: $red;
      &:hover {
        color: $black;
      }
    }
  }
}
</style>
