<template>
  <div>
    <div class="find-store bg-cl-oat">
      <div class="container align-center">
        <h2>
          {{ $t('Find a Store') }}
        </h2>
        <div class="locator-form flex middle-xs center-xs">
          <div class="postcode-form relative">
            <input type="text" class="form-control" v-model="townOrPostcode" @keyup="filterByTownCode()" :placeholder="$t('Enter Postcode')">
            <div class="locator-wrap" v-if="storelocator.length > 0">
              <div class="store-data-block" v-for="(store, index) in storelocator" :key="index" @click="searchStore(store)">
                <div class="store-details">
                  <span class="store-name">{{ store }}</span>
                </div>
              </div>
            </div>
          </div>
          <span v-if="storeServicesList">
            {{ $t('or') }}
          </span>
          <select class="select" v-if="storeServicesList" @change="filterByService()" v-model="service">
            <option value="">
              {{ $t('Filter by Service') }}
            </option>
            <option v-for="(option, index) in storeServicesList" :value="option.name" :key="index">
              {{ option.name }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="site-loader-wrap" v-if="show_loader">
      <div class="site-ajax-loader" />
    </div>
    <div class="container all-store-info small-space" v-if="storeListData.length > 0">
      <storelist class="store-list flex" :store-lists="resturnStoreList" :is-listing="true" />
    </div>
    <div class="align-center my30" v-if="loadingStores">
      <div class="site-ajax-loader" />
    </div>
    <div v-if="errorMsg !== ''" class="container mt20 align-center">
      <p class="cl-error">
        {{ errorMsg }}
      </p>
    </div>
  </div>
</template>

<script>
import config from 'config'
import Storelist from 'theme/components/core/blocks/MyAccount/Storelist.vue';
import postcodes from 'node-postcodes.io'
import { Logger } from '@vue-storefront/core/lib/logger'
import onBottomScroll from '@vue-storefront/core/mixins/onBottomScroll'
import { getFbId } from 'theme/helpers'

export default {
  mixins: [onBottomScroll],
  data () {
    return {
      townOrPostcode: '',
      service: '',
      allStoresList: [],
      storeListData: [],
      storelocator: [],
      show_loader: true,
      loadingStores: false,
      errorMsg: '',
      currentPage: 1,
      perPage: 9,
      resturnStoreList: [],
      storeServicesList: [ { name: 'Groomer', value: 'groomer' }, { name: 'Community Pet Clinic', value: 'cpc' }, { name: 'Vet', value: 'vet' },
        { name: 'Birds', value: 'birds' }, { name: 'Fish', value: 'fish' }, { name: 'Reptiles', value: 'reptiles' }, { name: 'Chickens', value: 'chickens' },
        { name: 'Rabbits', value: 'rabbits' }, { name: 'Spiders', value: 'spiders' } ]
    }
  },
  components: {
    Storelist
  },
  computed: {
    sliceStoreData () {
      let start = ((this.currentPage - 1) * this.perPage)
      let end = start + this.perPage
      const returnstore = this.storeListData.slice(start, end)
      return returnstore
    },
    pageCount () {
      return Math.floor(this.storeListData.length / this.perPage) + Math.min(1, this.storeListData.length % this.perPage)
    }
  },
  methods: {
    filterByService () {
      let filterDAta = []
      this.errorMsg = ''
      if (this.service !== 'Groomer' && this.service !== 'Community Pet Clinic' && this.service !== 'Vet' && this.service && this.service !== '') {
        filterDAta = this.allStoresList.filter(({ ranges }) => {
          return ranges.some(({ name }) => name === this.service);
        })
      } else if (this.service === 'Community Pet Clinic') {
        filterDAta = this.allStoresList.filter(({ cpc }) => {
          return cpc !== null;
        })
      } else if (this.service === 'Groomer') {
        filterDAta = this.allStoresList.filter(({ groomer }) => {
          return groomer != null
        })
      } else if (this.service === 'Vet') {
        filterDAta = this.allStoresList.filter(({ vet }) => {
          return vet != null
        })
      } else {
        filterDAta = this.allStoresList
      }

      if (filterDAta.length > 0) {
        this.storeListData = filterDAta
      } else {
        this.storeListData = []
        this.errorMsg = 'No Stores Found!'
      }
    },
    async filterByTownCode () {
      if (this.townOrPostcode.length > 2) {
        this.errorMsg = '';
        let postcodeResult = await postcodes.autocomplete(this.townOrPostcode)
        this.storelocator = postcodeResult.result
      } else {
        this.currentPage = 1
        this.storeListData = this.allStoresList
        this.resturnStoreList = this.sliceStoreData
        this.storelocator = []
      }
    },
    async searchStore (store) {
      this.show_loader = true
      this.townOrPostcode = store
      this.resturnStoreList = []
      this.storelocator = []
      let postcodeResult = await postcodes.lookup(this.townOrPostcode)
      if (postcodeResult.status === 200) {
        await this.$store.dispatch('store-location/searchStoreList', { latitude: postcodeResult.result.latitude, longitude: postcodeResult.result.longitude });
        this.resturnStoreList = this.$store.getters['store-location/getStoreList'] || [];
      } else {
        this.resturnStoreList = []
        this.errorMsg = 'No Stores Found!'
      }
      this.show_loader = false
    },
    async onBottomScroll () {
      if (this.resturnStoreList.length < this.allStoresList.length && this.townOrPostcode === '') {
        if (this.loadingStores) return
        this.loadingStores = true
        try {
          this.perPage += 9
          this.resturnStoreList = this.sliceStoreData;
        } catch (e) {
          Logger.error('Problem with fetching more stores', 'Stores', e)()
        } finally {
          this.loadingStores = false
        }
      }
    }
  },
  async created () {
    await this.$store.dispatch('store-location/storeList', {});
    this.storeListData = this.$store.getters['store-location/getStoreList'] || [];
    this.allStoresList = this.storeListData;
    if (this.storeListData.length > 0) {
      this.show_loader = false;
    }
    this.resturnStoreList = this.sliceStoreData;
  },
  metaInfo () {
    const store_title = 'Jollyes.co.uk | Find a store near me | Jollyes - The Pet People'
    const store_description = 'Pet store ranging from pet food, toys accessories and more. Buy in store and online with free delivery options available.'
    const store_keyword = 'pet store, pet food, dog food, cat food, puppy food, dog toys, kitten food, dog beds'
    const main_logo = config.aureatelabs.site_url + '/assets/site-logo.png';
    const store_list_url = config.aureatelabs.site_url + '/locator';
    const meta = [
      { name: 'title', content: store_title },
      { vmid: 'description', name: 'description', content: store_description },
      { vmid: 'meta_keywords', name: 'keywords', content: store_keyword },
      { vmid: 'og:title', property: 'og:title', content: store_title },
      { vmid: 'og:description', property: 'og:description', content: store_description },
      { vmid: 'og:image', property: 'og:image', content: main_logo },
      { vmid: 'og:url', property: 'og:url', content: store_list_url },
      { vmid: 'og:type', property: 'og:type', content: 'website' },
      { vmid: 'fb:app_id', property: 'fb:app_id', content: getFbId() },
      { vmid: 'twitter:title', property: 'twitter:title', content: store_title },
      { vmid: 'twitter:text:title', property: 'twitter:text:title', content: store_title },
      { vmid: 'twitter:description', name: 'twitter:description', content: store_description },
      { vmid: 'twitter:image', name: 'twitter:image', content: main_logo },
      { vmid: 'twitter:url', name: 'twitter:url', content: store_list_url }
    ]
    return {
      title: store_title,
      meta
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$gray-979797: color(gray-979797);
$black: color(black);
$red: color(red);
$puerto-rico: color(puerto-rico);
$orange: color(orange);
$oat: color(oat);
.find-store{
  > div{
    background:url(/assets/locator-banner.png) no-repeat left 110px bottom;
    padding: 75px 0 80px;
    h2{
      margin-bottom: 25px;
      font-size: 36px;
    }
    .locator-form{
      .form-control,
      .select{
        max-width: 300px;
        font-family: arial;
        background-color: #fff;
        border-radius: 35px;
      }
      span{
        padding: 0 18px;

      }
    }
  }
}
.select-wrapper {

          .locator-wrap {
            max-height: 222px;
            overflow: auto;
            margin-bottom: 7px;
            margin-top: 10px;
          }
          input {
           border-radius: 35px;
            display: block;
            border: 0;
            font-size: 14px;
            padding: 15px 23px;
            height: auto;
            line-height: 1.2;
            width: 100%;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            position: relative;
            background: #fff url(/assets/icons/down-arrow.png) no-repeat right 25px center;
            color: #666;
            @media (max-width: 767px) {
              font-size: 16px;
              line-height: 1.35;
            }
          }
          .store-data-block {
            border: 1px solid #ddd;
            background-color: #fff;
            margin-bottom: 10px;
            padding: 15px 0;
            display: flex;
            font-size: 12px;
            width: 225px;
            span {
              font-size: 12px;
            }
            &:last-child {
              margin-bottom: 0;
            }
            &.selected {
              border-color: $red;
            }
            .store-details {
              flex: 0 0 50%;
              max-width: 50%;
              span {
                display: flex;
              }
            }
            .store-address {
              flex: 0 0 50%;
              max-width: 50%;
              border-left: 1px solid #ddd;
              padding-left: 10px;
              padding-right: 10px;
              margin-left: 10px;
              display: flex;
              align-items: center;
            }
            span{
              &:before {
                display: inline-block;
                vertical-align: top;
                font-size: 16px;
                line-height: normal;
                margin-right: 3px;
                width: 16px;
                height: 15px;
                content: "";
                background-size: 100% auto;
                background-repeat: no-repeat;
              }
            }
            .in-stock {
              color: $puerto-rico;
              &:before {
                background-image: url('/assets/check.svg');
                background-position: 0 2px;
              }
            }
            .no-stock {
              color: $red;
              &:before {
                background-image: url('/assets/error.svg');
              }
            }
            .low-stock {
              color: $orange;
              &:before {
                background-image: url('/assets/warning.svg');
              }
            }
            .store-name {
              margin-bottom: 5px;
            }
          }
        }
.all-store-info{
  max-width: 1320px;
  margin: 0 auto;
}
@media (max-width: 1380px) {
  .store-list{
    .store-block{
      width: 50%;
    }
  }
}
@media (max-width: 992px) {
  .find-store{
    > div{
      background-image: none;
    }
  }
  .store-list{
    margin-left: auto;
    margin-right: auto;
    max-width: 580px;
    .store-block{
      padding: 5px 0;
      width: 100%;
      .store-information{
        padding: 10px;
      }
    }
  }
}
@media (max-width: 767px) {
  .find-store{
    > div{
      padding: 20px 0 25px;
      h2{
        font-size: 24px;
        margin-bottom: 15px;
      }
      .locator-form{
        display: block;
        max-width: 280px;
        margin: 0 auto;
        span{
          padding: 10px 0;
          display: block;
          font-size: 16px;
        }
      }
    }
  }
}
@media (max-width: 419px) {
  .store-list{
    .store-block{
      .store-information{
        p{
          font-size: 14px;
        }
        .store-info-head{
          > img{
            margin-right: 10px;
          }
          span{
            font-size: 12px;
            strong{
              padding:0 4px;
            }
          }
        }
        .store-contact-info{
          display: block;
          margin: 10px 0;
          > div{
            width: 100%;
            &.open-time-list{
              border-right: 0;
              border-bottom: solid 2px #c2c2c2;
              padding-bottom: 10px;
              ul{
                li{
                  font-size: 12px;
                }
              }
            }
          }
        }
        .btn-box{
          display: block;
          a{
            width: 100%;
            &.black{
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
}
.pagination{
  display: flex;
  align-items: top;
  justify-content: center;
  padding: 20px 0;
  border-top: solid 1px $gray-979797;
  > span{
    display: block;
  }
  a{
    border: solid 1px #C3C3C3;
    padding: 7px 10px 5px;
    margin: 0 4px;
    display: block;
    line-height: 1;
    font-weight: 700;
    color: $black;
    &:hover{
      color: $red;
    }
    &.active{
      color: $red;
      border-color: $red;
    }
    &.prev{
      padding: 5px 10px;
      span{
        transform: rotate(225deg);
        margin-right: -3px;
      }
    }
    &.next{
      padding: 5px 10px;
      span{
        margin-left: -3px;
      }
    }
  }
  .active{
    border: solid 1px #C3C3C3;
    padding: 7px 10px 5px;
    font-weight: 700;
    line-height: 1;
    color: $red;
    display: block;
    margin: 0 4px;
  }
  @media (max-width: 767px) {
    padding: 12px 0;
    a {
      padding: 5px 7px 3px;
      margin: 0 3px;
      width: 25px;
      height: 25px;
      font-size: 16px;
      &.prev{
        padding: 3px 0 3px 1px;
        text-align: center;
      }
      &.next{
        padding: 3px 2px 3px 0px;
        text-align: center;
      }
    }
    .active {
      padding: 4px 7px 3px;
      width: 25px;
      height: 25px;
      font-size: 16px;
    }
  }
}
.postcode-form {
  .locator-wrap {
    background-color: $white;
    border: 1px solid $gray-979797;
    font-size: 13px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
    .store-name {
      display: block;
      text-align: left;
      padding: 3px 15px;
      cursor: pointer;
      @media (max-width: 767px) {
        font-size: 14px;
      }
    }
  }
}
</style>
