<template>
  <div>
    <div class="thank-you-content">
      <div class="site-loader-wrap" v-if="show_loader">
        <div class="site-ajax-loader" />
      </div>
      <div class="container align-center" v-if="loaded">
        <div class="thank-content-inner">
          <div class="thank-you-wrap">
            <img src="assets/icons/order_complete.png" alt="">
            <h2 class="mb20">
              {{ cancelled ? $t('Your Order has been cancelled') : $t('Thank you for your order') }}
            </h2>
            <p v-if="!cancelled && orderId">
              {{ $t('Your order number is: #') }}{{ orderId }}
            </p>
            <p v-if="!cancelled && orderId" v-html="'You will shortly receive an email confirming your order. You can als see all your orders in your account, please allow up to 24 hours for this order to show.'" />
            <p v-if="!cancelled && orderId" v-html="'For any help with your order please email <b>help@jollyes.com</b>'" />
          </div>
        </div>
        <button-outline
          color="dark"
          class="btn"
          @click.native="$router.push('/')"
        >
          {{ $t('Continue shopping') }}
        </button-outline>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions } from 'vuex'
import ButtonOutline from 'theme/components/theme/ButtonOutline'
import { getCookie, eraseCookie } from 'theme/helpers'

export default {
  data () {
    return {
      orderId: null,
      loaded: false,
      cancelled: false,
      show_loader: true
    }
  },
  components: {
    ButtonOutline
  },
  methods: {
    ...mapActions({
      additionalPaymentDetail: 'payment-adyen/additionalPaymentDetail',
      adyenPaymentTrack: 'payment-adyen/track',
      updateOrderTimestamp: 'checkout/updateOrderTimestamp',
      checkoutDropPassword: 'checkout/dropPassword',
      cartClear: 'cart/clear',
      userGetOrderHistory: 'user/getOrdersHistory'
    })
  },
  async mounted () {
    const urlParams = new URLSearchParams(window.location.search);
    const redirectResult = urlParams.get('redirectResult');
    let adyenPayentData = getCookie('adyen-payment-data');
    let adyenPayentOrderId = getCookie('adyen-payment-order-id');
    if (adyenPayentData && adyenPayentOrderId) {
      await this.additionalPaymentDetail({
        'paymentData': adyenPayentData,
        'details': {
          'redirectResult': redirectResult
        }
      }).then(response => {
        if (response.code === 200) {
          this.$router.replace({
            ...this.$router.currentRoute,
            query: {}
          })
          this.orderId = response.result.merchantReference;
          this.loaded = true;
          this.show_loader = false;
          if (response.result.resultCode !== undefined && response.result.resultCode === 'Cancelled') {
            this.cancelled = true;
          } else {
            try {
              let adyenPayload = localStorage.getItem('adyen-order-payload-order');
              if (adyenPayload) {
                this.$store.commit('segment/orderCompleted', JSON.parse(adyenPayload))
                localStorage.removeItem('adyen-order-payload-order')
              }

              this.adyenPaymentTrack({
                'paymentInfo': {
                  'order_id': adyenPayentOrderId,
                  'method': 'klarna',
                  'additional_info': response.result
                }
              })
            } catch (e) {
              console.log(e)
            }
          }
          eraseCookie('adyen-payment-data')
          eraseCookie('adyen-payment-order-id')
          this.updateOrderTimestamp()
          this.cartClear({ sync: false }, { root: true })
          this.checkoutDropPassword()
          this.userGetOrderHistory({ refresh: true, useCache: true })
        }
      });
    }
  },
  metaInfo () {
    const meta = [
      { name: 'title', content: 'Jollyes.co.uk | Pet Food & Accessories | Jollyes - The Pet People' }
    ]
    return {
      title: 'Jollyes.co.uk | Pet Food & Accessories | Jollyes - The Pet People',
      meta
    }
  }
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$black: color(black);
$gray-c3c3c3: color(gray-c3c3c3);
.thank-you-title {
    height: auto;
}
.thank-you-content {
  padding-left: 0;
  .btn {
    margin-top: 60px;
    min-width: 300px;
    font-size: 16px;
    text-transform: none;
  }
  p {
    line-height: 21px;
    font-size: 18px;
    b {
      font-weight: normal;
    }
  }

  @media (min-width: 64em) {
    h4 {
      font-size: 24px;
    }
  }
}
.thank-you-improvment {
  padding: 0 20px 15px;

  @media (min-width: 64em) {
    padding: 0 40px 10px;
  }

  textarea {
    min-height: 100px;
  }
}
.thank-you-content {
  padding-left: 0;
  min-height: 658px;
  padding: 20px 0;
  @media (max-width: 767px) {
    min-height: 500px;
    padding: 50px 0;
    p {
      font-size: 17px;
    }
    svg {
      width: 70px;
      height: 70px;
    }
  }
  img {
    margin-bottom: 10px;
  }
  .thank-you-wrap {
    max-width: 560px;
    margin: auto;
  }
  .thank-content-inner {
      border: 1px solid $gray-c3c3c3;
      background-color: $white;
      padding: 25px 20px;
  }
}
</style>
