<template>
  <div class="col-xs-12 col-md-12 pt30">
    <h3 class="h3 m0 mb10 serif lh20 weight-700">
      {{ $t('Add review') }}
    </h3>
    <div class="your-rating flex">
      <label class="title">
        {{ $t('Your Rating') }} :
      </label>
      <div class="control review-control-vote">
        <template v-for="(ratingStar, index) in [ 1, 2, 3, 4, 5 ]">
          <input :key="index + '-rating-input'" type="radio" name="ratings" v-model="formData.ratings" @blur="$v.formData.ratings.$touch()" :id="'Rating_' + ratingStar" :value="ratingStar" class="radio" :validations="[{condition: $v.formData.ratings.$error && !$v.formData.ratings.required, text: $t('Field is required')}]">
          <label :key="index + '-rating-label'" :class="'rating-' + ratingStar" :for="'Rating_' + ratingStar" :title="ratingStar + (ratingStar === 1 ? ' star' : ' stars')" :id="'Rating_' + ratingStar + '_label'">
            <span>
              {{ $t(ratingStar + (ratingStar === 1 ? ' star' : ' stars')) }}
            </span>
          </label>
        </template>
      </div>
    </div>
    <div class="block cl-error h6 mt5 align-left" v-if="$v.formData.ratings.$error">
      {{ $t('Please select one of each of the ratings above.') }}
    </div>
    <form action="#" @submit.prevent="outOfScope()">
      <div class="mb10 pt20">
        <base-input
          type="text"
          :placeholder="$t('First name') + ' *'"
          v-model="formData.name"
          @blur="$v.formData.name.$touch()"
          :validations="[
            {
              condition: $v.formData.name.$error && !$v.formData.name.required,
              text: $t('Field is required')
            },
            {
              condition: !$v.formData.name.minLength,
              text: $t('Name must have at least 2 letters.')
            }
          ]"
        />
      </div>
      <div class="mb10">
        <base-input
          type="email"
          :placeholder="$t('Email address') + ' *'"
          v-model="formData.email"
          @blur="$v.formData.email.$touch()"
          :validations="[
            {
              condition: $v.formData.email.$error && !$v.formData.email.required,
              text: $t('Field is required')
            },
            {
              condition: !$v.formData.email.email && $v.formData.email.$error,
              text: $t('Please provide valid e-mail address.')
            }
          ]"
        />
      </div>
      <div class="mb10">
        <base-input
          type="text"
          :placeholder="$t('Summary') + ' *'"
          v-model="formData.summary"
          @blur="$v.formData.summary.$touch()"
          :validations="[
            {
              condition: $v.formData.summary.$error && !$v.formData.summary.required,
              text: $t('Field is required')
            }
          ]"
        />
      </div>
      <div class="mb25">
        <base-textarea
          type="text"
          class="old-input-box"
          :placeholder="$t('Review') + ' *'"
          v-model="formData.review"
          @blur="$v.formData.review.$touch()"
          :validations="[
            {
              condition: $v.formData.review.$error && !$v.formData.review.required,
              text: $t('Field is required')
            }
          ]"
        />
      </div>
      <div class="row m0 middle-xs center-xs start-sm buttons">
        <button-full class="write-review btn" @click.native="validate()" :class="{ 'w-auto': !currentUser }">
          {{ $t('Add review') }}
        </button-full>
        <no-ssr>
          <span
            class="fs-medium ml20 cl-gray lh30 py5 block"
            v-if="!currentUser"
          >
            {{ $t('or') }} <a href="#" class="cl-primary" @click.prevent="login()">{{ $t('login') }}</a> {{ $t('to account') }}
          </span>
        </no-ssr>
      </div>
    </form>
  </div>
</template>

<script>
import { required, email, minLength } from 'vuelidate/lib/validators'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import BaseTextarea from 'theme/components/core/blocks/Form/BaseTextarea'
import ButtonFull from 'theme/components/theme/ButtonFull'
import { Reviews } from '@vue-storefront/core/modules/review/components/Reviews'
import NoSSR from 'vue-no-ssr'
import i18n from '@vue-storefront/i18n'

export default {
  name: 'Reviews',
  data () {
    return {
      formData: {
        name: '',
        email: '',
        summary: '',
        review: '',
        ratings: ''
      }
    }
  },
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  computed: {
    currentUser () {
      return this.$store.state.user.current
    }
  },
  methods: {
    validate () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.submit()
      }
    },
    refreshList () {
      // this.$store.dispatch('review/list', { productId: this.product.id })
    },
    async submit () {
      const isReviewCreated = await this.$store.dispatch('review/add', {
        'product_id': this.product.id,
        'title': this.formData.summary,
        'detail': this.formData.review,
        'nickname': this.formData.name,
        'review_entity': 'product',
        'customer_id': this.currentUser ? this.currentUser.id : null,
        'ratings': [{
          'rating_name': 'Rating',
          'value': this.formData.ratings
        }]
      })

      if (isReviewCreated) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'success',
          message: i18n.t('You submitted your review for moderation.'),
          action1: { label: i18n.t('OK') }
        })

        return
      }

      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: i18n.t('Something went wrong. Try again in a few seconds.'),
        action1: { label: i18n.t('OK') }
      })
    },
    clearReviewForm () {
      this.formData.name = ''
      this.formData.email = ''
      this.formData.summary = ''
      this.formData.review = ''
      this.formData.ratings = ''
      this.$v.$reset()
    },
    login () {
      this.$bus.$emit('modal-show', 'modal-signup')
    },
    fillInUserData () {
      if (this.currentUser) {
        this.formData.name = this.currentUser.firstname
        this.formData.email = this.currentUser.email
      }
    }
  },
  mounted () {
    this.$bus.$on('product-after-load', this.refreshList)
    this.$bus.$on('clear-add-review-form', this.clearReviewForm)
    this.$bus.$on('user-after-loggedin', this.fillInUserData)
  },
  destroyed () {
    // this.$bus.$off('product-after-load', this.refreshList)
    // this.$bus.$off('clear-add-review-form', this.clearReviewForm)
    // this.$bus.$off('user-after-loggedin', this.fillInUserData)
  },
  beforeMount () {
    this.refreshList()
    this.fillInUserData()
  },
  mixins: [ Reviews ],
  validations: {
    formData: {
      name: {
        minLength: minLength(2),
        required
      },
      email: {
        required,
        email
      },
      summary: {
        required
      },
      review: {
        required
      },
      ratings: {
        required
      }
    }
  },
  components: {
    ButtonFull,
    BaseInput,
    BaseTextarea,
    'no-ssr': NoSSR
  }
}
</script>

<style lang="scss">
.review-control-vote {
  overflow: hidden;
  margin: 2px 0 0 15px;
}
.review-control-vote:before {
  color: #D8D8D8;
  font-size: 26px;
  height: 22px;
  line-height: 22px;
  font-style: normal;
  font-weight: normal;
  content: '★' '★' '★' '★' '★';
  display: block;
  position: absolute;
}
.review-control-vote input[type="radio"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.review-control-vote input[type="radio"]:hover + label:before,
.review-control-vote input[type="radio"]:checked + label:before {
  opacity: 1;
}
.review-control-vote label {
  cursor: pointer;
  display: block;
  position: absolute;
  margin:0px;
}
.review-control-vote label span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.review-control-vote label:before {
  color: #F49D18;
  font-size: 26px;
  height: 22px;
  line-height: 22px;
  font-style: normal;
  font-weight: normal;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  opacity: 0;
}
.review-control-vote label:hover:before {
    opacity: 1;
  }
  .review-control-vote label:hover ~ label:before {
    opacity: 0;
  }
  .review-control-vote .rating-5 {
    z-index: 2;
  }
  .review-control-vote .rating-5:before {
    content: '★' '★' '★' '★' '★';
  }
  .review-control-vote .rating-4 {
    z-index: 3;
  }
  .review-control-vote .rating-4:before {
    content: '★' '★' '★' '★';
  }
  .review-control-vote .rating-3 {
    z-index: 4;
  }
  .review-control-vote .rating-3:before {
    content: '★' '★' '★';
  }
  .review-control-vote .rating-2 {
    z-index: 5;
  }
  .review-control-vote .rating-2:before {
    content: '★' '★';
  }
  .review-control-vote .rating-1 {
    z-index: 6;
  }
  .review-control-vote .rating-1:before {
    content: '★';
  }
  .review-control-vote:before {
    content: '★' '★' '★' '★' '★';
  }
</style>
