<template>
  <div>
    <div class="productreview-filter bg-cl-light-gray container">
      <div class="productreview-filter-box d-flex between-xs">
        <p class="productreview-showing">
          <span v-if="!filterFlag">{{ $t('Showing') }} {{ startCount }} - {{ endCount }} {{ $t('of') }} {{ reviewList.length }} {{ $t('reviews') }}</span>
        </p>
        <div class="productreview-filter-sort flex">
          <p class="productreview-filterby">
            <span>
              {{ $t('Filter by') }}:
            </span>
            <select name="filter-star" v-model="filter">
              <option value="">
                {{ $t('All stars') }}
              </option>
              <option value="5">
                5 {{ $t('stars') }}
              </option>
              <option value="4">
                4 {{ $t('stars') }}
              </option>
              <option value="3">
                3 {{ $t('stars') }}
              </option>
              <option value="2">
                2 {{ $t('stars') }}
              </option>
              <option value="1">
                1 {{ $t('stars') }}
              </option>
            </select>
          </p>
          <p class="productreview-sortby ml30">
            <span>
              {{ $t('Sort by') }}:
            </span>
            <select name="short-by" v-model="short">
              <option value="recent">
                {{ $t('Recent Rated') }}
              </option>
              <option value="top">
                {{ $t('Top Rated') }}
              </option>
              <option value="popular">
                {{ $t('Most Relevant') }}
              </option>
            </select>
          </p>
        </div>
      </div>
    </div>
    <div class="reviewlist">
      <div class="mt50 h5 container" v-if="(!itemsPerPage || itemsPerPage.length === 0) && !filterFlag">
        {{ $t('No reviews have been posted yet. Please don\'t hesitate to share Your opinion and write the first review!') }}
      </div>
      <div class="mt50 h5 container" v-if="noRatingMsg != ''">
        <p>
          {{ noRatingMsg }}
        </p>
      </div>
      <div v-else>
        <div class="container mt25 review-title" v-for="(item, index) in itemsPerPage" :key="index">
          <div class="product-reviews-summary">
            <div class="rating-summary">
              <span class="rating-result" :style="'width:'+ ((item.ratings[0] && item.ratings[0].percent) ? item.ratings[0].percent : 0)+'%'" />
            </div>
          </div>
          <h4 class="weight-400 m0">
            {{ item.title }}
          </h4>
          <p class="cl-gray lh25 product-brief">
            {{ item.detail }}
          </p>
          <p class="cl-tertiary fs-medium-small author-name">
            {{ $t('By') }} <span class="link">{{ item.nickname }}</span> {{ $t('on') }} {{ item.created_at | date("MMMM D, YYYY", storeView) }}
          </p>
        </div>
      </div>
      <div class="row middle-xs center-xs pt25" v-if="pageCount > 1">
        <a href="#" class="mr10 no-underline" :class="{ inactive: currentPage === 1 }" @click.prevent="prevPage">
          <i class="pagination-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none" />
              <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z" />
            </svg>
          </i>
        </a>
        <span class="mx10 pagination-page" v-for="pageNumber in pageList" :key="pageNumber">
          <span class="fs-medium block py15 px20 bg-cl-mine-shaft cl-white" v-if="pageNumber === currentPage">
            {{ pageNumber }}
          </span>
          <a href="#" class="fs-medium block py15 px20 bg-cl-secondary pointer" v-else @click.prevent="changePage(pageNumber)">
            {{ pageNumber }}
          </a>
        </span>
        <a href="#" class="ml10 no-underline" :class="{ inactive: currentPage === pageCount }" @click.prevent="nextPage">
          <i class="pagination-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none" />
              <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z" />
            </svg>
          </i>
        </a>
      </div>
    </div>
    {{ resetItem () }}
  </div>
</template>

<script>
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import { reviewJsonLd } from '@vue-storefront/core/helpers'
import i18n from '@vue-storefront/i18n'
import dayjs from 'dayjs'

export default {
  props: {
    perPage: {
      type: Number,
      required: false,
      default: 4
    },
    items: {
      type: Array,
      default: () => []
    },
    productName: {
      type: String,
      default: ''
    },
    product: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      currentPage: 1,
      noRatingMsg: '',
      filterFlag: false,
      reviewList: this.items,
      filter: '',
      short: 'recent'
    }
  },
  computed: {
    itemsPerPage () {
      let start = ((this.currentPage - 1) * this.perPage)
      let end = start + this.perPage
      return this.reviewList.slice(start, end).filter(review => !!review.review_status)
    },
    startCount () {
      let startCount = ((this.currentPage - 1) * this.perPage) + 1
      if (this.reviewList.length <= 0) {
        startCount = 0
      }
      return startCount;
    },
    endCount () {
      let endCount = (this.startCount - 1) + this.perPage;
      if (endCount > this.reviewList.length) {
        endCount = this.reviewList.length
      }
      return endCount;
    },
    pageCount () {
      return Math.floor(this.reviewList.length / this.perPage) + Math.min(1, this.reviewList.length % this.perPage)
    },
    pageList () {
      if (this.pageCount <= 5 || this.currentPage === 1 || this.currentPage === 2) {
        const pages = []
        for (let i = 1; i <= Math.min(this.pageCount, 5); i += 1) {
          pages.push(i)
        }
        return pages
      } else if (this.currentPage === this.pageCount || this.currentPage === this.pageCount - 1) {
        const pages = []
        for (let i = this.pageCount; i >= 1 && i >= this.pageCount - 4; i -= 1) {
          pages.unshift(i)
        }
        return pages
      } else {
        return [this.currentPage - 2, this.currentPage - 1, this.currentPage, this.currentPage + 1, this.currentPage + 2]
      }
    },
    storeView () {
      return currentStoreView()
    },
    getJsonLd () {
      return reviewJsonLd(this.itemsPerPage, this.product, this.$store.state.storeView.i18n.currencyCode)
    }
  },
  watch: {
    product: {
      handler: function () {
        this.currentPage = 1;
        this.filterFlag = false
        this.filter = ''
        this.short = 'recent'
        setTimeout(() => {
          this.reviewList = this.$store.state.review.items.items
        }, 1500);
      }
    },
    filter: {
      handler: function () {
        let star = this.filter;
        let reviews = {};
        this.filterFlag = false;
        this.noRatingMsg = '';
        if (star) {
          reviews = this.items.filter(({ ratings }) => {
            return ratings.some(({ value }) => value === parseInt(star));
          })
          if (reviews.length === 0) {
            const msg = 'There are currently no ' + star + ' star ratings for this product'
            this.noRatingMsg = i18n.t(msg)
            this.filterFlag = true;
          }
        } else {
          reviews = this.items;
        }
        this.currentPage = 1;
        this.reviewList = reviews;
      }
    },
    items: {
      handler: function () {
        this.reviewList = this.items
      }
    },
    short: {
      handler: function () {
        let reviews = [];
        this.reviewList.map((review) => {
          review['stars'] = (review.ratings && review.ratings[0]) ? parseInt(review.ratings[0].value) : 0;
          reviews.push(review);
        })
        if (this.short === 'recent') {
          this.reviewList = this.reviewList.sort((a, b) => { return new Date(dayjs(b.created_at).format('MM/DD/YYYY')) - new Date(dayjs(a.created_at).format('MM/DD/YYYY')) });
        } else if (this.short === 'top') {
          this.reviewList = reviews.sort((a, b) => { return b.id - a.id && b.stars - a.stars });
        } else if (this.short === 'popular') {
          this.reviewList = reviews.sort((a, b) => { return a.id - b.id });
        }
      }
    }
  },
  methods: {
    resetItem () {
      if (this.reviewList.length <= 0 && !this.filterFlag) {
        this.reviewList = this.items;
      }
    },
    prevPage () {
      this.scrollToReviewsMain();
      this.currentPage = Math.max(1, this.currentPage - 1)
    },
    nextPage () {
      this.scrollToReviewsMain();
      this.currentPage = Math.min(this.pageCount, this.currentPage + 1)
    },
    changePage (pageNumber) {
      this.scrollToReviewsMain();
      this.currentPage = Math.max(1, Math.min(this.pageCount, pageNumber))
    },
    scrollToReviewsMain () {
      const headerOffset = document.querySelector('.header').clientHeight;
      const offsetTop = document.querySelector('.main-reviews').offsetTop;
      const offset = offsetTop - headerOffset + 35;
      scroll({
        top: offset,
        behavior: 'smooth'
      });
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$mine-shaft: color(mine-shaft);
$white: color(white);
$black: color(black);
$red: color(red);
$gray-979797: color(gray-979797);
$light-gray: color(light-gray);
$black-464444: color(black-464444);
$blue: color(blue);

.inactive {
  opacity: 0.5;
  pointer-events: none;
}
.pagination-arrow {
  height: 24px;
  display: block;
}
.pagination-page {
  a {
    display: inline-flex;
    &:hover {
      background-color: $mine-shaft;
      color: $white;
    }
  }
  @media (max-width: 767px) {
    margin: 0 5px;
  }
  a, span {
    @media (max-width: 767px) {
      padding: 7px 12px;
      font-size: 16px;
    }
  }
}
.write-review {
  background: $black;
  line-height: 1;
  padding: 15px 20px 13px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 30px;
  &:hover {
    background: $black-464444;
  }
}
.reviewlist {
  .like-review {
    p {
      margin-right: 10px;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      color: $gray-979797;
      font-size: 16px;
      i {
        margin-right: 5px;
        color: $gray-979797;
        cursor: pointer;
      }
    }
  }
  .author-name{
    padding-bottom:0px;
  }
  .review-title {
    border-bottom: 1px solid $gray-979797;
    padding-bottom: 25px;
    margin-top: 25px;
    &:last-child{
      border-bottom: 0px;
    }
    .product-reviews-summary {
      padding: 0 0 10px;
      .rating-summary {
        background: url(/assets/icons/star.png);
        width: 100px;
        height: 20px;
        .rating-result {
          background: url(/assets/icons/star-active.png);
          display: block;
          height: 20px;
        }
      }
    }
    h4 {
      margin: 10px 0;
      font-size: 21px;
    }
    .product-brief {
      color: $black;
      font-size: 16px;
    }
    .author-name {
      color: $gray-979797;
      font-size: 16px;
      .link {
        color: $blue;
        text-decoration: underline;
      }
    }
    @media (max-width: 767px) {
      h4{
        font-size: 16px;
        margin: 0 0 5px;
      }
      .product-brief{
        font-size: 14px;
        line-height: 1.3;
      }
      .author-name{
        font-size: 14px;
      }
    }
  }
}
.productreview-filter {
    margin-top: 30px;
    .productreview-filter-box {
      padding: 15px 0;
      align-items: center;
      p {
        margin-bottom: 0;
        font-size: 16px;
        padding-bottom: 0;
        select {
          margin-left: 10px;
          font-size: 14px;
          padding: 10px 30px 10px 10px;
          height:auto;
          line-height:1;
          background: #fff;
          appearance: none;
          font-family:arial;
          background:url(/assets/icons/down-arrow.png) no-repeat right 7px center;
          background-size:12px;
        }
      }
      .productreview-sortby {
        margin-left: 30px;
      }
    }
  }
  @media (max-width: 767px) {
    .productreview-filter {
      .productreview-filter-box {
        p {
          text-align: center;
          margin-bottom: 15px;
          font-size: 14px;
        }
        .productreview-filter-sort {
          justify-content: center;
          p {
            margin: 0 10px;
            font-size: 14px;
            width: 50%;
            text-align: left;
            span{
              display: block;
              font-size: 14px;
            }
            select {
              font-size: 16px;
              padding: 10px 5px;
              margin: 5px 0 0 0;
              width: 100%;
            }
          }
        }
      }
    }
  }
</style>
