<template>
  <div class="footer-quick-nav cl-white">
    <div class="row">
      <!--Services -->
      <div class="col-xs-12 col-lg-4" v-if="servicesLinks.length > 0">
        <div class="acc-menu" :class="['accordion-1']" :ref="'accordion-1'">
          <h4 class="footer-menu-title accordion-header" @click="toggleAccordion(1)">
            {{ $t('Services') }}
            <div class="accordion-arrow-wrap">
              <img class="accordion-arrow" src="/assets/downArrow.svg" alt="Down Arrow">
            </div>
          </h4>
          <div class="accordion-body">
            <FooterLinks :links="servicesLinks" />
          </div>
        </div>
      </div>
      <!-- Shopping Online -->
      <div class="col-xs-12 col-lg-4" v-if="shoppingOnlineLinks.length > 0">
        <div class="acc-menu" :class="['accordion-2']" :ref="'accordion-2'">
          <h4 class="footer-menu-title accordion-header" @click="toggleAccordion(2)">
            {{ $t('Shopping Online') }}
            <div class="accordion-arrow-wrap">
              <img class="accordion-arrow" src="/assets/downArrow.svg" alt="Down Arrow">
            </div>
          </h4>
          <div class="accordion-body">
            <FooterLinks :links="shoppingOnlineLinks" />
          </div>
        </div>
      </div>
      <!-- Here to help -->
      <div class="col-xs-12 col-lg-4" v-if="hereToHelpLinks.length > 0">
        <div class="acc-menu" :class="['accordion-3']" :ref="'accordion-3'">
          <h4 class="footer-menu-title accordion-header" @click="toggleAccordion(3)">
            {{ $t('Here to help') }}
            <div class="accordion-arrow-wrap">
              <img class="accordion-arrow" src="/assets/downArrow.svg" alt="Down Arrow">
            </div>
          </h4>
          <div class="accordion-body">
            <FooterLinks :links="hereToHelpLinks" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { type } from 'os';
import FooterLinks from './FooterLinks'

export default {
  data () {
    return {
      servicesLinks: [],
      shoppingOnlineLinks: [],
      hereToHelpLinks: []
    }
  },
  components: {
    FooterLinks
  },
  async created () {
    await this.$store.dispatch('quicklinks/list', {});
    const footer_quick_links = this.$store.getters['quicklinks/getFooterQuickLinksList'] || [];
    this.servicesLinks = footer_quick_links.filter(link => { return link.include_in_footer === '1' })
    this.shoppingOnlineLinks = footer_quick_links.filter(link => { return link.include_in_footer === '2' })
    this.hereToHelpLinks = footer_quick_links.filter(link => { return link.include_in_footer === '3' })
  },
  mounted () {
    this.toggleAccordionOnMount();
    window.addEventListener('resize', this.toggleAccordionOnResize);
  },
  destroyed () {
    window.removeEventListener('resize', this.toggleAccordionOnResize);
  },
  methods: {
    toggleAccordion (index) {
      if (screen.width <= 991) {
        this.$refs['accordion-' + index].classList.toggle('is-open');
      }
    },
    toggleAccordionOnResize () {
      if (screen.width > 991) {
        Object.values(this.$el.getElementsByClassName('acc-menu')).forEach((accord) => {
          accord.classList.add('is-open');
        });
      } else {
        Object.values(this.$el.getElementsByClassName('acc-menu')).forEach((accord) => {
          accord.classList.remove('is-open');
        });
      }
    },
    toggleAccordionOnMount () {
      if (screen.width <= 991) {
        Object.values(this.$el.getElementsByClassName('acc-menu')).forEach((accord) => {
          accord.classList.remove('is-open');
        });
      }
    }
  }
}
</script>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-secondary: color(secondary);
$black-464444: color(black-464444);
$white: color(white);
$red: color(red);
$gray-c3c3c3: color(gray-c3c3c3);

.footer-quick-nav{
  .accordion-body {
    padding: 0;
    overflow: hidden;
    transition: 0.5s ease all;
    @media (max-width: 991px) {
      max-height: 0;
    }
  }

  @media (max-width: 991px) {
    .is-open .accordion-body {
      max-height: 2000px;
    }
  }
  .footer-menu-title {
    margin-bottom: 10px;
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    align-items: center;
    word-break: break-all;

    @media (max-width: 991px) {
      padding: 12px 0;
      margin-bottom: 0;
      cursor: pointer;
    }
  }

  .accordion-arrow-wrap {
    margin-left: 20px;
    line-height: 0;
  }

  .accordion-arrow {
    width: 16px;
    height: 9px;
    display: none;
    transition: all 0.3s ease 0s;

    @media (max-width: 991px) {
      display: inline-flex;
    }
  }

  .is-open {
    .accordion-arrow {
      transform: rotate(180deg);
    }
  }

  .footer-menu {
    margin: 0;
    padding: 0;
    font-size: 20px;
    li{
      font-size: 14px;
      line-height: 2;
    }
    a {
      color: $white;
      &:hover {
        color: $color-secondary;
      }
    }
    @media (max-width: 991px) {
      padding: 0 0 10px;
    }
    @media (max-width: 767px) {
      li{
        font-size: 12px;
      }
    }
  }
}

</style>
