<template>
  <footer class="site-footer brdr-top-1 brdr-cl-gray-979797">
    <category-promotional-bar v-if="!isCheckoutPage" />
    <div class="footer-top" v-if="!isCheckoutPage">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-lg-3">
            <newsletter-widget v-if="!isCheckoutPage" />
            <div class="social-icon-list">
              <div class="social-icon-item">
                <a href="https://www.facebook.com/jollyesuk/" class="block" target="_blank" rel="noopener">
                  <span>{{ 'Facebook' }}</span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 45" width="44" height="45" fill="#ffffff">
                    <path id="Shape 1" class="shp0" d="M21.9 45C9.8 45 0 34.92 0 22.5C0 10.07 9.8 0 21.9 0C33.99 0 43.79 10.07 43.79 22.5C43.79 34.92 33.99 45 21.9 45ZM25.37 12.93L28.44 12.98L28.34 7.07L22.26 7.05C20.17 7.05 17.57 9.77 17.57 12.56L17.52 18.89L13.44 18.97L13.44 24.87L17.57 24.89L17.57 38.49L24.24 38.55L24.21 24.85L28.33 24.83L29.48 18.92L24.21 18.92L24.21 14.56C24.21 13.98 24.44 12.93 25.37 12.93Z" />
                  </svg>
                </a>
              </div>
              <div class="social-icon-item">
                <a href="https://twitter.com/Jollyestweets" class="block" target="_blank" rel="noopener">
                  <span>{{ 'Twitter' }}</span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 45" width="44" height="45" fill="#ffffff">
                    <path id="Shape 2" class="shp0" d="M22 45C9.91 45 0.1 34.92 0.1 22.5C0.1 10.07 9.91 0 22 0C34.09 0 43.9 10.07 43.9 22.5C43.9 34.92 34.09 45 22 45ZM37.47 12.65C36.33 13.17 35.1 13.52 33.81 13.67C35.13 12.87 36.14 11.59 36.61 10.07C35.38 10.82 34.02 11.36 32.56 11.65C31.4 10.38 29.74 9.59 27.9 9.59C24.38 9.59 21.52 12.51 21.52 16.11C21.52 16.62 21.58 17.12 21.69 17.59C16.38 17.32 11.68 14.73 8.54 10.79C7.99 11.75 7.67 12.87 7.67 14.06C7.67 16.32 8.8 18.32 10.51 19.48C9.46 19.45 8.48 19.16 7.62 18.67C7.62 18.7 7.62 18.72 7.62 18.75C7.62 21.91 9.82 24.54 12.74 25.14C12.2 25.29 11.64 25.37 11.06 25.37C10.65 25.37 10.25 25.33 9.86 25.25C10.67 27.84 13.03 29.72 15.82 29.77C13.63 31.52 10.88 32.56 7.89 32.56C7.38 32.56 6.87 32.53 6.37 32.47C9.19 34.32 12.55 35.4 16.15 35.4C27.89 35.4 34.31 25.47 34.31 16.86C34.31 16.58 34.3 16.3 34.29 16.02C35.54 15.1 36.62 13.96 37.47 12.65L37.47 12.65Z" />
                  </svg>
                </a>
              </div>
              <div class="social-icon-item">
                <a href="http://www.youtube.com/channel/UCjrWd00daY_O_JKya1dAZEA" class="block" target="_blank" rel="noopener">
                  <span>{{ 'Youtube' }}</span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 45" width="44" height="45" fill="#ffffff">
                    <path id="Shape 3" class="shp0" d="M22.1 45C10.01 45 0.21 34.92 0.21 22.5C0.21 10.07 10.01 0 22.1 0C34.2 0 44 10.07 44 22.5C44 34.92 34.2 45 22.1 45ZM13.97 8.32C13.56 10.66 13.26 12.37 13.08 13.7C13.02 12.86 12.76 10.76 12.31 8.32L9.37 8.32L11.62 16.36L11.62 20.88L14.64 20.88L14.64 16.36L16.91 8.25L13.97 8.32ZM24.05 14.24C24.05 13.51 24 12.97 23.9 12.61C23.8 12.26 23.62 11.92 23.35 11.58C23.08 11.25 22.7 10.97 22.21 10.77C21.71 10.56 21.38 10.45 20.69 10.45C19.87 10.45 18.81 10.62 18.28 10.94C17.76 11.27 17.39 11.69 17.19 12.23C16.99 12.76 16.89 13.51 16.89 14.46L16.89 17.08C16.89 17.95 16.94 18.6 17.05 19.04C17.16 19.47 17.35 19.84 17.61 20.15C17.87 20.46 18.24 20.68 18.71 20.83C19.18 20.99 20.14 21.06 20.82 21.06C21.43 21.06 21.71 20.97 22.18 20.8C22.65 20.62 23.03 20.34 23.33 19.97C23.63 19.6 23.82 19.2 23.91 18.77C24 18.34 24.05 17.66 24.05 16.74L24.05 14.24ZM32.35 10.44L29.28 10.44L29.28 17.53C29.28 18.37 29.26 18.86 29.21 19.02C29.17 19.17 29.03 19.25 28.81 19.25C28.59 19.25 28.33 19.18 28.29 19.03C28.24 18.88 28.21 18.4 28.21 17.61L28.21 10.44L25.14 10.44L25.14 17.54C25.14 18.42 25.16 19.01 25.2 19.31C25.23 19.6 25.32 19.89 25.47 20.16C25.61 20.43 25.84 20.65 26.14 20.82C26.44 20.98 26.96 20.93 27.42 20.93C27.82 20.93 28.18 20.98 28.49 20.8C28.8 20.63 29.07 20.37 29.28 20.03L29.22 20.88L32.35 20.88L32.35 10.44ZM36.55 28.33C36.55 25.42 34.23 23.06 31.37 23.06L12.7 23.06C9.84 23.06 7.51 25.42 7.51 28.33L7.51 31.49C7.51 34.4 9.84 36.76 12.7 36.76L31.37 36.76C34.23 36.76 36.55 34.4 36.55 31.49L36.55 28.33ZM32.78 33.88C32.57 34.17 32.3 34.38 31.98 34.52C31.65 34.66 31.24 34.73 30.75 34.73C30.28 34.73 29.99 34.66 29.62 34.52C29.26 34.38 28.91 34.19 28.71 33.95C28.51 33.7 28.37 33.44 28.29 33.15C28.21 32.85 28.17 32.43 28.17 31.87L28.17 29.42C28.17 28.76 28.26 28.77 28.43 28.39C28.61 28.01 28.96 27.72 29.36 27.52C29.75 27.32 30.08 27.22 30.6 27.22C31.23 27.22 31.75 27.34 32.16 27.58C32.57 27.82 32.86 28.15 33.02 28.55C33.19 28.95 33.27 29.25 33.27 29.98L33.27 30.45L30.36 30.45L30.36 32.6C30.36 32.94 30.38 33.16 30.43 33.26C30.48 33.35 30.57 33.4 30.71 33.4C30.88 33.4 30.99 33.34 31.05 33.21C31.11 33.08 31.14 32.83 31.14 32.45L31.14 31.46L33.27 31.46L33.27 32.02C33.27 32.48 33.24 32.84 33.18 33.09C33.13 33.34 32.99 33.6 32.78 33.88ZM31.01 29.49L31.01 28.94C31.01 28.55 30.99 28.83 30.95 28.72C30.91 28.6 30.83 28.55 30.7 28.55C30.55 28.55 30.45 28.59 30.41 28.69C30.38 28.79 30.36 28.52 30.36 28.94L30.36 29.49L31.01 29.49ZM26.68 34.44C26.42 34.63 26.1 34.73 25.73 34.73C25.47 34.73 25.22 34.67 24.99 34.56C24.77 34.44 24.3 34.26 24.11 34.03L23.96 34.6L22.05 34.6L22.05 25.17L24.11 25.17L24.11 27.87C24.29 27.65 24.76 27.49 24.99 27.38C25.22 27.27 25.46 27.22 25.73 27.22C26.04 27.22 26.31 27.26 26.53 27.36C26.76 27.46 26.93 27.6 27.05 27.78C27.17 27.95 27.24 28.13 27.27 28.3C27.29 28.47 27.3 28.3 27.3 28.86L27.3 32.5C27.3 33.05 27.27 33.46 27.19 33.73C27.12 34.01 26.95 34.24 26.68 34.44ZM25.05 28.96C25.05 28.57 25.03 28.84 24.98 28.72C24.93 28.6 24.58 28.55 24.44 28.55C24.3 28.55 24.21 28.6 24.17 28.7C24.13 28.81 24.11 28.54 24.11 28.96L24.11 32.46C24.11 32.86 24.13 33.12 24.18 33.23C24.22 33.35 24.32 33.4 24.45 33.4C24.59 33.4 24.95 33.34 24.99 33.23C25.03 33.11 25.05 32.83 25.05 32.39L25.05 28.96ZM18.73 33.97C18.58 34.23 18.39 34.42 18.16 34.54C17.93 34.67 17.67 34.73 17.37 34.73C17.03 34.73 16.75 34.67 16.53 34.55C16.3 34.43 16.14 34.27 16.03 34.07C15.93 33.87 15.86 33.66 15.84 33.45C15.81 33.23 15.8 32.8 15.8 32.15L15.8 27.22L17.85 27.22L17.85 32.2C17.85 32.78 17.87 33.13 17.91 33.24C17.94 33.35 18.23 33.4 18.39 33.4C18.56 33.4 18.78 33.35 18.82 33.23C18.85 33.12 18.86 32.76 18.86 32.14L18.86 27.29L20.98 27.29L20.98 34.6L18.69 34.6L18.73 33.97ZM13.78 34.6L11.69 34.6L11.69 27.2L10.63 27.2L10.63 25.17L14.72 25.17L14.72 27.2L13.78 27.2L13.78 34.6ZM20.4 18.85C20.23 18.85 20.11 18.78 20.05 18.63C19.99 18.49 19.96 18.17 19.96 17.69L19.96 13.59C19.96 13.07 19.99 12.74 20.05 12.6C20.11 12.47 20.23 12.4 20.41 12.4C20.59 12.4 20.84 12.47 20.9 12.6C20.95 12.74 20.98 13.07 20.98 13.59L20.98 17.79C20.98 18.23 20.95 18.52 20.89 18.65C20.84 18.79 20.59 18.85 20.4 18.85Z" />
                  </svg>
                </a>
              </div>
            </div>
            <div class="footer-trustpilot">
              <div class="trustpilot-widget" data-locale="en-GB" data-template-id="53aa8807dec7e10d38f59f32" data-businessunit-id="5491653600006400057c36c3" data-style-height="110" data-style-width="184" data-theme="dark">
                <a href="https://uk.trustpilot.com/review/jollyes.co.uk" target="_blank" rel="noopener">Trustpilot</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-lg-9">
            <footer-navigation />
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container d-flex middle-xs between-xs">
        <div class="copyright">
          &copy; CopyRight {{ currentYear }}
          <router-link to="/">
            {{ $t('Jollyes') }}
          </router-link>
          {{ $t('- The Pet Superstore. All rights reserved.') }}
        </div>
        <div class="payment-icon-list">
          <img v-lazy="'/assets/icons/payment-icon.png'" width="438" height="30" alt="Payments">
        </div>
      </div>
    </div>
    <back-to-top bottom="20px" right="20px" visibleoffset="200">
      <button type="button" aria-label="Return to top" class="btn-top button no-outline brdr-none cl-white bg-cl-mine-shaft :bg-cl-th-secondary py10 px10">
        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
          <path d="M23.245 20l-11.245-14.374-11.219 14.374-.781-.619 12-15.381 12 15.391-.755.609z" fill="white" />
        </svg>
      </button>
    </back-to-top>
    <div class="footer-bottom-space" v-if="!isCheckoutPage">
      &nbsp;
    </div>
  </footer>
</template>

<script>
import { mapGetters } from 'vuex'
import { currentStoreView, localizedRoute } from '@vue-storefront/core/lib/multistore'
import CurrentPage from 'theme/mixins/currentPage'
import BackToTop from 'theme/components/core/BackToTop'
import { getPathForStaticPage } from 'theme/helpers'
import config from 'config'
import CategoryPromotionalBar from './CategoryPromotionalBar'
import NewsletterWidget from './NewsletterWidget'
import FooterNavigation from './FooterNavigation'

export default {
  mixins: [CurrentPage],
  name: 'MainFooter',
  data () {
    return {
      currentYear: new Date().getFullYear()
    }
  },
  methods: {
    goToAccount () {
      this.$bus.$emit('modal-toggle', 'modal-signup')
    },
    getLinkFor (path) {
      return localizedRoute(getPathForStaticPage(path))
    }
  },
  computed: {
    ...mapGetters({
      isLogged: 'user/isLoggedIn'
    }),
    multistoreEnabled () {
      return config.storeViews.multistore
    },
    getVersionInfo () {
      return `v${process.env.__APPVERSION__} ${process.env.__BUILDTIME__}`
    }
  },
  components: {
    BackToTop,
    CategoryPromotionalBar,
    NewsletterWidget,
    FooterNavigation
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-secondary: color(secondary);
$white: color(white);
$black: color(black);
$black-464444: color(black-464444);

.footer-top {
  background-color: $black;
  color: $white;
  padding-top: 40px;
  padding-bottom: 80px;
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .col-xs-12.col-lg-3{
      max-width: 30%;
      flex-basis: 30%;
    }
    .col-xs-12.col-lg-9{
      max-width: 70%;
      flex-basis: 70%;
    }
  }
  @media (max-width: 991px) {
    padding-top: 20px;
    padding-bottom: 10px;
  }
}

.icon {
  transition: 0.3s all;
}

.social-icon {
  width: 40px;
  height: 40px;
  &:hover,
  &:focus,
  &:active {
    .icon {
      fill: $color-secondary;
    }
  }
}
.links {
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;

  @media (min-width: 991px) {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}

.bottom-links {
  @media (max-width: 991px) {
    padding: 0;
  }
}

.footer__version-info {
  display: flex;
  color: $color-secondary;
  font-size: 0.7rem;
  @media (min-width: 991px) {
    margin-right: 1rem;
    font-size: 0.8rem;
  }
}
.footer-bottom-space{
  line-height: 0;
  font-size: 0;
}

.underline {
  &:hover {
    color: $color-secondary;
    &:after {
      background-color: $color-secondary;
    }
  }
}
.legal-entity-link {
  text-align: center;
  @media (min-width: 991px) {
    display: none;
  }
}

.privacy-policy-link {
  text-align: right;
  @media (min-width: 991px) {
    display: none;
  }
}

.footer-bottom {
  background-color: $black-464444;
  color: $white;
  line-height: 1.3;
  padding-top: 10px;
  padding-bottom: 10px;
  @media (max-width: 991px) {
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 12px;
  }
  a {
    color: $white;

    &:hover {
      color: $color-secondary;
    }
  }

  .payment-icon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    line-height: 1;
    img{
      max-width: 100%;
      display: block;
      @media (max-width: 767px) {
        max-height: 24px;
        width: auto;
      }
    }
    &:last-child{
      padding-left: 0;
    }
    .payment-icon-item {
      padding-left: 15px;
      margin-top: 5px;
      margin-bottom: 5px;
      img {
        display: block;
        width: 100%;
        max-width: 45px;
      }
    }
    @media (max-width: 991px) {
      justify-content: center;
      margin-top: 8px;
      .payment-icon-item {
        padding-left:5px;
        padding-right:5px;
        img{
          max-width: 40px;
        }
      }
    }
  }
}

.social-icon-list {
  margin-bottom: 23px;
  display: flex;
  flex-wrap: wrap;
  .social-icon-item {
    padding-right: 20px;
    &:last-child{
      padding-right: 0;
    }
    svg{
      width: 33px;
      height: 34px;
      display: block;
    }
    a {
      span {
        width: 0;
        height: 0;
        overflow: hidden;
        display: block;
      }
      &:hover {
        transform: rotate(360deg);
      }
    }
  }
  @media (max-width: 991px) {
    justify-content: center;
    margin-bottom: 23px;
  }
}

@media (max-width: 595px) {
  .no-mobile {
    display: none;
  }

  .social {
    margin-top: 0;
  }

  .footer-links {
    padding-bottom: 30px;
  }
}
.footer-trustpilot {
  a{
    color: $white;
  }
  @media (max-width: 991px) {
    padding-bottom: 10px;
    .trustpilot-widget {
      display: flex;
      justify-content: center;
    }
  }
}
</style>
