<template>
  <div class="newsletter-widget">
    <h2 class="widget-title">
      {{ $t('Offers & advice direct to your inbox') }}
    </h2>
    <div class="widget-content">
      <form :action="newsletter.endpoint" method="post">
        <input type="hidden" name="EMAIL_PERMISSION_STATUS_" :value="newsletter.ps">
        <input type="hidden" name="_ri_" :value="newsletter.ri">
        <input type="hidden" name="_ei_" :value="newsletter.ei">
        <input type="hidden" name="_di_" :value="newsletter.di">
        <div class="newsletter-field-wrap">
          <base-input
            type="email"
            name="EMAIL_ADDRESS_"
            v-model="email"
            autocomplete="email"
            :placeholder="$t('Your email')"
            @blur="$v.email.$touch()"
            :validations="[
              {
                condition: $v.email.$error && !$v.email.required,
                text: $t('Field is required')
              },
              {
                condition: !$v.email.email && $v.email.$error,
                text: $t('Please provide valid e-mail address.')
              }
            ]"
          />
          <button-full
            type="submit"
            class="btn"
            :disabled="this.$v.$invalid"
          >
            {{ $t('Sign Up') }}
          </button-full>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import { required, email } from 'vuelidate/lib/validators'
import SubscriptionStatus from '@vue-storefront/core/modules/newsletter/mixins/SubscriptionStatus'
import Subscribe from '@vue-storefront/core/modules/newsletter/mixins/Subscribe'
import i18n from '@vue-storefront/i18n'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput.vue'
import { mapGetters, mapActions } from 'vuex'
import config from 'config'

export default {
  data () {
    return {
      ajaxResponse: false,
      errorMsg: '',
      email: '',
      successMsg: '',
      newsletter: config.newsletter
    }
  },
  validations: {
    email: {
      required,
      email
    }
  },
  computed: {
    ...mapGetters({
      getnewsletterSubscribe: 'PetClubs/getnewsletterSubscribe'
    })
  },
  methods: {
    ...mapActions({
      newsletterSubscribe: 'PetClubs/newsletterSubscribe',
      resetNewsletterSubscribe: 'PetClubs/resetNewsletterSubscribe'
    }),
    newsletterSubmit () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.errorMsg = '';
        this.successMsg = '';
        this.ajaxResponse = false;
        this.newsletterSubscribe({ email: this.email });
        setTimeout(() => {
          this.ajaxResponse = this.getnewsletterSubscribe;
          if (this.ajaxResponse) {
            this.successMsg = i18n.t('Sign Up Successfully')
            this.resetNewsletterSubscribe(false)
          } else {
            this.ajaxResponse = true;
            this.errorMsg = i18n.t('Something Went Wrong. Please try again!')
          }
        }, 1500);
      }
    }
  },
  components: {
    ButtonFull,
    BaseInput
  },
  mixins: [
    SubscriptionStatus, Subscribe
  ]
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-secondary: color(secondary);
$white: color(white);
$red: color(red);

.newsletter-widget {
  margin-bottom: 20px;
  max-width: 275px;

  @media (max-width: 991px) {
    text-align: center;
    margin: 0 auto 15px;
    max-width: 380px;
  }

  .widget-title {
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 30px;
    @media (max-width: 991px) {
      margin-bottom: 15px;
    }
  }
  input:not([type="submit"]):not([type="button"]) {
    background-color: $white;
    border-radius: 4px;
    padding: 20px 10px;
    font-size: 12px;
    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 1.35;
    }
  }
  .base-input {
    margin-bottom: 15px;
    input:not([type="submit"]):not([type="button"]) + label {
      font-size: 12px;
      left: 10px;
      transform: translateY(-50%);
      top: 50%;
    }
    input:not([type="submit"]):not([type="button"]):focus ~ label, input:not(.empty):not([type="submit"]):not([type="button"]) ~ label {
      font-size: 12px;
      top: 8px;
      left: 10px;
      color: $color-secondary;
    }
  }
  .newsletter-field-wrap {
    @media (max-width: 991px) {
      position: relative;
      .base-input {
        margin-bottom: 0;
      }
      input:not([type="submit"]):not([type="button"]) {
        border-radius: 40px;
        padding: 13px 115px 13px 15px;
        height: 41px;
        min-height: auto;
        line-height: 110%;
      }
      button {
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        padding: 12px 20px 11px;
        border-radius: 0 50px 50px 0;
      }
      .button-full {
        border-radius: 0 50px 50px 0;
        position: absolute;
        top: 0;
        right: 0;
        padding:15px 14px 14px;
        width: 110px;
      }
    }
  }
  .recaptch-red{
    color:red;
  }

.newsletter-field-wrap {
    .error-msg {
        margin-top: 5px;
    }
  }
}
.recaptcha-scale{
  transform:scale(0.85);
  margin-left: -23px;
  div{
    width: auto !important;
    height: auto !important;
    margin: 0 auto;
    display: inline-flex;
    justify-content: center;
  }
  iframe{
    display: block;
  }
  @media (max-width: 1199px) {
    margin-left: -13px;
  }
  @media (max-width: 991px) {
    margin-top: 10px;
    margin-left: 0;
  }
}
.disabled.button-disabled {
    pointer-events: auto;
    background: $red !important;
    cursor: not-allowed;
}
</style>
