@import '~theme/css/variables/colors';
@import 'base/fonts.scss';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$red-f14e46: color(red-f14e46);
$oat: color(oat);
$white: color(white);
$black: color(black);
$black-464444: color(black-464444);
$red:color(red);
$gray-979797:color(gray-979797);
$dark-blue: color(dark-blue);
$silver: color(silver);

*, ::after, ::before {
  box-sizing: border-box;
}

::-moz-selection {
  color: $white;
  background-color: $color-secondary;
}

::selection {
  color: $white;
  background-color: $color-secondary;
}

:focus {
  outline-offset: 0;
  outline: 0 none;
}

// #viewport{
//   max-width: 1450px;
//   margin: 0 auto;
// }

input,
select,
textarea{
  font-family: 'montserrat', sans-serif;
  font-size: 14px;
  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 1.35;
  }
}

button,
input[type="submit"],
input[type="button"] {
  transition: all 0.5s ease;
  font-family: 'montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul{
  margin: 0;
  padding: 0;
}

a {
  color: $color-primary;
  transition: all 0.5s ease;
  &.router-link-exact-active,
  &:hover {
    color: $color-secondary;
    text-decoration: none;
  }
  &.btn {
    color: $white;
  }
}

ul, li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: inherit !important;
}

h1, h2, h3, h4, h5, h6, p, ul{
  margin: 0;
  padding: 0;
}
p {
  font-size: 16px;
  line-height: 1.2;
  padding-bottom: 15px;
  @media (max-width: 767px) {
    font-size: 14px;
  }
}
.btn {
  height: auto;
  border: 0;
  border-radius: 50px;
  background-color: $color-secondary;
  color: $white;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  padding: 12px 24px 10px;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  transition: all 0.5s linear;
  text-transform: uppercase;
  margin: 0;
  -webkit-appearance: none;
  &.black{
    background: $black;
    &:hover{
      background: $black-464444;
    }
  }
  &:hover{
    color: $white;
    background-color: $red-f14e46;
  }
}
.btn1 {
  border: 0;
  border-radius: 10px;
  background-color: $color-secondary;
  color: $white;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  padding: 12px 24px 10px;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  transition: all 0.5s linear;
  text-transform: uppercase;
  margin: 0;
  &.black{
    background: $black;
    &:hover{
      background: $black-464444;
    }
  }
  &:hover{
    color: $white;
    background-color: $red-f14e46;
  }
}
.section-padding {
  padding-top: 60px;
  padding-bottom: 60px;
  @media (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.small-space{
  padding-top: 25px;
  padding-bottom: 25px;
  @media (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.bottom-space{
  margin-bottom:20px;
}
.arrow{
  border: solid 2px #000;
  border-left: 0;
  border-bottom: 0;
  width: 9px;
  height: 9px;
  display: inline-flex;
  transform: rotate(45deg);
}

.select1{
  border: solid 1px $gray-979797;
  background: #fff url(/assets/icons/down-arrow.png) no-repeat right 15px center;
  background-size:15px auto;
  font-size: 16px;
  padding: 13px 35px 13px 15px;
  height: auto;
  line-height: 1;
  position: relative;
  appearance: none;
}

.bg-svg{
  display: block;
}
.form-control{
  background: $white;
  border-radius: 35px;
  display: block;
  border: 0;
  font-size: 14px;
  padding: 15px 23px;
  height: auto;
  line-height: 1.2;
  width: 100%;
  color: #666;
  @media (max-width: 767px) {
    font-size: 16px;
  }
}
.select{
  border-radius: 35px;
  display: block;
  border: 0;
  font-size: 14px;
  padding: 15px 23px;
  height: auto;
  line-height: 1.2;
  width: 100%;
  appearance: none;
  position: relative;
  background:$white url(/assets/icons/down-arrow.png) no-repeat right 25px center;
  color: #666;
  @media (max-width: 767px) {
    font-size: 16px;
  }
  &::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    right: 0;
    top: 0;
    background: $black;
  }
}
.radio-input {
  background-image: url(/assets/icons/icon-uncheck.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto auto;
  height: 20px;
  width: 20px;
  appearance: none;
  cursor: pointer;
  &:checked {
    background-image: url(/assets/icons/icon-checked.png);
  }
}
.swiper-arrows{
  span{
    margin-left: 20px;
    cursor: pointer;
    z-index: 1;
    position: relative;
    &.swiper-button-disabled{
      opacity: 0.4;
      cursor: default;
    }
    img{
      display: block;
    }
  }
  .swiper-button-prev{
    img{
      transform: rotate(180deg);
    }
  }
  @media (max-width: 767px) {
    span{
      margin-left:10px;
      img{
        height: 15px;
      }
    }
  }
}

.block-title{
  padding-bottom:20px;
  .sec-subtitle{
    font-size:21px;
    font-weight:400;
    padding-top:5px;
  }
  @media (max-width: 767px) {
    padding-bottom:10px;
    .sec-subtitle{
      font-size: 14px;
    }
  }
}
body{
  table {
    border-collapse: collapse;
    border: 0px;
    tr{
      border-top: 1px solid $gray-979797;
      th{
        background: $black;
        color:$white;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        @media (max-width: 768px) {
          font-size: 14px;
          padding:10px 5px !important;
        }
      }
      td{
        font-size: 16px;
        color:$black;
        text-align: left;
        @media (max-width: 768px) {
          font-size: 14px;
          padding:10px 5px !important;
        }
      }
    }
  }
}

.border-box{
  border: solid 1px $oat;
  background: $white;
  padding: 20px;
}
.on-off-btn {
  display: block;
  position: relative;
  width: 40px;
  height: 20px;
  margin-bottom:0;
  cursor: pointer;
  input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .checkmark{
      background-color: $red;
      &:after{
        left: 22px;
      }
    }
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    border-radius: 15px;
    background: #000;
    &:after {
      content: '';
      display: block;
      background: $white;
      width: 16px;
      height: 16px;
      left: 2px;
      top: 2px;
      border-radius: 100%;
      position: absolute;
    }
  }
}
.VueCarousel-navigation-button:focus {
  outline: 0 none !important;
}
.show-m{
  @media (min-width: 992px) {
    display: none;
  }
}
.hide-m{
  @media (max-width: 991px) {
    display: none;
  }
}
.grecaptcha-badge {
  visibility: hidden;
}
.google-policy{
  color: $black;
  a{
    color: $dark-blue;
    text-decoration: underline;
  }
}

.shop-by-department{
  text-align: center;
  h2{
    margin-bottom: 10px;
  }
  .quick-links{
    margin-left: -10px;
    margin-right: -10px;
    flex-wrap: wrap;
    .item{
      padding: 25px 10px 0;
      width: 16.666666667%;
      a {
        display: block;
      }
      span{
        border-radius: 100%;
        display: inline-block;
        vertical-align: top;
        box-shadow: none;
        transition: 0.4s;
        position: relative;
        img{
          width: 100%;
          max-width: 150px;
          border-radius: 100%;
          display: block;
          margin: 0 auto;
          transition: 0.4s;
          filter: grayscale(25%);
          height: auto;
        }
      }
      h3{
        margin-top: 10px;
        font-size: 16px;
      }
      &:hover {
        img {
          filter: grayscale(0);
        }
        h3{
          & > a {
            color: $red;
          }
        }
      }
      @media only screen and (max-width: 1200px) {
        width: 20%;
      }
      @media only screen and (max-width: 992px) {
        width: 25%;
      }
      @media only screen and (max-width: 767px) {
        padding-top: 4px;
        h3{
          margin-top: 0;
          font-size: 12px;
          a {
            padding: 8px 0
          }
        }
      }
      @media only screen and (max-width: 419px) {
        width: 33.333333%;
      }
    }
  }
}

.offer-banner{
  overflow: hidden;
  img{
    display: block;
    width: 100%;
    height: auto;
  }
}

.site-ajax-loader {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.site-ajax-loader:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
  border: 4px solid $red;
  border-color: $red transparent $red transparent;
  animation: site-ajax-loader 1.2s linear infinite;
}
@keyframes site-ajax-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.site-loader-wrap {
  justify-content: center;
  display: flex;
  margin: 150px 0;
}
@media only screen and (max-width: 767px) {
  .site-loader-wrap {
    margin: 50px 0;
  }
}
.product-grid.product {
  > a {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    > * {
      width: 100%;
    }
    .product-price {
      height: auto;
      align-self: flex-end;
    }
  }
}
.promotional-bar-menu{
  .swiper-wrapper{
    img{
      display: block;
      max-width: 100%;
    }
  }
}

div:empty {
  margin: 0;
  padding: 0;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  outline: none;
  border-radius: 0;
}

.word-break {
  word-break: break-all;
}

.flex-wrap {
  flex-wrap: wrap;
}

.white-space-nowrap {
  white-space: nowrap;
}

.btn-secondary {
  background-color: transparent !important;
  border: 1px solid $black !important;
  color: $black !important;

  &:hover {
    opacity: 0.8;
  }
}

.table-responsive {
  overflow-x: auto;
  overflow-y: hidden;
}

form .border-box {
  padding: 10px;
}

.adyen-checkout__input-wrapper {
  .adyen-checkout__input {
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
}

.skeleton-after {
  position: relative;
  > div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  &::after {
    content: '';
    animation: refresh 2s infinite linear;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.2;
    background-color: $silver;
    z-index: -1;
  }
}
@keyframes refresh {
  0% {
    opacity: 0.2;
  }
  40%{
    opacity: 0.6;
  }
   100% {
    opacity: 0.2;
  }
}
div.skeleton {
  position: relative;
  margin: auto;
  border-top: 5px solid $white;
  border-bottom: 5px solid $white;
  &::after {
    content: '';
    animation: refresh 2s infinite ease;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    bottom: 0;
    opacity: 0.6;
    background-color: $silver;
  }
}
.carousel-skeleton {
  position: relative;
  .skeleton {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
.layer0-devtools-reset-style {
  display: none !important;
}
.skeleton-image,
.skeleton-line {
  position: relative;
  &::after {
    content: '';
    animation: refresh 2s infinite ease;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    bottom: 0;
    opacity: 0.6;
    background-color: $silver;
  }
}
@media only screen and (max-width: 767px) {
  .search-group .search-icons img,
  .footer-bottom .payment-icon-list img {
    height: auto;
  }
  .swiper-arrows span img {
    width: auto;
  }
}
