<template>
  <div class="sidebar-menu fixed mw-100 bg-cl-white">
    <div class="flex middle-xs between-xs">
      <div
        v-if="submenu.depth"
        class="col-xs p0"
      >
        <sub-btn type="back" class="bg-cl-transparent brdr-none back-btn" />
      </div>
      <div class="col-xs p0">
        <button
          type="button"
          :aria-label="$t('Close')"
          class="w-100 inline-flex end-xs bg-cl-transparent brdr-none p0 px15 close-btn"
          @click="closeMenu(); scrollTopContainer()"
        >
          <i class="px0 py15">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" />
            </svg>
          </i>
        </button>
      </div>
    </div>
    <div class="sidebar-menu__container row" ref="container">
      <div class="col-xs-12 h4 serif">
        <ul class="p0 m0 relative sidebar-menu__list" :style="mainListStyles">
          <li
            @click="closeMenu(); scrollTopContainer()"
            class=""
          >
            <router-link
              class="block px15 py15 no-underline"
              :to="localizedRoute('/')"
              exact
            >
              {{ $t('Home') }}
            </router-link>
          </li>
          <li
            class="flex"
            :key="category.slug"
            @click="closeMenu(); scrollTopContainer()"
            v-for="category in visibleCategories"
          >
            <div
              v-if="isCurrentMenuShowed"
              class="subcategory-item"
            >
              <sub-btn
                v-if="category.children_count > 0"
                class="bg-cl-transparent brdr-none fs-medium"
                :id="category.id"
                :name="category.name"
              />
              <router-link
                v-else
                class="px15 py15 no-underline col-xs"
                :to="categoryLink(category)"
              >
                {{ category.name }}
              </router-link>
            </div>

            <sub-category
              :category-links="category.children_data"
              :id="category.id"
              :parent-slug="category.slug"
              :parent-path="category.url_path"
            />
          </li>
          <li
            v-if="compareIsActive && isCurrentMenuShowed"
            @click="closeMenu(); scrollTopContainer()"
            class="bg-cl-secondary"
          >
            <router-link
              class="block px25 py20 no-underline fs-medium-small"
              :to="localizedRoute('/compare')"
              exact
            >
              {{ $t('Compare products') }}
            </router-link>
          </li>
          <li class="login-link-wrap" v-if="currentUser">
            <a href="#" class="no-underline block py10 px15" @click.prevent="logout">
              {{ $t('Logout') }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import i18n from '@vue-storefront/i18n'
import SidebarMenu from '@vue-storefront/core/compatibility/components/blocks/SidebarMenu/SidebarMenu'
import SubBtn from 'theme/components/core/blocks/SidebarMenu/SubBtn'
import SubCategory from 'theme/components/core/blocks/SidebarMenu/SubCategory'
import { formatCategoryLink } from '@vue-storefront/core/modules/url/helpers'

export default {
  components: {
    SubCategory,
    SubBtn
  },
  mixins: [SidebarMenu],
  data () {
    return {
      myAccountLinks: [
        {
          id: 1,
          name: i18n.t('My profile'),
          url: '/my-account'
        },
        {
          id: 2,
          name: i18n.t('My shipping details'),
          url: '/my-account/shipping-details'
        },
        {
          id: 3,
          name: i18n.t('My newsletter'),
          url: '/my-account/newsletter'
        },
        {
          id: 4,
          name: i18n.t('My orders'),
          url: '/my-account/orders'
        },
        {
          id: 5,
          name: i18n.t('My loyalty card'),
          url: '#'
        },
        {
          id: 6,
          name: i18n.t('My product reviews'),
          url: '#'
        }
      ],
      componentLoaded: false
    }
  },
  computed: {
    mainListStyles () {
      return this.submenu.depth ? `transform: translateX(${this.submenu.depth * 100}%)` : false
    },
    ...mapState({
      submenu: state => state.ui.submenu,
      currentUser: state => state.user.current
    }),
    getSubmenu () {
      return this.submenu
    },
    visibleCategories () {
      const cat = this.categories.filter(category => {
        return (category.include_in_menu === 1) && (category.product_count > 0 || category.children_count > 0)
      })
      return cat;
    },
    isCurrentMenuShowed () {
      return !this.getSubmenu || !this.getSubmenu.depth
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.componentLoaded = true;
      if (navigator.platform === 'iPhone') {
        document.body.classList.add('device-iphone');
      }
    })
  },
  destroyed () {
    this.scrollTopContainer();
  },
  methods: {
    login () {
      if (!this.currentUser && this.isCurrentMenuShowed) {
        this.$nextTick(() => {
          this.$store.commit('ui/setAuthElem', 'login')
          this.$bus.$emit('modal-show', 'modal-signup')
          this.$router.push({ name: 'my-account' })
        })
      }
    },
    async logout () {
      await this.$store.dispatch('user/logout', {})
      this.$router.push(this.localizedRoute('/'))
      this.$store.commit('ui/setSubmenu', { depth: false })
      this.closeMenu()
      this.scrollTopContainer()
    },
    categoryLink (category) {
      return formatCategoryLink(category)
    },
    scrollTopContainer () {
      this.$bus.$emit('body-scroll-position-add');
    }
  }
}
</script>

<style lang="scss" scoped>
@import "~theme/css/animations/transitions";
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$bg-secondary: color(secondary, $colors-background);
$color-gainsboro: color(gainsboro);
$color-matterhorn: color(matterhorn);
$color-mine-shaft: color(mine-shaft);
$white: color(white);
$black: color(black);

.sidebar-menu {
  height: 100vh;
  width: 350px;
  overflow:auto;
  @media (max-width: 575px) {
    max-width: 300px;
  }

  &__container {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: calc(100% - 55px);
  }

  &__list {
    transition: transform $duration-main $motion-main;
  }

  ul {
    list-style-type: none;
  }

  li {
    &:hover,
    &:focus {
      background-color: $color-gainsboro;
    }
    &.bg-cl-primary {
      &:hover,
      &:focus {
        background-color: $bg-secondary;
      }
    }
    a {
      color: $black;
      font-size: 14px;
      line-height: 24px;
      font-weight: 600;
      border-bottom: solid 1px $black;
    }
  }

  .subcategory-item {
    display: flex;
    width: 100%;
  }

  button {
    color: $black;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    border-bottom: solid 1px $black;
    a {
      color: $black;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.7;
    }
  }

  .close-btn {
    i {
      color: $black;
      font-size: 24px;
    }
    &:hover,
    &:focus {
      i {
        color: $color-matterhorn;
      }
    }
  }

}
</style>
<style lang="scss">
  .mega-menu{
    .back-btn{
      width:100%;
    }
    &.left-sidebar{
      z-index: 113;
      @media (max-width: 991px) {
        z-index: 999999;
      }
      @media (max-width: 575px) {
        max-width: 300px;
      }
    }
  }
  .device-iphone {
    #hamburger-sidebar {
      height: 100%;
      overflow: hidden;
    }
    .sidebar-menu {
      &__container {
        height: 100%;
        padding-bottom: 90px;
        overflow: scroll !important;
        overflow-x: hidden !important;
        overflow-y: scroll !important;
      }
      .sidebar-submenu {
        padding-bottom: 80px;
      }
    }
  }
</style>
