<template>
  <div ref="cartSummary">
    <div class="brdr-1 brdr-cl-gray bg-cl-white">
      <h3
        class="cl-accent summary-title brdr-none brdr-bottom-1 brdr-cl-gray p15"
      >
        {{ $t("Your order") }}
      </h3>
      <div v-if="!setOpenCouponBox">
        <button
          class="align-left brdr-none bg-cl-transparent summary-link p15 w-100 block brdr-bottom-1 brdr-cl-gray cl-red"
          type="button"
          @click="addDiscountCoupon"
        >
          {{ $t("I have a coupon code") }}
        </button>
      </div>
      <div
        v-if="!!setOpenCouponBox"
        class="p15 coupon-wrapper brdr-bottom-1 brdr-cl-gray relative"
      >
        <div :class="show_loader ? 'opacity_set' : ''">
          <label class="h6 cl-secondary mb5 block">{{
            $t("Discount code")
          }}</label>
          <div class="coupon-input flex">
            <base-input
              type="text"
              id="couponinput"
              :autofocus="true"
              v-model.trim="couponCode"
              @keyup.enter="setCoupon"
              :validations="[{
                condition: !$v.couponCode.required && $v.couponCode.$error,
                text: $t('Field is required.')
              }]"
            />
            <button-outline
              color="dark"
              @click.native="setCoupon"
              class="btn m0"
              :class="{'voucher-disabled':!couponCode || !!getCoupon }"
            >
              {{ $t("Apply") }}
            </button-outline>
          </div>
        </div>
        <div v-if="getCoupon" class="w-100 mt10 success-coupon-message">
          <div class="w-100 flex middle-xs mt5">
            <span @click="clearCoupon" class="mr5 pointer"><img src="/assets/icons/close-icon.png" alt="close-icon"></span>
            <span class="cl-puerto-rico">{{ getCoupon.code }} {{ $t("has been applied!") }}</span>
          </div>
        </div>
        <div class="site-loader-wrap" v-show="show_loader">
          <div class="site-ajax-loader" />
        </div>
      </div>
      <div v-if="!setOpenVoucherBox">
        <button
          class="align-left brdr-none bg-cl-transparent summary-link p15 w-100 block brdr-bottom-1 brdr-cl-gray cl-red"
          type="button"
          @click="addPetClubVoucher"
        >
          {{ $t("Add PetCLUB voucher") }}
        </button>
      </div>
      <div
        v-if="!!setOpenVoucherBox"
        class="p15 coupon-wrapper brdr-bottom-1 brdr-cl-gray relative"
        :class="{'opacity_set': show_loader_petclub }"
      >
        <div>
          <label class="h6 cl-secondary mb5 block">{{
            $t("Voucher code")
          }}</label>
          <div class="coupon-input flex">
            <base-input
              type="text"
              id="voucherinput"
              :autofocus="true"
              v-model.trim="petClubVoucherCode"
              @keyup.enter="petClubVoucherCoupon"
            />
            <button-outline color="dark" class="btn" @click.native="petClubVoucherCoupon" :class="{'voucher-disabled':!petClubVoucherCode }">
              {{ $t("Apply") }}
            </button-outline>
          </div>
        </div>
        <div v-if="getCurrentVoucher.length" class="w-100 mt10 success-coupon-message">
          <div v-for="(voucher,index) of getCurrentVoucher" :key="index" class="w-100 flex middle-xs mt5">
            <span @click="clearPetClubCoupon(voucher.c)" class="mr5 pointer"><img src="/assets/icons/close-icon.png" alt="close-icon"></span>
            <span class="cl-puerto-rico">{{ voucher.c }} {{ $t("has been applied!") }}</span>
          </div>
        </div>
        <div class="site-loader-wrap" v-show="show_loader_petclub">
          <div class="site-ajax-loader" />
        </div>
      </div>
      <div
        v-if="productsInCart && productsInCart.length"
        class="checkout cl-accent"
      >
        <template v-for="(segment, index) in totals">
          <div
            :key="index"
            class="px15 py5 flex between-xs"
            v-if="segment.code === 'subtotal' || segment.code === 'discount' || (segment.code === 'loyalty_coupons' && getCurrentVoucher.length)"
          >
            <p class="cl-accent p0">
              {{ segment.title }}
            </p>
            <p v-if="segment.value != null" class="cl-accent p0 white-space-nowrap">
              {{ segment.code === 'loyalty_coupons' ? '-' + segment.value : segment.value | price(storeView) }}
            </p>
          </div>
        </template>
        <template v-for="(segment, index) in totals">
          <div
            :key="index"
            class="px15 py5 flex between-xs"
            v-if="segment.code === 'shipping'"
          >
            <p class="cl-accent p0">
              {{ $t('Shipping') }}
            </p>
            <p v-if="segment.value != null" class="cl-accent p0">
              {{ segment.value | price(storeView) }}
            </p>
          </div>
        </template>
        <template v-for="(segment, index) in totals">
          <div
            class="py10 px15 flex font-700 between-xs h3 brdr-top-1 brdr-cl-gray"
            :key="index"
            v-if="segment.code === 'grand_total'"
          >
            <div class="">
              {{ segment.title }}
            </div>
            <div class="">
              {{ segment.value | price(storeView) }}
            </div>
          </div>
        </template>
      </div>
    </div>
    <div class="brdr-1 brdr-cl-gray mt20 bg-cl-white" v-show="!isMobile">
      <div class="col-md-12">
        <h3 class="m0 flex middle-xs py10 pt20">
          <img src="/assets/icons/icon-basket.png" alt="icon-review-basket" class="icon">
          {{ $t('Review basket') }}
        </h3>
      </div>
      <div class="p0 cart-sidebar right-sidebar">
        <ul v-if="productsInCart.length" class="m0 products">
          <product v-for="product in productsInCart" :key="product.server_item_id || product.id" :product="product" />
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { CartSummary } from '@vue-storefront/core/modules/checkout/components/CartSummary';
import { currentStoreView } from '@vue-storefront/core/lib/multistore';
import Product from 'theme/components/core/blocks/Microcart/Product'
import i18n from '@vue-storefront/i18n';
import { mapActions, mapGetters } from 'vuex';
import BaseInput from 'theme/components/core/blocks/Form/BaseInput';
import ButtonOutline from 'theme/components/theme/ButtonOutline';
import { mapState } from 'vuex'
import { required } from 'vuelidate/lib/validators'
import { isServer } from '@vue-storefront/core/helpers'

export default {
  props: {
    showPayment: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      couponCode: '',
      petClubVoucherCode: '',
      addCouponPressed: false,
      addPetClubVoucherPressed: false,
      show_loader: false,
      show_loader_petclub: false
    };
  },
  mixins: [CartSummary],
  validations: {
    couponCode: {
      required
    }
  },
  components: {
    Product,
    ButtonOutline,
    BaseInput
  },
  computed: {
    ...mapGetters({
      getCoupon: 'cart/getCoupon',
      productsInCart: 'cart/getCartItems'
    }),
    ...mapState({
      currentUser: state => state.user.current
    }),
    storeView () {
      return currentStoreView();
    },
    isMobile () {
      if (isServer) return false
      if (window.innerWidth <= 768) {
        return true
      }
      return false
    },
    setOpenVoucherBox () {
      return this.getCurrentVoucher.length > 0 ? true : this.addPetClubVoucherPressed
    },
    setOpenCouponBox () {
      return this.getCoupon?.code ? true : this.addCouponPressed
    },
    getCurrentVoucher () {
      try {
        const loyaltyCoupen = this.totals.find(gift => gift.code === 'loyalty_coupons')
        return loyaltyCoupen?.extension_attributes ? JSON.parse(loyaltyCoupen.extension_attributes.loyalty_coupons) : []
      } catch (err) {
        throw new Error(err)
      }
    }
  },
  methods: {
    ...mapActions({
      applyCoupon: 'cart/applyCoupon'
    }),
    addDiscountCoupon () {
      this.addCouponPressed = true;
    },
    async clearCoupon () {
      this.show_loader = true;
      await this.$store.dispatch('cart/removeCoupon');
      this.show_loader = false;
    },
    async clearPetClubCoupon (voucher) {
      this.show_loader_petclub = true;
      await this.$store.dispatch('PetClubs/removePetClubVoucher', {
        cart_id: this.$store.state.cart.cartServerToken,
        voucher_code: voucher
      });
      const removeResponse = this.$store.getters['PetClubs/removePetClubVoucher'] || [];
      const responseParse = JSON.parse(removeResponse)
      if (responseParse.status) {
        await this.$store.dispatch('cart/syncTotals', { forceServerSync: true }, { root: true })
        this.$store.dispatch('notification/spawnNotification', {
          type: 'success',
          message: i18n.t(
            'Coupon code successfully removed!!'
          ),
          action1: { label: i18n.t('OK') }
        });
        this.show_loader_petclub = false;
      }
    },
    async petClubVoucherCoupon () {
      this.show_loader_petclub = true;
      await this.$store.dispatch('PetClubs/redeemPetClubPoitsVoucher', {
        cart_id: this.$store.state.cart.cartServerToken,
        voucher_code: this.petClubVoucherCode
      });
      const v_data = this.$store.getters['PetClubs/redeemPetClubPoitsVoucher'] || [];
      if (v_data) {
        const voucherResponse = JSON.parse(v_data)
        if (voucherResponse.status) {
          await this.$store.dispatch('cart/syncTotals', { forceServerSync: true }, { root: true })
          this.$store.dispatch('notification/spawnNotification', {
            type: 'success',
            message: i18n.t(
              'Coupon code successfully applied!!'
            ),
            action1: { label: i18n.t('OK') }
          });
        } else {
          this.$store.dispatch('notification/spawnNotification', {
            type: 'error',
            message: voucherResponse.message,
            action1: { label: i18n.t('OK') }
          });
        }
      }
      this.petClubVoucherCode = ''
      this.show_loader_petclub = false;
    },
    async setCoupon () {
      if (this.$v.couponCode.$invalid) {
        this.$v.couponCode.$touch()
        return
      }
      this.show_loader = true;
      const couponApplied = await this.applyCoupon(this.couponCode)
      if (!couponApplied) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'warning',
          message: i18n.t(
            "You've entered an incorrect coupon code. Please try again."
          ),
          action1: { label: i18n.t('OK') }
        });
      }

      if (typeof couponApplied === 'boolean' && couponApplied) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'success',
          message: i18n.t(
            'Coupon code successfully applied!!'
          ),
          action1: { label: i18n.t('OK') }
        });
      }
      this.couponCode = '';
      this.show_loader = false;
    },
    addPetClubVoucher () {
      this.addPetClubVoucherPressed = true;
      this.petClubVoucherCode = null
    }
  }
};
</script>

<style lang="scss" scoped>
@import '~theme/css/base/text';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$bg-secondary: color(secondary, $colors-background);
$color-tertiary: color(tertiary);
$color-secondary: color(secondary);
$color-error: color(error);
$white: color(white);
$black: color(black);
$gray-979797: color(gray-979797);
$blue: color(blue);
$green: color(green);

.opacity_set {
  pointer-events: none;
  opacity: 0.5;
}
.summary-title {
  font-size: 21px;
  @media (max-width: 767px) {
    margin-left: 0;
  }
}
.btn.add-payment {
  background: $green;
  font-size: 16px;
  text-transform: none;
  margin-bottom: 15px;
}
button.summary-link {
  font-size: 14px;
}
.coupon-wrapper {
  display: block;
  .site-loader-wrap {
    margin: 0;
    left: 0;
    right: 0;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
  }
  .coupon-input {
    align-items: flex-start;
    justify-content: space-between;
  }
  .btn {
    padding: 1px 15px;
    height: 40px;
    line-height: 40px;
    min-width: 95px;
  }
  .success-coupon-message{
    line-height: 1;
    align-items: center;
    .removebtn i{
      font-size: 20px;
      margin-left: 5px;
      &:hover{
        background: transparent;
      }
    }
  }
}
</style>
<style lang="scss">
.coupon-input {
  .error-msg {
    margin: 5px 0 0;
  }
}
.cart-sidebar {
  .micro-product-item {
    .cart-box {
      padding: 0 15px 10px !important;
    }
  }
}
#checkout{
  .cart-sidebar {
    .micro-product-item {
      .cart-box {
        @media only screen and (min-width: 992px) and (max-width: 1399px) {
          display: block;
          .blend{
            flex: 0 0 100;
            max-width: 100%;
            .product-image{
              width: 100%;
              height: auto;
              img{
                width: 100%;
              }
            }
          }
          .details{
            flex: 0 0 100%;
            max-width: 100%;
            padding: 10px 0 0 0;
            .info-block{
              padding: 0px;
              .name{
                padding: 0;
                a{
                  display: block;
                  margin-right: 25px;
                }
                button{
                  top:0;
                }
              }
              .price{
                padding-top: 10px;
              }
            }
          }
        }
      }
    }
  }
}
.cart-right {
  .icon {
    margin-right: 10px;
  }
}
.cart-summary-proceed-btn {
  .btn {
    width: 100% !important;
  }
}
.voucher-disabled {
  opacity: 0.6;
  pointer-events: none;
}
</style>
