<template>
  <div class="order-review">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row">
          <div class="col-md-12" :class="{ 'cl-bg-tertiary' : !isFilled && !isActive }">
            <h3 class="m0 mb5 flex middle-xs py15 pt20">
              <img src="/assets/icons/icon-basket.png" alt="icon-review-basket" class="icon">
              {{ $t('Review basket') }}
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row" v-show="isActive">
      <div class="col-xs-12 col-sm-12 col-md-12 p0 cart-sidebar right-sidebar">
        <ul v-if="productsInCart.length" class="m0 products">
          <product v-for="product in productsInCart" :key="product.server_item_id || product.id" :product="product" />
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Composite from '@vue-storefront/core/mixins/composite'

import i18n from '@vue-storefront/i18n';
import { Logger } from '@vue-storefront/core/lib/logger'
import { OrderReview } from '@vue-storefront/core/modules/checkout/components/OrderReview'
import { OrderModule } from '@vue-storefront/core/modules/order'
import { registerModule } from '@vue-storefront/core/lib/modules'
import Product from 'theme/components/core/blocks/Microcart/Product'
import { isServer } from '@vue-storefront/core/helpers'

export default {
  props: {
    showPayment: {
      type: Boolean,
      default: false
    }
  },
  components: {
    Product
  },
  mixins: [OrderReview, Composite],
  computed: {
    ...mapGetters({
      isOpen: 'cart/getIsMicroCartOpen',
      productsInCart: 'cart/getCartItems',
      getPersonalDetails: 'checkout/getPersonalDetails',
      getShippingDetails: 'checkout/getShippingDetails'
    }),
    isMobile () {
      if (isServer) return false
      if (window.innerWidth <= 768) {
        return true
      }
      return false
    }
  },
  beforeCreate () {
    registerModule(OrderModule)
  },
  methods: {
    onSuccess () {
    },
    onFailure (result) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t(result.result),
        action1: { label: this.$t('OK') }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  .link {
    text-decoration: underline;
  }
  .cartsummary-wrapper {
    @media (min-width: 767px) {
      display: none;
    }
  }
</style>
