<template>
  <div class="payment pt20" v-if="showForm">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row">
          <div class="col-xs-12 col-md-12" :class="{ 'cl-bg-tertiary' : !isFilled && !isActive }">
            <h3 class="m0 mb5 flex middle-xs">
              <img src="/assets/icons/icon-billing.png" alt="icon-billing" class="icon">
              {{ $t('Billing information') }}
            </h3>
          </div>
        </div>
      </div>
    </div>
    <form class="row mt15" autocomplete="off">
      <div class="col-xs-12 col-md-12 base-input address-container" :class="{ active: writeStreet }">
        <base-input
          class="mb10"
          type="text"
          name="street-address"
          :placeholder="$t('Address *')"
          v-model.trim="paymentAddress"
          autocomplete="address-line1"
          @keyup="findAddresses('street')"
          @blur="removedFocus(true)"
        />
        <ul class="address-list" v-if="paymentAddress && addresses && addresses.length > 0">
          <li v-for="add in addresses" :key="add.Id" @click="getAddress(add)">
            {{ (add.Type == 'Postcode') ? add.Description : [add.Text,add.Description].join(', ') }}
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row" v-if="$v.payment.$invalid && !isFilled && !$v.payment.phoneNumber.$invalid">
          <div class="billing-form-wrap row px15">
            <base-input
              class="col-xs-12 col-sm-6 mb10"
              type="text"
              name="first-name"
              :placeholder="$t('First name *')"
              v-model.trim="payment.firstName"
              @blur="$v.payment.firstName.$touch()"
              :validations="[
                {
                  condition: $v.payment.firstName.$error && !$v.payment.firstName.required,
                  text: $t('Field is required')
                },
                {
                  condition: !$v.payment.firstName.minLength,
                  text: $t('Name must have at least 2 letters.')
                }
              ]"
            />

            <base-input
              class="col-xs-12 col-sm-6 mb10"
              type="text"
              name="last-name"
              :placeholder="$t('Last name *')"
              v-model.trim="payment.lastName"
              @blur="$v.payment.lastName.$touch()"
              :validations="[{
                condition: $v.payment.lastName.$error && !$v.payment.lastName.required,
                text: $t('Field is required')
              }]"
            />

            <div class="col-xs-12 col-md-12 base-input address-container" :class="{ active: writeStreet }" v-if="isActive">
              <base-input
                class="mb10"
                type="text"
                name="street-address"
                :placeholder="$t('Address *')"
                v-model.trim="payment.streetAddress"
                @blur="$v.payment.streetAddress.$touch()"
                :validations="[{
                  condition: $v.payment.streetAddress.$error && !$v.payment.streetAddress.required,
                  text: $t('Field is required')
                }]"
              />
            </div>

            <base-input
              class="col-xs-12 mb10"
              type="text"
              name="apartment-number"
              :placeholder="$t('House/Apartment number')"
              v-model.trim="payment.apartmentNumber"
            />

            <base-input
              class="col-xs-12 col-sm-6 mb10"
              type="text"
              name="city"
              :placeholder="$t('City *')"
              v-model.trim="payment.city"
              @blur="$v.payment.city.$touch()"
              :validations="[
                {
                  condition: $v.payment.city.$error && !$v.payment.city.required,
                  text: $t('Field is required')
                },
                {
                  condition: $v.payment.city.$error && $v.payment.city.required,
                  text: $t('Please provide valid city name')
                }
              ]"
            />

            <base-input
              class="col-xs-12 col-sm-6 mb10"
              type="text"
              name="state"
              :placeholder="$t('State / Province')"
              v-model.trim="payment.state"
            />

            <div class="col-xs-12 col-sm-6 address-container" :class="{ active: writePostcode }">
              <base-input
                class="mb10"
                type="text"
                name="zip-code"
                :placeholder="$t('Zip-code *')"
                v-model.trim="payment.zipCode"
                @blur="$v.payment.zipCode.$touch()"
                :validations="[
                  {
                    condition: $v.payment.zipCode.$error && !$v.payment.zipCode.required,
                    text: $t('Field is required')
                  },
                  {
                    condition: !$v.payment.zipCode.minLength,
                    text: $t('Zip-code must have at least 3 letters.')
                  }
                ]"
                @keyup="findAddresses('postcode')"
              />
              <ul class="address-list" v-if="addresses && addresses.length > 0">
                <li v-for="add in addresses" :key="add.Id" @click="getAddress(add)">
                  {{ (add.Type == 'Postcode') ? add.Description : [add.Text,add.Description].join(', ') }}
                </li>
              </ul>
            </div>

            <base-select
              class="col-xs-12 col-sm-6 mb10"
              name="countries"
              :options="countryOptions"
              :selected="payment.country"
              :validations="[
                {
                  condition: $v.payment.country.$error && !$v.payment.country.required,
                  text: $t('Field is required')
                }
              ]"
              v-model="payment.country"
              @blur="$v.payment.country.$touch()"
              @change="$v.payment.country.$touch(); changeCountry();"
            />
          </div>

          <div class="col-xs-12 mb20" v-show="false">
            <h4>
              {{ $t('Payment method') }}
            </h4>
          </div>
          <div v-for="(method, index) in paymentMethods" :key="index" class="col-md-6" v-show="false">
            <label class="radioStyled"> {{ method.title ? method.title : method.name }}
              <input
                type="radio"
                :value="method.code"
                name="payment-method"
                v-model="payment.paymentMethod"
                @change="$v.payment.paymentMethod.$touch()"
              >
              <span class="checkmark" />
            </label>
          </div>
          <span class="col-xs-12 validation-error" v-if="!$v.payment.paymentMethod.required">{{ $t('Field is required') }}</span>
        </div>
      </div>
      <base-number-input
        class="col-xs-12 mb10"
        type="tel"
        name="phone-number"
        :placeholder="`${$t('Phone Number')} *`"
        :maxlength="11"
        v-model.trim="payment.phoneNumber"
        :validations="[
          {
            condition: $v.payment.phoneNumber.$error && !$v.payment.phoneNumber.required,
            text: $t('Field is required')
          }
        ]"
        @blur="$v.payment.phoneNumber.$touch(); removedFocus(false)"
      />
    </form>
    <!-- <div class="row" v-if="!isActive && isFilled || !showForm">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row fs16 mt10">
          <div class="col-xs-12">
            <div class="icon-view flex p10 brdr-1 brdr-cl-gray-979797">
              <div class="form-details-add-wrap">
                <span v-if="payment.apartmentNumber">{{ payment.apartmentNumber }}</span>
                <span v-if="payment.streetAddress">{{ payment.streetAddress }} </span>
                <span v-if="payment.city">{{ payment.city }}, </span>
                <span v-if="payment.state">{{ payment.state }} </span>
                <span v-if="payment.zipCode">{{ payment.zipCode }}, </span>
                <span>{{ getCountryName() }}</span>
              </div>
              <div class="flex end-lg" v-if="showForm">
                <a href="#" class="cl-tertiary flex" @click.prevent="edit">
                  <i class="material-icons cl-red">{{ $t('edit') }}</i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row" v-if="false">
      <!-- <div class="hidden-xs col-sm-2 col-md-1" /> -->
      <div class="col-xs-12 col-sm-12 col-md-11">
        <div class="row">
          <div class="col-xs-12 col-md-4 px20 my10 button-container">
            <button-full
              @click.native="sendDataToCheckout"
              data-testid="paymentSubmit"
              :disabled="$v.payment.$invalid"
            >
              {{ $t('Review your order') }}
            </button-full>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength } from 'vuelidate/lib/validators'
import { unicodeAlpha, unicodeAlphaNum } from '@vue-storefront/core/helpers/validators'
import { Payment } from '@vue-storefront/core/modules/checkout/components/Payment'

import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import BaseNumberInput from 'theme/components/core/blocks/Form/BaseNumberInput'
import BaseSelect from 'theme/components/core/blocks/Form/BaseSelect'
import ButtonFull from 'theme/components/theme/ButtonFull'
import { mapGetters } from 'vuex'

export default {
  components: {
    BaseInput,
    BaseSelect,
    ButtonFull,
    BaseNumberInput
  },
  data () {
    return {
      paymentAddress: '',
      writePostcode: false,
      writeStreet: false,
      showForm: false
    }
  },
  mixins: [Payment],
  watch: {
    address: {
      handler () {
        let add = this.address;
        if (add.Id) {
          let strAddress = [add.Company, add.Line1, add.Line2].filter(item => item);
          let aptNum = [add.Line3, add.Line4, add.Line5].filter(item => item);
          this.payment.firstName = this.personalDetails.firstName
          this.payment.lastName = this.personalDetails.lastName
          this.payment.streetAddress = strAddress.join(', ')
          this.payment.apartmentNumber = aptNum.join(', ')
          this.payment.city = add.City
          this.payment.state = add.Province
          this.payment.zipCode = add.PostalCode
          this.payment.country = add.CountryIso2
        }
      }
    },
    paymentDetails: {
      handler () {
        let payAdd = ''
        payAdd += this.payment.apartmentNumber ? this.payment.apartmentNumber : '';
        payAdd += this.payment.streetAddress ? ' ' + this.payment.streetAddress : '';
        payAdd += this.payment.city ? ', ' + this.payment.city : '';
        payAdd += this.payment.zipCode ? ', ' + this.payment.zipCode : '';
        this.paymentAddress = payAdd.trim()
        this.validateBillingAddress()
      }
    }
  },
  computed: {
    ...mapGetters({
      addresses: 'addressy/getBillingAddressList',
      address: 'addressy/getBillingAddress',
      personalDetails: 'checkout/getPersonalDetails'
    }),
    paymentMethods () {
      let paymentMethods = this.$store.getters['checkout/getPaymentMethods']
      return paymentMethods.filter(method => {
        return method.code === 'Adyen' && method.is_server_method === true
      })
    },
    countryOptions () {
      let countries = this.countries.filter(country => country.code === 'GB' || country.code === 'IE')
      return countries.map((item) => {
        return {
          value: item.code,
          label: item.name
        }
      })
    }
  },
  validations () {
    return {
      payment: {
        firstName: {
          required,
          minLength: minLength(2),
          unicodeAlpha
        },
        lastName: {
          required,
          unicodeAlpha
        },
        country: {
          required
        },
        phoneNumber: {
          required
        },
        streetAddress: {
          required,
          unicodeAlphaNum
        },
        zipCode: {
          required,
          minLength: minLength(3),
          unicodeAlphaNum
        },
        city: {
          required,
          unicodeAlpha
        },
        paymentMethod: {
          required
        }
      }
    }
  },
  mounted () {
    this.$bus.$on('disable-billing', this.hideBillingForm)
    this.$bus.$on('set-billing-filled', this.setIsFilled)
  },
  methods: {
    validateBillingAddress () {
      if (!this.$v.payment.$invalid) {
        if (this.paymentAddress !== '') {
          this.$parent.validationResults.payment = this.$v.payment
        }
        this.sendDataToCheckout();
      }
    },
    submitForm (e) {
      if (e.keyCode === 13) {
        this.validateBillingAddress()
      }
    },
    removedFocus (flag) {
      if (flag) {
        // this.$store.dispatch('addressy/clear');
      }
      this.validateBillingAddress()
    },
    hideBillingForm (data) {
      this.sendToShippingAddress = data;
      this.showForm = !data;
      // if (this.sendToShippingAddress) {
      //   this.showForm = false;
      // } else {
      //   this.showForm = true;
      // }
    },
    setIsFilled () {
      this.isFilled = true
    },
    getAddressValue (type) {
      let address = '';
      if (type === 'postcode') {
        this.writePostcode = true;
        this.writeStreet = false;
        address = this.payment.zipCode
      }
      if (type === 'street') {
        this.writePostcode = false;
        this.writeStreet = true;
        address = this.paymentAddress
      }
      return address;
    },
    findAddresses (type) {
      if (this.paymentAddress !== '') {
        let address = this.getAddressValue(type);
        if (address.length >= 3) {
          this.$store.dispatch('addressy/searchBilling', { text: address });
        }
      } else {
        this.payment.streetAddress = null
        this.payment.apartmentNumber = null
        this.payment.city = null
        this.payment.state = null
        this.payment.zipCode = null
        this.payment.country = null
      }
    },
    getAddress (address) {
      this.$store.dispatch('addressy/clearBilling');
      if (address.Type === 'Address') {
        this.$store.dispatch('addressy/getBilling', address.Id);
        this.writePostcode = false;
        this.writeStreet = false;
        this.paymentAddress = [address.Text, address.Description].join(', ')
      } else {
        this.$store.dispatch('addressy/searchBilling', { text: address.Text, container: address.Id });
      }
    }
  }
}
</script>

<style lang="scss">
.address-container {
  position: relative;
  .address-list {
    position: absolute;
    top: 100%;
    left: 15px;
    right: 15px;
    z-index: 1;
    background-color: #fff;
    max-height: 235px;
    overflow: auto;
    border: 1px solid #828282;
    display: none;
    li {
      padding: 10px;
      cursor: pointer;
      border-bottom: 1px solid #828282;
      transition: 0.3s;
      &:hover,
      &.selected {
        background-color: #000;
        color: #fff;
      }
    }
  }
  &.active {
    .address-list {
      display: block;
    }
  }
}
</style>
