<template>
  <div class="personal-details">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row">
          <div
            class="col-xs-12 col-md-12"
            :class="{ 'cl-bg-tertiary': !isFilled && !isActive }"
          >
            <h3 class="m0 mb5 flex middle-xs">
              <img
                src="/assets/icons/icon-info.png"
                alt="icon-info"
                class="icon"
              >
              {{ $t("Your info") }}
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <form autocomplete="off">
          <div class="row mt15">
            <base-input
              class="col-xs-12 col-md-6 mb10"
              type="text"
              :autofocus="true"
              name="first-name"
              :placeholder="$t('First name *')"
              v-model.trim="personalDetails.firstName"
              @blur="$v.personalDetails.firstName.$touch(); validatePersonalInfo()"
              :validations="[
                {
                  condition:
                    $v.personalDetails.firstName.$error &&
                    !$v.personalDetails.firstName.required,
                  text: $t('Field is required')
                },
                {
                  condition: !$v.personalDetails.firstName.minLength,
                  text: $t('Name must have at least 2 letters.')
                }
              ]"
            />

            <base-input
              class="col-xs-12 col-md-6 mb10"
              type="text"
              name="last-name"
              :placeholder="$t('Last name *')"
              v-model.trim="personalDetails.lastName"
              @blur="$v.personalDetails.lastName.$touch(); validatePersonalInfo()"
              :validations="[
                {
                  condition:
                    $v.personalDetails.lastName.$error &&
                    !$v.personalDetails.lastName.required,
                  text: $t('Field is required')
                }
              ]"
            />
            <base-input
              class="col-xs-12 mb10"
              type="email"
              name="email-address"
              :placeholder="$t('Email address *')"
              v-model="personalDetails.emailAddress"
              @blur="$v.personalDetails.emailAddress.$touch(); validatePersonalInfo()"
              @keyup.enter="validatePersonalInfo()"
              :validations="[
                {
                  condition:
                    $v.personalDetails.emailAddress.$error &&
                    !$v.personalDetails.emailAddress.required,
                  text: $t('Field is required')
                },
                {
                  condition:
                    !$v.personalDetails.emailAddress.email &&
                    $v.personalDetails.emailAddress.$error,
                  text: $t('Please provide valid e-mail address.')
                }
              ]"
            />
            <!-- <base-checkbox
              v-if="!currentUser"
              class="col-xs-12 pb10"
              id="createAccountCheckbox"
              v-model="createAccount"
            >
              {{ $t("I want to create an account") }}
            </base-checkbox>
            <template v-if="createAccount && !currentUser">
              <base-input
                class="col-xs-12 mb10 mt10"
                type="password"
                name="password"
                ref="password"
                :placeholder="$t('Password *')"
                v-model="password"
                @blur="$v.password.$touch()"
                autocomplete="new-password"
                :validations="[
                  {
                    condition: $v.password.$error && !$v.password.required,
                    text: $t('Field is required.')
                  },
                  {
                    condition: !$v.password.minLength && $v.password.$error,
                    text: $t('Password must have at least 8 letters.')
                  }
                ]"
              />

              <base-input
                class="col-xs-12 mb25"
                type="password"
                name="password-confirm"
                :placeholder="$t('Repeat password *')"
                v-model="rPassword"
                autocomplete="new-password"
                :validations="[
                  {
                    condition: $v.rPassword.$error && !$v.rPassword.required,
                    text: $t('Field is required.')
                  },
                  {
                    condition: !$v.rPassword.sameAsPassword,
                    text: $t('Passwords must be identical.')
                  }
                ]"
              />

              <base-checkbox
                class="col-xs-12 mb15"
                id="acceptConditions"
                @blur="$v.acceptConditions.$touch()"
                v-model="acceptConditions"
                :validations="[
                  {
                    condition:
                      !$v.acceptConditions.sameAs && $v.acceptConditions.$error,
                    text: $t('You must accept the terms and conditions.')
                  }
                ]"
              >
                {{ $t("I accept ") }}
                <router-link class="link pointer" to="/terms-and-conditions">
                  {{ $t("Terms and conditions") }}
                </router-link>*
              </base-checkbox>
            </template> -->
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="d-flex middle-xs personal-details-btn">
          <!-- <div class="button-container mr10">
            <button-full
              data-testid="personalDetailsSubmit"
              @click.native="sendDataToCheckout(); enableBillingChk();"
              :disabled="
                createAccount ? $v.$invalid : $v.personalDetails.$invalid
              "
            >
              {{
                $t(
                  isVirtualCart ? "Continue to payment" : "Continue to shipping"
                )
              }}
            </button-full>
          </div> -->
          <div class="button-container mr10" v-if="!currentUser">
            <button-full @click.native="openLogin" data-testid="openLogin">
              {{ $t("Login to your account") }}
            </button-full>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row" v-if="!isActive && isFilled">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row fs16 mt10">
          <div class="col-xs-12">
            <template v-if="createAccount && !currentUser">
              <base-checkbox
                class="mt25"
                id="createAccountCheckboxInfo"
                v-model="createAccount"
                disabled
              >
                {{ $t("Create a new account") }}
              </base-checkbox>
              <p class="h5 cl-tertiary">
                {{
                  $t(
                    "The new account will be created with the purchase. You will receive details on e-mail."
                  )
                }}
              </p>
            </template>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</template>

<script>
import { required, minLength, email, sameAs } from 'vuelidate/lib/validators';
import { PersonalDetails } from '@vue-storefront/core/modules/checkout/components/PersonalDetails';
import { mapActions } from 'vuex';

import BaseInput from 'theme/components/core/blocks/Form/BaseInput';
import ButtonFull from 'theme/components/theme/ButtonFull';

export default {
  components: {
    ButtonFull,
    BaseInput
  },
  mounted () {
    setTimeout(() => {
      this.sendDataToCheckout();
      this.enableBillingChk();
    }, 100)
  },
  methods: {
    ...mapActions({
      openLogin: 'ui/toggleLogin'
    }),
    enableBillingChk () {
      this.$bus.$emit('disable-billing-checkbox', true);
    },
    disableBillingChk () {
      this.$bus.$emit('disable-billing-checkbox', false);
    },
    validatePersonalInfo () {
      this.$bus.$emit('all-personaldetails-validation', this.$v.personalDetails.$invalid);
      if (!this.$v.personalDetails.$invalid) {
        this.sendDataToCheckout();
      }
    }
  },
  mixins: [PersonalDetails],
  validations: {
    personalDetails: {
      firstName: {
        required,
        minLength: minLength(2)
      },
      lastName: {
        required
      },
      emailAddress: {
        required,
        email
      }
    },
    password: {
      required,
      minLength: minLength(8)
    },
    rPassword: {
      required,
      sameAsPassword: sameAs('password')
    },
    acceptConditions: {
      sameAs: sameAs(() => true)
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~theme/css/base/text";
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";

.link {
  text-decoration: underline;
}

.login-prompt {
  @media (min-width: 1200px) {
    margin-top: 30px;
  }
}
.personal-details-btn {
  @media (max-width: 767px) {
    text-align: center;
    .button-container {
      margin: 0 0 5px;
    }
  }
}
</style>
