<template>
  <div class="shipping pt20">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-11">
        <div class="row">
          <div class="col-xs-12 col-md-12" :class="{ 'cl-bg-tertiary' : !isFilled && !isActive }">
            <h3 class="m0 mb5 flex middle-xs">
              <img src="/assets/icons/icon-shipping.png" alt="icon-shipping" class="icon">
              {{ $t('Shipping information') }}
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt15">
      <base-checkbox
        v-if="currentUser && hasShippingDetails()"
        class="col-xs-12"
        id="shipToMyAddressCheckbox"
        v-model="shipToMyAddress"
      >
        {{ $t('Ship to my default address') }}
      </base-checkbox>

      <base-checkbox
        v-if="currentUser && getallAddresses.length > 0"
        class="col-xs-12 mb10"
        id="userMultipleAddress"
        v-model="allAddressOfUser"
      >
        {{ $t('Display All Address') }}
      </base-checkbox>
      <div class="col-xs-12 col-md-12 shipping-address flex" v-if="getallAddresses.length > 0 && (allAddressOfUser || shipToMyAddress)">
        <template v-for="address of getallAddresses">
          <div class="address-item" :key="address.id" :class="{'primary-address' : address.default_billing, 'active' : selectedAddress === address.id}" v-if="allAddressOfUser || (shipToMyAddress && address.default_billing)">
            <div class="address-box" @click="updateShippingAddress(address)">
              <span class="default-active">Primary address</span>
              <p class="full-name">
                <strong>{{ address.firstname }} {{ address.lastname }}</strong>
              </p>
              <p v-if="address.company">
                {{ address.company }}
              </p>
              <p>
                {{ address.street[0] }}
                <span v-if="address.street[1]"> {{ address.street[1] }}</span>
              </p>
              <p>
                {{ address.city }} {{ address.postcode }}
              </p>
              <p>
                <span v-if="address.region">{{ address.region.region }}, </span>
                {{ getCountryName(address.country_id) }}
              </p>
              <p v-if="address.telephone">
                {{ address.telephone }}
              </p>
            </div>
          </div>
        </template>
      </div>
      <div class="col-xs-12">
        <form class="show-address row" :class="{ 'active' : currentUser }" autocomplete="off" v-if="getallAddresses.length <= 0 || (!shipToMyAddress && !allAddressOfUser)">
          <div
            class="col-xs-12 col-md-12 col-lg-12 base-input address-container" :class="{ active: writeStreet }"
          >
            <base-input
              class="mb10"
              type="text"
              name="shipping-address"
              :placeholder="$t('Address *')"
              :disabled="enableShippingForm ? false : true"
              v-model.trim="shippingAddress"
              @keyup="findAddresses('street')"
              @blur="removedFocus(true)"
            />
            <ul class="address-list" v-if="shippingAddress && addresses && addresses.length > 0">
              <li v-for="add in addresses" :key="add.Id" @click="getAddress(add)">
                {{ (add.Type == 'Postcode') ? add.Description : [add.Text,add.Description].join(', ') }}
              </li>
            </ul>
          </div>
          <div class="col-xs-12 col-md-12" v-if="$v.shipping.$invalid && addressSelected && shippingNotBlank && !$v.shipping.phoneNumber.$invalid">
            <div class="row">
              <div class="col-xs-12 col-md-12 base-input">
                <base-input
                  class="mb10"
                  type="text"
                  name="street-address"
                  :placeholder="$t('Address *')"
                  v-model.trim="shipping.streetAddress"
                  @blur="$v.shipping.streetAddress.$touch()"
                  :validations="[{
                    condition: $v.shipping.streetAddress.$error && !$v.shipping.streetAddress.required,
                    text: $t('Field is required')
                  }]"
                />
              </div>
              <base-input
                class="col-xs-12 col-sm-6 mb10"
                type="text"
                name="first-name"
                :placeholder="$t('First name *')"
                v-model.trim="shipping.firstName"
                @blur="$v.shipping.firstName.$touch()"
                :validations="[
                  {
                    condition: $v.shipping.firstName.$error && !$v.shipping.firstName.required,
                    text: $t('Field is required')
                  },
                  {
                    condition: !$v.shipping.firstName.minLength,
                    text: $t('Name must have at least 2 letters.')
                  }
                ]"
              />
              <base-input
                class="col-xs-12 col-sm-6 mb10"
                type="text"
                name="last-name"
                :placeholder="$t('Last name *')"
                v-model.trim="shipping.lastName"
                @blur="$v.shipping.lastName.$touch()"
                :validations="[{
                  condition: $v.shipping.lastName.$error && !$v.shipping.lastName.required,
                  text: $t('Field is required')
                }]"
              />
              <base-input
                class="col-xs-12 mb10"
                type="text"
                name="apartment-number"
                :placeholder="$t('House/Apartment number')"
                v-model.trim="shipping.apartmentNumber"
              />
              <base-input
                class="col-xs-12 col-sm-6 mb10"
                type="text"
                name="city"
                :placeholder="$t('City *')"
                v-model.trim="shipping.city"
                @blur="$v.shipping.city.$touch()"
                :validations="[
                  {
                    condition: $v.shipping.city.$error && !$v.shipping.city.required,
                    text: $t('Field is required')
                  },
                  {
                    condition: $v.shipping.city.$error && $v.shipping.city.required,
                    text: $t('Please provide valid city name')
                  }
                ]"
              />
              <base-input
                class="col-xs-12 col-sm-6 mb10"
                type="text"
                name="state"
                :placeholder="$t('State / Province')"
                v-model.trim="shipping.state"
              />
              <div class="col-xs-12 col-sm-6 address-container" :class="{ active: writePostcode }">
                <base-input
                  class="mb10"
                  type="text"
                  name="zip-code"
                  :placeholder="$t('Zip-code *')"
                  v-model.trim="shipping.zipCode"
                  @blur="$v.shipping.zipCode.$touch()"
                  :validations="[
                    {
                      condition: $v.shipping.zipCode.$error && !$v.shipping.zipCode.required,
                      text: $t('Field is required')
                    },
                    {
                      condition: !$v.shipping.zipCode.minLength,
                      text: $t('Name must have at least 3 letters.')
                    }
                  ]"
                  @keyup="findAddresses('postcode')"
                />
                <ul class="address-list" v-if="addresses && addresses.length > 0">
                  <li v-for="add in addresses" :key="add.Id" @click="getAddress(add)">
                    {{ (add.Type == 'Postcode') ? add.Description : [add.Text,add.Description].join(', ') }}
                  </li>
                </ul>
              </div>
              <base-select
                class="col-xs-12 col-sm-6 mb10"
                name="countries"
                :options="countryOptions"
                :selected="shipping.country"
                :validations="[
                  {
                    condition: $v.shipping.country.$error && !$v.shipping.country.required,
                    text: $t('Field is required')
                  }
                ]"
                v-model="shipping.country"
                @blur="$v.shipping.country.$touch()"
                @change.native="$v.shipping.country.$touch(); changeCountry();"
              />
            </div>
          </div>
          <base-number-input
            v-show="$v.shipping.phoneNumber.$invalid || (getallAddresses.length <= 0 || (!shipToMyAddress && !allAddressOfUser))"
            class="col-xs-12 mb10"
            type="tel"
            name="phone-number"
            :placeholder="`${$t('Phone Number')} *`"
            :disabled="enableShippingForm ? false : true"
            :maxlength="11"
            v-model.trim="shipping.phoneNumber"
            :validations="[
              {
                condition: $v.shipping.phoneNumber.$error && !$v.shipping.phoneNumber.required,
                text: $t('Field is required')
              }
            ]"
            @blur="$v.shipping.phoneNumber.$touch(); removedFocus(false)"
            @keyup="submitForm"
          />
          <!-- <div class="col-xs-12 mb10 px20 button-container" v-if="$v.shipping.$invalid && addressSelected && !$v.shipping.phoneNumber.$invalid">
            <button-full
              data-testid="shippingSubmit"
              @click.native="sendDataToCheckout(); hideBillingForm()"
              :disabled="$v.shipping.$invalid || shippingMethods.length <= 0"
            >
              {{ $t('Continue to payment') }}
            </button-full>
          </div> -->
        </form>
      </div>
      <div class="col-xs-12 py10" v-show="false">
        <h4>
          {{ $t('Shipping method') }}
        </h4>
      </div>
      <div v-for="(method, index) in shippingMethods" :key="index" class="col-md-6 pb10" v-show="false">
        <label class="radioStyled"> {{ method.method_title }} | {{ method.amount | price(storeView) }}
          <input
            type="radio"
            :value="method.method_code"
            name="shipping-method"
            v-model="shipping.shippingMethod"
            @change="$v.shipping.shippingMethod.$touch(); changeShippingMethod();"
          >
          <span class="checkmark" />
        </label>
      </div>
      <span class="validation-error" v-if="$v.shipping.shippingMethod.$error && !$v.shipping.shippingMethod.required">
        {{ $t('Field is required') }}
      </span>
    </div>
    <div class="row" v-if="false">
      <!-- <div class="hidden-xs col-sm-2 col-md-1" /> -->
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row">
          <div class="col-xs-12 col-md-4 mb10 px20 button-container">
            <button-full
              data-testid="shippingSubmit"
              @click.native="sendDataToCheckout(); hideBillingForm()"
              :disabled="$v.shipping.$invalid || shippingMethods.length <= 0"
            >
              {{ $t('Continue to payment') }}
            </button-full>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row" v-if="!isActive && isFilled && !$v.shipping.$invalid">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row fs16 mt10">
          <div class="col-xs-12" data-testid="shippingAddressSummary">
            <div class="icon-view flex p10 brdr-1 brdr-cl-gray-979797">
              <div class="form-details-add-wrap">
                <span v-if="shipping.apartmentNumber">{{ shipping.apartmentNumber }}</span>
                <span v-if="shipping.streetAddress">{{ shipping.streetAddress }} </span>
                <span v-if="shipping.city">{{ shipping.city }}, </span>
                <span v-if="shipping.state">{{ shipping.state }} </span>
                <span v-if="shipping.zipCode">{{ shipping.zipCode }}, </span>
                <span>{{ getCountryName() }}</span>
              </div>
              <div class="flex end-lg" v-if="isFilled && !isActive">
                <a href="#" class="cl-tertiary flex" @click.prevent="edit">
                  <i class="material-icons cl-red">{{ $t('edit') }}</i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="shipping-checkbox mt10">
      <base-checkbox
        id="sendToBillingAddressCheckbox"
        v-model="sameBillingAddressChk"
        :disabled="enableShippingForm ? false : true"
        v-if="!isVirtualCart"
        :value="true"
        @change="hideBillingForm()"
      >
        {{ $t('Same as billing address') }}
      </base-checkbox>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import { required, minLength } from 'vuelidate/lib/validators'
import { unicodeAlpha, unicodeAlphaNum } from '@vue-storefront/core/helpers/validators'
import { Shipping } from '@vue-storefront/core/modules/checkout/components/Shipping'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import BaseNumberInput from 'theme/components/core/blocks/Form/BaseNumberInput'
import BaseSelect from 'theme/components/core/blocks/Form/BaseSelect'
import ButtonFull from 'theme/components/theme/ButtonFull'
import { getCookie } from 'theme/helpers'

export default {
  components: {
    ButtonFull,
    BaseCheckbox,
    BaseInput,
    BaseSelect,
    BaseNumberInput
  },
  watch: {
    'allAddressOfUser' (nV, oV) {
      if (nV) this.shipToMyAddress = false
      this.addressSelected = false;
      this.writingAddress = true;
    },
    'shipToMyAddress' (nV, oV) {
      if (nV) {
        this.allAddressOfUser = false
        this.addressSelected = false;
        this.writingAddress = !this.shipToMyAddress;
        this.selectedAddress = this.myAddressDetails.id;
        if (this.shipToMyAddress) {
          this.addressSelected = true;
          this.writingAddress = false;
          this.validateShippingAddress()
        }
      }
    },
    address: {
      handler () {
        let add = this.address;
        if (add.Id) {
          let strAddress = [add.Company, add.Line1, add.Line2].filter(item => item);
          let aptNum = [add.Line3, add.Line4, add.Line5].filter(item => item);
          this.shipping.firstName = this.personalDetails.firstName
          this.shipping.lastName = this.personalDetails.lastName
          this.shipping.streetAddress = strAddress.join(', ')
          this.shipping.apartmentNumber = aptNum.join(', ')
          this.shipping.city = add.City
          this.shipping.state = add.Province
          this.shipping.zipCode = add.PostalCode
          this.shipping.country = add.CountryIso2
          this.validateShippingAddress()
        }
      }
    },
    sameBillingAddressChk: {
      handler (value) {
        this.$bus.$emit('checkout-after-paymentDetails', this.copyShippingToBillingAddress(), (!value ? { $invalid: true } : this.$v))
        if (this.currentUser && value) {
          const allAdd = this.getallAddresses.filter(add => add.default_billing);
          if (allAdd.length > 0) {
            this.updateShippingAddress(allAdd[0])
          }
        }
        if (!value) {
          this.$bus.$emit('checkout-before-edit', 'payment')
        }
      }
    },
    checkoutShippingDetails: {
      handler (val) {
        if (this.shippingAddress === '' && typeof val === 'object') {
          let fullAddress = [this.checkoutShippingDetails.apartmentNumber, this.checkoutShippingDetails.streetAddress, this.checkoutShippingDetails.city, this.checkoutShippingDetails.zipCode]
          fullAddress = fullAddress.filter(item => item);
          this.shippingAddress = fullAddress.join(', ')
          this.writingAddress = false;
          this.validateShippingAddress()
        }
      },
      immediate: true
    },
    currentUser: {
      handler (value) {
        if (typeof value === 'object' && value !== null) {
          this.enableShippingForm = true
        }
      }
    },
    personalDetails: {
      handler (value) {
        if (value.emailAddress && value.firstName && value.lastName) {
          this.enableShippingForm = true
        }
      }
    }
  },
  data () {
    return {
      writePostcode: false,
      writeStreet: false,
      allAddressOfUser: false,
      storeLocatorId: 0,
      sameBillingAddressChk: true,
      enableBillingChk: true,
      shippingAddress: '',
      writingAddress: true,
      addressSelected: false,
      selectedAddress: 0,
      shippingNotBlank: true,
      enableShippingForm: false
    }
  },
  mixins: [Shipping],
  computed: {
    ...mapState({
      currentUser: state => state.user.current
    }),
    ...mapGetters({
      addresses: 'addressy/getAddressList',
      address: 'addressy/getAddress',
      isVirtualCart: 'cart/isVirtualCart',
      personalDetails: 'checkout/getPersonalDetails',
      paymentDetails: 'checkout/getPaymentDetails'
    }),
    countryOptions () {
      let countries = this.countries.filter(country => country.code === 'GB' || country.code === 'IE')
      return countries.map((item) => {
        return {
          value: item.code,
          label: item.name
        }
      })
    },
    storeView () {
      return currentStoreView()
    },
    getallAddresses () {
      let { current } = this.$store.state.user
      return current ? current.addresses : []
    }
  },
  mounted () {
    this.$bus.$on('disable-billing-checkbox', this.showBillingChk)
    if (this.currentUser) {
      this.enableShippingForm = true
    }
    this.$bus.$on('all-personaldetails-validation', (params) => {
      if (params) {
        this.enableShippingForm = false
      } else {
        this.enableShippingForm = true
      }
    })
    // this.$bus.$on('checkout-after-paymentDetails', this.onAfterPaymentDetails)
  },
  methods: {
    checkDefaultShippingAddress () {
      this.shipToMyAddress = false
    },
    onAfterPersonalDetails (receivedData) {
      // if (!this.isFilled) {
      this.$store.dispatch('checkout/updatePropValue', ['firstName', receivedData.firstName])
      this.$store.dispatch('checkout/updatePropValue', ['lastName', receivedData.lastName])
      // }
    },
    copyShippingToBillingAddress () {
      return {
        firstName: this.shipping.firstName,
        lastName: this.shipping.lastName,
        country: this.shipping.country,
        state: this.shipping.state,
        city: this.shipping.city,
        streetAddress: this.shipping.streetAddress,
        apartmentNumber: this.shipping.apartmentNumber,
        zipCode: this.shipping.zipCode,
        phoneNumber: this.shipping.phoneNumber,
        paymentMethod: 'Adyen'
      }
    },
    validateShippingAddress () {
      if (!this.$v.shipping.$invalid && !this.writingAddress) {
        if (this.shippingAddress !== '') {
          this.$parent.validationResults.shipping = this.$v.shipping
        }
        this.sendDataToCheckout();
        if (this.sameBillingAddressChk) {
          this.$bus.$emit('checkout-after-paymentDetails', this.copyShippingToBillingAddress(), this.$v)
        }
        this.hideBillingForm()
      }
    },
    submitForm (e) {
      if (e.keyCode === 13) {
        this.validateShippingAddress()
      }
    },
    removedFocus (flag) {
      if (flag) {
        // this.$store.dispatch('addressy/clear');
      }
      this.validateShippingAddress()
    },
    showBillingChk (data) {
      this.enableBillingChk = data;
    },
    hideBillingForm () {
      this.$bus.$emit('disable-billing', this.sameBillingAddressChk);
      this.$bus.$emit('set-billing-filled');
    },
    updateShippingAddress (address) {
      this.shipping = {
        firstName: address.firstname,
        lastName: address.lastname,
        country: address.country_id,
        state: address.region.region ? address.region.region : '',
        city: address.city,
        streetAddress: address.street[0],
        apartmentNumber: address.street[1],
        zipCode: address.postcode,
        phoneNumber: address.telephone,
        shippingMethod: this.checkoutShippingDetails.shippingMethod,
        shippingCarrier: this.checkoutShippingDetails.shippingCarrier
      }
      this.addressSelected = true;
      this.writingAddress = false;
      this.selectedAddress = address.id;
      this.validateShippingAddress()
    },
    changeShippingMethod () {
      let currentShippingMethod = this.getCurrentShippingMethod()
      if (currentShippingMethod) {
        this.shipping = Object.assign(this.shipping, { shippingCarrier: currentShippingMethod.carrier_code })
        const localstoredata = getCookie('storelocator');
        if (localstoredata !== null) {
          const storeJsonData = JSON.parse(localstoredata);
          this.storeLocatorId = storeJsonData.shop_id
        }
        this.$bus.$emit('checkout-after-shippingMethodChanged', {
          country: this.shipping.country,
          method_code: currentShippingMethod.method_code,
          carrier_code: currentShippingMethod.carrier_code,
          payment_method: this.paymentMethod.length > 0 ? this.paymentMethod[0].code : '',
          extension_attributes: { 'storelocator_id': this.storeLocatorId }
        })
      }
    },
    getAddressValue (type) {
      let address = '';
      if (type === 'postcode') {
        this.writePostcode = true;
        this.writeStreet = false;
        address = this.shipping.zipCode
      }
      if (type === 'street') {
        this.writePostcode = false;
        this.writeStreet = true;
        address = this.shippingAddress
      }
      return address;
    },
    findAddresses (type) {
      let address = this.getAddressValue(type);
      if (this.shippingAddress !== '') {
        if (address.length >= 3) {
          this.writingAddress = true;
          this.$store.dispatch('addressy/search', { text: address });
        }
      } else {
        this.shippingNotBlank = false;
        this.shipping.streetAddress = null
        this.shipping.apartmentNumber = null
        this.shipping.city = null
        this.shipping.state = null
        this.shipping.zipCode = null
        this.shipping.country = null
      }
    },
    getAddress (address) {
      this.$store.dispatch('addressy/clear');
      if (address.Type === 'Address') {
        this.$store.dispatch('addressy/get', address.Id);
        this.shippingAddress = [address.Text, address.Description].join(', ')
        this.writePostcode = false;
        this.writeStreet = false;
        this.writingAddress = false;
        this.addressSelected = true;
      } else {
        this.$store.dispatch('addressy/search', { text: address.Text, container: address.Id });
      }
    }
  },
  validations: {
    shipping: {
      firstName: {
        required,
        minLength: minLength(2),
        unicodeAlpha
      },
      lastName: {
        required,
        unicodeAlpha
      },
      country: {
        required
      },
      phoneNumber: {
        required
      },
      streetAddress: {
        required,
        unicodeAlphaNum
      },
      shippingMethod: {
        required
      },
      zipCode: {
        required,
        minLength: minLength(3),
        unicodeAlphaNum
      },
      city: {
        required,
        unicodeAlpha
      }
    }
  }
}
</script>

<style lang="scss">
.address-item {
  cursor: pointer;
  &:hover {
    background-color: #f8f8f8;
  }
  &.active {
    background-color: #f8f8f8;
  }
}
.address-container {
  position: relative;
  .address-list {
    position: absolute;
    top: 100%;
    left: 15px;
    right: 15px;
    z-index: 1;
    background-color: #fff;
    max-height: 235px;
    overflow: auto;
    border: 1px solid #828282;
    display: none;
    li {
      padding: 10px;
      cursor: pointer;
      border-bottom: 1px solid #828282;
      transition: 0.3s;
      &:hover,
      &.selected {
        background-color: #000;
        color: #fff;
      }
    }
  }
  &.active {
    .address-list {
      display: block;
    }
  }
}
</style>
