<template>
  <div>
    <div class="thank-you-content">
      <div class="container align-center">
        <div class="thank-content-inner">
          <div class="thank-you-wrap">
            <img src="assets/icons/order_complete.png" alt="">
            <h2 v-if="OnlineOnly" class="mb20">
              {{ $t('Thank you for your order') }}
            </h2>
            <p v-if="OnlineOnly">
              {{ $t('Your order number is: #') }}{{ lastOrderConfirmation.orderNumber }}
            </p>
            <p v-if="OnlineOnly" v-html="this.$t('You will shortly receive an email confirming your order. You can also see all your orders in your account, please allow up to 24 hours for this order to show.')" />
            <p v-if="OnlineOnly" v-html="this.$t('For any help with your order please email <b>help@jollyes.com</b>')" />
            <div id="thank-you-extensions" />
          </div>
        </div>
        <button-outline
          color="dark"
          class="btn"
          @click.native="$router.push('/')"
        >
          {{ $t('Continue shopping') }}
        </button-outline>
      </div>
    </div>
  </div>
</template>

<script>
import Composite from '@vue-storefront/core/mixins/composite'
import ButtonOutline from 'theme/components/theme/ButtonOutline'
import VueOfflineMixin from 'vue-offline/mixin'
import { EmailForm } from '@vue-storefront/core/modules/mailer/components/EmailForm'
import { isServer } from '@vue-storefront/core/helpers'
import config from 'config'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { MailerModule } from '@vue-storefront/core/modules/mailer'

export default {
  name: 'ThankYouPage',
  mixins: [Composite, VueOfflineMixin, EmailForm],
  beforeCreate () {
    registerModule(MailerModule)
  },
  data () {
    return {
      feedback: '',
      orderId: null
    }
  },
  computed: {
    lastOrderConfirmation () {
      return this.$store.state.order.last_order_confirmation ? this.$store.state.order.last_order_confirmation.confirmation : {}
    },
    isNotificationSupported () {
      if (isServer || !('Notification' in window)) return false
      return 'Notification' in window
    },
    isPermissionGranted () {
      if (isServer || !('Notification' in window)) return false
      return Notification.permission === 'granted'
    },
    checkoutPersonalEmailAddress () {
      return this.$store.state.checkout.personalDetails.emailAddress
    },
    mailerElements () {
      return config.mailer.contactAddress
    }
  },
  methods: {
    requestNotificationPermission () {
      if (isServer) return false
      if ('Notification' in window && Notification.permission !== 'granted') {
        Notification.requestPermission()
      }
    },
    sendFeedback () {
      this.sendEmail(
        {
          sourceAddress: this.checkoutPersonalEmailAddress,
          targetAddress: this.mailerElements,
          subject: this.$t('What we can improve?'),
          emailText: this.feedback
        },
        this.onSuccess,
        this.onFailure
      )
    },
    onSuccess (message) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message,
        action1: { label: this.$t('OK') }
      })
      if (this.mailerElements.sendConfirmation) {
        this.sendEmail(
          {
            sourceAddress: this.mailerElements,
            targetAddress: this.checkoutPersonalEmailAddress,
            subject: this.$t('Confirmation of receival'),
            emailText: this.$t(`Dear customer,\n\nWe have received your letter.\nThank you for your feedback!`),
            confirmation: true
          }
        )
      }
    },
    onFailure (message) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message,
        action1: { label: this.$t('OK') }
      })
    }
  },
  destroyed () {
    this.$store.dispatch('checkout/setThankYouPage', false)
  },
  components: {
    ButtonOutline
  }
}
</script>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$black: color(black);
$gray-c3c3c3: color(gray-c3c3c3);
.thank-you-title {
    height: auto;
}
.thank-you-content {
  padding-left: 0;
  .btn {
    margin-top: 60px;
    min-width: 300px;
    font-size: 16px;
    text-transform: none;
  }
  p {
    line-height: 21px;
    font-size: 18px;
    b {
      font-weight: normal;
    }
  }

  @media (min-width: 64em) {
    h4 {
      font-size: 24px;
    }
  }
}
.thank-you-improvment {
  padding: 0 20px 15px;

  @media (min-width: 64em) {
    padding: 0 40px 10px;
  }

  textarea {
    min-height: 100px;
  }
}
.thank-you-content {
  padding-left: 0;
  min-height: 658px;
  padding: 20px 0;
  @media (max-width: 767px) {
    min-height: 500px;
    padding: 50px 0;
    p {
      font-size: 17px;
    }
    svg {
      width: 70px;
      height: 70px;
    }
  }
  img {
    margin-bottom: 10px;
  }
  .thank-you-wrap {
    max-width: 560px;
    margin: auto;
  }
  .thank-content-inner {
      border: 1px solid $gray-c3c3c3;
      background-color: $white;
      padding: 25px 20px;
  }
}
</style>
