<template>
  <section class="related-product-slider">
    <div class="new-collection" v-if="getCurrentRelatedProducts.length > 0">
      <product-listing-slider class="related-product container small-space bg-cl-oat" :per-page-custom="[[200, ['auto', 10]], [768, [3, 15]], [992, [4, 40]], [1200, [5, 45]]]" :sec-title="'Customers also bought'" :slider-id="'related-product'" :products="getCurrentRelatedProducts" />
    </div>
    <div class="skeleton container" v-else />
  </section>
</template>

<script>
import ProductListingSlider from 'theme/components/core/blocks/Category/ProductListingSlider'
import { mapGetters } from 'vuex'
import { prepareRelatedQuery } from '@vue-storefront/core/modules/catalog/queries/related'
import i18n from '@vue-storefront/i18n'
import config from 'config'

export default {
  name: 'Related',
  props: {
    type: {
      type: String,
      required: true
    }
  },
  components: {
    ProductListingSlider
  },
  beforeMount () {
    this.$bus.$on('product-after-load', this.refreshList)

    if (config.usePriceTiers) {
      this.$bus.$on('user-after-loggedin', this.refreshList)
      this.$bus.$on('user-after-logout', this.refreshList)
    }

    this.refreshList()
  },
  beforeDestroy () {
    if (config.usePriceTiers) {
      this.$bus.$off('user-after-loggedin', this.refreshList)
      this.$bus.$off('user-after-logout', this.refreshList)
    }
  },
  destroyed () {
    this.$bus.$off('product-after-load', this.refreshList)
  },
  methods: {
    async refreshList () {
      let sku = this.productLinks ? this.productLinks
        .filter(pl => pl.link_type === this.type)
        .map(pl => pl.linked_product_sku) : null

      let key = 'sku'
      if (sku === null || (sku.length === 0)) {
        sku = this.getCurrentProduct.category_ids
        key = 'category_ids'
      }
      let relatedProductsQuery = prepareRelatedQuery(key, sku)

      const { items } = await this.$store.dispatch('product/findProducts', {
        query: relatedProductsQuery,
        size: 8,
        options: {
          populateRequestCacheTags: false,
          prefetchGroupProducts: false
        }
      })
      if (items.length) {
        this.$store.dispatch('product/related', {
          key: this.type,
          items: items
        })
        this.$forceUpdate()
      }
    }
  },
  computed: {
    ...mapGetters({
      getProductRelated: 'product/getProductRelated',
      getCurrentProduct: 'product/getCurrentProduct'
    }),
    getCurrentRelatedProducts () {
      return this.getProductRelated[this.type] || []
    },
    productLinks () {
      return this.getCurrentProduct.product_links
    }
  }
}
</script>
<style lang="scss">
.related-product-slider {
  .skeleton{
    min-height: 559px;
    @media only screen and (min-width: 768px) and (max-width: 1450px) {
      min-height: 520px;
    }
    @media only screen and (max-width: 767px) {
      min-height: 445px;
    }
    @media only screen and (max-width: 575px) {
      min-height: 532px;
    }
  }
}
.related-product{
  .product-slider{
    .swiper-slide{
      height: auto;
      .product {
        height: 100%;
        margin-bottom: 0;
      }
    }
  }
  @media (max-width: 767px) {
    .product-slider{
      .swiper-slide{
        max-width:182px;
      }
    }
    .swiper-arrows{
      padding-right:15px;
    }
    &.container{
      padding-right:0;
    }
  }
  @media (max-width: 419px) {
    .swiper-arrows{
      padding-right:10px;
    }
  }
}
</style>
