<template>
  <button @click="isOnWishlist ? removeProductFromWhishList(product) : addProductToWhishlist(product)" aria-label="Add to Whishlist" class="add-to-wishlist p0 inline-flex middle-xs bg-cl-transparent brdr-none action h5 pointer" type="button" data-testid="addToWishlist" :class="{ 'filled' : isOnWishlist }">
    <svg class="disactive" id="Layer_1" version="1.1" viewBox="0 0 128 128" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g>
        <path d="M114.6,66.4c12.3-12.3,12.3-32.3,0-44.5h0C102.3,9.6,82.3,9.6,70,21.9l-6,6l-6-6c-12.3-12.3-32.3-12.3-44.5,0   c-6,5.9-9.2,13.9-9.2,22.3s3.3,16.3,9.2,22.3L64,117L114.6,66.4z M12.2,44.2c0-6.3,2.4-12.2,6.9-16.6c4.6-4.6,10.6-6.9,16.6-6.9   s12,2.3,16.6,6.9L64,39.2l11.7-11.7c9.2-9.2,24.1-9.2,33.2,0c4.4,4.4,6.9,10.3,6.9,16.6s-2.4,12.2-6.9,16.6L64,105.7L19.1,60.8   C14.7,56.3,12.2,50.4,12.2,44.2z" />
      </g>
    </svg>
    <svg class="active" width="128" height="128" viewBox="0 0 128 128" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M114.6 66.4008C126.9 54.1008 126.9 34.1008 114.6 21.9008C102.3 9.60078 82.2998 9.60078 69.9998 21.9008L63.9998 27.9008L57.9998 21.9008C45.6998 9.60078 25.6998 9.60078 13.4998 21.9008C7.4998 27.8008 4.2998 35.8008 4.2998 44.2008C4.2998 52.6008 7.5998 60.5008 13.4998 66.5008L63.9998 117.001L114.6 66.4008Z" fill="black" />
    </svg>
  </button>
</template>

<script>
import { IsOnWishlist } from '@vue-storefront/core/modules/wishlist/components/IsOnWishlist'
import { AddToWishlist } from '@vue-storefront/core/modules/wishlist/components/AddToWishlist'
import { RemoveFromWishlist } from '@vue-storefront/core/modules/wishlist/components/RemoveFromWishlist'
import i18n from '@vue-storefront/i18n'
import { htmlDecode } from '@vue-storefront/core/lib/store/filters'
import EventBus from '@vue-storefront/core/compatibility/plugins/event-bus'
import { mapActions } from 'vuex'

export default {
  mixins: [ IsOnWishlist, AddToWishlist, RemoveFromWishlist ],
  computed: {
    favoriteIcon () {
      return this.isOnWishlist ? 'favorite' : 'favorite_border'
    },
    isLoggedIn () {
      return this.$store.getters['user/isLoggedIn']
    }
  },
  methods: {
    ...mapActions({
      openLogin: 'ui/toggleLogin'
    }),
    addProductToWhishlist (product) {
      if (this.isLoggedIn) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'success',
          message: i18n.t('Product ' + htmlDecode(product.name) + ' has been added to your wishlist!'),
          action1: { label: i18n.t('OK') }
        }, { root: true })
        this.addToWishlist(product)
      } else {
        this.openLogin();
      }
    },
    removeProductFromWhishList (product) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message: i18n.t('Product ' + htmlDecode(product.name) + ' has been removed from wishlist!'),
        action1: { label: i18n.t('OK') }
      }, { root: true })
      this.removeFromWishlist(product)
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-b8b8b9: color(gray-b8b8b9);
$secondary: color(secondary);

.material-icons {
  color: $gray-b8b8b9;
  padding: 0;
}
.add-to-wishlist{
  svg{
    width:24px;
    height:24px;
    path{
      fill:$gray-b8b8b9;
    }
  }
  .active{
    display:none;
  }
  &.filled{
    .disactive{
      display:none;
    }
    .active{
      display:block;
    }
  }
}
</style>
