<template>
  <button class="brdr-none bg-cl-transparent  middle-xs inline-flex cl-secondary weight-400 h4  fs-medium" @click="$emit('click')">
    <span class="clearcart-btn cl-accent">
      <i class="cl-accent mr5">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none" />
          <path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z" />
        </svg>
      </i>
      {{ $t('Clear wishlist') }}
    </span>
  </button>
</template>

<style lang="scss" scoped>
  .clearcart {
    &-btn {
      display: flex;
      align-items: center;
    }
  }
</style>
