<template>
  <div>
    <div class="relative">
      <input
        class="m0 no-outline"
        type="checkbox"
        :id="id"
        :checked="value"
        @keyup.enter="$emit('click')"
        @click="$emit('click')"
        @blur="$emit('blur')"
        @input="$emit('input', $event.target.checked)"
        @change="$emit('change', $event.target.checked)"
        :disabled="disabled"
      >
      <label
        class="pl35 lh30 h4 pointer"
        :for="id"
      >
        <slot />
      </label>
    </div>
    <ValidationMessages v-if="validations" :validations="validations" />
  </div>
</template>

<script>
import ValidationMessages from './ValidationMessages.vue'

export default {
  name: 'BaseCheckbox',
  components: {
    ValidationMessages
  },
  model: {
    prop: 'value',
    event: 'change'
  },
  props: {
    id: {
      type: String,
      required: true
    },
    value: {
      type: Boolean,
      required: true
    },
    validations: {
      type: Array,
      default: () => []
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $color-silver: color(silver);
  $color-active: color(secondary);
  $white: color(white);
  $gray-979797: color(gray-979797);
  $green: color(green);

  .relative{ min-width: 20px;}
  label {
    user-select: none;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width:19px;
      height:19px;
      background: $white;
      border: 1px solid $gray-979797;
      cursor: pointer;
    }
  }

  input {
    top:0;
    position: absolute;
    left: 0;
    opacity: 0;
    height: 20px;
    width: 20px;
    opacity: 0;
    &:checked + label {
      &:before {
        background-color: $green;
        border: 1px solid $gray-979797;
        cursor: pointer;
      }
      &:after {
        content: '';
        position: absolute;
        top:4px;
        left: 5px;
        width: 11px;
        height: 5px;
        border: 1px solid $white;
        border-top: none;
        border-right: none;
        background-color: $green;
        transform: rotate(-45deg);
      }
    }
    &:hover,
    &:focus {
      + label {
        &:before {
          border: 1px solid $gray-979797;
        }
      }
    }
    &:disabled + label {
      cursor: not-allowed;
      opacity: 0.5;
      pointer-events: none;
      &:hover,
      &:focus {
        &:before {
          border: 1px solid $gray-979797;
          cursor: not-allowed;
        }
      }
    }
  }
</style>
