// Global styles for text
body {
  font-size: 14px;
  font-family: 'montserrat', sans-serif;
  font-weight: 400;
}
h1{
  font-size: 50px;
  line-height: 0.9;
}
h2,
.h2 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.3;
  @media only screen and (max-width: 767px) {
    font-size: 18px;
  }
}
h3,
.h3 {
  font-size: 18px;
  font-weight: 700;
  @media only screen and (max-width: 767px) {
    font-size: 12px;
  }
}
h4,
.h4 {
  font-size: 16px;
  @media only screen and (max-width: 767px) {
    font-size: 12px;
  }
}
h5,
.h5 {
  font-size: 16px;
}
h6,
.h6 {
  font-size: 12px;
}

/* Font family for text */
.montserrat{
  font-family: 'montserrat', sans-serif;
}

// Atomic styles for text
.uppercase {
  text-transform: uppercase;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.align-justify {
  text-align: justify;
}
.block{
  display: block;
}
.bold{
  font-weight: 700;
}
.extra-bold{
  font-weight: 900;
}
.lh16 {
  line-height: 16px;
}
.lh20 {
  line-height: 20px;
}
.lh25 {
  line-height: 25px;
}
.lh30 {
  line-height: 30px;
}
.lh35 {
  line-height: 35px;
}
.lh40 {
  line-height: 40px;
}
.ml-auto{margin-left: auto;}
.mr-auto{margin-right: auto;}

