<template>
  <div data-testid="login">
    <div class="modal-header relative">
      <h2>
        {{ $t('Login to') }} <span class="cl-red">{{ $t('PetCLUB') }}</span>
      </h2>
      <i
        slot="close"
        class="modal-close cl-bg-tertiary"
        @click="closeLoginExtend"
        data-testid="closeLogin"
      >
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
          <path d="M0 0h24v24H0V0z" fill="none" />
          <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" />
        </svg>
      </i>
      <p class="align-center  mt15">
        {{ $t('Jollyes PetCLUB rewards you with discounts on shipping, earns you points when you shop which turn into vouchers you can spend on anything at Jollyes.') }}
      </p>
    </div>
    <div v-if="hasRedirect" class="pt10 redirect-error">
      <p class="h5 mb0 mt0">
        {{ $t('You need to be logged in to see this page') }}
      </p>
    </div>
    <div class="modal-content bg-cl-white pt30 cl-secondary">
      <div class="login-gmail-fb hidden">
        <router-link to="/" class="gmail w-100 flex middle-xs">
          <img src="/assets/icons/icon-gmail.png" alt="icon-gmail">
          {{ $t('Login with Google') }}
        </router-link>
        <router-link to="/" class="facebook w-100 flex middle-xs">
          <img src="/assets/icons/icon-facebook.png" alt="icon-gmail">
          {{ $t('Login with Facebook') }}
        </router-link>
      </div>
      <p class="or align-center block cl-black hidden">
        <span>{{ $t('OR') }}</span>
      </p>
      <form @submit.prevent="login" novalidate class="common-form">
        <base-input
          class="mb10 email"
          type="email"
          name="email"
          v-model="email"
          @blur="$v.email.$touch()"
          placeholder="E-mail address"
          :label="false"
          :validations="[
            {
              condition: !$v.email.required && $v.email.$error,
              text: $t('Field is required.')
            },
            {
              condition: !$v.email.email && $v.email.$error,
              text: $t('Please provide valid e-mail address.')
            }
          ]"
        />
        <base-input
          class="mb10 password"
          :type="passType"
          name="password"
          v-model="password"
          @blur="$v.password.$touch()"
          placeholder="Password"
          :label="false"
          :validations="[{
            condition: !$v.password.required && $v.password.$error,
            text: $t('Field is required.')
          }]"
        />
        <div class="d-flex between-xs pb10">
          <base-checkbox id="remember" v-model="remember">
            {{ $t('Remember me') }}
          </base-checkbox>
          <div class="flex middle-xs">
            <label class="pointer">
              <button
                v-if="iconActive"
                type="button"
                class="
                  icon brdr-none no-outline
                  p0 bg-cl-transparent cl-brdr-secondary pointer
                "
                @click="togglePassType()"
                :aria-label="$t('Toggle password visibility')"
                :title="$t('Toggle password visibility')"
              >
                <svg v-if="icon" class="fill-current text-gray-500 hover:text-black" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none" />
                  <path d="M12 6c3.79 0 7.17 2.13 8.82 5.5C19.17 14.87 15.79 17 12 17s-7.17-2.13-8.82-5.5C4.83 8.13 8.21 6 12 6m0-2C7 4 2.73 7.11 1 11.5 2.73 15.89 7 19 12 19s9.27-3.11 11-7.5C21.27 7.11 17 4 12 4zm0 5c1.38 0 2.5 1.12 2.5 2.5S13.38 14 12 14s-2.5-1.12-2.5-2.5S10.62 9 12 9m0-2c-2.48 0-4.5 2.02-4.5 4.5S9.52 16 12 16s4.5-2.02 4.5-4.5S14.48 7 12 7z" />
                </svg>
                <svg v-else class="fill-current text-gray-500 hover:text-black" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                  <path d="M0 0h24v24H0V0zm0 0h24v24H0V0zm0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none" />
                  <path d="M12 6c3.79 0 7.17 2.13 8.82 5.5-.59 1.22-1.42 2.27-2.41 3.12l1.41 1.41c1.39-1.23 2.49-2.77 3.18-4.53C21.27 7.11 17 4 12 4c-1.27 0-2.49.2-3.64.57l1.65 1.65C10.66 6.09 11.32 6 12 6zm-1.07 1.14L13 9.21c.57.25 1.03.71 1.28 1.28l2.07 2.07c.08-.34.14-.7.14-1.07C16.5 9.01 14.48 7 12 7c-.37 0-.72.05-1.07.14zM2.01 3.87l2.68 2.68C3.06 7.83 1.77 9.53 1 11.5 2.73 15.89 7 19 12 19c1.52 0 2.98-.29 4.32-.82l3.42 3.42 1.41-1.41L3.42 2.45 2.01 3.87zm7.5 7.5l2.61 2.61c-.04.01-.08.02-.12.02-1.38 0-2.5-1.12-2.5-2.5 0-.05.01-.08.01-.13zm-3.4-3.4l1.75 1.75c-.23.55-.36 1.15-.36 1.78 0 2.48 2.02 4.5 4.5 4.5.63 0 1.23-.13 1.77-.36l.98.98c-.88.24-1.8.38-2.75.38-3.79 0-7.17-2.13-8.82-5.5.7-1.43 1.72-2.61 2.93-3.53z" />
                </svg>
              </button>
              {{ $t('Show Password') }}
            </label>
          </div>
        </div>
        <button-full class="mb20" type="submit" data-testid="loginSubmit">
          {{ $t('Login') }}
        </button-full>
        <div class="center-xs login-link brdr-bottom-1 bg-cl-white brdr-cl-gray-979797 pb20 t20">
          <a href="#" class="link" @click.prevent="remindPassword">
            {{ $t('Forgot the password?') }}
          </a>
        </div>
        <div class="center-xs login-link border-cl-gray">
          {{ $t('Don’t have an account?') }}
          <a href="#" class="link" @click.prevent="switchElem" data-testid="registerLink">
            {{ $t('Sign up') }}
          </a>
        </div>
      </form>
      <div class="google-policy">
        This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy" target="_blank">Privacy Policy</a> and <a href="https://policies.google.com/terms" target="_blank">Terms of Service</a> apply.
      </div>
    </div>
  </div>
</template>

<script>
import Login from '@vue-storefront/core/compatibility/components/blocks/Auth/Login'

import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import BaseCheckbox from '../Form/BaseCheckbox.vue'
import BaseInput from '../Form/BaseInput.vue'
import { required, email } from 'vuelidate/lib/validators'
import CryptoJS from 'crypto-js'
import { getCookie, setCookie, eraseCookie } from 'theme/helpers'

export default {
  mixins: [Login],
  validations: {
    email: {
      required,
      email
    },
    password: {
      required
    }
  },
  data () {
    return {
      passType: 'password',
      hasRedirect: !!localStorage.getItem('redirect'),
      iconActive: true,
      icon: true
    }
  },
  mounted () {
    this.$store.dispatch('googleRecaptcha/isVerifiedCaptcha');
  },
  methods: {
    close (e) {
      if (e) localStorage.removeItem('redirect')
      this.$bus.$emit('modal-hide', 'modal-signup')
    },
    togglePassType () {
      if (this.passType === 'password') {
        this.passType = 'text'
        this.icon = false
      } else {
        this.passType = 'password'
        this.icon = true
      }
    },
    created () {
      if (this.type === 'password') {
        this.iconActive = true
      }
    },
    toggleLogin () {
      this.$store.dispatch('ui/toggleLogin')
    },
    closeLoginExtend () {
      this.toggleLogin()
      this.$store.commit('ui/setSidebar', false)
    },
    login () {
      if (this.$v.$invalid) {
        this.$v.$touch()
        return
      }
      const loginVerified = true;
      if (this.$store.state.googleRecaptcha.is_verified || loginVerified) {
        this.callLogin()
      } else {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t('Invalid reCAPTCHA, unauthorised access'),
          action1: { label: this.$t('OK') }
        })
      }
    },
    remindPassword () {
      if (!(typeof navigator !== 'undefined' && navigator.onLine)) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t('Reset password feature does not work while offline!'),
          action1: { label: this.$t('OK') }
        })
      } else {
        this.callForgotPassword()
      }
    },
    onSuccess () {
      let clearDataFlag = false;
      let registerBtn = document.querySelectorAll('.btn_join');
      let loginBtn = document.querySelectorAll('.btn_login');
      this.removeBtn(registerBtn);
      this.removeBtn(loginBtn);
      if (this.remember && this.email && this.password) {
        const encryptedPsw = CryptoJS.AES.encrypt(this.password, 'user_password').toString();
        let LoginRemember = {
          e: this.email,
          p: encryptedPsw
        }
        setCookie('login_remember', JSON.stringify(LoginRemember), 30);
        clearDataFlag = true
      } else {
        eraseCookie('login_remember');
      }
      this.$store.commit('segment/userLogin', this.$store.state.user.current);
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message: this.$t('HERE!! You are logged in!'),
        action1: { label: this.$t('OK') }
      })
      if (window) {
        setTimeout(() => {
          window.webPushManagerAPI.register()
        }, 1000);
      }
      if (!clearDataFlag) {
        this.email = null;
        this.password = null;
        this.$v.$reset();
      }
      this.closeLoginExtend();
      this.$bus.$emit('change-store-text')
    },
    onFailure (result) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t(result.result),
        action1: { label: this.$t('OK') }
      })
    },
    removeBtn (btnElemt) {
      btnElemt.forEach(rb => {
        rb.remove();
      })
    }
  },
  created () {
    const getRememberData = getCookie('login_remember');
    if (getRememberData !== null) {
      const rememberJsonData = JSON.parse(getRememberData);
      const rememberPwd = CryptoJS.AES.decrypt(rememberJsonData.p, 'user_password').toString(
        CryptoJS.enc.Utf8
      );
      this.email = rememberJsonData.e
      this.password = rememberPwd
      this.remember = true
    }
  },
  components: {
    ButtonFull,
    BaseCheckbox,
    BaseInput
  }
}
</script>
<style lang="scss" scoped>
.google-policy{
  text-align: center;
  padding: 15px 0 0;
}
</style>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-error: color(error);
$white: color(white);
$black: color(black);
$gray-979797: color(gray-979797);
$bg-gmail: color(bg-gmail);
$dark-blue: color(dark-blue);
.user-sidebar{
  .modal-header{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px 25px 0;
    p{
      padding: 0px;
      font-size: 14px;
    }
    @media (max-width: 767px) {
      padding: 30px 20px 0;
    }
  }
  .modal-close{
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    @media (max-width: 767px) {
      top: 5px;
      right: 5px;
    }
  }
  .login-gmail-fb {
    a.router-link-active {
      padding: 10px 10px;
      border-radius: 4px;
      margin-bottom: 15px;
      font-weight: 600;
      color: $white;
      &.gmail {
        background-color: $bg-gmail;
        &:hover {
          opacity: 0.9;
        }
      }
      &.facebook {
        background-color: $dark-blue;
        &:hover {
          opacity: 0.9;
        }
      }
      img {
        margin-right: 15px;
        width: 30px;
      }
      @media (max-width: 767px) {
        margin-bottom: 10px;
      }
    }
  }
  .or {
    position: relative;
    background: $white;
    margin: 30px auto;
    z-index: 0;
    padding-bottom: 0;
    span {
      background: $white;
      padding: 0 5px;
      font-weight: 500;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      background: $gray-979797;
      height: 1px;
      top: 8px;
      z-index: -1;
    }
    @media (max-width: 767px) {
      margin: 20px auto;
    }
  }
  .common-form {
    input {
      border: 1px solid $gray-979797;
      border-radius: 4px;
      height: auto;
      line-height: 1;
      padding:12px 10px;
      font-size: 14px;
      font-weight: 500;
      color: $black;
      appearance: none;
      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 1.35;
      }
    }
    .email {
      input {
        background: url(/assets/icons/icon-mail.png) no-repeat 10px center;
        background-size: auto 20px;
        padding-left: 45px;
        &:-webkit-autofill{
          padding-left: 10px;
        }
      }
    }
    .password {
      input {
        background: url(/assets/icons/icon-password.png) no-repeat 15px center;
        background-size: auto 20px;
        padding-left: 45px;
        &:-webkit-autofill{
          padding-left: 10px;
        }
      }
    }
    .mobile {
      input {
        background: url(/assets/icons/icon-mobile.png) no-repeat 15px center;
        background-size: auto 20px;
        padding-left: 45px;
        &:-webkit-autofill{
          padding-left: 10px;
        }
      }
    }
    label {
      font-weight: 500;
      color: $black;
      font-size: 14px;
      .icon {
        display: inline-block;
        vertical-align: middle;
        color: $gray-979797;
        font-size: 25px;
        &:hover, &:focus {
          background-color: transparent;
        }
      }
    }
    .error-msg{
      margin-top: 5px;
    }
  }
  .login-link {
    padding-top: 10px;
    color: $black;
    .link {
      color: $dark-blue;
      font-weight: 600;
      border-bottom: 1px solid;
    }
  }
  .modal-content {
    padding:25px;
  }
  .redirect-error {
    background-color: $color-error;
    color: $white;
    margin: 15px 15px 0;
    padding: 10px;
    p{
      padding: 0;
      font-size: 14px;
      @media (max-width: 767px) {
        text-align: center;
      }
    }
  }
  @media (max-width: 767px) {
    a, span{
      font-size: 14px;
    }
    .modal-content {
      padding:20px;
    }
  }
}
</style>
