<template>
  <div>
    <div class="modal-header relative">
      <h2>
        {{ $t('Signup to') }} <span class="cl-red">{{ $t('PetCLUB') }}</span>
      </h2>
      <i
        slot="close"
        class="modal-close cl-bg-tertiary"
        @click="closeLoginExtend"
        data-testid="closeLogin"
      >
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
          <path d="M0 0h24v24H0V0z" fill="none" />
          <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" />
        </svg>
      </i>
      <p class="align-center  mt15">
        {{ $t('Jollyes PetCLUB rewards you with discounts on shipping, earns you points when you shop which turn into vouchers you can spend on anything at Jollyes.') }}
      </p>
    </div>

    <div class="modal-content bg-cl-white cl-secondary">
      <div class="login-gmail-fb hidden">
        <router-link to="/" class="gmail w-100 flex middle-xs">
          <img src="/assets/icons/icon-gmail.png" alt="icon-gmail">
          {{ $t('Sign up with Google') }}
        </router-link>
        <router-link to="/" class="facebook w-100 flex middle-xs">
          <img src="/assets/icons/icon-facebook.png" alt="icon-gmail">
          {{ $t('Sign up with Facebook') }}
        </router-link>
      </div>
      <p class="or align-center block cl-black hidden">
        <span>{{ $t('OR') }}</span>
      </p>
      <form @submit.prevent="register" novalidate class="common-form">
        <div class="row mb10">
          <base-input
            class="col-xs-6 name-field"
            type="text"
            name="first-name"
            :label="false"
            autocomplete="given-name"
            v-model="firstName"
            @blur="$v.firstName.$touch()"
            :placeholder="$t('First Name ')"
            :validations="[
              {
                condition: !$v.firstName.required && $v.firstName.$error,
                text: $t('Field is required.')
              },
              {
                condition: !$v.firstName.minLength,
                text: $t('Name must have at least 2 letters.')
              },
              {
                condition: !$v.firstName.alpha && $v.firstName.$error,
                text: $t('Accepts only alphabet characters.')
              }
            ]"
          />
          <base-input
            class="col-xs-6 name-field"
            type="text"
            name="last-name"
            :label="false"
            autocomplete="last-name"
            v-model="lastName"
            @blur="$v.lastName.$touch()"
            :placeholder="$t('Last name ')"
            :validations="[
              {
                condition: !$v.lastName.required && $v.lastName.$error,
                text: $t('Field is required.')
              },
              {
                condition: !$v.lastName.alpha && $v.lastName.$error,
                text: $t('Accepts only alphabet characters.')
              }
            ]"
          />
        </div>
        <base-input
          class="mb10 email"
          type="email"
          name="email"
          :label="false"
          autocomplete="email"
          v-model="email"
          @blur="$v.email.$touch()"
          :placeholder="$t('E-mail Address')"
          :validations="[
            {
              condition: !$v.email.required && $v.email.$error,
              text: $t('Field is required.')
            },
            {
              condition: !$v.email.email && $v.email.$error,
              text: $t('Please provide valid e-mail address.')
            }
          ]"
        />
        <base-number-input
          class="mb10 mobile"
          type="tel"
          name="number"
          v-model="mobile"
          @blur="$v.mobile.$touch()"
          :label="false"
          :maxlength="11"
          :placeholder="$t('Mobile Number')"
          :min="0"
          :validations="[
            {
              condition: !$v.mobile.required && $v.mobile.$error,
              text: $t('Field is required.')
            }
          ]"
        />
        <base-input
          class="mb10 password"
          :type="passType"
          name="password"
          ref="password"
          :label="false"
          autocomplete="new-password"
          v-model="password"
          @blur="$v.password.$touch()"
          :placeholder="$t('Password')"
          :validations="[
            {
              condition: !$v.password.required && $v.password.$error,
              text: $t('Field is required.')
            },
            {
              condition: !$v.password.minLength && $v.password.$error,
              text: $t('Password must have at least 8 letters.')
            }
          ]"
        />
        <base-input
          class="mb10 password"
          :type="passType"
          name="password-confirm"
          autocomplete="new-password"
          :label="false"
          v-model="rPassword"
          @blur="$v.rPassword.$touch()"
          :placeholder="$t('Repeat password')"
          :validations="[
            {
              condition: !$v.rPassword.required && $v.rPassword.$error,
              text: $t('Field is required.')
            },
            {
              condition: !$v.rPassword.sameAsPassword && $v.rPassword.$error,
              text: $t('Passwords must be identical.')
            }
          ]"
        />
        <div class="flex between-xs middle-xs mb10 termswrap">
          <base-checkbox
            id="terms"
            v-model="conditions"
            @blur="$v.conditions.$reset()"
            @change="$v.conditions.$touch()"
            :validations="[{
              condition: !$v.conditions.sameAs && $v.conditions.$error,
              text: $t('You must accept the terms and conditions.')
            }]"
          >
            <router-link
              to="/i/terms-and-conditions"
              @click.native="closeLoginExtend"
            >
              {{ $t('I accept terms and conditions') }} *
            </router-link>
          </base-checkbox>
          <div class="flex middle-xs">
            <label class="pointer">
              <button
                v-if="iconActive"
                type="button"
                class="
                  icon brdr-none no-outline
                  p0 bg-cl-transparent cl-brdr-secondary pointer
                "
                @click="togglePassType()"
                :aria-label="$t('Toggle password visibility')"
                :title="$t('Toggle password visibility')"
              >
                <svg v-if="icon" class="fill-current text-gray-500 hover:text-black" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none" />
                  <path d="M12 6c3.79 0 7.17 2.13 8.82 5.5C19.17 14.87 15.79 17 12 17s-7.17-2.13-8.82-5.5C4.83 8.13 8.21 6 12 6m0-2C7 4 2.73 7.11 1 11.5 2.73 15.89 7 19 12 19s9.27-3.11 11-7.5C21.27 7.11 17 4 12 4zm0 5c1.38 0 2.5 1.12 2.5 2.5S13.38 14 12 14s-2.5-1.12-2.5-2.5S10.62 9 12 9m0-2c-2.48 0-4.5 2.02-4.5 4.5S9.52 16 12 16s4.5-2.02 4.5-4.5S14.48 7 12 7z" />
                </svg>
                <svg v-else class="fill-current text-gray-500 hover:text-black" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                  <path d="M0 0h24v24H0V0zm0 0h24v24H0V0zm0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none" />
                  <path d="M12 6c3.79 0 7.17 2.13 8.82 5.5-.59 1.22-1.42 2.27-2.41 3.12l1.41 1.41c1.39-1.23 2.49-2.77 3.18-4.53C21.27 7.11 17 4 12 4c-1.27 0-2.49.2-3.64.57l1.65 1.65C10.66 6.09 11.32 6 12 6zm-1.07 1.14L13 9.21c.57.25 1.03.71 1.28 1.28l2.07 2.07c.08-.34.14-.7.14-1.07C16.5 9.01 14.48 7 12 7c-.37 0-.72.05-1.07.14zM2.01 3.87l2.68 2.68C3.06 7.83 1.77 9.53 1 11.5 2.73 15.89 7 19 12 19c1.52 0 2.98-.29 4.32-.82l3.42 3.42 1.41-1.41L3.42 2.45 2.01 3.87zm7.5 7.5l2.61 2.61c-.04.01-.08.02-.12.02-1.38 0-2.5-1.12-2.5-2.5 0-.05.01-.08.01-.13zm-3.4-3.4l1.75 1.75c-.23.55-.36 1.15-.36 1.78 0 2.48 2.02 4.5 4.5 4.5.63 0 1.23-.13 1.77-.36l.98.98c-.88.24-1.8.38-2.75.38-3.79 0-7.17-2.13-8.82-5.5.7-1.43 1.72-2.61 2.93-3.53z" />
                </svg>
              </button>
              {{ $t('Show Password') }}
            </label>
          </div>
        </div>
        <button-full :disabled="$v.$invalid" class="mb20" type="submit">
          {{ $t('Sign up') }}
        </button-full>
        <div class="center-xs login-link">
          <span>
            {{ $t('or') }}
            <a class="link" href="#" @click.prevent="switchElem">
              {{ $t('login to your account') }}
            </a>
          </span>
        </div>
      </form>
      <div class="google-policy">
        This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy" target="_blank">Privacy Policy</a> and <a href="https://policies.google.com/terms" target="_blank">Terms of Service</a> apply.
      </div>
    </div>
  </div>
</template>
<script>
import Register from '@vue-storefront/core/compatibility/components/blocks/Auth/Register'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox.vue'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput.vue'
import BaseNumberInput from 'theme/components/core/blocks/Form/BaseNumberInput'
import { required, email, minLength, sameAs, alpha, numeric } from 'vuelidate/lib/validators'

export default {
  validations: {
    email: {
      required,
      email
    },
    firstName: {
      minLength: minLength(2),
      required,
      alpha
    },
    lastName: {
      required,
      alpha
    },
    password: {
      minLength: minLength(8),
      required
    },
    mobile: {
      required
    },
    rPassword: {
      required,
      sameAsPassword: sameAs('password')
    },
    conditions: {
      sameAs: sameAs(() => true)
    }
  },
  data () {
    return {
      passType: 'password',
      iconActive: true,
      icon: true
    }
  },
  mixins: [Register],
  components: {
    ButtonFull,
    BaseCheckbox,
    BaseInput,
    BaseNumberInput
  },
  mounted () {
    this.$store.dispatch('googleRecaptcha/isVerifiedCaptcha');
  },
  methods: {
    togglePassType () {
      if (this.passType === 'password') {
        this.passType = 'text'
        this.icon = false
      } else {
        this.passType = 'password'
        this.icon = true
      }
    },
    register () {
      if (this.$v.$invalid) {
        this.$v.$touch()
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t('Please fix the validation errors'),
          action1: { label: this.$t('OK') }
        })
        return
      }
      const registerVerified = true;
      if (this.$store.state.googleRecaptcha.is_verified || registerVerified) {
        this.callRegister()
        this.$router.replace('/my-account');
        this.closeLoginExtend();
        // this.firstName = ''
        // this.lastName = ''
        // this.email = ''
        // this.password = ''
        this.rPassword = ''
        // this.mobile = ''
      } else {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t('Invalid reCAPTCHA, unauthorised access'),
          action1: { label: this.$t('OK') }
        })
      }
    },
    onSuccess () {
      let registerBtn = document.querySelectorAll('.btn_join');
      let loginBtn = document.querySelectorAll('.btn_login');
      this.removeBtn(registerBtn);
      this.removeBtn(loginBtn);
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message: this.$t('You are logged in!'),
        action1: { label: this.$t('OK') }
      })
    },
    onFailure (result) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t(result.result),
        action1: { label: this.$t('OK') }
      })
    },
    removeBtn (btnElemt) {
      btnElemt.forEach(rb => {
        rb.remove();
      })
    },
    toggleLogin () {
      this.$store.dispatch('ui/toggleLogin')
    },
    closeLoginExtend () {
      this.toggleLogin()
      this.$store.commit('ui/setSidebar', false)
    }
  }
}
</script>
<style lang="scss" scoped>
.google-policy{
  text-align: center;
  padding: 15px 0 0;
}
.termswrap {
  @media (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
</style>
<style lang="scss">
  .modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .modal-close{
    cursor: pointer;
  }
  .modal-content {
    @media (max-width: 400px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .common-form {
    .name-field {
      @media (min-width: 767px) {
        padding-right: 7.5px;
        &:last-child {
          padding-left: 7.5px;
        }
      }
      input {
        padding-left: 15px;
      }
    }
  }
</style>
