<template>
  <div class="user-sidebar">
    <login v-if="activeElem === 'login'" />
    <register v-if="activeElem === 'register'" />
    <forgot-pass v-if="activeElem === 'forgot-pass'" />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Modal from 'theme/components/core/Modal'
import Login from 'theme/components/core/blocks/Auth/Login'
import Register from 'theme/components/core/blocks/Auth/Register'
import ForgotPass from 'theme/components/core/blocks/Auth/ForgotPass'
import onEscapePress from '@vue-storefront/core/mixins/onEscapePress'
import CurrentPage from 'theme/mixins/currentPage'

export default {
  name: 'SignUp',
  mixins: [
    onEscapePress,
    CurrentPage
  ],
  computed: {
    ...mapState({
      activeElem: state => state.ui.authElem,
      currentUser: state => state.user.current
    })
  },
  components: {
    // Modal,
    Login,
    Register,
    ForgotPass
  },
  methods: {
    onEscapePress () {
      if (this.isCheckoutPage || this.currentUser) {
        return
      }
      this.$store.dispatch('ui/toggleLogin')
      this.$store.commit('ui/setSidebar', false)
    }
  }
}
</script>

<style scoped>
  .modal {
    font-size: 18px;
  }
</style>
