<template>
  <div class="chatbot-window">
    <div class="chatbot-main" v-show="showChatWindow">
      <div class="site-loader-wrap" v-show="showLoader">
        <div class="site-ajax-loader" />
      </div>
      <form @submit.prevent="submitChatForm" class="ac_chat_form" v-if="!showChatResponseWindow">
        <input v-model="chat_name" type="text" placeholder="Enter your name" @keyup="checkError()">
        <span class="cl-error mb10 error-msg" v-if="errorMessage" style="bottom: 10px;position: relative;">{{ errorMessage }}</span>
        <input type="submit" class="submit btn w-100 pointer" id="startChat" value="Start Chat">
      </form>
      <div class="chatbot-response-main" v-show="showChatResponseWindow">
        <div id="chat_root" />
      </div>
    </div>
    <div class="chatbot-btn-wrap" v-if="showACchatbot">
      <button class="btn chat-icon" @click="openChatboat()" v-if="!showChatWindow" aria-label="Live Chat">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="comments" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M416 192c0-88.4-93.1-160-208-160S0 103.6 0 192c0 34.3 14.1 65.9 38 92-13.4 30.2-35.5 54.2-35.8 54.5-2.2 2.3-2.8 5.7-1.5 8.7S4.8 352 8 352c36.6 0 66.9-12.3 88.7-25 32.2 15.7 70.3 25 111.3 25 114.9 0 208-71.6 208-160zm122 220c23.9-26 38-57.7 38-92 0-66.9-53.5-124.2-129.3-148.1.9 6.6 1.3 13.3 1.3 20.1 0 105.9-107.7 192-240 192-10.8 0-21.3-.8-31.7-1.9C207.8 439.6 281.8 480 368 480c41 0 79.1-9.2 111.3-25 21.8 12.7 52.1 25 88.7 25 3.2 0 6.1-1.9 7.3-4.8 1.3-2.9.7-6.3-1.5-8.7-.3-.3-22.4-24.2-35.8-54.5z" class="" /></svg>
      </button>
      <button class="btn chat-close-icon" @click="closeChatboat()" v-if="showChatWindow" />
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      errorMessage: null,
      chat_name: '',
      showACchatbot: false,
      showChatWindow: false,
      showLoader: false,
      showChatResponseWindow: false
    }
  },
  async beforeMount () {
    this.$bus.$on('amazon-connect-start', this.startAmazonConnect)
  },
  beforeDestroy () {
    this.$bus.$off('amazon-connect-start', this.startAmazonConnect)
  },
  methods: {
    checkError () {
      if (this.chat_name !== '') {
        this.errorMessage = null
      } else {
        this.errorMessage = 'Name Field is Required!'
      }
    },
    submitChatForm () {
      this.checkError()

      if (this.chat_name !== '') {
        this.showLoader = true;
        if (typeof window !== 'undefined' && typeof window.connect !== 'undefined') {
          this.showACchatbot = true;
          window.connect.ChatInterface.initiateChat({
            name: this.chat_name,
            region: 'eu-west-2',
            apiGatewayEndpoint: 'https://ktn3eyc08d.execute-api.eu-west-2.amazonaws.com/Prod',
            contactAttributes: JSON.stringify({
              'customerName': this.chat_name
            }),
            contactFlowId: 'adeb1a8d-d65e-471b-8f1f-5fd9ea6824ee',
            instanceId: 'b5e81950-ad24-4803-94ad-d44ae0c16400'
          }, this.successHandler, this.failureHandler)
        }
      }
    },
    successHandler (chatSession) {
      window.chatSession = chatSession;
      this.showLoader = false;
      this.showChatResponseWindow = true;
      // Change the incoming data set
      chatSession.incomingItemDecorator = function (item) {
        if (['SYSTEM_MESSAGE'].indexOf(item.displayName) !== -1) {
          item.displayName = 'System Message';
        }

        if (chatSession.transcript.length > 0) {
          const transcriptItem = chatSession.transcript[chatSession.transcript.length - 1];
          if (transcriptItem.transportDetails.direction === 'Incoming') {
            let chatDescription = 'We are here to help you.';
            const name = transcriptItem.displayName;
            if (['prod', '$LATEST', 'AI Assistant', 'SYSTEM_MESSAGE', 'System Message'].indexOf(name) === -1) {
              chatDescription = 'You are now chatting with ' + name;
            }
            document.getElementById('chatDescription').innerHTML = chatDescription;
          }
        }

        return item;
      }
      chatSession.onChatClose(event => {
        this.showChatResponseWindow = false;
        this.chat_name = null;
      });
    },
    failureHandler (error) {
      console.error('AC connection failed', error);
    },
    startAmazonConnect () {
      this.showACchatbot = true
    },
    openChatboat () {
      this.showChatWindow = true;
      this.chat_name = '';
    },
    closeChatboat () {
      this.showChatWindow = false;
      const endBtnElem = document.querySelector('.sc-gzVnrw');
      if (endBtnElem !== null) {
        endBtnElem.click();
      }
    }
  }
}
</script>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-secondary: color(secondary);
$black-464444: color(black-464444);
$white: color(white);
$red: color(red);
$gray-c3c3c3: color(gray-c3c3c3);
.chatbot-window {
  position: fixed;
  right: 80px;
  bottom: 20px;
  max-width: 380px;
  color: $black-464444;
  z-index: 99;

  @media (max-width: 991px) {
    bottom: 0;
    right: auto;
    left: 0;
    min-width: 25%;
    z-index: 999;
  }

  .chatbot-btn-wrap {
    text-align: right;

    @media (max-width: 991px) {
      text-align: left;
      width: 100%;
    }

    .btn {
      padding: 0;
      width: 50px;
      height: 50px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      svg {
        width: 30px;
        height: 26px;
      }
      @media (max-width: 991px) {
        padding: 10px 10px 27px 10px;
        width: 100%;
        background: transparent;
        border-radius: 0;
        height: 69px;
        align-items: flex-start;
        font-size: 0 !important;
        svg {
          opacity: 0;
        }
      }
      @media (max-width: 419px) {
        height: 64px;
      }
      &.chat-close-icon {
        background-image: none;
        line-height: 54px;
        font-size: 26px;
        display: inline-block;
        vertical-align: top;
        &:before {
          content: "✕";
        }
      }
    }
  }

  .chatbot-main {
    background-color: $white;
    border-radius: 6px;
    box-shadow: 0 0 15px $gray-c3c3c3;
    padding: 15px;
    margin-bottom: 15px;
    max-width: 380px;

    .ac_chat_form {
      input:not([type="submit"]):not([type="button"]) {
        margin-bottom: 15px;
        border-radius: 4px;
        padding: 10px 10px;
        font-size: 12px;
        border: 1px solid $gray-c3c3c3;
        width: 100%;
        height: auto;
        @media (max-width: 767px) {
          font-size: 16px;
        }
      }
    }

    .chatbot-response-main {
      .connect-customer-interface {
        margin: 0;
        box-shadow: none;
        width: 100%;
        height: auto;
        max-height: 460px;
        .sc-jqCOkK{
          height: 400px;
          width: 350px;
          @media (max-width: 991px) {
            width: 270px;
          }
        }

        .header-wrapper {
          .welcome-text {
            margin-bottom: 5px;
            font-size: 20px;
          }

          #chatDescription {
            font-size: 14px;
          }
        }

        .css-a3awzs {
          border-color: $color-secondary $color-secondary transparent;
        }

        textarea {
          padding: 7px;
          margin: 0;
          border-left: solid 1px #ccc;
          border-right: solid 1px #ccc;
        }

        .gCoMZa {
          background: transparent;
        }

        .WKMES > button {
          color: $white;
          background: $color-secondary;
        }

        .kfcLqE {
          margin-bottom: 15px;
        }

        .ewroOU:empty,
        .gVHKAI {
          display: none;
        }
      }
    }
    @media (max-width: 991px) {
      margin-bottom: 10px;
      margin-left: 10px;
      position: absolute;
      width: 300px;
      bottom: 70px;
    }
  }
}
</style>
