<template>
  <li class="micro-product-item" :class="{ 'relative': editMode }">
    <div class="mx10 w-100 py10 mb15 edit-mode flex between-xs middle-xs" v-if="editMode">
      Edit mode
      <button class="brdr-none bg-cl-transparent" @click="closeEditMode">
        <span class="cl-accent">
          <i class="mr5">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" />
            </svg>
          </i>
        </span>
      </button>
    </div>
    <div class="cart-box flex">
      <div class="blend">
        <div class="product-border">
          <product-image :image="image" />
        </div>
      </div>
      <div class="flex details">
        <div class="info-block">
          <div class="name">
            <router-link
              :to="productLink"
              data-testid="productLink"
              @click.native="$store.commit('ui/setMicrocart', false)"
            >
              {{ product.name | htmlDecode }}
            </router-link>
            <remove-button class="" @click="removeItem" />
          </div>
          <div class="prices">
            <div>
              <span class="cl-error price-special in31" v-if="product.special_price">
                {{ product.price_incl_tax | price(storeView) }}
              </span>
              <span class="price-original in34" v-if="product.special_price">
                {{ product.original_price_incl_tax | price(storeView) }}
              </span>
              <span class="price-regular in37" v-else data-testid="productPrice">
                {{ (product.original_price_incl_tax ? product.original_price_incl_tax : product.price_incl_tax) | price(storeView) }}
              </span>
            </div>
            <!-- <div v-else-if="isOnline && product.totals">
              <span class="cl-error price-special in42" v-if="product.totals.discount_amount">
                {{ product.totals.row_total - product.totals.discount_amount + product.totals.tax_amount | price(storeView) }}
              </span>
              <span class="price-original in45" v-if="product.totals.discount_amount">
                {{ product.totals.row_total_incl_tax | price(storeView) }}
              </span>
              <span class="price-regular in48" v-if="!product.totals.discount_amount">
                {{ product.totals.row_total_incl_tax | price(storeView) }}
              </span>
            </div> -->
            <!-- <div class="flex" v-else>
              <span class="price-regular in53">
                {{ (product.final_price || product.price_incl_tax) | price(storeView) }}
              </span>
              <h3 class="price-save in56">
                <del>{{ (product.regular_price || product.price_incl_tax) | price(storeView) }}</del>
              </h3>
            </div> -->
          </div>
          <quantity-box
            v-model.number="product.qty"
            :is-simple-or-configurable="isSimpleOrConfigurable"
            :aria-label="'Quantity'"
            :has-label="true"
            :custom-width="10"
            class="product-quantity qty"
            size="lg"
            only-positive
            :value="productQty"
            @input="updateProductQty"
            :max-quantity="maxQuantity"
            @error="handleQuantityError"
          />
          <div class="price-sub flex hidden">
            <h3>$21.66</h3>
            <span>
              <img src="/assets/icons/icon-subscribe-red.png" alt="Subscribe icon">
              {{ $t('Subscribe & save') }}
            </span>
          </div>
          <p class="hidden">
            {{ $t('Start subscribe & Save for 5% off your food!') }}
            <router-link :to="productLink" class="link" @click.native="$store.commit('ui/setMicrocart', false)">
              {{ $t('More info') }}
            </router-link>
          </p>
          <!-- <div class="options" v-if="isTotalsActive">
            <div v-for="opt in product.totals.options" :key="opt.label">
              <span class="opn">{{ opt.label }}: </span>
              <span class="opv" v-html="opt.value" />
            </div>
          </div>
          <div class="options" v-else-if="!editMode && product.options">
            <div v-for="opt in product.options" :key="opt.label">
              <span class="opn">{{ opt.label }}: </span>
              <span class="opv" v-html="opt.value" />
            </div>
          </div>
          <div class="cl-error" v-if="hasProductErrors">
            {{ product.errors | formatProductMessages }}
          </div>
          <div class="cl-success pt10" v-if="hasProductInfo && !hasProductErrors">
            {{ product.info | formatProductMessages }}
          </div> -->
        </div>
        <!-- <div class="h6 cl-bg-tertiary pt5 sku" data-testid="productSku">
          {{ product.sku }}
        </div> -->
        <!-- <div class="remove-product actions" v-if="!editMode">
          <edit-button class="mx" @click="openEditMode" v-if="productsAreReconfigurable && !editMode" />
          <remove-button class="" @click="removeItem" />
        </div> -->
      </div>
    </div>
    <div class="w-100 pb15 flex flex-wrap bottom-xs" v-if="editMode">
      <div class="ml0 flex flex-wrap filters" v-if="productsAreReconfigurable">
        <div class="h5 pt5 w-100" v-for="(option, index) in product.configurable_options" :key="index">
          <div class="h6 cl-bg-tertiary mr10">
            {{ option.label }}:
          </div>
          <div class="flex flex-wrap pt5" v-if="option.label == 'Color' && editMode">
            <color-selector
              v-for="filter in getAvailableFilters[option.attribute_code]"
              v-if="isOptionAvailable(filter)"
              :key="filter.id"
              :variant="filter"
              :selected-filters="getSelectedOptions"
              @change="changeEditModeFilter"
            />
          </div>
          <div class="flex flex-wrap pt5" v-else-if="option.label == 'Size' && editMode">
            <size-selector
              class="mr10 mb10"
              v-for="filter in getAvailableFilters[option.attribute_code]"
              v-if="isOptionAvailable(filter)"
              :key="filter.id"
              :variant="filter"
              :selected-filters="getSelectedOptions"
              @change="changeEditModeFilter"
            />
          </div>
        </div>
      </div>
      <button-full
        class="update-button mb10 mr10"
        @click.native="updateProductVariant"
        :disabled="isUpdateCartDisabled"
      >
        {{ $t('Update item') }}
      </button-full>
    </div>
    <div class="cart-list hidden">
      <div class="cart-yes flex top-xs mb10">
        <input type="radio" name="yes" value="yes" class="radio-input">
        <h4>
          {{ $t('Yes, help me save money. Ship my food every') }}
          <quantity-box
            v-model.number="product.qty"
            :aria-label="'Quantity'"
            :has-label="true"
            :custom-width="10"
            class="product-quantity h5 cl-primary lh25 qty"
            size="lg"
            only-positive
            :value="productQty"
            @input="updateProductQty"
            :max-quantity="maxQuantity"
            :is-simple-or-configurable="isSimpleOrConfigurable"
            @error="handleQuantityError"
          />
          {{ $t('weeks') }}
        </h4>
      </div>
      <div class="cart-no flex top-xs">
        <input type="radio" name="yes" value="no" class="radio-input">
        <p> {{ $t('No, just this once thanks') }}</p>
      </div>
    </div>
  </li>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import config from 'config'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import { formatProductLink } from '@vue-storefront/core/modules/url/helpers'
import Product from '@vue-storefront/core/compatibility/components/blocks/Microcart/Product'
import QuantityBox from 'theme/components/core/QuantityBox.vue'
import ProductImage from 'theme/components/core/ProductThumbImage'
import ColorSelector from 'theme/components/core/ColorSelector.vue'
import SizeSelector from 'theme/components/core/SizeSelector.vue'
import RemoveButton from './RemoveButton'
import { onlineHelper } from '@vue-storefront/core/helpers'
import { ProductOption } from '@vue-storefront/core/modules/catalog/components/ProductOption'
import { getThumbnailForProduct, getProductConfiguration } from '@vue-storefront/core/modules/cart/helpers'
import ButtonFull from 'theme/components/theme/ButtonFull'
import EditMode from './EditMode'

export default {
  data () {
    return {
      maxQuantity: 0,
      quantityError: false,
      isStockInfoLoading: false
    }
  },
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  components: {
    RemoveButton,
    ProductImage,
    ColorSelector,
    SizeSelector,
    ButtonFull,
    QuantityBox
  },
  mixins: [Product, ProductOption, EditMode],
  computed: {
    ...mapState({
      isMicrocartOpen: state => state.ui.microcart
    }),
    hasProductInfo () {
      return this.product.info && Object.keys(this.product.info).length > 0
    },
    hasProductErrors () {
      const errors = this.product.errors || {}
      const errorsValuesExists = Object.keys(errors).filter(errorKey => errors[errorKey]).length > 0
      return errorsValuesExists
    },
    isTotalsActive () {
      return this.isOnline && !this.editMode && this.product.totals && this.product.totals.options
    },
    isOnline () {
      return onlineHelper.isOnline
    },
    productsAreReconfigurable () {
      return config.cart.productsAreReconfigurable && this.product.type_id === 'configurable' && this.isOnline
    },
    displayItemDiscounts () {
      return config.cart.displayItemDiscounts
    },
    image () {
      return {
        loading: this.thumbnail,
        src: this.thumbnail
      }
    },
    thumbnail () {
      return getThumbnailForProduct(this.product)
    },
    configuration () {
      return getProductConfiguration(this.product)
    },
    productLink () {
      return formatProductLink(this.product, currentStoreView().storeCode)
    },
    editMode () {
      return this.getEditingProductId === this.product.id
    },
    productQty () {
      return this.editMode ? this.getEditingQty : this.product.qty
    },
    isSimpleOrConfigurable () {
      return ['simple', 'configurable'].includes(this.product.type_id)
    },
    isUpdateCartDisabled () {
      return this.quantityError ||
        this.isStockInfoLoading ||
        (this.isOnline && !this.maxQuantity && this.isSimpleOrConfigurable)
    },
    storeView () {
      return currentStoreView()
    }
  },
  methods: {
    updateProductVariant () {
      this.updateVariant()
      this.closeEditMode()
    },
    updateProductQty (qty) {
      if (this.editMode) {
        this.editModeSetQty(qty)
        return
      }

      this.updateQuantity(qty)
    },
    removeFromCart () {
      this.$store.dispatch('cart/removeItem', { product: this.product })
      this.$store.dispatch('notification/removeNotification')
    },
    updateQuantity (quantity) {
      this.$store.dispatch('cart/updateQuantity', { product: this.product, qty: quantity })
    },
    async getQuantity (product) {
      if (this.isStockInfoLoading) return // stock info is already loading
      this.isStockInfoLoading = true
      try {
        const validProduct = product || this.product
        const res = await this.$store.dispatch('stock/check', {
          product: validProduct,
          qty: this.productQty
        })
        return res.qty
      } finally {
        this.isStockInfoLoading = false
      }
    },
    handleQuantityError (error) {
      this.quantityError = error
    },
    async changeEditModeFilter (filter) {
      const editedProduct = this.getEditedProduct(filter)
      const maxQuantity = await this.getQuantity(editedProduct)
      if (!maxQuantity) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t(
            'The product is out of stock and cannot be added to the cart!'
          ),
          action1: { label: this.$t('OK') }
        })
      } else if (maxQuantity < this.productQty) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t('Only {maxQuantity} products of this type are available!', { maxQuantity }),
          action1: { label: this.$t('OK') }
        })
      } else {
        this.maxQuantity = maxQuantity
        this.editModeSetFilters(filter)
      }
    }
  },
  watch: {
    isOnline: {
      async handler (isOnline) {
        if (isOnline) {
          const maxQuantity = await this.getQuantity()
          this.maxQuantity = maxQuantity
        }
      }
    },
    isMicrocartOpen: {
      async handler (isOpen) {
        if (isOpen) {
          const maxQuantity = await this.getQuantity()
          this.maxQuantity = maxQuantity
        }
      },
      immediate: true
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-979797: color(gray-979797);
$black: color(black);
$blue: color(blue);
$oat: color(oat);

  .blend {
    flex: 0 0 100px;
  }

  .image {
    mix-blend-mode: multiply;
    vertical-align: top;
    width: 150px;
    @media (max-width: 767px) {
      width: 100px;
    }
  }

  .options, .sku {
    @media (max-width: 767px) {
      font-size: 10px;
    }
  }

  .qty {
    padding-right: 30px;

    @media (max-width: 767px) {
      font-size: 12px;
    }
  }

  .prices {
    @media (max-width: 767px) {
      padding: 0;
      font-size: 12px;
    }
  }

  .price-special {
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }

  .price-original {
    text-decoration: line-through;
  }

  input {
    width: 30px;
  }

  .flex-nowrap {
    flex-wrap: nowrap;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .edit-mode {
    border-bottom: 1px solid color(white-smoke);
  }

  .filters {
    flex: 1 1 200px;
  }

  .update-button {
    font-size: 14px;
    min-width: 150px;
    width: 150px;
    padding: 10px;
  }
  .product-border {
    .product-image {
      border: 1px solid $gray-979797;
    }
  }
  .micro-product-item{
    padding: 10px 0 15px;
    .cart-box{
      padding: 0 30px 10px;
      .details{
        .info-block{
          max-width: 100%;
          padding: 0 15px;
          .name{
            position: relative;
            padding: 0 35px 2px 0;
            button{
              position: absolute;
              right: 0;
            }
          }
          .prices{
            padding: 15px 0;
            font-weight: 700;
            font-size: 18px;
            .price-save {
              margin-left: 15px;
              color: $gray-979797;
            }
          }
          .product-quantity{
            margin-bottom: 15px;
          }
          .price-sub{
            span{
              font-size: 11px;
              display: inline-flex;
              align-items: center;
              img{
                margin: 0 8px;
              }
            }
          }
          p{
            color: $gray-979797;
            font-size: 14px;
            padding: 10px 0 0 0;
            a{
              text-decoration: underline;
              color: $blue;
            }
          }
        }
        .remove-product{
          max-width: 10%;
        }
      }
    }
    .cart-list {
      background: $oat;
      width: 100%;
      padding: 10px 25px;
      .cart-yes{
        .radio-input{
          margin-top: 3px;
        }
      }
      h4 {
        font-size: 12px;
        font-weight: 600;
      }
      p{
        font-size: 12px;
        padding: 0;
      }
    }
    .radio-input{
      width: 12px;
      height: 12px;
      background-size: 100%;
      margin-right: 5px;
    }
    @media (max-width: 575px) {
      .cart-box{
        .blend{
          flex: 0 0 80px;
        }
        .details{
          .info-block{
            .prices{
              font-size: 16px;
              padding: 10px 0;
            }
            p{
              font-size: 12px;
            }
          }
        }
      }
      .cart-list{
        h4{
          max-width: 270px;
        }
      }
    }
  }
  .micro-product-item + .micro-product-item{
    padding-top: 0px;
  }
</style>
<style lang="scss">
.micro-product-item{
  .product-quantity {
    padding-right: 0;
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    .box-w-h {
      button {
        width: 22px;
        height: 22px;
        padding: 3px;
      }
      input {
        width: 35px;
        height: 22px;
        line-height:22px;
        font-size: 12px;
        @media (max-width: 767px) {
          font-size: 16px;
          line-height: 1.35;
        }
      }
    }
  }
  .product-image{
    img{
      display: block;
      max-width: 100%;
    }
  }
  &:last-child{
    padding-bottom:0px;
  }
  @media (max-width: 575px) {
    .product-quantity {
      padding-top: 3px;
      padding-bottom: 3px;
    }
  }
}
</style>
