<template>
  <button @click="$emit('click')" class="brdr-none bg-cl-transparent p0 middle-xs inline-flex cl-secondary">
    <span class="h6">
      <img src="/assets/icons/close-icon.png" alt="close-icon" >
    </span>
  </button>
</template>
