<template>
  <div class="brdr-cl-secondary">
    <section class="pb25 cl-primary" v-if="reviews">
      <div class="between-xs">
        <div class="main-reviews">
          <reviews-list
            :per-page="20"
            :items="reviews"
            :product-name="productName"
            :product="product"
          />
        </div>
      </div>
    </section>
    <div class="productreview-skeleton container" v-else>
      <div class="skeleton" />
      <div class="skeleton" />
      <div class="skeleton" />
    </div>
  </div>
</template>

<script>
import ReviewsList from 'theme/components/theme/blocks/Reviews/ReviewsList'
import { Reviews } from '@vue-storefront/core/modules/review/components/Reviews'

export default {
  name: 'Reviews',
  mixins: [ Reviews ],
  components: {
    ReviewsList
  },
  props: {
    productId: {
      type: [String, Number],
      required: true
    },
    productName: {
      type: String,
      default: ''
    },
    product: {
      type: Object,
      required: true
    }
  },
  computed: {
    currentUser () {
      return this.$store.state.user.current
    }
  },
  methods: {
    login () {
      this.$bus.$emit('modal-show', 'modal-signup')
    },
    fillInUserData () {
      if (this.currentUser) {
        this.formData = {
          name: this.currentUser.firstname,
          email: this.currentUser.email
        }
      }
    }
  },
  mounted () {
    this.$bus.$on('clear-add-review-form', this.clearReviewForm)
    this.$bus.$on('user-after-loggedin', this.fillInUserData)
  },
  destroyed () {
    this.$bus.$off('clear-add-review-form', this.clearReviewForm)
    this.$bus.$off('user-after-loggedin', this.fillInUserData)
  },
  beforeMount () {
    this.fillInUserData()
  }
}
</script>

<style lang="scss" scoped>
.main-reviews {
  overflow-x: hidden;
}
.productreview-skeleton {
  .skeleton {
    margin-top: 30px;
    &:first-child {
      height: 66px;
      @media (max-width: 767px) {
        height: 120px;
      }
    }
    &:not(:first-child) {
      height: 162px;
      margin-top: 25px;
    }
  }
}
</style>
