<template>
  <section>
    <div class="home-slides">
      <div v-if="bannerData.length === 1">
        <no-ssr>
          <router-link :to="bannerData[0].link">
            <img :src="!isMobile ? renderImg(bannerData[0].image) : renderImg(bannerData[0].mobile_image)" :alt="bannerData[0].title" class="img-cover" :width="!isMobile ? 1920 : 420" :height="!isMobile ? 640 : 300">
          </router-link>
        </no-ssr>
      </div>
      <no-ssr v-else>
        <div class="favorite-brands-swiper align-center">
          <swiper-slider :banner-data="bannerData" :slider-id="sliderId" :is-mobile="isMobile" />
        </div>
      </no-ssr>
    </div>
  </section>
</template>

<script>
import { correctUrl } from 'theme/helpers'
import NoSSR from 'vue-no-ssr'
import { isServer } from '@vue-storefront/core/helpers'

export default {
  components: {
    'no-ssr': NoSSR,
    SwiperSlider: () => import('theme/components/theme/SwiperSlider')
  },
  props: {
    bannerData: {
      type: Array,
      default: () => []
    },
    sliderId: {
      type: String,
      default: 'homepage-banners'
    }
  },
  methods: {
    renderImg (image) {
      return correctUrl(image);
    }
  },
  computed: {
    isMobile () {
      if (!isServer) {
        return window.innerWidth <= 767
      }
      return false;
    }
  },
  metaInfo () {
    let links = [];
    if (this.bannerData && this.bannerData.length > 0) {
      this.bannerData.map(banner => links.push({ rel: 'preload', as: 'image', href: !this.isMobile ? this.renderImg(banner.image) : this.renderImg(banner.mobile_image) }))
    }
    return {
      link: links
    }
  }
};
</script>
<style lang="scss" scoped>
.home-slides {
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}
</style>
