<template>
  <section class="main-slider w-100 cl-white">
    <no-ssr>
      <carousel :autoplay="true" :per-page="1" :mouse-drag="true" :navigation-enabled="true">
        <slide v-for="(slide, index) in bannerData" :key="index">
          <div class="slider-image w-100 desktop-slider" v-lazy:background-image="slide.image">
            <div class="row middle-xs">
              <div class="slider-caption">
                <p class="exclusive-title uppercase" data-testid="mainSliderExclusive">
                  {{ slide.exclusive }}
                </p>
                <p class="subtitle uppercase" data-testid="mainSliderSubtitle">
                  {{ slide.subtitle }}
                </p>
                <h1 class="title" data-testid="mainSliderTitle">
                  {{ slide.title }}
                </h1>
                <p class="subtitle uppercase small" data-testid="mainSliderSmalltitle">
                  {{ slide.small_title }}
                </p>
                <div class="align-center btn-wrap">
                  <button-outline :link="slide.link" color="light" class="btn">
                    {{ slide.button_text }}
                  </button-outline>
                </div>
                <a href="#" class="link-title uppercase" data-testid="mainSliderLinktitle">
                  {{ slide.link_title }}
                </a>
              </div>
            </div>
          </div>
          <div class="slider-image w-100 mobile-slider" v-lazy:background-image="slide.responsive_img" />
        </slide>
      </carousel>
    </no-ssr>
  </section>
</template>

<script>
import NoSSR from 'vue-no-ssr';
import sliderData from 'theme/resource/slider.json';
import ButtonOutline from 'theme/components/theme/ButtonOutline';

export default {
  props: {
    bannerData: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      currentSlide: 1,
      slides: [],
      totalSlides: 1,
      sliderData: []
    };
  },
  components: {
    ButtonOutline,
    Carousel: () => import('vue-carousel').then((Slider) => Slider.Carousel),
    Slide: () => import('vue-carousel').then((Slider) => Slider.Slide),
    'no-ssr': NoSSR
  },
  methods: {
    updateSliderData (data) {
      this.slides = data.slides;
      this.totalSlides = data.total;
    }
  },
  mounted () {
    setInterval(() => {
      this.currentSlide = (this.currentSlide + 1) % this.totalSlides;
    }, 5000);
  },
  created () {
    this.updateSliderData(sliderData);
  }
};
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-white: color(white);
$color-black: color(black);
.mobile-slider {
    display: none;
}
.slider-image {
  background-size: cover;
}
.main-slider {
  .VueCarousel-pagination {
    display: none;
  }
  .VueCarousel-dot--active .VueCarousel-dot-inner {
    border: 2px solid $color-white;
    margin-top: -2px;
  }
}
.main-slider {
  height: calc(100vh - 160px);
  .row {
    height: calc(100vh - 160px);
  }
}
.slider-caption {
    margin: 0 8.5%;
    padding: 0 15px;
    position: relative;
    top: -55px;
    text-align: center;
    @media (max-width: 1023px) {
      margin: 0 auto;
    }
    .exclusive-title {
      font-weight: 500;
      font-size: 16px;
      background: $color-green;
      display: table;
      margin: 0 auto 30px;
      padding: 12px 10px 7px;
      border-radius: 4px;
      min-width: 190px;
      font-family: "Agenor";
   }
   .subtitle {
      display: table;
      margin: 0 auto;
      padding: 7px 10px;
      font-family: "Agenor";
      font-weight: 900;
      font-size: 24px;
      color: #232323;
   }
  .title {
    max-width: 750px;
    margin: 15px auto 0;
    font-size: 89px;
    line-height: 1;
    font-family: "Agenor";
  }
  .link-title {
    display: table;
    margin: 0 auto;
    font-family: "Agenor";
    color: #232323;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    &:after {
      display: none;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  .btn-wrap {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
@media (max-width: 1440px) {
  .slider-caption {
    .title {
      max-width: 450px;
      margin: 15px auto 0;
      font-size: 60px;
    }
  }
}
@media (max-width: 1280px) {
  .slider-caption {
    .title {
      max-width: 480px;
      margin: 10px auto 0;
      font-size: 66px;
    }
    .exclusive-title {
      margin: 0 auto 10px;
    }
    .btn-wrap {
      margin-top: 0;
      margin-bottom: 15px;
    }
    .subtitle {
      font-size: 20px;
    }
  }
  .main-slider {
    height: auto;
    min-height: 470px;
    .row {
      height: auto;
      min-height: 470px;
    }
  }
}

@media (max-width: 1023px) {
  .desktop-slider {
      background-image: none !important;
  }
  .mobile-slider {
      display: block;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 100%;
      position: absolute;
      top: 0;
      z-index: -1;
      width: 100%;
      left: auto;
      right: auto;
  }
  .main-slider {
    height: auto;
    min-height: 610px;
    .row {
      height: auto;
      min-height: 610px;
    }
  }
  .VueCarousel {
    .VueCarousel-navigation {
      position: absolute;
      top: 40%;
      transform: translateY(-40%);
      left: 0;
      width: 100%;
      right: 0;
      height: 81px;
      button {
        transform: none;
        background: $color-white;
        font-size: 0;
        width: 43px;
        height: 81px;
        box-shadow: none;
        outline: none;
        border: none;
        &:focus {
          outline: none;
        }
        &.VueCarousel-navigation-prev {
          filter: drop-shadow(0px 7px 4.5px rgba(0,0,0,0.23));
          border-top-right-radius: 16px;
          border-bottom-right-radius: 16px;
        }
        &.VueCarousel-navigation-next {
          filter: drop-shadow(0px 7px 4.5px rgba(0,0,0,0.23));
          border-top-left-radius: 16px;
          border-bottom-left-radius: 16px;
        }
        &:after,&:before{
          content: "";
          background: $color-black;
          height: 13px;
          width: 3px;
          position: absolute;
          left: 15px;
          top: 32px;
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
          left: 15px;
          top: 40px;
        }
        &.VueCarousel-navigation-next {
          &:after{
            left:20px;
            right:15px;
            transform: rotate(45deg);
          }
          &:before{
            left:20px;
            right:15px;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
  .slider-caption {
    .exclusive-title {
      margin: 0 auto 10px;
      font-size: 12px;
      min-width: auto;
      padding: 10px 15px 5px;
    }
    .subtitle {
      font-size: 22px;
      &.small {
        font-size: 19px;
      }
    }
    .link-title {
      font-size: 12px;
    }
    .btn-wrap {
      margin-bottom: 10px;
    }
  }
}
@media (max-width: 575px) {
  .main-slider {
    min-height: 500px;
    .row {
      min-height: 500px;
    }
  }
  .slider-caption {
    .title {
      max-width: 320px;
      margin: 10px auto 0;
      font-size: 40px;
    }
    .subtitle {
      font-size: 16px;
      &.small {
        font-size: 13px;
      }
    }
    .link-title {
      font-size: 10px;
    }
    .btn-wrap {
      margin-bottom: 10px;
    }
  }
}
@media (max-width: 400px) {
  .slider-caption {
    .title {
      max-width: 280px;
      margin: 4px auto 0;
      font-size: 36px;
    }
    .subtitle {
      font-size: 14px;
      &.small {
        font-size: 11px;
      }
    }
  }
}
</style>
