<template>
  <div class="promo-banner align-center gotham">
    <router-link :to="link !== null ? urlFliter(link) : '#'">
      <img :src="correctImage(image)" alt="Promotional Banner">
    </router-link>
  </div>
</template>

<script>
import { isServer } from '@vue-storefront/core/helpers'
import { correctUrl } from 'theme/helpers'

export default {
  props: {
    image: {
      type: String,
      required: true,
      default: ''
    },
    link: {
      type: String,
      required: false,
      default: ''
    }
  },
  methods: {
    correctImage (img) {
      return correctUrl(img)
    },
    urlFliter (link) {
      if (isServer) {
        return link;
      }
      const baseURL = window.location.origin;
      if (link && link.includes(baseURL)) {
        return link.replace(baseURL, '');
      } else {
        return this.localizedRoute('/' + link);
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.promo-banner{
  img{
    max-width:100%;
  }
}
</style>
