<template>
  <span v-if="bannerMessage != null" v-html="bannerMessage" class="special-offer" />
</template>

<script>
export default {
  name: 'SpecialOffer',
  components: {
  },
  props: {
    bannerMessage: {
      type: String,
      required: false,
      default: null
    }
  },
  data () {
    return {
    }
  }
}
</script>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$red: color(red);

.special-offer{
  color: $red;
  border: solid 1px $red;
  font-size: 11px;
  display: block;
  text-align: center;
  padding: 6px 5px;
  border-radius: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  p {
    padding: 0;
    margin: 0;
    font-size: inherit;
    line-height: inherit;
    display: inline;
  }
}
</style>
