<template>
  <button-full @click.native="addToCart(product)" :disabled="isProductDisabled" data-testid="addToCart">
    {{ $t('Add to cart') }}
  </button-full>
</template>

<script>
import { formatProductMessages } from '@vue-storefront/core/filters/product-messages'
import { notifications } from '@vue-storefront/core/modules/cart/helpers'
import focusClean from 'theme/components/theme/directives/focusClean'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import { mapGetters } from 'vuex'
import { getCookie } from 'theme/helpers'

export default {
  directives: { focusClean },
  components: { ButtonFull },
  props: {
    product: {
      required: true,
      type: Object
    },
    disabled: {
      type: Boolean,
      default: false
    },
    forceDisableBtn: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    onAfterRemovedVariant () {
      this.$forceUpdate()
    },
    async stockChecks (result, product) {
      let response = JSON.parse(result.result);
      if (result.code === 200 && response[product.id] === 1) {
        const diffLog = await this.$store.dispatch('cart/addItem', { productToAdd: product })
        // diffLog.clientNotifications.forEach(notificationData => {
        //   this.notifyUser(notificationData)
        // })
        this.$bus.$emit('notification-progress-stop')
      } else {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: 'Product is not available in selected store, Please select another store.',
          action1: { label: 'OK' }
        }, { root: true })
        this.$bus.$emit('notification-progress-stop')
      }
    },
    async addToCart (product) {
      try {
        let stockData = {
          id: [{
            id: product.id,
            qty: product.qty
          }]
        }
        const localstoredata = getCookie('storelocator');
        if (localstoredata !== null && localstoredata !== '') {
          stockData['store_id'] = JSON.parse(localstoredata).shop_id
        }

        let methodData = localStorage.getItem('selected_shipping_method')
        if (methodData != null) {
          methodData = JSON.parse(methodData)
          if (methodData.method_code === 'clickandcollect' && !stockData.hasOwnProperty('store_id')) {
            this.$store.dispatch('notification/spawnNotification', {
              type: 'error',
              message: 'Please select the store from the click & collect option.',
              action1: { label: 'OK' }
            }, { root: true })
            return;
          }
        }

        // this.$bus.$emit('notification-progress-start', 'Adding to cart...')
        this.$store.dispatch('store-locators/checkStock', stockData).then(result => this.stockChecks(result, product))
      } catch (message) {
        this.notifyUser(notifications.createNotification({ type: 'error', message }))
        this.$bus.$emit('notification-progress-stop')
      }
    },
    notifyUser (notificationData) {
      this.$store.dispatch('notification/spawnNotification', notificationData, { root: true })
    }
  },
  computed: {
    ...mapGetters({
      isAddingToCart: 'cart/getIsAdding'
    }),
    isProductDisabled () {
      if (this.forceDisableBtn) {
        return true
      }
      return this.disabled || formatProductMessages(this.product.errors) !== '' || this.isAddingToCart
    }
  },
  beforeMount () {
    this.$bus.$on('product-after-removevariant', this.onAfterRemovedVariant)
  },
  beforeDestroy () {
    this.$bus.$off('product-after-removevariant')
  }
}
</script>
