<template>
  <div class="breadcrumbs container montserrat semi-bold">
    <span class="home-icon">
      <router-link to="/">
        <span>Home</span>
        <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.05882 15V9.70588H10.5882V15H15V7.94118H17.6471L8.82353 0L0 7.94118H2.64706V15H7.05882Z" fill="#2D242D" fill-opacity="0.6" />
        </svg>
      </router-link>
      <span class="arrow2" />
    </span>
    <span v-for="link in paths" v-if="link.name !== 'Default Category'" :key="link.route_link">
      <router-link :to="link.route_link">
        {{ link.name | htmlDecode }}
      </router-link>
      <span class="arrow2" />
    </span>
    <span class="cl-mine-shaft">
      {{ current | htmlDecode }}
    </span>
  </div>
</template>

<script>
import { Breadcrumbs } from '@vue-storefront/core/modules/breadcrumbs/components/Breadcrumbs.ts'

export default {
  mixins: [Breadcrumbs]
}
</script>
<style lang="scss" scoped>
.arrow2{
  &:after{
    content:'';
    border: solid 1px #000;
    border-left: 0;
    border-bottom: 0;
    width: 7px;
    height: 7px;
    display: inline-flex;
    transform: rotate(45deg);
  }
}
.breadcrumbs{
  padding-top:10px;
  padding-bottom:10px;
  font-size:16px;
  .arrow2{
    margin:0 8px !important;
  }
  span{
    display:inline-flex;
    align-items: center;
  }
  .home-icon{
    a {
      span {
        width: 0;
        height: 0;
        overflow: hidden;
        display: block;
      }
    }
    img{
      display:block;
    }
    .arrow2{
      padding-top:4px;
    }
  }
  @media (max-width: 767px) {
    font-size:14px;
  }
}
</style>
