<template>
  <div class="availability-status align-right bold" v-if="getDeliveryOptionLabel != null">
    {{ getDeliveryOptionLabel }}
  </div>
</template>
<script>
import { getCookie } from 'theme/helpers'

export default ({
  props: {
    storelocator: {
      type: [Object, Array],
      required: true
    }
  },
  computed: {
    getDeliveryOptionLabel () {
      if (typeof (this.storelocator) !== 'undefined') {
        let stores = this.storelocator;
        let [ homeDelivery, clickCollect, localStoreName, localStoreId ] = [false, false, null, '']
        const localstoredata = JSON.parse(getCookie('storelocator'));
        if (localstoredata !== null) {
          const storeName = localstoredata.name.toLowerCase()
          localStoreName = storeName.indexOf(' ') >= 0 ? storeName.split(' ').join('_') : storeName;
          localStoreId = localstoredata.name !== 'Fulfilment Crowd' ? localstoredata.shop_id : ''
        }

        if (stores.length !== undefined && stores.length > 0) {
          const fullfillment_crowd_data = stores.find(sd => sd.name === 'Fulfilment Crowd')
          let fullfillment_crowd_stock = Math.round(fullfillment_crowd_data?.stock || 0);
          if (stores.length === 1 && fullfillment_crowd_stock > 0) {
            homeDelivery = true
          } else if (stores.length >= 1 && fullfillment_crowd_stock > 0) {
            clickCollect = true
            homeDelivery = true
          } else if (localStoreId !== '') {
            const storeData = stores.filter(sd => sd.shop_id === localStoreId)
            if (storeData.length > 0) {
              clickCollect = true
            }
          } else {
            clickCollect = true
          }
        } else {
          for (let store_key of Object.keys(stores)) {
            if (localStoreName !== null && store_key === localStoreName && parseInt(stores[store_key]) > 0) {
              clickCollect = true
            } else if (store_key === 'fulfilment_crowd' && parseInt(stores[store_key]) > 0) {
              homeDelivery = true
            } else if (localStoreName === null && parseInt(stores[store_key]) > 0) {
              clickCollect = true
            }
          }
        }

        if (homeDelivery === true && clickCollect === false) {
          return 'Home Delivery';
        } else if (homeDelivery === false && clickCollect === true) {
          return 'Click & Collect Only';
        } else {
          return null;
        }
      } else {
        return null
      }
    }
  }
})
</script>
