<template>
  <div class="delivery-option">
    <div class="delivery-box">
      <label class="qty-element-label">
        {{ $t('Delivery options') }}
      </label>
      <div class="delivery-item" :class="method.method_code === 'clickandcollect' ? 'delivery-collect' : 'delivery-home'" v-for="method in shippingMethods" :key="method.method_code">
        <input type="radio" @change="addSelectedMethod(method); changeShippingMethod(); showStoreLocatorBlock();" @click="showStoreLocatorBlock()" :checked="checkShippingMethod(method)" :id="method.method_code" name="shipping_method" :value="method.method_code" :disabled="setShippingDisable(method)">
        {{ (getAndSelectMethod() === method.method_title || (getAndSelectMethod() === '' && method.default === true)) ? addSelectedMethod(method) : '' }}
        <label :for="method.method_code">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" v-if="method.method_code==='clickandcollect'">
            <path d="M4.05228 10.8401C9.39228 10.8401 14.6223 10.8401 19.9423 10.8401C20.1123 14.5901 20.3823 18.3201 16.9923 21.0001C14.5323 22.9501 11.7723 23.3501 8.90228 22.1501C6.03228 20.9501 4.37228 18.6801 4.07228 15.5701C3.92228 14.0501 4.05228 12.5101 4.05228 10.8401Z" fill="black" />
            <path d="M4.06152 8.72C4.09152 4.72 7.05152 1.39 10.9315 1C10.9315 3.55 10.9315 6.09 10.9315 8.72C8.67152 8.72 6.41152 8.72 4.06152 8.72Z" fill="black" />
            <path d="M19.9016 8.72998C17.6716 8.72998 15.4316 8.72998 13.1016 8.72998C13.1016 6.19998 13.1016 3.64998 13.1016 1.08998C16.5916 0.999975 19.9516 4.72998 19.9016 8.72998Z" fill="black" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 30 21" fill="none" v-else>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.5615 5.25H25.6043L29.6471 10.5V17.0625H26.9519C26.9519 19.2412 25.1461 21 22.9091 21C20.6721 21 18.8663 19.2412 18.8663 17.0625H10.7807C10.7807 19.2412 8.97497 21 6.73797 21C4.50096 21 2.69519 19.2412 2.69519 17.0625H0V2.625C0 1.18125 1.21283 0 2.69519 0H21.5615V5.25ZM4.94118 16.6765C4.94118 17.7018 5.76882 18.5294 6.79412 18.5294C7.81941 18.5294 8.64706 17.7018 8.64706 16.6765C8.64706 15.6512 7.81941 14.8235 6.79412 14.8235C5.76882 14.8235 4.94118 15.6512 4.94118 16.6765ZM24.4621 7.41176L27.1765 11.1176H21V7.41176H24.4621ZM21 16.6765C21 17.7018 21.8276 18.5294 22.8529 18.5294C23.8782 18.5294 24.7059 17.7018 24.7059 16.6765C24.7059 15.6512 23.8782 14.8235 22.8529 14.8235C21.8276 14.8235 21 15.6512 21 16.6765Z" fill="black" />
          </svg>
          <h2>
            {{ method.method_title }} <template v-if="method.method_code !=='clickandcollect' && parentElementID && parentElementID === 'checkout'">{{ calculateShippingAmount(method.amount) | price(storeView) }}</template>
            <span v-if="method.method_code==='clickandcollect' && !disableCollectShipping">
              <span>
                {{ (selectedStoreVal === 'Fulfilment Crowd') ? '' : selectedStoreVal }}
                <a href="#" @click.prevent="showStoreLocatorBlock('show')" class="link">{{ selectedStoreVal !== '' && selectedStoreVal !== 'Fulfilment Crowd' ? $t('change') : $t('Select Store') }}</a>
              </span>
              <span v-show="locatorDropdownStatus">
                <div class="select-wrapper relative" v-if="storelocator.length > 0">
                  <input type="text" class="form-control" v-model="townOrPostcode" @keyup="filterByTownCode()" :placeholder="$t('Enter Postcode')">
                  <ul class="postcodes-wrap" v-if="storePostCodes.length > 0">
                    <li v-for="(postCode, pindex) in storePostCodes" :key="pindex" @click="searchStore(postCode)">{{ postCode }}</li>
                  </ul>
                  <div class="site-loader-wrap" v-if="show_loader">
                    <div class="site-ajax-loader" />
                  </div>
                  <div v-if="errorMsg == '' && !show_loader" class="locator-wrap">
                    <template v-for="(store, index) in printLocatorData">
                      <div class="store-data-block" v-if="store.name !== 'Fulfilment Crowd' || !homeDelivery || (homeDelivery && store.shop_id != homeDelivery.shop_id)" :class="selectedStoreVal === store.name ? 'selected' : ''" :key="index" @click.prevent="changeYourStore(store)">
                        <div class="store-details">
                          <span class="store-name"><strong>{{ getStoreName(store) }}</strong></span>
                          <span v-if="product" :class="showStoreAvailabity(store, 'class')">{{ showStoreAvailabity(store, 'msg') }}</span>
                        </div>
                        <div class="store-address">
                          {{ store.address }}
                        </div>
                      </div>
                    </template>
                  </div>
                  <div v-if="errorMsg != ''"> {{ errorMsg }} </div>
                </div>
              </span>
            </span>
            <span v-html="getMethodDescription(method)" />
          </h2>
        </label>
      </div>
    </div>
  </div>
</template>

<script>
import rootStore from '@vue-storefront/core/store'
import { mapState, mapGetters } from 'vuex'
import { Shipping } from '@vue-storefront/core/modules/checkout/components/Shipping'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import config from 'config'
import postcodes from 'node-postcodes.io'
import { getCookie, setCookie, eraseCookie } from 'theme/helpers'
import intersectionBy from 'lodash-es/intersectionBy'

export default {
  data () {
    return {
      townOrPostcode: '',
      storePostCodes: [],
      show_loader: false,
      errorMsg: '',
      filteredStoreList: [],
      selectedMethod: 'clickandcollect',
      locatorDropdownStatus: false,
      selectedStoreVal: '',
      storelocatorId: 0,
      homeDelivery: null,
      parentElementID: '',
      disableHomeShipping: false,
      disableCollectShipping: false,
      disableShippingText: 'not available on this product'
    }
  },
  mixins: [Shipping],
  watch: {
    '$route' () {
      this.disableCollectShipping = false;
      this.disableHomeShipping = false;
      this.onLoadSelectStore()
      this.fetchStoreList()
      this.updateShippingMethod()
    },
    product: {
      handler () {
        this.fetchStoreList()
      }
    },
    storelocator: {
      handler () {
        let homeStore = this.storelocator.find(store => store.name === 'Fulfilment Crowd')
        let collectStores = this.storelocator.filter(s => s.stock > 0 && s.name !== 'Fulfilment Crowd')
        this.homeDelivery = homeStore;
        if (this.parentElementID !== 'checkout') {
          let homeIntQty = parseInt(homeStore?.stock || 0)
          this.disableCollectShipping = (collectStores.length === 0);
          this.disableHomeShipping = (homeIntQty <= 0);
        }
      }
    },
    selectedMethod: {
      handler () {
        if (this.selectedMethod !== 'clickandcollect') {
          this.changeYourStore(this.homeDelivery)
        } else {
          eraseCookie('storelocator');
          this.selectedStoreVal = ''
        }
      }
    }
  },
  props: {
    product: {
      type: Object,
      required: false,
      default: () => {}
    },
    isActive: {
      type: Boolean,
      required: false
    }
  },
  computed: {
    ...mapState({
      currentUser: state => state.user.current,
      cartTotal: state => state.cart.platformTotals
    }),
    ...mapGetters({
      storelocator: 'store-locators/getStoreLocatorsList'
    }),
    printLocatorData () {
      return this.filteredStoreList.length > 0 ? this.filteredStoreList : this.storelocator;
    },
    storeView () {
      return currentStoreView()
    },
    shippingMethods () {
      return this.parentElementID === 'checkout' ? rootStore.getters['shipping/shippingMethods'] : config.shipping.methods;
    }
  },
  methods: {
    async filterByTownCode () {
      if (this.townOrPostcode.length > 2) {
        this.errorMsg = '';
        let postcodeResult = await postcodes.autocomplete(this.townOrPostcode)
        this.storePostCodes = postcodeResult.result ? postcodeResult.result : []
      } else {
        this.filteredStoreList = []
        this.storePostCodes = []
      }
    },
    async searchStore (store) {
      this.show_loader = true
      this.townOrPostcode = store
      this.resturnStoreList = []
      this.storePostCodes = []
      let postcodeResult = await postcodes.lookup(this.townOrPostcode)
      if (postcodeResult.status === 200) {
        await this.$store.dispatch('store-location/searchStoreList', { latitude: postcodeResult.result.latitude, longitude: postcodeResult.result.longitude });
        this.resturnStoreList = this.$store.getters['store-location/getStoreList'] || [];
      } else {
        this.errorMsg = 'No Stores Found!'
      }
      if (this.resturnStoreList.length > 0) {
        this.filteredStoreList = intersectionBy(this.storelocator, this.resturnStoreList, 'name');
      }

      this.show_loader = false
    },
    calculateShippingAmount (price) {
      if (this.cartTotal && this.cartTotal.base_shipping_discount_amount) {
        price = price - this.cartTotal.base_shipping_discount_amount
      }
      return price
    },
    checkShippingMethod (method) {
      return (this.getAndSelectMethod() === method.method_title || (this.getAndSelectMethod() === '' && method.default === true)) ? 'checked' : '';
    },
    setShippingDisable (method) {
      if ((this.disableHomeShipping && method.carrier_code !== 'clickandcollect') ||
        (this.disableCollectShipping && method.carrier_code === 'clickandcollect')) {
        return true;
      }
      return false;
    },
    updateShippingMethod () {
      if (typeof window !== 'undefined' && typeof window.localStorage !== 'undefined' && localStorage.getItem('selected_shipping_method')) {
        const method = JSON.parse(localStorage.getItem('selected_shipping_method'));
        this.addSelectedMethod(method)
        this.changeShippingMethod()
      }
    },
    showStoreLocatorBlock (param) {
      this.locatorDropdownStatus = false
      if (typeof param === 'string' && param === 'show') {
        this.locatorDropdownStatus = true
        let method = this.shippingMethods.find(shipping => shipping.method_code === 'clickandcollect')
        this.addSelectedMethod(method)
        this.checkShippingMethod(method)
        this.changeShippingMethod()
      }
      if (this.getAndSelectMethod() === 'Click And Collect') {
        this.locatorDropdownStatus = true
      }
    },
    changeShippingMethod (paramStoreID) {
      let currentShippingMethod = this.getCurrentShippingMethod()
      if (typeof window !== 'undefined' && typeof window.localStorage !== 'undefined' && localStorage.getItem('selected_shipping_method') !== null) {
        currentShippingMethod = JSON.parse(localStorage.getItem('selected_shipping_method'));
      }
      if (currentShippingMethod) {
        this.shipping = Object.assign(this.shipping, { shippingCarrier: currentShippingMethod.carrier_code })
        if (this.shipping.shippingMethod === 'clickandcollect') {
          let flag = false;
          if (paramStoreID !== undefined) {
            this.storelocatorId = paramStoreID
            flag = true;
          } else {
            const localstoredata = getCookie('storelocator');
            if (localstoredata !== null && localstoredata !== '') {
              const storeJsonData = JSON.parse(localstoredata);
              this.storelocatorId = storeJsonData.shop_id;
              flag = true;
            }
          }
          if (flag) {
            const shippingInfoResponse = this.$bus.$emit('checkout-after-shippingMethodChanged', {
              country: this.shipping.country,
              method_code: currentShippingMethod.method_code,
              carrier_code: currentShippingMethod.carrier_code,
              payment_method: (this.paymentMethod[0]) ? this.paymentMethod[0].code : '',
              extension_attributes: { 'storelocator_id': this.storelocatorId }
            })
          }
        } else {
          this.townOrPostcode = null
          this.filteredStoreList = []
          const shippingInfoResponse = this.$bus.$emit('checkout-after-shippingMethodChanged', {
            country: this.shipping.country,
            method_code: currentShippingMethod.method_code,
            carrier_code: currentShippingMethod.carrier_code,
            payment_method: (this.paymentMethod[0]) ? this.paymentMethod[0].code : ''
          })
        }
      }
    },
    checkStockInStore (storedata) {
      return (this.product && storedata.stock) ? parseInt(storedata.stock) : 0
    },
    showStoreAvailabity (storedata, type = 'msg') {
      const stockCount = this.checkStockInStore(storedata)
      const noStockLable = (type === 'msg') ? this.$t('Out Of Stock') : 'no-stock';
      if (stockCount <= 0) {
        return noStockLable;
      }
      const lowStockLable = (type === 'msg') ? this.$t('Low Stock') : 'low-stock';
      const availableStockLable = (type === 'msg') ? this.$t('Available for collection') : 'in-stock';
      return (stockCount > 0 && stockCount <= 2) ? lowStockLable : availableStockLable;
    },
    getStoreName (storeData) {
      return storeData.name.trim()
    },
    stockChecks (result, products) {
      let response = JSON.parse(result.result);
      if (result.code === 200) {
        let pName = [];
        for (let i in products) {
          if (response[products[i].id] === 0) {
            pName.push(products[i].name);
          }
        }
        if (pName.length > 0) {
          this.$store.dispatch('notification/spawnNotification', {
            type: 'error',
            message: pName.join(', ') + ' is not available in the requested quantity for the selected store so it cannot be added to your cart.',
            action1: { label: 'OK' }
          }, { root: true })
        }
        this.$bus.$emit('notification-progress-stop')
      }
    },
    changeYourStore (store) {
      if (store == null || !store.hasOwnProperty('shop_id')) {
        return;
      }
      this.storePostCodes = []

      if (this.$parent.$el.id === 'product') {
        this.$parent.disableQtyBtn(store.stock)
      }

      this.storelocatorId = store.shop_id
      this.changeShippingMethod(this.storelocatorId)
      eraseCookie('storelocator');
      setCookie('storelocator', JSON.stringify(store));
      if (this.currentUser) {
        const changeStoreName = store.name !== 'Fulfilment Crowd' ? store.name : 'Store Locator'
        this.$bus.$emit('change-store-text', changeStoreName)
      }

      if (this.$parent.$el.id === 'product') {
        this.$parent.disableAddToCartBtn(parseFloat(store.stock) <= 0)
      }

      this.selectedStoreVal = store.name;
      this.locatorDropdownStatus = false;

      // If cart product is not availble in store check on checkout page
      if (this.$parent.$el.id === 'checkout') {
        this.$parent.disablePaymentBox(false)
        const cartData = this.$store.state.cart.cartItems
        let self = this;
        let ids = [];
        cartData.map((cart, i) => {
          ids.push({
            id: cart.id,
            qty: cart.qty
          })
        })

        let stockData = {
          id: ids,
          store_id: this.storelocatorId
        }
        self.$store.dispatch('store-locators/checkStock', stockData).then(result => this.stockChecks(result, cartData))
      }
    },
    getMethodDescription (methodData) {
      let desc = '';
      if (this.disableHomeShipping && methodData.carrier_code !== 'clickandcollect') {
        return this.disableShippingText
      }
      if (this.disableCollectShipping && methodData.carrier_code === 'clickandcollect') {
        return this.disableShippingText
      }

      if (methodData.method_title === 'Express Delivery') {
        desc = this.$t('expect delivery in 1-2 business days')
      }
      if (methodData.method_title === 'Standard Delivery') {
        desc = this.$t('expect delivery in 2-3 business days');
      }

      return desc;
    },
    addSelectedMethod (methodData) {
      if (typeof window !== 'undefined' && typeof window.localStorage !== 'undefined') {
        this.checkoutShippingDetails.shippingMethod = methodData.method_code
        this.checkoutShippingDetails.shippingCarrier = methodData.method_code
        const shippingData = this.checkoutShippingDetails
        this.$bus.$emit('checkout-after-shippingset', shippingData)
        localStorage.removeItem('selected_shipping_method');
        localStorage.setItem('selected_shipping_method', JSON.stringify(methodData));
        if (methodData.method_code !== 'clickandcollect' && this.$parent.$el && this.$parent.$el.id !== undefined && this.$parent.$el.id === 'product') {
          this.$parent.disableAddToCartBtn(false)
          this.locatorDropdownStatus = false
        }
        this.selectedMethod = methodData.method_code
      }
    },
    getAndSelectMethod () {
      if (typeof window !== 'undefined' && typeof window.localStorage !== 'undefined' && localStorage.getItem('selected_shipping_method') !== null) {
        if (this.disableHomeShipping) {
          let collectMethod = this.shippingMethods.find(shipping => shipping.method_code === 'clickandcollect')
          this.selectedMethod = collectMethod.method_code
          return collectMethod.method_title;
        }
        if (this.disableCollectShipping) {
          let homeMethod = this.shippingMethods.find(shipping => shipping.method_code !== 'clickandcollect')
          this.selectedMethod = homeMethod.method_code
          return homeMethod.method_title;
        }
        const get_selected = JSON.parse(localStorage.getItem('selected_shipping_method'));
        this.selectedMethod = get_selected.method_code
        return get_selected.method_title
      }
      return ''
    },
    onLoadSelectStore () {
      const localstoredata = getCookie('storelocator');
      let storeObj = {}
      if (localstoredata !== null && localstoredata !== '') {
        const storeJsonData = JSON.parse(localstoredata);
        this.selectedStoreVal = storeJsonData.name;
      }
      if (storeObj) {
        this.changeYourStore(storeObj)
      }
    },
    async fetchStoreList () {
      if (this.product) {
        await this.$store.dispatch('store-locators/storeList', this.product.id);
      } else {
        await this.$store.dispatch('store-locators/list', {});
      }
    }
  },
  async mounted () {
    this.fetchStoreList();
    this.getAndSelectMethod();
    this.onLoadSelectStore();
    if (localStorage.getItem('selected_shipping_method') == null) {
      let method = this.shippingMethods.find(shipping => shipping.method_code === this.selectedMethod)
      if (method) {
        localStorage.setItem('selected_shipping_method', JSON.stringify(method));
      }
    }
    this.updateShippingMethod()
    this.parentElementID = this.$parent.$el.id;
  }
}
</script>

<style lang="scss" scoped>
@import "~theme/css/variables/grid";
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$black: color(black);
$blue: color(blue);
$red: color(red);
$gray-979797: color(gray-979797);
$gray-e3e3e3: color(gray-e3e3e3);
$puerto-rico: color(puerto-rico);
$orange: color(orange);

label {
  margin: 5px 0 10px;
  font-size: 14px;
  display: block;
}

.delivery-option {
  .delivery-box {
    .delivery-item {
      margin-bottom: 20px;
      border:solid 1px #828282;
      display:flex;
      align-items:center;
      position:relative;
      h2 {
        font-size: 16px;
        margin: 0 6px;
        font-weight: 600;
        max-width: 80%;
        span {
          font-weight: normal;
          font-size: 12px;
          display:block;
          .link {
            border-bottom: 1px solid $blue;
            color: $blue;
          }
        }
        select{
          width: 100%;
          height: inherit;
          line-height: 1.3;
          padding: 10px;
          margin: 10px 0;
          font-family: arial;
        }
      }
      input[type="radio"] {
        position: absolute;
        top: 3px;
        left: 0;
        opacity: 0;
        &[disabled="disabled"] + label {
          opacity: 0.5;
          background: $gray-e3e3e3;
          cursor: not-allowed;
          pointer-events: none;
          &:after {
            display: none;
          }
          svg {
            path {
              fill: $black;
            }
          }
        }
      }
      input[type="radio"] + label {
        position: relative;
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        margin: 0;
        cursor: pointer;
        &:after {
          position: absolute;
          content: "";
          transform: translateY(-50%);
          right: 5px;
          top: 50%;
          background-image: url(/assets/icons/icon-uncheck.png);
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: auto auto;
          height: 20px;
          width: 20px;
          appearance: none;
        }
      }
      input[type="radio"]:checked {
        + label {
          svg {
            path {
              fill: $red;
            }
          }
           &:after {
              background-image: url(/assets/icons/icon-checked.png);
            }
          }
        }
        .select-wrapper {
          margin-left: -25px;
          .locator-wrap {
            max-height: 222px;
            overflow: auto;
            margin-bottom: 7px;
            margin-top: 10px;
          }
          input {
            height: 35px;
            border: 1px solid #979797 !important;
            border-left: none;
            border-right: none;
            font-size: 13px;
            width: 100%;
            margin-top: 10px;
            padding: 0 10px;
            @media (max-width: 767px) {
              font-size: 16px;
              line-height: 1.35;
            }
          }
          .store-data-block {
            border: 1px solid #ddd;
            background-color: #fff;
            margin-bottom: 10px;
            padding: 10px;
            display: flex;
            font-size: 12px;
            span {
              font-size: 12px;
            }
            &:last-child {
              margin-bottom: 0;
            }
            &.selected {
              border-color: $red;
            }
            .store-details {
              flex: 0 0 50%;
              max-width: 50%;
              span {
                display: flex;
              }
            }
            .store-address {
              flex: 0 0 50%;
              max-width: 50%;
              border-left: 1px solid #ddd;
              padding-left: 10px;
              padding-right: 10px;
              margin-left: 10px;
              display: flex;
              align-items: center;
            }
            span{
              &:before {
                display: inline-block;
                vertical-align: top;
                font-size: 16px;
                line-height: normal;
                margin-right: 3px;
                width: 16px;
                height: 15px;
                content: "";
                background-size: 100% auto;
                background-repeat: no-repeat;
              }
            }
            .in-stock {
              color: $puerto-rico;
              &:before {
                background-image: url('/assets/check.svg');
                background-position: 0 2px;
              }
            }
            .no-stock {
              color: $red;
              &:before {
                background-image: url('/assets/error.svg');
              }
            }
            .low-stock {
              color: $orange;
              &:before {
                background-image: url('/assets/warning.svg');
              }
            }
            .store-name {
              margin-bottom: 5px;
            }
          }
        }
        &.delivery-collect {
          label {
            svg {
              align-self: flex-start;
              min-width: 24px;
              min-height: 24px;
            }
          }
          input[type="radio"]+label {
            &:after {
              top: 27px;
            }
          }
        }
          .postcodes-wrap {
            li {
              margin: 5px 0;
              font-size: 12px;
              &:hover{
                text-decoration: underline;
              }
            }
            position: absolute;
            background: #fff;
            width: 100%;
            border-right: 1px solid $gray-979797;
            border-bottom: 1px solid $gray-979797;
            padding: 0 15px;
            border-left: 1px solid $gray-979797;
            max-height: 150px;
            overflow-y: scroll;
        }
        .site-loader-wrap {
          margin: 50px 0
        }
      }

    }
  }
</style>
