<template>
  <div @click="$emit('change', variant)">
    <button
      class="relative pointer generic-selector"
      :class="{'active': isActive}"
      :aria-label="'Select ' + variant.label"
    />
    <span>
      {{ variant.label }}
    </span>
  </div>
</template>

<script>
import filterMixin from 'theme/mixins/filterMixin.ts'

export default {
  mixins: [filterMixin]
}
</script>

<style lang="scss" scoped>
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $gray-979797: color(gray-979797);

  .generic-selector {
    width: 20px;
    height: 20px;
    border: 1px solid $gray-979797;
    background: transparent;
    margin-right: 15px;

    &.active {
      background: #039500 url(/assets/icons/true-icon.png) no-repeat center;
    }
  }
</style>
