<template>
  <modal class="my-account-menu-popup" name="modal-myaccountmenu" :width="445">
    <div slot="header" class="align-center">
      {{ $t('SELECT') }}
    </div>
    <div slot="content">
      <div class="account-menu">
        <nav class="static-menu static-menu-left">
          <h1 class="h2 bold">
            {{ currentUser.firstname }}{{ $t('’s PetCLUB') }}
          </h1>
          <h2 class="bold">
            {{ $t('PetCLUB') }}
          </h2>
          <ul class="m0 p0">
            <li
              :class="page.class"
              v-for="(page, index) in navigation"
              :key="index"
              @click="notify(page.title)"
            >
              <router-link
                :to="localizedRoute(page.link)"
                @click.native="updateMobileMenuTxt(page.title, page.class, page.icon)"
              >
                <span v-html="page.icon" />{{ page.title }}
              </router-link>
            </li>
          </ul>
          <div class="my_account-username hidden-md">
            <p class="flex">
              <label v-if="currentUser">{{ currentUser.firstname + ' ' +currentUser.lastname }}</label>
              <label v-else>{{ $t('Guest') }}</label>
              <a href="#" @click.prevent="logout">{{ $t('Signout') }}</a>
            </p>
          </div>
        </nav>
        <!-- <nav class="static-menu">
          <ul class="m0 p0">
            <li v-for="(page, index) in navigation" :key="index" @click="notify(page.title)">
              <router-link :to="localizedRoute(page.link)" @click.native="updateMobileMenuTxt(page.title, page.class)">
                <span class="menu-icon" v-html="page.icon" />
                <span class="relative pl30 block">{{ page.title }}</span>
              </router-link>
            </li>
          </ul>
        </nav> -->
      </div>
    </div>
  </modal>
</template>
<script>
import i18n from '@vue-storefront/i18n'
import Modal from 'theme/components/core/Modal'

export default {
  data () {
    return {
      currentUser: Object.assign({}, this.$store.state.user.current),
      navigation: [
        {
          title: this.$t('Points'),
          link: '/my-account/petclub-points',
          class: 'petclub-points-icon',
          icon: '<svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.99 2C6.47 2 2 6.48 2 12C2 17.52 6.47 22 11.99 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 11.99 2ZM16.23 18L12 15.45L7.77 18L8.89 13.19L5.16 9.96L10.08 9.54L12 5L13.92 9.53L18.84 9.95L15.11 13.18L16.23 18Z" fill="#8B8B8B"/></svg>'
        },
        {
          title: this.$t('Vouchers'),
          link: '/my-account/petclub-vouchers',
          class: 'petclub-vouchers-icon',
          icon: '<svg width="23" height="19" viewBox="0 0 23 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.94 9.21001C20.94 8.05001 21.82 7.11001 22.94 6.99001V1.73001C22.94 0.890006 22.26 0.210007 21.42 0.210007H2.45999C1.61999 0.210007 0.940002 0.890006 0.940002 1.73001V6.97001C2.18 6.97001 3.19 7.98001 3.19 9.22001C3.19 10.46 2.18 11.47 0.940002 11.47V16.71C0.940002 17.55 1.61999 18.23 2.45999 18.23H21.42C22.26 18.23 22.94 17.55 22.94 16.71V11.45C21.82 11.3 20.94 10.36 20.94 9.21001ZM13.02 14.02C13.02 14.2 12.87 14.35 12.69 14.35H11.19C11.01 14.35 10.86 14.2 10.86 14.02V12.39C10.86 12.21 11.01 12.06 11.19 12.06H12.69C12.87 12.06 13.02 12.21 13.02 12.39V14.02ZM13.02 10.02C13.02 10.2 12.87 10.35 12.69 10.35H11.19C11.01 10.35 10.86 10.2 10.86 10.02V8.39001C10.86 8.21001 11.01 8.06001 11.19 8.06001H12.69C12.87 8.06001 13.02 8.21001 13.02 8.39001V10.02ZM13.02 6.02001C13.02 6.20001 12.87 6.35001 12.69 6.35001H11.19C11.01 6.35001 10.86 6.20001 10.86 6.02001V4.39001C10.86 4.21001 11.01 4.06001 11.19 4.06001H12.69C12.87 4.06001 13.02 4.21001 13.02 4.39001V6.02001Z" fill="#8B8B8B"/></svg>'
        },
        {
          title: this.$t('Account'),
          link: '#',
          class: 'account-title'
        },
        {
          title: this.$t('Orders'),
          link: '/my-account/orders',
          class: 'orders-icon',
          icon: '<svg width="17" height="19" viewBox="0 0 17 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.67 0.550121C14.14 -0.159879 13.67 -0.149879 13.17 0.560121C12.77 1.12012 12.34 1.16012 11.92 0.580121C11.45 -0.0598791 10.97 -0.269879 10.43 0.520121C9.93 1.25012 9.45 1.07012 9 0.470121C8.55 -0.139879 8.13 -0.169879 7.66 0.460121C7.24 1.04012 6.75 1.28012 6.24 0.530121C5.72 -0.229879 5.23999 -0.109879 4.75999 0.560121C4.34999 1.13012 3.90999 1.16012 3.50999 0.570121C2.93999 -0.259879 2.44 -0.089879 1.92 0.610121C1.55 1.12012 1.17 1.17012 0.739998 0.660121C0.569998 0.460121 0.42 0.180121 0 0.200121C0 6.19012 0 12.1801 0 18.4401C0.9 17.2101 1.64 17.1901 2.46 18.2501C2.89 18.8001 3.18 18.1201 3.38 17.8801C3.9 17.2601 4.35 17.2101 4.82 17.8901C5.31 18.5901 5.76 18.4801 6.22 17.8601C6.65 17.2701 7.09 17.1701 7.56 17.8201C8.05 18.5101 8.55 18.5801 9.07 17.8401C9.51 17.2101 9.97 17.2101 10.41 17.8401C10.93 18.5901 11.41 18.5001 11.9 17.8101C12.3 17.2401 12.74 17.2001 13.15 17.7901C13.71 18.6101 14.22 18.4601 14.74 17.7501C15.11 17.2601 15.49 17.1901 15.92 17.7101C16.09 17.9101 16.25 18.1901 16.62 18.1801C16.62 12.1701 16.62 6.16012 16.62 0.130121C15.9 0.380121 15.53 1.71012 14.67 0.550121ZM3.61 4.52012C6.76 4.55012 9.91 4.55012 13.05 4.52012C13.73 4.51012 13.98 4.71012 13.98 5.42012C13.98 6.17012 13.73 6.44012 12.99 6.42012C11.44 6.38012 9.87999 6.41012 8.32999 6.41012C6.77999 6.41012 5.22 6.38012 3.67 6.42012C2.92 6.44012 2.68 6.16012 2.68 5.42012C2.68 4.70012 2.94 4.51012 3.61 4.52012ZM13.98 9.20012C13.98 9.83012 13.87 10.1901 13.11 10.1701C11.52 10.1201 9.92 10.1601 8.32 10.1601C6.72 10.1601 5.13 10.1301 3.53 10.1701C2.76 10.1901 2.68 9.81012 2.67 9.19012C2.67 8.56012 2.78 8.21012 3.53 8.22012C6.72 8.25012 9.91 8.26012 13.1 8.22012C13.9 8.21012 13.98 8.58012 13.98 9.20012ZM12.93 13.8601C11.38 13.8301 9.82 13.8501 8.27 13.8501C6.76 13.8501 5.25 13.8301 3.73 13.8601C3.08 13.8701 2.64 13.8201 2.67 12.9701C2.69 12.2301 2.92 11.9601 3.66 11.9701C6.77 12.0001 9.87 12.0001 12.98 11.9701C13.72 11.9601 13.96 12.2201 13.98 12.9701C14.01 13.8101 13.59 13.8701 12.93 13.8601Z" fill="#8B8B8B"/></svg>'
        },
        {
          title: this.$t('Addresses'),
          link: '/my-account/shipping-details',
          class: 'shipping-details-icon',
          icon: '<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 9.5825L9.29 0.2925C9.68 -0.0975 10.31 -0.0975 10.7 0.2925L20 9.5825H18V17.5825C18 18.1325 17.55 18.5825 17 18.5825H12V11.5825H8V18.5825H3C2.45 18.5825 2 18.1325 2 17.5825V9.5825H0V9.5825Z" fill="#8B8B8B"/></svg>'
        },
        {
          title: this.$t('Payment methods'),
          link: '/my-account/payment-methods',
          class: 'payment-methods-icon',
          icon: '<svg width="23" height="19" viewBox="0 0 23 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.62 0H2.49998C1.23998 0 0.249985 1.01 0.249985 2.26L0.23999 15.85C0.23999 17.11 1.24998 18.11 2.49998 18.11H20.62C21.88 18.11 22.88 17.1 22.88 15.85V2.26C22.88 1.01 21.87 0 20.62 0ZM20.62 15.85H2.49998V9.06H20.62V15.85ZM20.62 4.53H2.49998V2.26H20.62V4.53Z" fill="#8B8B8B"/></svg>'
        },
        { title: this.$t('Stores'),
          link: '/my-account/stores',
          class: 'stores-icon',
          icon: '<svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.76249 2.26018C7.18249 2.26018 4.59249 2.22018 2.01249 2.28018C1.04249 2.30018 0.972487 1.86018 0.982487 1.10018C0.992487 0.390183 1.05249 -0.00981689 1.96249 0.000183109C7.25249 0.0401831 12.5325 0.0401831 17.8225 0.000183109C18.7525 -0.00981689 18.7725 0.430183 18.7925 1.12018C18.8125 1.90018 18.7025 2.31018 17.7525 2.29018C15.0925 2.22018 12.4325 2.26018 9.76249 2.26018Z" fill="#8B8B8B"/><path d="M19.0525 4.73017C18.9225 3.55017 18.3225 3.28017 17.2725 3.30017C14.8525 3.34017 12.4225 3.31017 10.0025 3.32017C7.4125 3.32017 4.8325 3.31017 2.2425 3.33017C1.7125 3.34017 1.0125 3.20017 0.882504 4.02017C0.532504 6.11017 -0.157494 8.16017 0.0325057 10.3302C0.0525057 10.6002 -0.0774943 11.0302 0.282506 11.0602C1.30251 11.1402 0.992503 11.8802 1.0025 12.4202C1.0325 13.8602 1.0525 15.2902 1.0025 16.7302C0.972503 17.5102 1.1825 17.8002 2.0225 17.7902C5.0625 17.7402 8.1025 17.7402 11.1425 17.7902C12.0025 17.8002 12.1925 17.4702 12.1425 16.7102C12.0925 15.9702 12.1325 15.2302 12.1325 14.4902C12.1325 10.9002 12.1325 10.9202 15.7325 11.1002C16.3925 11.1302 16.5725 11.3502 16.5625 11.9702C16.5325 13.6102 16.5925 15.2502 16.5325 16.8902C16.5025 17.7702 16.9625 17.8002 17.6025 17.7602C18.1925 17.7302 18.8525 17.9402 18.8125 16.9102C18.7425 15.2702 18.7825 13.6302 18.8025 11.9902C18.8025 11.6602 18.6425 11.1602 19.2225 11.1402C19.9325 11.1102 19.8125 10.6302 19.8425 10.1802C19.9525 8.31017 19.2625 6.55017 19.0525 4.73017ZM6.4725 15.5302C3.2125 15.5302 3.2525 15.5302 3.2325 12.2602C3.2225 11.3302 3.4925 11.0502 4.4125 11.1002C5.9325 11.1702 7.4525 11.1502 8.9725 11.1102C9.6325 11.0902 9.89251 11.2502 9.92251 11.9902C10.0425 15.5302 10.0625 15.5302 6.4725 15.5302Z" fill="#8B8B8B"/></svg>'
        },
        // {
        //   title: this.$t('Subscriptions'),
        //   link: '/my-account/newsletter',
        //   class: 'newsletter-icon',
        //   icon: '<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 0.119998C5.03 0.109998 1.00001 4.14 0.990009 9.11C0.980009 14.08 5.01 18.11 9.98 18.12C14.09 18.13 17.68 15.35 18.71 11.37H16.37C15.13 14.88 11.27 16.73 7.76 15.48C4.25 14.24 2.4 10.38 3.65 6.87C4.6 4.17 7.15001 2.37 10.02 2.37C11.81 2.37 13.52 3.09 14.77 4.37L11.15 7.99H19V0.119998L16.36 2.76C14.67 1.07 12.38 0.119998 10 0.119998Z" fill="#8B8B8B"/></svg>'
        // },
        {
          title: this.$t('Favourites'),
          link: '/my-account/favourites',
          class: 'favourites-icon',
          icon: '<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 5.52001C0 2.54001 2.41999 0.120006 5.39999 0.120006C5.42999 0.120006 5.47 0.120006 5.5 0.120006C7.22 0.110006 8.86 0.840006 10 2.12001C11.14 0.840006 12.78 0.110006 14.5 0.120006C17.48 0.0600065 19.94 2.44001 20 5.42001C20 5.45001 20 5.49001 20 5.52001C20 10.88 13.62 14.92 10 18.12C6.39 14.89 0 10.88 0 5.52001Z" fill="#8B8B8B"/></svg>'
        },
        {
          title: this.$t('My profile'),
          link: '/my-account',
          class: 'my-profile-icon',
          icon: '<svg width="17" height="19" viewBox="0 0 17 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.47 10.03C10.99 10.03 13.04 7.98 13.04 5.46V4.69C13.04 2.17 10.99 0.119995 8.47 0.119995C5.95 0.119995 3.89999 2.17 3.89999 4.69V5.45C3.89999 7.98 5.95 10.03 8.47 10.03Z" fill="#8B8B8B"/><path d="M14.05 12.3C10.46 11.31 6.47 11.31 2.89 12.3C1.24 12.76 0.0899963 14.27 0.0899963 15.98V18.42H16.86V15.98C16.86 14.27 15.7 12.76 14.05 12.3Z" fill="#8B8B8B"/></svg>'
        }
      ]
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.$bus.$emit('modal-show', 'modal-myaccountmenu')
      this.$store.commit('ui/setOverlay', false)
    })
  },
  methods: {
    notify (title) {
      if (title === 'My loyalty card' || title === 'My product reviews') {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'warning',
          message: this.$t('This feature is not implemented yet! Please take a look at https://github.com/DivanteLtd/vue-storefront/issues for our Roadmap!'),
          action1: { label: this.$t('OK') }
        })
      }
    },
    updateMobileMenuTxt (mobilemenutxt, mobilemenuclass, mobilemenuicon) {
      this.$bus.$emit('my-account-menu-clicked', mobilemenutxt, mobilemenuclass, mobilemenuicon);
      this.$bus.$emit('modal-hide', 'modal-myaccountmenu')
    },
    async logout () {
      await this.$store.dispatch('user/logout', {})
      this.$router.push(this.localizedRoute('/'))
      this.$store.commit('ui/setSubmenu', { depth: false })
    }
  },
  components: {
    Modal
  }
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$gray-666666: color(gray-666666);
$gray-E5E5E5: color(gray-E5E5E5);
$cyan-67B6C3: color(cyan-67B6C3);

.modal {
  &.my-account-menu-popup {
    .modal-backdrop {
      background-color: rgba(0,0,0,.4);
    }

    .modal-container {
      height: auto;
      max-width: 445px;
      border-radius: 0;
      width: 90% !important;
      top: 50%;
      left: 50%;
      right: auto;
      transform: translate(-50%, -50%);
    }

    .modal-header {
      background-color: transparent;
      padding: 20px 25px;
      position: relative;
      margin: 0;
      border-bottom: 1px solid $gray-E5E5E5;
      text-align: center;
      justify-content: center;
      top: 0;
      height: auto;
      font-weight: 700;
      font-size: 16px;

      .modal-close {
        color: $color-primary;
        position: absolute;
        right: 25px;
        top: 14px;
      }
    }

    .modal-content {
      padding: 0;
      .static-menu{
        width:100%;
        ul{
          li{
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            a{
              display:block;
              padding:15px 0;
              font-size: 14px;
              color: $gray-666666;
              &:after{
                display:none;
              }
              .menu-icon {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                line-height: 0;
                left: 0;
                svg {
                  path {
                    transition: all 0.5s ease 0s;
                  }
                }
              }
              &:hover{
                color: $cyan-67B6C3;
                .menu-icon {
                  svg {
                    path {
                      fill: $cyan-67B6C3;
                      &.stroke-color {
                        stroke: $cyan-67B6C3;
                      }
                    }
                  }
                }
              }
              &.router-link-exact-active{
                color: $cyan-67B6C3;
                font-weight:600;
                .menu-icon {
                  svg {
                    path {
                      fill: $cyan-67B6C3;
                      &.stroke-color {
                        stroke: $cyan-67B6C3;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
</style>
