<template>
  <div class="notifications fixed">
    <transition-group name="fade-in-down">
      <div
        class="notification mt30 border-box cl-white"
        v-for="(notification, index) in notifications"
        :key="`${notification.type}_${index}`"
        :class="notification.type"
      >
        <div
          @click="execAction(notification.action1, index)"
          class="message pb15"
          data-testid="notificationMessage"
        >
          {{ notification.message }}
        </div>
        <div class="actions">
          <div
            class="py10 px20 pointer weight-400 action-border notification-action uppercase"
            :class="`border-${notification.type}`"
            id="notificationAction1"
            data-testid="notificationAction1"
            @click="execAction(notification.action1, index)"
          >
            {{ notification.action1.label }}
          </div>
          <div
            class="py10 px20 pointer weight-400 notification-action uppercase"
            id="notificationAction2"
            data-testid="notificationAction2"
            @click="execAction(notification.action2, index)"
            v-if="notification.action2"
          >
            {{ notification.action2.label }}
          </div>
        </div>
      </div>
    </transition-group>
  </div>
</template>

<script>
import { Notification } from '@vue-storefront/core/modules/notification/components/Notification'

export default {
  mixins: [Notification],
  methods: {
    execAction (action, index) {
      if (action.action) {
        // for backward compatibility
        if (action.action === 'close') {
          this.$store.dispatch('notification/removeNotification', index)
        } else {
          action.action()
        }
      }
      this.$store.dispatch('notification/removeNotification', index)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/base/global_vars';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$z-index-notification: map-get($z-index, notification);
$color-error: color(error);
$color-success: color(success);
$color-warning: color(warning);
$color-info: color(accent);
$color-action: color(black);
$white: color(white);
$red: color(red);

.notifications {
  top: 50px;
  right: 50px;
  width: 320px;
  z-index: 10002;

  @media (max-width: 64em) {
    width: auto;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;

    .fade-in-down-enter,
    .fade-in-down-leave-to {
      transform: translateY(100%);
    }
  }
}
.notification {
  box-shadow: 0px 0px 35px -5px rgba($color-action, .7);

  &:first-child  {
    margin-top: 0;
  }
}

.actions {
  display: flex;
  justify-content: space-between;

  .notification-action {
    background: rgba($color-action, .2);
    line-height: 100%;
    padding: 10px 5px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 32px;
    text-transform: none;
    text-align: center;
  }

  #notificationAction1 {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  #notificationAction2 {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
.success {
  color: $color-success;
  .message {
    position: relative;
    padding-left: 30px;
    color: $color-action;
    font-size: 16px;
    padding-bottom: 0;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 1px;
      width: 24px;
      height: 24px;
      background-image: url(/assets/icons/green-tick-icon.png);
      background-repeat: no-repeat;
      background-size: auto 100%;
    }
  }
  .actions {
    color: $white;
    margin-top: 15px;
    .notification-action {
      &:first-child {
        background: $red;
        display: flex;
        width: 40%;
        margin: 0 auto;
      }
      & + .notification-action {
        background: $red;
        display: flex;
        width: 100%;
      }
    }
  }
}
.error {
  color: $color-error;
  .actions {
    color: $white;
    .notification-action {
      &:only-child,
      & + .notification-action {
        background: $color-error;
        width: 40%;
        margin: 0 auto;
      }
    }
  }
}
.warning {
  color: $color-action;
  .actions {
    color: $white;
    .notification-action {
      &:first-child {
        order: 2;
        width: 45%;
        border: 2px solid $color-action;
        color: $color-action;
        background-color: $white;
      }
      & + .notification-action {
        order: 1;
        background: $red;
        text-transform: none;
        text-align: center;
        display: flex;
        width: 45%;
      }
    }
  }
}
.info {
  color: $color-info;
  .actions {
    color: $white;
    .notification-action {
      &:only-child,
      & + .notification-action {
        background: $color-info;
      }
    }
  }
}
.action-border {
  border-right: 2px solid transparent;
  &.border-success {
    border-right-color: $white;
  }
  &.border-error {
    border-color: $white;
  }
  &.border-warning {
    border-color: $white;
  }
  &.border-info {
    border-color: $white;
  }
}
</style>
