<template>
  <div class="per-page mr10">
    <select
      name="perpage"
      class="select1"
      v-model="perpage"
      @change="changePerPage"
    >
      <option v-for="(page, index) in perPageOptions" :value="page" :key="index">
        {{ page }}
      </option>
    </select>
  </div>
</template>

<script>
import { products } from 'config'
import { mapGetters } from 'vuex'
import * as types from '@vue-storefront/core/modules/catalog-next/store/category/mutation-types'
import { isServer } from '@vue-storefront/core/helpers'

export default {

  props: {
    hasLabel: {
      type: Boolean,
      required: false,
      default: false
    },
    value: {
      type: Number,
      default: 40
    }
  },
  data () {
    return {
      perpage: this.value,
      perPageOptions: products.productPerPage
    }
  },
  methods: {
    async changePerPage () {
      this.$store.commit('pagination/pagination/CLEAR_CATEGORY_PRODUCTS')
      const { total } = this.$store.getters['category-next/getCategorySearchProductsStats']
      this.$store.commit('category-next/' + types.CATEGORY_SET_SEARCH_PRODUCTS_STATS, {
        perPage: this.perpage,
        start: 0,
        total: total
      })
      let page = this.$store.getters['url/getCurrentRoute'].query.page;
      let currentCategory = this.$store.getters['category-next/getCurrentCategory']
      this.$router.push({ query: { ...this.$route.query, page: 1 } })
      await this.$store.dispatch('pagination/loadCategoryProducts', { route: this.$route, category: currentCategory, pageSize: this.perpage, page, isMobile: !!(!isServer && window.innerWidth <= 768) })
      this.$store.dispatch('pagination/prefetchProducts', { page: page })
    }
  }
}
</script>
<style lang="scss" scoped>
  @import '~theme/css/base/text';
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $color-tertiary: color(tertiary);
  .per-page {
    display: inline-flex;
    position: relative;
    select {
      &:focus {
          outline: none;
      }
    }
    &__icon {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
  }
  @media (max-width: 991px) {
    .per-page {
      width: 100%;
      padding-left: 15px;
    }
  }
  @media (max-width: 419px) {
    .per-page {
      padding-left: 0;
    }
  }
</style>
