<template>
  <div class="product-thumb-slider" v-if="isOnline">
    <product-gallery-overlay
      v-if="isZoomOpen"
      :current-slide="currentSlide"
      :gallery="gallery"
      @close="toggleZoom"
    />
    <div class="thumb-slider-left" v-if="enableThumbSliderLeft">
      <div class="swiper-button-prev">
        <svg width="40" height="40" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.83 30.83l9.17-9.17 9.17 9.17 2.83-2.83-12-12-12 12z" />
          <path d="M0 0h48v48h-48z" fill="none" />
        </svg>
      </div>
      <swiper class="swiper gallery-thumbs" :options="swiperOptionThumbs" ref="swiperThumbs" @click-slide="onSwiperThumbsClick">
        <swiper-slide class="product-thumb-item" v-for="(images, index) in gallery" :key="images.src" :class="{ 'current-slide' : currentThumbSlide === index }">
          <product-thumb-image
            :image="images"
            :alt="productName | htmlDecode"
          />
        </swiper-slide>
      </swiper>
      <div class="swiper-button-next">
        <svg width="40" height="40" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.83 16.42l9.17 9.17 9.17-9.17 2.83 2.83-12 12-12-12z" />
          <path d="M0-.75h48v48h-48z" fill="none" />
        </svg>
      </div>
    </div>
    <div class="thumb-slider-right">
      <div class="product-sticker-wrap" v-if="productSticker && productSticker.length > 0">
        <img :src="productSticker" alt="Product Sticker">
      </div>
      <div class="product-ribbon-wrap" v-if="productRibbon">
        <img :src="productRibbon" alt="Product Ribbon">
      </div>
      <div class="swiper-button-prev">
        <svg width="24px" height="24px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <polygon points="352,115.4 331.3,96 160,256 331.3,416 352,396.7 201.5,256 " />
        </svg>
      </div>
      <swiper class="swiper gallery-top" :options="swiperOptionTop" ref="swiperTop">
        <swiper-slide
          v-for="(images, index) in gallery"
          :key="images.src"
        >
          <div
            class="product-image-container"
            :class="{'video-container w-100 h-100 flex relative': images.video}"
          >
            <product-gallery-image
              v-show="hideImageAtIndex !== index"
              class="pointer image"
              :image="images"
              :alt="productName | htmlDecode"
            />
            <product-video
              v-if="images.video"
              v-bind="images.video"
              :index="index"
              @video-started="onVideoStarted"
            />
          </div>
        </swiper-slide>
      </swiper>
      <div class="swiper-button-next">
        <svg width="24px" height="24px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <polygon points="160,115.4 180.7,96 352,256 180.7,416 160,396.7 310.5,256" />
        </svg>
      </div>
    </div>
  </div>
  <product-image v-else :image="offline" />
</template>

<script>
import ProductImage from './ProductImage'
import ProductVideo from './ProductVideo'
import reduce from 'lodash-es/reduce'
import map from 'lodash-es/map'
import { onlineHelper } from '@vue-storefront/core/helpers'
import SwiperCore, { Navigation } from 'swiper';
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/swiper.scss'
import ProductGalleryOverlay from './ProductGalleryOverlay'
import ProductGalleryImage from 'theme/components/core/ProductGalleryImage'
import ProductThumbImage from 'theme/components/core/ProductThumbImage'
import config from 'config'
SwiperCore.use([Navigation]);

export default {
  components: {
    ProductImage,
    ProductVideo,
    Swiper,
    SwiperSlide,
    ProductGalleryOverlay,
    ProductGalleryImage,
    ProductThumbImage
  },
  props: {
    gallery: {
      type: Array,
      required: true
    },
    productName: {
      type: String,
      default: ''
    },
    productSticker: {
      type: Array,
      default: () => [],
      required: false
    },
    productRibbon: {
      type: String,
      default: '',
      required: false
    },
    configuration: {
      type: Object,
      required: true
    }
  },
  data () {
    let current = this
    return {
      isZoomOpen: false,
      hideImageAtIndex: null,
      currentThumbSlide: 0,
      currentSlide: 0,
      enableThumbSliderLeft: true,
      swiperOptionTop: {
        spaceBetween: 0,
        navigation: {
          nextEl: '.thumb-slider-right .swiper-button-next',
          prevEl: '.thumb-slider-right .swiper-button-prev'
        },
        on: {
          slideChange () {
            current.swiperThumbs.slideTo(this.activeIndex, 500, false);
            current.currentThumbSlide = this.activeIndex;
            // current.swiperThumbs.updateSlidesClasses();
          }
        }
      },
      swiperOptionThumbs: {
        direction: 'vertical',
        spaceBetween: 0,
        slidesPerView: 'auto',
        touchRatio: 0.2,
        slideToClickedSlide: true,
        freeMode: true,
        navigation: {
          nextEl: '.thumb-slider-left .swiper-button-next',
          prevEl: '.thumb-slider-left .swiper-button-prev'
        },
        breakpoints: {
          0: {
            direction: 'horizontal'
          },
          768: {
            direction: 'vertical'
          }
        },
        on: {
          slideChange () {
            current.swiperTop.slideTo(this.activeIndex, 500, false);
          }
        }
      }
    }
  },
  computed: {
    isOnline (value) {
      return onlineHelper.isOnline
    },
    swiperTop () {
      return this.$refs.swiperTop.$swiper
    },
    swiperThumbs () {
      return this.$refs.swiperThumbs.$swiper
    }
  },
  beforeMount () {
    this.$bus.$on('product-after-configure', this.selectVariant)
    this.$bus.$on('product-after-load', this.selectVariant)
  },
  mounted () {
    this.$emit('loaded');
    this.checkWindowWidth();
    window.addEventListener('resize', this.checkWindowWidth);
  },
  beforeDestroy () {
    this.$bus.$off('product-after-configure', this.selectVariant)
    this.$bus.$off('product-after-load', this.selectVariant)
  },
  methods: {
    onSwiperThumbsClick (index) {
      this.swiperTop.slideTo(index, 500, false);
    },
    onSwiperTopClick (index) {
      this.swiperThumbs.slideTo(index, 500, false);
    },
    onVideoStarted (index) {
      this.hideImageAtIndex = index
    },
    openOverlay () {
      this.currentSlide = this.swiperTop.activeIndex
      this.$emit('toggle', this.currentSlide)
      this.toggleZoom()
    },
    toggleZoom () {
      this.isZoomOpen = !this.isZoomOpen
    },
    onEscapePress () {
      if (this.isZoomOpen) {
        this.toggleZoom()
      }
    },
    checkWindowWidth () {
      if (screen.width > 767) {
        this.enableThumbSliderLeft = true;
      } else {
        this.enableThumbSliderLeft = false;
      }
    },
    navigate (index) {
      if (index < 0) return
      this.currentPage = index
    },
    async selectVariant (configuration) {
      await this.$nextTick()
      if (config.products.gallery.mergeConfigurableChildren) {
        const option = reduce(map(this.configuration, 'attribute_code'), (result, attribute) => {
          result[attribute] = this.configuration[attribute].id
          return result
        }, {})
        if (option) {
          let index = this.gallery.findIndex(
            obj => obj.id && Object.entries(obj.id).toString() === Object.entries(option).toString(), option)
          this.navigate(index)
          this.onSwiperThumbsClick(index)
          this.onSwiperTopClick(index)
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/animations/transitions';
.zoom-in {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.video-container {
  align-items: center;
  justify-content: center;
}
</style>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$color-white: color(white);
$gray-c3c3c3: color(gray-c3c3c3);

.product-thumb-slider {
  display: flex;
  overflow: hidden;
  max-height: 600px;
  @media (max-width: 767px) {
    max-height: 400px;
  }
  .thumb-slider-right {
    border: 0 none;
    background-color: $color-white;
    flex: 0 0 calc(100% - 120px);
    max-width: calc(100% - 120px);
    border: 1px solid $gray-c3c3c3;
    position: relative;
    border-radius: 9px;
    overflow: hidden;

    @media (max-width: 767px) {
      flex: 0 0 100%;
      max-width: 100%;
      min-height: 400px;
    }

    .product-image,
    .product-image-container,
    .swiper-container {
      height: 100%;
    }

    .product-image {
      padding: 10px !important;
    }

    .product-image__thumb {
      position: relative;
      max-width: 100%;
      max-height: 100%;
    }

    .swiper-button-prev,
    .swiper-button-next {
      display: none;
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      svg{
        display:block;
        margin:0 auto;
      }
      @media (max-width: 767px) {
        display: block;
      }

      &.swiper-button-disabled {
        opacity: 0.3;
      }
    }

    .swiper-button-prev {
      left: 0;
    }

    .swiper-button-next {
      right: 0;
    }

    .product-sticker-wrap, .product-ribbon-wrap {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }
  }

  .thumb-slider-left {
    @media (min-width: 768px) {
      padding-right: 20px;
      flex: 0 0 120px;
      max-width: 120px;
      position: relative;
      display: flex;
      flex-direction: column;
      .swiper-container {
        width: 100%;
        .swiper-wrapper{
          display:block !important;
        }
        .swiper-slide {
          flex-grow: 0;
          flex-shrink: 1;
          height:auto;
          .product-image {
            border: 1px solid $gray-c3c3c3;
          }
          &.current-slide {
            .product-image {
              border-color: $color-secondary;
            }
          }
        }
      }
      .swiper-button-prev,
      .swiper-button-next {
        text-align: center;
        cursor: pointer;
        background-color: $color-white;

        &.swiper-button-disabled {
          opacity: 0.3;
        }
      }
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  .thumb-slider-left{
    .product-thumb-item{
      margin-bottom: 10px;
      &.current-slide{
        .product-image {
          cursor: default;
        }
      }
      &:last-child{
        margin-bottom: 0px;
      }
    }
    .product-image {
      padding: 5px;
      cursor: pointer;
      img{
        max-width: 100%;
        display:block;
      }
    }
  }
  .thumb-slider-right{
    .product-image {
      position: relative;
      padding-top: 100%;
      display:inline-flex;
      align-items: center;
      justify-content: center;
      height: 400px;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}
</style>
