<template>
  <div class="product-listing m0 row start-md" v-if="isCategoyPage === '1'">
    <template v-for="(product, keyindex) in newProducts">
      <div
        :key="'promo1-'+product.id"
        class="productslist grid-promo-banner"
        :class="productClass(keyindex, columns)"
        v-if="(keyindex === 3) && printPromoBanner1()"
        v-observe-visibility="{
          callback: (isVisible, entry) => visibilityChanged(isVisible, entry, 'gridBanner'),
          once: true,
        }"
      >
        <lazy-hydrate when-visible v-if="productListSections.gridBanner">
          <looking-dog-food :link="category.promotionalurl1" :image="printPromoBanner1()" />
        </lazy-hydrate>
      </div>
      <div
        :key="'bands-'+product.id"
        class="productslist col-xs-12"
        v-if="((hasPromotionalBanner1 && keyindex === 7) || (!hasPromotionalBanner1 && keyindex === 8)) && ourBrands.length > 0"
        v-observe-visibility="{
          callback: (isVisible, entry) => visibilityChanged(isVisible, entry, 'brandSection'),
          once: true,
        }"
      >
        <lazy-hydrate when-visible v-if="productListSections.brandSection">
          <favorite-brands
            class="category-favorite-bands bg-cl-light-gray"
            :class="!printPromoBanner2() ? 'pb20' : ''"
            :sec-title="'Our favourite brands'"
            :slider-id="'category-favorite-bands'"
            :per-page-custom="[[200, [4, 20]], [768, ['auto', 20]], [1380, ['auto', 42]]]"
            :brand-data="ourBrands"
          />
        </lazy-hydrate>
      </div>
      <div
        :key="'promo2-'+product.id"
        class="productslist bottom-space col-xs-12"
        v-if="(((hasPromotionalBanner1 && keyindex === 7) || (!hasPromotionalBanner1 && keyindex === 8)) && printPromoBanner2())"
        v-observe-visibility="{
          callback: (isVisible, entry) => visibilityChanged(isVisible, entry, 'gridBanner2'),
          once: true,
        }"
      >
        <lazy-hydrate when-visible v-if="productListSections.gridBanner2">
          <looking-dog-food :link="category.promotionalurl2" :image="printPromoBanner2()" />
        </lazy-hydrate>
      </div>
      <div
        :key="'exclusive-'+product.id"
        class="productslist col-xs-12"
        v-if="totalProducts > 12 && ((hasPromotionalBanner1 && keyindex === 11) || (!hasPromotionalBanner1 && keyindex === 12)) && exclusiveProducts && exclusiveProducts[0] && exclusiveProducts[0].length > 4"
        v-observe-visibility="{
          callback: (isVisible, entry) => visibilityChanged(isVisible, entry, 'productListSlider'),
          once: true,
        }"
      >
        <lazy-hydrate v-if="isLazyHydrateEnabled && productListSections.productListSlider" when-visible>
          <product-listing-slider
            class="category-product-slider bottom-space container small-space bg-cl-oat"
            :per-page-custom="[[320, [2, 10]] ,[768, [3, 15]], [992, [4, 30]], [1200, [4, 30]]]"
            :sec-title="'Customer favourites'"
            :products="exclusiveProducts[0] instanceof Array ? exclusiveProducts[0] : []"
            :slider-id="'customer-favourites'"
          />
        </lazy-hydrate>
      </div>
      <div
        :key="'trending-'+product.id"
        class="productslist col-xs-12"
        v-if="totalProducts > 20 && ((hasPromotionalBanner1 && keyindex === 19) || (!hasPromotionalBanner1 && keyindex === 20)) && trendingProducts && trendingProducts.length > 4"
        v-observe-visibility="{
          callback: (isVisible, entry) => visibilityChanged(isVisible, entry, 'productListSlider2'),
          once: true,
        }"
      >
        <lazy-hydrate v-if="isLazyHydrateEnabled && productListSections.productListSlider2" when-visible>
          <product-listing-slider
            class="category-product-slider bottom-space container small-space bg-cl-oat"
            :per-page-custom="[[320, [2, 10]], [768, [3, 15]], [992, [4, 30]], [1200, [4, 30]]]"
            :sec-title="'Trending now'"
            :products="trendingProducts[0] instanceof Array ? trendingProducts[0] : []"
            :slider-id="'trending-now'"
          />
        </lazy-hydrate>
      </div>
      <div
        :key="'product-'+keyindex+product.id"
        class="productslist"
        :class="productClass(keyindex, columns)"
        v-observe-visibility="{
          callback: (isVisible, entry) => visibilityChanged(isVisible, entry, 'productsList'),
          once: true,
        }"
      >
        <lazy-hydrate v-if="isLazyHydrateEnabled && productListSections.productsList" when-visible>
          <product-tile :product="product" />
        </lazy-hydrate>
      </div>
    </template>
  </div>
  <div class="product-listing m0 row center-xs start-md" v-else>
    <div
      v-for="(product, keyindex) in products"
      :key="'pdt-'+keyindex+product.id"
      class="productslist"
      :class="productClass(keyindex, columns)"
      v-observe-visibility="{
        callback: (isVisible, entry) => visibilityChanged(isVisible, entry, 'productsList2'),
        once: true,
      }"
    >
      <lazy-hydrate v-if="isLazyHydrateEnabled && productListSections.productsList2" when-visible>
        <product-tile :product="product" :sajari-click="getSajariClick(product.sku)" />
      </lazy-hydrate>
    </div>
  </div>
</template>

<script>
import LazyHydrate from 'vue-lazy-hydration'
import { getPromoImage, getPromoUrl } from 'theme/helpers'
import { isServer } from '@vue-storefront/core/helpers'
import config from 'config'
import { mapGetters } from 'vuex'

let lastHero = 0
export default {
  name: 'ProductListing',
  data () {
    return {
      hasPromotionalBanner1: false,
      showTile: true,
      loading: true,
      promotionalimage1: '',
      promotionalimage2: '',
      productListSections: {
        gridBanner: false,
        brandSection: false,
        gridBanner2: false,
        productListSlider: false,
        productListSlider2: false,
        productsList: false,
        productsList2: false
      }
    }
  },
  components: {
    LazyHydrate,
    ProductTile: () => import('theme/components/core/ProductTile'),
    LookingDogFood: () => import('theme/components/core/blocks/Offers/LookingDogFood'),
    FavoriteBrands: () => import('theme/components/core/blocks/Category/FavoriteBrands'),
    ProductListingSlider: () => import('theme/components/core/blocks/Category/ProductListingSlider')
  },
  props: {
    products: {
      type: null,
      required: true
    },
    category: {
      type: null,
      required: false,
      default: null
    },
    isCategoyPage: {
      type: String,
      required: false,
      default: '0'
    },
    columns: {
      type: [Number, String],
      required: true
    },
    totalProducts: {
      type: Number,
      required: false,
      default: 0
    },
    sajariSearchResult: {
      type: null,
      required: false,
      default: null
    }
  },
  computed: {
    isLazyHydrateEnabled () {
      return config.ssr.lazyHydrateFor.includes('category-next.products')
    },
    newProducts () {
      let allprod = this.products
      if (this.totalProducts !== allprod.length) {
        if (this.printPromoBanner1() && allprod.length >= 24 && allprod.length % 24 === 0) {
          const lastprod = allprod.pop();
          if (lastprod.length > 0 && allprod.length >= 24 && allprod.length % 24 === 0) {
            allprod.unshift(lastprod)
          }
        }
      }
      return allprod
    },
    ...mapGetters({
      ourBrands: 'ourbrands/getOurBrandslist',
      trendingProducts: 'trendingProducts/getTrendingProductslist',
      exclusiveProducts: 'exclusiveProducts/getExclusiveProductslist'
    }),
    isMobile () {
      if (isServer) return false
      if (window.innerWidth <= 768) {
        return true
      }
      return false
    }
  },
  methods: {
    visibilityChanged (isVisible, entry, customArgument) {
      this.productListSections[customArgument] = true
    },
    productClass (key, columns) {
      let cl = 'col-xs-6 col-sm-6 col-md-4 col-lg-4 flex col-xl-' + (12 / columns);
      return cl;
    },
    wide (isOnSale, isNew, index) {
      let deltaCondition = index > 0 && ((index - 1) - lastHero) % 2 === 0
      // last image always shouldn't be big, we also need to count from last promoted to check if it will look ok
      let isHero = ((isOnSale === '1' || isNew === '1') && deltaCondition) || (index === this.products.length - 1 && (index - lastHero) % 2 !== 0)
      if (isHero) {
        lastHero = index
      }
      return isHero ? 'col-xs-12' : 'col-xs-6'
    },
    printPromoBanner1 () {
      if (this.isMobile) {
        if (
          this.totalProducts > 3 &&
          this.category.mobileimage1 !== null &&
          this.category.mobileimage1 !== '' &&
          typeof this.category.mobileimage1 !== 'undefined'
        ) {
          this.hasPromotionalBanner1 = true;
          const mobileBanner1 = this.category.mobileimage1;
          return this.getCategoryImage(mobileBanner1)
        }
      } else {
        if (
          this.totalProducts > 3 &&
          this.category &&
          this.category.promotionalimage1 &&
          this.category.promotionalimage1 !== null &&
          this.category.promotionalimage1 !== '' &&
          typeof this.category.promotionalimage1 !== 'undefined'
        ) {
          this.hasPromotionalBanner1 = true;
          const banner1 = this.category.promotionalimage1;
          return this.getCategoryImage(banner1)
        }
      }
      return false;
    },
    printPromoBanner2 () {
      if (this.isMobile) {
        if (
          this.totalProducts > 8 &&
          this.category.mobileimage2 !== null &&
          this.category.mobileimage2 !== '' &&
          typeof this.category.mobileimage2 !== 'undefined'
        ) {
          const mobileBanner2 = this.category.mobileimage2;
          return this.getCategoryImage(mobileBanner2)
        }
      } else {
        if (
          this.totalProducts > 8 &&
          this.category.promotionalimage2 !== null &&
          this.category.promotionalimage2 !== '' &&
          typeof this.category.promotionalimage2 !== 'undefined'
        ) {
          const banner2 = this.category.promotionalimage2;
          return this.getCategoryImage(banner2)
        }
      }
      return false;
    },
    getCategoryImage (img) {
      return getPromoImage(img)
    },
    printPromoUrl (path) {
      return getPromoUrl(path)
    },
    resetData () {
      if (this.loading && this.category) {
        this.loading = false;
        this.hasPromotionalBanner1 = false;
        this.loading = true;
      }
    },
    getSajariClick (sku) {
      return (this.sajariSearchResult) ? (this.sajariSearchResult.find(result => result.sku.indexOf(sku) === 0) || null) : null
    }
  },
  mounted () {
    this.resetData();
    this.$bus.$emit('promotional-banner1-exists', this.printPromoBanner1());
  },
  watch: {
    '$route' () {
      this.resetData();
    }
  }
}
</script>
<style lang="scss">
.grid-promo-banner{
  .promo-banner {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    margin: 0 auto 25px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
</style>
