<template>
  <div class="price price-box">
    <div
      class="flex special-price flex price-row"
      v-if="initialPrice.special && price.default && price.original && !showOnlyDefault"
    >
      <div class="cl-mine-shaft special-price">
        <span>
          {{ $t('Price') }}
        </span>
        <strong>
          {{ price.special | price(storeView) }}
        </strong>
      </div>
      <div class="price-original">
        <span>
          {{ $t('List Price') }}
        </span>
        <strong>
          {{ price.original | price(storeView) }}
        </strong>
      </div>
      <div class="benefits-price" v-if="savePriceVal > 0">
        <span>
          {{ $t('save') }}
        </span>
        <strong>
          {{ savePriceVal | price(storeView) }}
        </strong>
      </div>
    </div>
    <div
      class="flex price-row"
      v-if="(!initialPrice.special || showOnlyDefault) && price.default"
    >
      <div class="default-price">
        <span>
          {{ $t('Price') }}
        </span>
        <strong>
          {{ price.default | price(storeView) }}
        </strong>
      </div>
    </div>
  </div>
</template>
<script>
import { getCustomOptionValues, getCustomOptionPriceDelta } from '@vue-storefront/core/modules/catalog/helpers/customOption'
import { getBundleOptionsValues, getBundleOptionPrice } from '@vue-storefront/core/modules/catalog/helpers/bundleOptions'
import get from 'lodash-es/get'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

export default {
  name: 'ProductPrice',
  props: {
    product: {
      type: Object,
      default: () => ({})
    },
    customOptions: {
      type: Object,
      default: () => ({})
    },
    showOnlyDefault: {
      type: Boolean,
      default: () => false
    }
  },
  computed: {
    savePriceVal () {
      if (this.price.special) {
        return parseFloat(this.price.original).toFixed(2) - parseFloat(this.price.special)
      }
      return 0;
    },
    bundleOptionsPrice () {
      const allBundeOptions = this.product.bundle_options || []
      const selectedBundleOptions = Object.values(get(this.product, 'product_option.extension_attributes.bundle_options', {}))
      const price = getBundleOptionPrice(
        getBundleOptionsValues(selectedBundleOptions, allBundeOptions)
      )
      return price
    },
    customOptionsPriceDelta () {
      const priceDelta = getCustomOptionPriceDelta(
        getCustomOptionValues(Object.values(this.customOptions), this.product.custom_options || []),
        this.product
      )

      return priceDelta
    },
    price () {
      const customOptionPrice = this.customOptionsPriceDelta.priceInclTax
      const special = (this.initialPrice.default + customOptionPrice)
      const original = (this.initialPrice.original + customOptionPrice)
      const defaultPrice = this.product.qty > 0
        ? (this.initialPrice.default + customOptionPrice)
        : this.initialPrice.default

      if (this.bundleOptionsPrice.priceInclTax > 0) {
        return {
          special,
          original,
          default: this.bundleOptionsPrice.priceInclTax
        }
      }

      return {
        special,
        original,
        default: defaultPrice
      }
    },
    initialPrice () {
      return {
        default: this.product.price_incl_tax || this.product.priceInclTax || 0,
        original: this.product.original_price_incl_tax || this.product.originalPriceInclTax || 0,
        special: this.product.special_price || this.product.specialPrice || 0
      }
    },
    storeView () {
      return currentStoreView()
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$gray-979797: color(gray-979797);
.price-original {
  strong{
    text-decoration: line-through;
  }
}
.price-box{
  min-height: 48px;
  span{
    font-size: 14px;
    color: $gray-979797;
    display: block;
    padding: 0 0 3px;
  }
  strong{
    font-size: 21px;
  }
  .price-row{
    > div{
     border-right: solid 1px $gray-979797;
     padding: 0 15px;
     &:first-child{
       padding-left: 0;
     }
     &:last-child{
       border-right: 0px;
     }
    }
  }
}
.price {
  @media (max-width: 767px) {
    color: $color-primary;
  }
}
</style>
