<template>
  <div class="product product-grid w-100 roboto relative" v-observe-visibility="visibilityChanged">
    <span class="sale-tag" v-if="product.sticker_ribbons_img"><img v-lazy="product.sticker_ribbons_img" alt="Ribbons"></span>
    <ul class="product_stickers" v-if="product.product_sticker_img && product.product_sticker_img.length > 0">
      <li v-for="(sticker, index) in product.product_sticker_img" :key="index">
        <span class="sale-tag"><img v-lazy="sticker" width="65" height="65" alt="Sticker"></span>
      </li>
    </ul>
    <div class="product__icons">
      <AddToWishlist :product="product" />
    </div>
    <router-link
      class="block no-underline product-link"
      :to="productLink"
      data-testid="productLink"
      @click.native="segmentTrack(product)"
      @mousedown.native="trackSajariClick(sajariClick.click)"
    >
      <div>
        <div
          class="product-cover"
          :class="[{ sale: labelsActive && isOnSale }, { new: labelsActive && isNew }]"
        >
          <product-image
            class="product-cover__thumb"
            :image="thumbnailObj"
            :alt="product.name | htmlDecode"
            :calc-ratio="false"
            data-testid="productImage"
          />
        </div>

        <div class="size-option-bar" v-if="product.type_id==='configurable'">
          Size options available
        </div>

        <p class="pro-title medium" v-if="!onlyImage" :title="product.name">
          {{ product.name | htmlDecode }}
        </p>
        <div class="product-reviews-summary short flex middle-sm">
          <div class="rating-summary">
            <span class="rating-result" :style="productRatingLength" />
          </div>
          <span class="reviews-actions">{{ showNoOfReviews }} {{ $t('Reviews') }}</span>
        </div>

        <special-offer v-if="product.stock && product.stock.is_in_stock" :banner-message="product.banner_message" />
        <div class="out-of-stock-btn" v-if="product.stock && !product.stock.is_in_stock">
          {{ $t('Out of stock') }}
        </div>
      </div>
      <div class="product-price">
        <span class="from-lable" v-if="product.type_id==='configurable'">{{ $t('From ') }}</span>
        <span
          class="price-special mr5 lh30"
          v-if="product.original_price_incl_tax && parseFloat(product.original_price_incl_tax) > 0 && !onlyImage"
        >{{ product.price_incl_tax | price(storeView) }}</span>
        <span
          class="price-special"
          v-if="product.special_price && parseFloat(product.special_price) > 0 && !onlyImage && parseFloat(product.price_incl_tax) != parseFloat(product.original_price_incl_tax)"
        >
          <del>{{ product.original_price_incl_tax | price(storeView) }}</del>
        </span>
        <div class="subscribe-offer-price flex hidden">
          <span class="price-special">
            {{ product.price_incl_tax | price(storeView) }}
          </span>
          <span class="subscribe-link"> <img src="/assets/icons/subscribe-icon.png" alt="">
            {{ $t('Subscribe & Save') }}
          </span>
        </div>
      </div>
      <no-ssr>
        <div v-if="product.storelocator && typeof product.storelocator === 'object'">
          <DeliveryType :storelocator="product.storelocator" />
        </div>
      </no-ssr>
      <span class="out-of-stock" v-if="product.stock && !product.stock.is_in_stock" />
    </router-link>
  </div>
</template>

<script>
import rootStore from '@vue-storefront/core/store'
import { ProductTile } from '@vue-storefront/core/modules/catalog/components/ProductTile.ts'
import config from 'config'
import ProductImage from './ProductImage'
import AddToWishlist from 'theme/components/core/blocks/Wishlist/AddToWishlist'
// import AddToCompare from 'theme/components/core/blocks/Compare/AddToCompare'
import { IsOnWishlist } from '@vue-storefront/core/modules/wishlist/components/IsOnWishlist'
import { IsOnCompare } from '@vue-storefront/core/modules/compare/components/IsOnCompare'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import SpecialOffer from 'theme/components/core/blocks/Offers/SpecialOffer'
import DeliveryType from './DeliveryType'
import fetch from 'isomorphic-fetch';
import NoSSR from 'vue-no-ssr'
import { productImageUrl } from 'theme/helpers'

export default {
  mixins: [ProductTile, IsOnWishlist, IsOnCompare],
  components: {
    ProductImage,
    AddToWishlist,
    // AddToCompare,
    SpecialOffer,
    DeliveryType,
    'no-ssr': NoSSR
  },
  props: {
    labelsActive: {
      type: Boolean,
      default: true
    },
    onlyImage: {
      type: Boolean,
      default: false
    },
    sajariClick: {
      type: null,
      required: false,
      default () {
        return { click: () => {} }
      }
    }
  },
  computed: {
    thumbnailObj () {
      const thumbnailSrc = productImageUrl(this.thumbnail, 'Category-Page');
      return {
        src: thumbnailSrc,
        loading: thumbnailSrc
      }
    },
    storeView () {
      return currentStoreView()
    },
    productRatingLength () {
      if (this.product.rating && this.product.rating !== '' && this.product.rating > 0) {
        const ratingVal = Math.round(this.product.rating);
        return 'width:' + ratingVal + '%';
      } else {
        return 'width:0';
      }
    },
    showNoOfReviews () {
      if (this.product.no_of_review) {
        return this.product.no_of_review
      } else {
        return 0
      }
    }
  },
  methods: {
    segmentTrack (product) {
      this.$store.commit('segment/productClicked', product)
    },
    onProductPriceUpdate (product) {
      if (product.sku === this.product.sku) {
        Object.assign(this.product, product)
      }
    },
    visibilityChanged (isVisible, entry) {
      if (
        isVisible &&
        config.products.configurableChildrenStockPrefetchDynamic &&
        config.products.filterUnavailableVariants &&
        this.product.type_id === 'configurable' &&
        this.product.configurable_children &&
        this.product.configurable_children.length > 0
      ) {
        const skus = [this.product.sku]
        for (const confChild of this.product.configurable_children) {
          const cachedItem = rootStore.state.stock.cache[confChild.id]
          if (typeof cachedItem === 'undefined' || cachedItem === null) {
            skus.push(confChild.sku)
          }
        }
        if (skus.length > 0) {
          rootStore.dispatch('stock/list', { skus: skus }) // store it in the cache
        }
      }
    },
    async trackSajariClick (clickUrl) {
      if (clickUrl) {
        await fetch(clickUrl, {
          method: 'GET',
          headers: { 'Content-Type': 'application/json' }
        });
      }
    }
  },
  beforeMount () {
    this.$bus.$on('product-after-priceupdate', this.onProductPriceUpdate)
  },
  beforeDestroy () {
    this.$bus.$off('product-after-priceupdate', this.onProductPriceUpdate)
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/animations/transitions';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';

$bg-secondary: color(secondary, $colors-background);
$border-secondary: color(secondary, $colors-border);
$white: color(white);
$oat: color(oat);
$gray-979797: color(gray-979797);
$black: color(black);
$white-smoke: color(white-smoke);
$black-464444: color(black-464444);
$gray: color(gray);
.product{
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  background-color: $white;
  padding:10px;
  margin-bottom:25px;
  .out-of-stock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($white, 0.5);
    z-index: 1;
  }
  a{
    &:hover{
      color: #000;
    }
  }
  .sale-tag{
    position: absolute;
    left: -2px;
    top: -2px;
  }
  .pro-title{
    /* autoprefixer: off */
    padding:0;
    font-size:14px;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    line-height: 1.3;
    margin: 0 auto 5px;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
  @media (max-width: 767px) {
    padding: 5px;
    .pro-title{
      margin-top:10px;
    }
  }
  &__icons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  &__icon {
    opacity: 1;
    z-index: 2;
    transition: 0.3s opacity $motion-main;
    @media (max-width: 767px) {
      opacity: 1;
    }
    &--active {
      opacity: 1;
    }
  }
}
.product-reviews-summary{
  padding: 5px 0;
  &.short{
    .rating-summary{
      background: url(/assets/icons/star.png);
      background-size:auto 16px;
      width: 81px;
      height: 16px;
      .rating-result{
        background: url(/assets/icons/star-active.png);
        background-size:auto 16px;
        display: block;
        height: 16px;
      }
    }
    .reviews-actions{
      font-size: 12px;
      margin-left: 12px;
    }
    @media (max-width: 419px) {
      display: block;
      span.reviews-actions {
        margin-left: 0;
        display: block;
        margin-top: 5px;
      }
    }
  }
  @media (max-width: 767px) {
    .sale-tag{
      img{
        max-width:55px;
      }
    }
  }
}
.product-price{
  padding: 10px 0 15px 0;
  .from-lable {
    font-weight: 700;
    font-size: 18px;
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
  .price-special{
    font-weight: 700;
    font-size: 18px;
    del{
      color: #666;
    }
  }
  .subscribe-offer-price{
    padding-top: 5px;
  }
  .subscribe-link{
    font-size: 10px;
    padding: 0 0 0 5px;
    img{
      max-width: 12px;
      margin-right: 5px;
      vertical-align: bottom;
    }
  }
  @media (max-width: 767px) {
    .price-special{
      font-size:14px;
    }
    .availability-status{
      font-size:10px;
    }
  }
}
.availability-status{
  font-size: 12px;
  position: absolute;
  right: 0;
  bottom: 0;
   @media (max-width: 767px) {
    .availability-status{
      font-size:10px;
    }
  }
}
.price-original {
  text-decoration: line-through;
}

%label {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: $border-secondary;
  text-transform: uppercase;
  color: $white;
  font-size: 12px;
}

.product-cover {
  overflow: hidden;

  &__thumb {
    padding-bottom: calc(143.88% / (164.5 / 100));
    @media screen and (min-width: 768px) {
      padding-bottom: calc(300% / (276.5 / 115));
    }
    will-change: opacity, transform;
    transition: 0.3s opacity $motion-main, 0.3s transform $motion-main;
  }

  @media screen and (min-width: 768px) {
    &:hover {
      .product-cover__thumb {
        opacity: 1;
        transform: scale(1.1);
      }
      &.sale::after,
      &.new::after {
        opacity: 0.8;
      }
    }
  }
  @media screen and (min-width: 767px) {
    margin: 10px 0;
  }

  &.sale {
    &::after {
      @extend %label;
      content: 'Sale';
    }
  }
  &.new {
    &::after {
      @extend %label;
      content: 'New';
    }
  }
}
.out-of-stock-btn {
  color: $black;
  border: 1px solid $black;
  border-radius: 3px;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  padding: 6px 10px;
  margin: 10px 0;
  position: relative;
  z-index: 2;
  min-height:20px;
  line-height: 20px;
  display: block;
}
.size-option-bar {
  color: $black-464444;
  border: solid 1px $gray-979797;
  background-color: $white-smoke;
  font-size: 11px;
  font-weight: 700;
  display: block;
  text-align: center;
  padding: 6px 5px;
  border-radius: 4px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 0 10px;
}
</style>
<style lang="scss">
.special-offer {
  margin: 10px 0;
}
</style>
