<template>
  <div class="qty-input" :class="'qty-input__' + size">
    <div class="middle-xs">
      <label class="qty-element-label" for="quantity" v-if="hasLabel">
        {{ $t("Quantity") }}
      </label>
      <div
        class="qty-element flex"
        :class="{ 'ml-3': hasLabel, 'box-w-h': customWidth }"
      >
        <button
          class="middle-xs flex"
          @click.prevent="decrementEvent"
          :aria-label="$t('Decrement')"
          role="button"
          :disabled="value === minInput || disabled"
        >
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#979797"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M7 11v2h10v-2H7zm5-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" /></svg>
        </button>
        <input
          type="number"
          :min="1"
          :max="max"
          :aria-label="ariaLabel"
          :disabled="disabled"
          :id="getInputId"
          :name="name"
          focus
          :ref="'qtyInput'"
          v-model="inputValue"
          @focus="$emit('focus')"
          @blur="$emit('blur', value)"
          onkeypress="return event.charCode >= 48 && event.charCode != 45"
          autocomplete="off"
        >
        <button
          class="middle-xs flex"
          @click.prevent="incrementEvent"
          :aria-label="$t('Increment')"
          role="button"
          :disabled="value >= max || disabled"
        >
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#979797"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" /></svg>
        </button>
      </div>
      <ValidationMessages
        :validations="[
          {
            condition:
              !$v.value.numeric || !$v.value.minValue || !$v.value.required,
            text: $t(`Quantity must be positive integer`)
          },
          {
            condition: maxQuantity && value && !$v.value.maxValue,
            text: $t('Quantity must be below {quantity}', {
              quantity: maxQuantity
            })
          }
        ]"
      />
    </div>
  </div>
</template>

<script>
import {
  minValue,
  maxValue,
  numeric,
  required
} from 'vuelidate/lib/validators';
import ValidationMessages from 'theme/components/core/blocks/Form/ValidationMessages.vue';
import { onlineHelper } from '@vue-storefront/core/helpers';
export default {
  name: 'QuantityBox',
  components: {
    ValidationMessages
  },
  props: {
    id: {
      type: String,
      default: 'quantity',
      required: false
    },
    name: {
      type: String,
      default: 'quantity',
      required: false
    },
    value: {
      type: [String, Number],
      default: 1,
      required: false
    },
    size: {
      type: String,
      default: 'md',
      required: false
    },
    hasLabel: {
      type: Boolean,
      default: true,
      required: false
    },
    customWidth: {
      type: [String, Number],
      default: 1,
      required: false
    },
    ariaLabel: {
      type: String,
      required: false,
      default: ''
    },
    stock: {
      type: Object,
      default: null,
      required: false
    },
    maxQuantity: {
      type: Number,
      default: undefined
    },
    isSimpleOrConfigurable: {
      type: Boolean,
      default: false
    },
    onlyPositive: {
      type: Boolean,
      default: false
    },
    forceDisableBtn: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      minInput: 1
    };
  },
  watch: {
    '$v.$invalid' (error) {
      this.$emit('error', error);
    }
  },
  validations () {
    return {
      value: {
        minValue: minValue(1),
        maxValue: maxValue(this.max) && !this.isSimpleOrConfigurable,
        numeric,
        required
      }
    };
  },
  methods: {
    incrementEvent ($event) {
      let value = parseInt(this.value);
      if (isNaN(value) || value < this.minInput - 1) {
        value = this.minInput;
      }
      if (value >= this.max) {
        this.$refs.qtyInput.value = this.max;
        value = this.max - 1;
      }
      this.$emit('input', value + 1);
      this.$emit('blur', value + 1);
    },
    decrementEvent ($event) {
      let value = parseInt(this.value);
      if (isNaN(value) || value < this.minInput - 1) {
        value = this.minInput;
      }
      this.$emit('input', value > 1 ? value - 1 : 1);
      this.$emit('blur', value > 1 ? value - 1 : 1);
    }
  },
  computed: {
    inputValue: {
      get () {
        return this.value;
      },
      set (value) {
        if (!this.onlyPositive) {
          this.$emit('input', value);
        } else {
          const targetValue = parseInt(value, 10);
          if (!isNaN(targetValue)) {
            this.$emit('input', targetValue !== 0 ? Math.abs(targetValue) : 1);
          }
        }
      }
    },
    isOnline (value) {
      return onlineHelper.isOnline;
    },
    getInputId () {
      return `input_${this._uid}`;
    },
    max () {
      if (!this.isOnline || !this.isSimpleOrConfigurable) {
        return null;
      }

      return this.maxQuantity;
    },
    disabled () {
      if (this.forceDisableBtn) {
        return this.forceDisableBtn
      }

      if (!this.isOnline) {
        return false;
      }
      return (
        !this.maxQuantity &&
        this.checkMaxQuantity &&
        this.isSimpleOrConfigurable
      );
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~theme/css/variables/grid";
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
$gray-979797: color(gray-979797);
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
label {
  margin: 5px 0 10px;
  font-size: 14px;
  display: block;
}
.qty-element {
  button {
    &:disabled {
        cursor: inherit;
    }
    border: 1px solid $gray-979797;
    width: 35px;
    height: 35px;
    @media (max-width: 767px) {
      width: 42px;
      justify-content: center;
    }
    img {
      max-width: 100%;
    }
  }
  input {
    width: 100%;
    height: 35px;
    border: 1px solid $gray-979797;
    border-left: none;
    border-right: none;
    text-align: center;
    width: calc(100% - 70px);
    font-size: 16px;
    line-height: 1;
    @media (max-width: 980px) {
      width: calc(100% - 64px);
      height: 35px;
    }
    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 1.35;
    }
  }
}
</style>
