<template>
  <div>
    <button
      class="relative pointer generic-selector generic-selector-search"
      :aria-label="'Select ' + variant"
      @click="makeActiveButton($event, variant, filterType)"
      :id="btnId.replace(/\s+/g, '_')"
    />
    <span class="flex between-xs w-100">
      <span>
        {{ variant }}
      </span>
      <span>
        {{ count }}
      </span>
    </span>
  </div>
</template>

<script>
export default {
  props: {
    variant: {
      type: String,
      default: ''
    },
    count: {
      type: Number,
      default: 0
    },
    filterType: {
      type: String,
      default: ''
    },
    btnId: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      filterss: {},
      btns: []
    };
  },
  beforeMount () {
    this.$bus.$on('remove-active-btns', this.toggleActiveBtns)
  },
  destroyed () {
    this.$bus.$off('remove-active-btns', this.toggleActiveBtns)
  },
  methods: {
    makeActiveButton (e, variant, filterType) {
      let btnClasslist = e.target.classList
      let id = e.target.id
      if (btnClasslist.contains('active')) {
        btnClasslist.remove('active')
        let remove = true
        this.$bus.$emit('get-applied-sajari-filter', { variant, filterType, id, remove })
      } else {
        btnClasslist.add('active')
        this.$bus.$emit('get-applied-sajari-filter', { variant, filterType, id })
      }
    },
    toggleActiveBtns () {
      let activeNode = document.querySelectorAll('.generic-selector.active')
      if (activeNode.length > 0) {
        activeNode.forEach(btn => {
          btn.classList.remove('active')
        })
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
$gray-979797: color(gray-979797);

.generic-selector {
  width: 20px;
  height: 20px;
  border: 1px solid $gray-979797;
  background: transparent;
  margin-right: 15px;

  &.active {
    background: #039500 url(/assets/icons/true-icon.png) no-repeat center;
  }
}
</style>
