<template>
  <div class="data-block col-xs-12">
    <div class="hidden-xs">
      <label>Select product weight:</label>
      <div class="item-row flex mt15">
        <button class="select-box" v-for="(selectProduct, index) in selectProductWeight" :key="index">
          {{ $t( selectProduct.weight ) }}
        </button>
      </div>
    </div>
    <div class="hidden-md">
      <div class="select-wrap flex middle-xs">
        Select size:
        <select>
          <option v-for="(selectProduct, index) in selectProductWeight" :key="index">
            {{ $t( selectProduct.weight ) }}
          </option>
        </select>
      </div>
    </div>
  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr';
import selectProductWeight from 'theme/resource/filter/select-product-weight.json'

export default {
  components: {
  },
  data () {
    return {
      selectProductWeight: selectProductWeight.selectProductWeight
    }
  }
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-tertiary: color(tertiary);
$color-secondary: color(secondary);
$color-white: color(white);
$bg-secondary: color(secondary, $colors-background);
$color-black: color(black);
$gray-979797: color(gray-979797);

label {
  margin: 5px 0 10px;
  font-size: 14px;
  display: block;
  font-family: 'Montserrat', sans-serif;
}
.data-block {
  .item-row {
    flex-wrap: wrap;
  }
  .select-box {
    width: 65px;
    height: 35px;
    border: 1px solid $gray-979797;
    margin: 0 7px 5px 0;
    background: transparent;
    font-size: 14px;
    border-radius: 2px;
  }
  .select-wrap {
    border: 1px solid $gray-979797;
    padding: 0 0 0 15px;
    width: 100%;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 5px;
    select {
      display: block;
      width: calc(100% - 95px);
      border: none;
      margin-left: 16px;
      font-size: 14px;
      font-weight: bold;
      height: 35px;
      line-height: 35px;
      background-image: url(/assets/icons/right-arrow.png);
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: calc(100% - 10px);
      background-size: auto 10px;
      appearance: none;
    }
  }
}

</style>
