<template>
  <div class="petclubtop pb20">
    <h3 class="bold align-center py20">
      {{ title }}
    </h3>
    <div class="petclubtop-range mb20 center-lg flex middle-xs">
      <label class="hidden-xs h5 cl-black">{{ min }}</label>
      <div class="petclubtop-range-bg middle-lg flex relative">
        <b class="middle-lg flex h5" :style="pointProgressBar" />
        <span class="earned-points">{{ earned + $t(' point(s)') }}</span>
      </div>
      <span class="hidden-xs h5 cl-black">{{ max }}</span>
    </div>
    <p class="center-xs">
      {{ $t('You currently have {msg} points. That’s only {msg2} points away from your next voucher!', { msg: earned, msg2: remaining }) }}
    </p>
  </div>
</template>

<script>
export default {
  props: {
    min: {
      type: Number,
      default: 0
    },
    max: {
      type: Number,
      default: 1000
    },
    title: {
      type: String,
      required: true,
      default: ''
    },
    earned: {
      type: Number,
      required: true,
      default: 0
    },
    remaining: {
      type: Number,
      required: true,
      default: 1000
    },
    fillbarwidth: {
      type: Number,
      required: true,
      default: 0
    }
  },
  computed: {
    pointProgressBar () {
      var fillBarVal = this.fillbarwidth;
      if (fillBarVal <= 0) {
        fillBarVal = 0;
      }
      if (fillBarVal > 100) {
        fillBarVal = 100;
      }
      return { width: fillBarVal + '%' };
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-secondary: color(secondary);
$white: color(white);
$black: color(black);
$red: color(red);
.petclubpoints p {
  max-width: 462px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}
.petclubtop {
  background: #ddd;
  background: rgba($red, 0.2);
  .petclubtop-range {
    justify-content: center;
  }
  .petclubtop-range-bg {
    height: 30px;
    width: 400px;
    margin: 0 6px 0px 6px;
    background: $white;
    border-radius: 30px;
    align-items: center;
    b {
      height: 30px;
      width: 60%;
      border-radius: 30px;
      background: $red;
      color: $white;
      font-weight: normal;
      justify-content: flex-end;
      padding: 0 15px;
      align-items: center;
    }
    .earned-points {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
      mix-blend-mode: difference;
      color: rgb(0, 255, 255);
      text-align: center;
    }
  }
}
</style>
