<template>
  <div :key="$route.path">
    <div class="Sirv" data-options="thumbnails.position:left;click-to-zoom:0" data-mobile-options="thumbnails.position:bottom">
      <div :data-src="image.src" v-for="image in gallery" :key="image.src" data-type="zoom" :data-alt="name" />
    </div>
  </div>
</template>
<script>

export default ({
  props: {
    name: {
      type: String,
      default: ''
    },
    gallery: {
      type: Array,
      required: true,
      default: () => []
    }
  },
  methods: {
    loadSirv (components) {
      return new Promise((resolve) => {
        const script = document.createElement('script');
        script.src = 'https://scripts.sirv.com/sirvjs/v3/sirv.js';
        script.type = 'text/javascript';
        script.async = true;
        if (components) {
          script.dataset.components = components;
        }
        script.onload = resolve;
        document.body.appendChild(script);
      });
    }
  },
  mounted () {
    if (typeof window.Sirv === 'undefined') {
      this.loadSirv('spin, zoom, video')
        .then(() => {
          window.Sirv.start();
        })
        .catch(() => console.error('Something went wrong.'));
    } else {
      window.Sirv.start();
    }
  }
})
</script>
<style lang="scss">
.smv {
  .smv-button-fullscreen-open {
    right: 15px;
    bottom: 0;
    top: 90%;
    height: 24px;
    width: 24px;
    padding: 0;
  }
}
</style>
