<template>
  <div @click="$emit('change', variant)">
    <button
      class="relative pointer weight-selector"
      :class="{ active: isActive }"
      :aria-label="'Select size ' + variant.label"
    >
      {{ variant.label }}
    </button>
  </div>
</template>

<script>
import filterMixin from 'theme/mixins/filterMixin.ts'

export default {
  mixins: [filterMixin]
}
</script>

<style lang="scss" scoped>
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $gray-979797: color(gray-979797);
  $gray-c3c3c3: color(gray-c3c3c3);
  $red: color(red);
  .pack_weight{
    > div{
      display: inline-block;
    }
  }
  .weight-selector {
    border: 1px solid $gray-c3c3c3;
    border-radius: 2px;
    background: transparent;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 5px;
    font-size: 14px;
    min-width: 70px;
    &.active {
        border-color: $red;
    }
  }
</style>
