<!DOCTYPE html>
<html data-vue-meta-server-rendered {{{ meta.inject().htmlAttrs.text() }}} amp>
  <head><!-- index for default theme -->
  	{{{ meta.inject().title.text() }}}
		{{{ meta.inject().meta.text() }}}
		<meta name="generator" content="Jollyes">
		{{{ meta.inject().link.text() }}}
		{{{ output.appendHead() }}}
		{{{ renderStyles().replace("<style", "<style amp-custom") }}}
	</head>
  <body>
		<!--vue-ssr-outlet-->
  </body>
</html>
