<template>
  <button
    type="button"
    class="bg-cl-transparent brdr-none inline-flex p0 menuicon"
    @click="openSidebarMenu(); removeBodyScroll();"
    :aria-label="$t('Open menu')"
    data-testid="menuButton"
  >
    <svg enable-background="new 0 0 48 48" height="22px" id="Layer_3" version="1.1" viewBox="0 0 48 48" width="22px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g>
        <polygon fill="#241F20" points="28.357,20.508 19.642,20.508 6.47,20.508 0.03,20.508 0.03,27.492 4.032,27.492 19.642,27.492    28.357,27.492 41.032,27.492 47.97,27.492 47.97,20.508 44.282,20.508  " /><polygon fill="#241F20" points="44.282,6.524 28.357,6.524 19.642,6.524 6.47,6.524 0.03,6.524 0.03,13.508 4.032,13.508    19.642,13.508 28.357,13.508 41.032,13.508 47.97,13.508 47.97,6.524  " /><polygon fill="#241F20" points="28.357,34.492 19.642,34.492 6.47,34.492 0.03,34.492 0.03,41.477 4.032,41.477 19.642,41.477    28.357,41.477 41.032,41.477 47.97,41.477 47.97,34.492 44.282,34.492  " />
      </g>
    </svg>
  </button>
</template>

<script>
import HamburgerIcon from '@vue-storefront/core/compatibility/components/blocks/Header/HamburgerIcon'
import { isServer } from '@vue-storefront/core/helpers'

export default {
  mixins: [HamburgerIcon],
  data () {
    return {
      scrollPosition: 0
    }
  },
  mounted () {
    this.$bus.$on('body-scroll-position-add', this.addBodyScroll)
  },
  methods: {
    removeBodyScroll () {
      if (isServer) {
        return false
      }
      this.$nextTick(async () => {
        const $body = document.querySelector('body');
        let scrollPosition = window.pageYOffset || 0;
        $body.style.overflow = 'hidden';
        $body.style.position = 'fixed';
        $body.style.top = `-${scrollPosition}px`;
        $body.style.width = '100%';
        this.scrollPosition = scrollPosition;
      })
    },
    addBodyScroll () {
      this.$nextTick(() => {
        const $body = document.querySelector('body');
        $body.style.removeProperty('overflow');
        $body.style.removeProperty('position');
        $body.style.removeProperty('top');
        $body.style.removeProperty('width');
        window.scrollTo(0, this.scrollPosition);
      })
    }
  }
}
</script>
<style lang="scss" scoped>
.menuicon{
  i{
    font-size: 24px;
  }
}
</style>
