<template>
  <div class="relative search-block">
    <div class="search-group flex bg-cl-light-gray">
      <input
        class="search-input"
        :placeholder="$t('I’m shopping for....')"
        type="search"
        autocomplete="off"
        v-model="searchText"
        id="headersearch"
        @input="sajariProductSearch($event.target.value)"
        @focusin="openSearchBox"
        @keypress.enter="openSearchResultPage"
        @keyup.down="$refs.searchresult.onArrowDown"
        @keyup.up="$refs.searchresult.onArrowUp"
      >
      <span class="search-icons" @click="openSearchResultPage">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none" />
          <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
        </svg>
      </span>
    </div>
    <div
      class="search-lists bg-cl-white"
      v-if="isSeachBoxOpen && searchText !== ''"
    >
      <search-result
        :search-result="visibleProducts"
        :search-text="searchText"
        :search-suggestion="suggestions"
        :article-result="visibleArticles"
        @searchUpdate="updateSearchValue"
        @searchChange="searchChangeText"
        ref="searchresult"
      />
    </div>
    <div
      class="head-overlay fixed w-100"
      @click="closeSearchBox"
      v-if="isVisible"
    />
    <div
      class="overlay fixed w-100"
      @click="closeSearchBox"
      v-if="isVisible && searchText !== ''"
    />
  </div>
</template>

<script>
import SearchIcon from '@vue-storefront/core/compatibility/components/blocks/Header/SearchIcon';
import SearchPanel from '@vue-storefront/core/compatibility/components/blocks/SearchPanel/SearchPanel';
import SearchResult from './SearchResults';
import config from 'config';
import {
  Client,
  DefaultSession,
  TrackingType,
  InteractiveSession
} from '@sajari/sdk-js';

export default {
  mixins: [SearchIcon, SearchPanel],
  components: {
    SearchResult
  },
  props: {
    isMobileSearch: {
      type: Boolean,
      default: false,
      required: false
    }
  },
  data () {
    return {
      isSeachBoxOpen: false,
      isVisible: false,
      client: null,
      defaultSession: null,
      clickTrackedSession: null,
      processingSearch: false,
      visibleProducts: [],
      visibleArticles: [],
      suggestions: '',
      articleClient: null,
      articleDefaultSession: null,
      articleClickTrackedSession: null,
      searchText: this.$route.query.keyword ? this.$route.query.keyword : ''
    };
  },
  mounted () {
    this.productSearchInstance();
    // this.articleSeachInstance();
  },
  watch: {
    $route (to, from) {
      if (from.name === 'search-result' && to.name !== 'search-result') this.searchText = '';
      this.isSeachBoxOpen = false;
      this.isVisible = false;
    }
  },
  methods: {
    openSearchBox (e) {
      this.isVisible = true
      this.isSeachBoxOpen = true
    },
    closeSearchBox () {
      this.isVisible = false
      this.isSeachBoxOpen = false
    },
    openMobileSearchBox () {
      this.$bus.$emit('open-search-input');
    },
    productSearchInstance () {
      const {
        projectId,
        product: { collectionId, pipeline }
      } = config.sajari;
      this.client = new Client(projectId, collectionId).pipeline(pipeline);
      this.clickTrackedSession = new InteractiveSession(
        'q',
        new DefaultSession(TrackingType.Click, 'seourl', {})
      );
    },
    articleSeachInstance () {
      const {
        projectId,
        article: { collectionId, pipeline }
      } = config.sajari;
      this.articleClient = new Client(projectId, collectionId).pipeline(
        pipeline
      );
      this.articleClickTrackedSession = new InteractiveSession(
        'q',
        new DefaultSession(TrackingType.Click, 'seourl', {})
      );
    },
    sajariProductSearch (e) {
      let inputValue = e;
      if (inputValue.trim() !== '' && inputValue.trim().length >= 3 && !this.processingSearch) {
        this.processingSearch = true
        let productValues = {
          q: inputValue,
          resultsPerPage: '5',
          countAggregate:
            'dietary_requirements,breed_size,lifestage,mainflavour,web_brands,web_categories'
        };
        this.client
          .search(productValues, this.clickTrackedSession.next(productValues))
          .then(([response, values]) => {
            const { results } = response;
            this.visibleProducts = results && results.length > 0 ? results : [];
            if (values) {
              this.suggestions = values['q.suggestions'];
            }
            this.processingSearch = false
          }).catch(err => {
            this.processingSearch = false
            console.log(err)
          });

        /**
         * Uncommnet below code for article seachig as well
        */

        // let articleValues = {
        //   q: inputValue,
        //   resultsPerPage: '5',
        //   countAggregate: 'articlecategory'
        // };

        // this.articleClient
        //   .search(
        //     articleValues,
        //     this.articleClickTrackedSession.next(articleValues)
        //   )
        //   .then(([response, values]) => {
        //     const { results } = response;
        //     this.visibleArticles = results && results.length > 0 ? results : [];
        //   });
      } else {
        if (inputValue.trim() !== '') {
          this.visibleProducts = [];
          this.visibleArticles = [];
        }
      }
    },
    openSearchResultPage () {
      if (this.searchText !== '') {
        this.$router.push(`/search-result?keyword=${this.searchText}`);
      }
    },
    searchChangeText (value) {
      this.searchText = value;
    },
    updateSearchValue (value) {
      this.searchText = value;
      this.$router.push(`/search-result?keyword=${this.searchText}`);
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
@import "~theme/css/base/global_vars";
$cl-cccccc: color(gray-CCCCCC);
$cl-eeeeee: color(white-EEEEEE);
$bg-cl-eaeaec: color(black-EAEAEC);
$black: color(black);
$z-index-overlay: map-get($z-index, overlay);

.search-group {
  border-radius: 35px;
  padding: 5px 0;
  position: relative;
  z-index: 2;
  input {
    border: none;
    padding: 0 65px 0 28px;
    background-color: transparent;
    width: 100%;
    &::placeholder {
      color: $black;
    }
  }
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
  .search-icons {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translate(0, -50%);
    svg {
      display: block;
      width: 36px;
      height: 36px;
    }
  }
  @media (max-width: 991px) {
    padding: 0;
    input {
      padding: 0 40px 0 15px;
      font-size: 16px;
      height: 40px;
      line-height: 40px;
    }
    .search-icons {
      right: 12px;
      svg {
        width: 23px;
        height: 23px;
      }
    }
  }
}
.overlay {
  height: 100vh;
  top: 0;
  left: 0;
  z-index: $z-index-overlay;
}
.search-lists {
  height: auto;
  width: 100%;
  position: absolute;
  z-index: 9999;
  top: 62px;
  left: 0;
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  &::after {
    content: "";
    position: absolute;
    top: -5px;
    left: 160px;
    right: 0;
    width: 10px;
    height: 10px;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    background: #fff;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    width: 610px;
  }
  @media (max-width: 991px) {
    width: 90% !important;
    left: 5% !important;
    top: 97px !important;
    &::after {
      left: initial;
      right: 15%;
    }
  }
}
@media (max-width: 991px) {
  .close-search {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-left: 5px;
  }
}
</style>
<style lang="scss">
.search-lists {
  .search-table {
    .product-image {
      padding: 0px !important;
      img {
        display: block;
        width: 100%;
      }
    }
  }
}
.search-icon {
  .search-block {
    .overlay {
      left: 0;
      z-index: 112;
      background: rgba(0, 0, 0, 0.8);
    }
    @media (max-width: 991px) {
      position: inherit;
    }
  }
}
header.is-visible {
  .search-icon {
    .search-block {
      .overlay {
        top: 121px;
      }
      .head-overlay {
        left: 0;
        top: 0;
        height: 121px;
        z-index: 1;
        background: rgba(0, 0, 0, 0.01);
      }
      @media (max-width: 991px) {
        .overlay {
          top: 91px;
        }
        .head-overlay {
          height: 91px;
        }
      }
    }
  }
}
header {
  .search-icon {
    .search-block {
      .overlay {
        top: 91px;
      }
      .head-overlay {
        height: 91px;
      }
      @media (max-width: 991px) {
        .overlay {
          top: 91px;
        }
        .head-overlay {
          height: 91px;
        }
      }
    }
  }
}
</style>
