<template>
  <div class="search-results" ref="scrollContainer">
    <div
      class="search-suggetion"
      v-if="suggestions.length > 0 && searchResult.length > 0"
    >
      <ul class="suggetion-items">
        <li
          class="suggetion-item"
          v-for="(item, index) of suggestions"
          :key="index"
          @click="$emit('searchUpdate', item)"
          ref="options"
        >
          {{ item }}
        </li>
      </ul>
    </div>
    <div class="result-text" v-if="searchText && searchResult.length > 0">
      <router-link :to="localizedRoute(`/search-result?keyword=${searchText}`)">
        see all <strong>{{ $t(searchText) }}</strong> product results
      </router-link>
    </div>
    <table class="search-table w-100" v-if="searchResult.length > 0">
      <tr v-for="(product, index) of searchResult" :key="index" class="">
        <td class="py10 px20 search-pr-img">
          <div class="s-p-image">
            <product-image :image="getProductImage(product.values.image)" />
          </div>
        </td>
        <td class="py10 px20">
          <div class="s-p-name weight-600 f-s-16">
            <router-link
              class="block no-underline product-link cl-black-2D242D"
              @mousedown.native="trackSajariClick(index)"
              :to="localizedRoute('/' + product.values.seourl + '.html')"
              data-testid="productSearch"
            >
              {{ product.values.web_product_name }}
            </router-link>
          </div>
        </td>
      </tr>
    </table>

    <!-- Article Start -->
    <div class="result-text" v-if="searchText && articleResult.length > 0">
      <router-link :to="localizedRoute(`/search-result?keyword=${searchText}`)">
        see all <strong>{{ $t(searchText) }}</strong> article results
      </router-link>
    </div>
    <table class="search-table w-100" v-if="articleResult.length > 0">
      <tr v-for="(article, index) of articleResult" :key="index" class="">
        <td class="py10 px20 search-pr-img">
          <div class="s-p-image">
            <product-image
              :image="getProductImage(article.values.articleimage, 'article')"
            />
          </div>
        </td>
        <td class="py10 px20">
          <div class="s-p-name weight-600 f-s-16">
            <router-link
              class="block no-underline product-link cl-black-2D242D"
              to="/"
              data-testid="articleSearch"
            >
              {{ article.values.title }}
            </router-link>
          </div>
        </td>
      </tr>
    </table>

    <!-- Article End -->

    <div
      class="align-center"
      v-if="searchResult.length === 0 && articleResult.length === 0"
    >
      <p class="a-bold f-s-18 p15">
        {{ $t("No results were found.") }}
      </p>
    </div>
  </div>
</template>
<script>
import ProductImage from 'theme/components/core/ProductImage.vue';
import { productThumbnailPath } from '@vue-storefront/core/helpers';
import config from 'config';
import { currentStoreView } from '@vue-storefront/core/lib/multistore';
import { formatProductLink } from '@vue-storefront/core/modules/url/helpers';
import fetch from 'isomorphic-fetch';

export default {
  name: 'SearchResult',
  props: {
    searchResult: {
      type: Array,
      required: true
    },
    searchSuggestion: {
      type: String,
      required: false,
      default: ''
    },
    articleResult: {
      type: Array,
      required: false,
      default: () => []
    },
    searchText: {
      type: String,
      required: false,
      default: ''
    }
  },
  data () {
    return {
      searchLength: config.aureatelabs.searchResultDesktop.length,
      arrowCounter: -1
    };
  },
  components: {
    ProductImage
  },
  computed: {
    storeView () {
      return currentStoreView();
    },
    displayResult () {
      return this.searchResult.slice(0, this.searchLength);
    },
    suggestions () {
      return this.searchSuggestion !== ''
        ? this.searchSuggestion.split(',').slice(0, 3)
        : [];
    }
  },
  methods: {
    onArrowDown (ev) {
      ev.preventDefault()
      if (this.arrowCounter < this.suggestions.length - 1) {
        this.arrowCounter = this.arrowCounter + 1;
        this.fixScrolling();
      }
    },
    async trackSajariClick (index) {
      let searchRes = this.searchResult.find((result, arrIndex) => arrIndex === index);
      if (searchRes) {
        await fetch(searchRes.token.click, {
          method: 'GET',
          headers: { 'Content-Type': 'application/json' }
        });
      }
    },
    onArrowUp (ev) {
      ev.preventDefault()
      if (this.arrowCounter > 0) {
        this.arrowCounter = this.arrowCounter - 1;
        this.fixScrolling();
      }
    },
    fixScrolling () {
      this.$refs.options.forEach(opt => {
        opt.classList.remove('hover');
      })
      const liH = this.$refs.options[this.arrowCounter].clientHeight;
      this.$refs.scrollContainer.scrollTop = liH * this.arrowCounter;
      this.$refs.options[this.arrowCounter].classList.add('hover');
      const updatedSearchText = this.$refs.options[this.arrowCounter].innerHTML.trim();
      this.$emit('searchChange', updatedSearchText);
    },
    changeSearch (item) {
      this.$emit('searchUpdate', item)
    },
    getProductImage (path, type) {
      let thumbnail = this.getThumbnail(
        '/' + path,
        config.products.thumbnails.width,
        config.products.thumbnails.height
      );
      return type === 'article'
        ? {
          src: path,
          loading: thumbnail
        }
        : {
          src: thumbnail,
          loading: thumbnail
        };
    },
    getSearchProductUrl (product) {
      return formatProductLink(product, currentStoreView().storeCode);
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
$white: color(white);
$red: color(red);
.search-results {
  padding: 0;
  z-index: 1;
  position: relative;
  background: $white;
  border-radius: 10px;
  overflow: auto;
  max-height: 490px;
  .search-pr-img {
    width: 12%;
  }
  .search-suggetion {
    padding: 20px 20px 0;
    line-height: 1.8;
    text-align: left;
    @media (max-width: 767px) {
      padding: 10px 10px 0;
    }
    & + .result-text{
      padding-top: 0;
    }
    .suggetion-item {
      transition: all 0.5s ease;
      &.hover,
      &:hover {
        color: $red;
      }
    }
  }
  .result-text {
    text-align: left;
    padding: 20px 20px 15px;
    border-bottom:1px solid #979797;
    @media (max-width: 767px) {
      padding: 0 10px 10px;
    }
  }
  table {
    tr {
      border-top: 0px;
      a {
        font-size: 14px;
      }
    }
  }
}
.search-table {
  border-collapse: collapse;
  tr {
    &:last-child {
      border-bottom: 0px;
    }
    &.hover {
      .s-p-name {
        a {
          color: $red;
        }
      }
    }
  }
}
.s-p-name {
  text-align: left;
  span {
    font-weight: 400;
  }
  @media (max-width: 767px) {
    padding-right: 10px;
  }
}
.s-p-price {
  text-align: right;
  font-weight: 700;
}
.s-p-image {
  max-width: 100%;
  width: 70px;
  height: auto;
}
.price-original {
  text-decoration: line-through;
}
</style>
