<template>
  <div>
    <router-link to="/locator" class="store-locator bg-cl-transparent brdr-none align-center p0 bold">
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16 2.66669C10.8466 2.66669 6.66663 6.84669 6.66663 12C6.66663 19 16 29.3334 16 29.3334C16 29.3334 25.3333 19 25.3333 12C25.3333 6.84669 21.1533 2.66669 16 2.66669ZM16 15.3334C14.16 15.3334 12.6666 13.84 12.6666 12C12.6666 10.16 14.16 8.66669 16 8.66669C17.84 8.66669 19.3333 10.16 19.3333 12C19.3333 13.84 17.84 15.3334 16 15.3334Z" fill="#111111" />
      </svg>
      <span v-if="!isLoaded">
        &nbsp;
      </span>
      <span v-else>
        {{ (storeText && currentUser) ? storeText : 'Store Locator' }}
      </span>
    </router-link>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { getCookie } from 'theme/helpers'
export default {
  data () {
    return {
      storeText: 'Store Locator',
      isLoaded: false
    }
  },
  computed: {
    ...mapState({
      currentUser: state => state.user.current
    })
  },
  watch: {
    '$route' () {
      this.$bus.$emit('change-store-text')
    }
  },
  beforeMount () {
    this.$bus.$on('change-store-text', (params) => {
      if (params === undefined) {
        const localstoredata = getCookie('storelocator');
        if (localstoredata !== null && localstoredata !== '') {
          const storeJsonData = JSON.parse(localstoredata);
          if (storeJsonData.name !== 'Fulfilment Crowd') {
            this.storeText = storeJsonData.name
          }
        }
      } else {
        this.storeText = params
      }
    })
    this.$bus.$emit('change-store-text')
  },
  mounted () {
    this.isLoaded = true;
  },
  destroyed () {
    this.$bus.$off('change-store-text')
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-secondary: color(secondary);
$black: color(black);
$white: color(white);
  .store-locator{
    font-size: 14px;
    display: block;
    &:hover{
      color: $black;
    }
    &.router-link-exact-active{
      color: $color-secondary;
      path{
        fill: $color-secondary;
        @media (max-width: 991px) {
          fill: $white;
        }
      }
    }
    span{
      display: block;
      padding-top:2px;
    }
    @media (max-width: 991px) {
      font-size: 13px;
      img{
        height: 25px;
      }
    }
  }
</style>
