<template>
  <div class="top-promotional-bar bg-cl-red">
    <no-ssr>
      <div class="swiper-container promotional-bar-menu flex">
        <div v-if="topHeaderInfo && topHeaderInfo !== null" v-swiper:mySwiper="swiperOption">
          <div v-html="topHeaderInfo" class="swiper-wrapper" />
        </div>
      </div>
    </no-ssr>
  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr';
import { directive } from 'vue-awesome-swiper'
import SwiperCore, { Autoplay } from 'swiper';
import 'swiper/swiper.scss'
import { mapGetters } from 'vuex';
SwiperCore.use([Autoplay]);

export default {
  components: {
    'no-ssr': NoSSR
  },
  directives: {
    swiper: directive
  },
  data () {
    return {
      topIdentifier: 'header_promotional_bar',
      topHeaderInfo: null,
      swiperOption: {
        slidesPerView: 1,
        spaceBetween: 0,
        loop: true,
        observer: true,
        observeParents: true,
        autoplay: {
          delay: 2000
        },
        breakpoints: {
          1200: {
            slidesPerView: 4,
            touchRatio: 0,
            autoplay: false
          },
          992: {
            slidesPerView: 3,
            autoplay: false
          },
          768: {
            slidesPerView: 2
          }
        }
      }
    }
  },
  computed: {
    ...mapGetters({
      cmsBlocks: 'cmsBlock/cmsBlocks'
    })
  },
  async created () {
    this.topHeaderInfo = await this.$store.dispatch('cmsBlock/single', {
      key: 'identifier',
      value: this.topIdentifier
    }).then(res => res?.content || null)
  }
}
</script>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$red: color(red);
$white: color(white);

.top-promotional-bar{
  padding:0 25px;
  min-height: 30px;
  .promotional-bar-menu{
    .swiper-slide{
      text-align: center;
      position: relative;
      padding: 6px 5px;
      &:after{
        content:'';
        width:1px;
        height:100%;
        background:$white;
        display: block;
        position:absolute;
        top:0;
        right:0;
      }
      &:after:last-child{
        display:none;
      }
      a{
        color: $white;
        &[href="#"] {
          cursor: auto;
        }
      }
    }
    &:after{
      content:'';
      width:2px;
      height:100%;
      background:$red;
      display: block;
      position:absolute;
      top:0;
      right:0;
      z-index:9;
    }
  }
}
</style>
