<template>
  <div id="app">
    <component :is="layout">
      <router-view />
    </component>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { isServer } from '@vue-storefront/core/helpers'
const DefaultLayout = () => import(/* webpackChunkName: "vsf-layout-default" */ './layouts/Default')
const EmptyLayout = () => import(/* webpackChunkName: "vsf-layout-empty" */ './layouts/Empty')
const MinimalLayout = () => import(/* webpackChunkName: "vsf-layout-minimal" */ './layouts/Minimal')

export default {
  data () {
    return {
      ordersData: []
    }
  },
  computed: {
    ...mapState({
      overlayActive: state => state.ui.overlay
    }),
    layout () {
      return `${(this.$route.meta.layout || 'default')}-layout`
    }
  },
  watch: {
    '$route' (nV, oV) {
      this.reloadTrustpilot();
      if (typeof window !== 'undefined' && typeof window.localStorage !== 'undefined') {
        let cart = localStorage.getItem('shop/cart/current-cart-token')
        if (!cart && nV.name === 'checkout') {
          window.location.reload(1);
        }
      }
    }
  },
  mounted () {
    this.reloadTrustpilot();
  },
  methods: {
    reloadTrustpilot () {
      if (isServer) return false
      setTimeout(() => {
        let trustbox = document.querySelectorAll('.trustpilot-widget');
        if (trustbox && trustbox.length > 0) {
          trustbox.forEach(tb => {
            if (window.Trustpilot !== undefined) {
              window.Trustpilot.loadFromElement(tb);
            }
          })
        }
      }, 500)
    }
  },
  components: {
    DefaultLayout,
    EmptyLayout,
    MinimalLayout
  }
}
</script>
