<template>
  <div class="relative" :id="sliderId">
    <div class="block-title flex between-xs">
      <h2>
        {{ secTitle }}
        <div class="sec-subtitle" v-if="subTitle">
          {{ subTitle }}
        </div>
      </h2>
      <div class="swiper-arrows flex" v-show="teams.length > 6">
        <span :id="sliderId + '-button-prev'" class="swiper-button-prev" slot="button-prev">
          <img src="/assets/icons/right-arrow.png" width="15" height="24" alt="Prev">
        </span>
        <span :id="sliderId + '-button-next'" class="swiper-button-next" slot="button-next">
          <img src="/assets/icons/right-arrow.png" width="15" height="24" alt="Next">
        </span>
      </div>
    </div>
    <div class="team-member-list">
      <swiper class="swiper flex" :options="swiperOption" :instance-name="sliderId">
        <swiper-slide v-for="(teamMember, index) in teams" :key="index">
          <div class="member-photo">
            <span>
              <img :src="teamMember.image?teamMember.image:null" alt="">
            </span>
          </div>
          <div class="member-info border-box">
            <h3>
              {{ teamMember.name?teamMember.name:null }}
            </h3>
            <p>
              {{ teamMember.shortDescription }}
            </p>
          </div>
        </swiper-slide>
      </swiper>
    </div>
  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr';
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import SwiperCore, { Navigation } from 'swiper';
import 'swiper/swiper.scss'

SwiperCore.use([Navigation]);

export default {
  components: {
    Swiper,
    SwiperSlide
  },
  data () {
    return {
      swiperOption: {
        slidesPerView: 'auto',
        // centeredSlides: true,
        grabCursor: true,
        navigation: {
          nextEl: ('#' + this.sliderId + '-button-next'),
          prevEl: ('#' + this.sliderId + '-button-prev')
        },
        breakpoints: this.sliderBreakPoints(),
        1200: {
          touchRatio: 0
        }
      }
    }
  },
  props: {
    teams: {
      type: Array,
      required: false,
      default () {
        return []
      }
    },
    sliderId: {
      type: String,
      default: ''
    },
    secTitle: {
      type: String,
      default: ' New Product'
    },
    subTitle: {
      type: String,
      default: ''
    },
    perPageCustom: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    sliderBreakPoints () {
      let breakPointsArr = {};
      let breakPointsScreens = [];
      let slidesPerViewArr = [];

      this.perPageCustom.forEach((perPage) => {
        breakPointsScreens.push(perPage[0]);
        slidesPerViewArr.push({
          slidesPerView: perPage[1][0],
          spaceBetween: perPage[1][1]
        });
      });
      breakPointsArr = Object.assign(...breakPointsScreens.map((k, i) => ({ [k]: slidesPerViewArr[i] })));
      return breakPointsArr;
    }
  }
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
.team-member-list{
  .member-photo{
    border-radius: 100%;
    overflow: hidden;
    border: solid 10px $white;
    span{
      position: relative;
      padding-top: 100%;
      display: block;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        object-position: top;
        object-fit: cover;
      }
    }
  }
  .member-info{
    margin-top: -70px;
    position: relative;
    h3{
      font-size: 14px;
    }
    p{
      font-size: 14px;
      padding: 15px 0 0;
    }
    @media (max-width: 1199px) {
      &.border-box{
        padding: 10px;
        p{
          font-size: 13px;
          padding-top: 10px;
        }
      }
    }
  }
}
#jollyes-team{
  @media (max-width: 1199px) {
    .swiper-arrows{
      display:inline-flex;
    }
  }
}
</style>
