<template>
  <div class="store-event">
    <h2 class="block-title">
      {{ $t('Store events') }}
    </h2>
    <div class="border-box d-flex" v-for="(event, index) in storeEvents" :key="index">
      <div class="event-photo">
        <img :src="event.image.url?event.image.url:null" alt="Store Event">
      </div>
      <div class="event-details">
        <h3>
          {{ event.name?event.name:null }}
        </h3>
        <span class="date flex middle-xs">
          <img src="/assets/icons/calendar-icon.png" alt="Calendar">
          <strong>
            {{ event.date }}
          </strong>
        </span>
        <p>
          {{ event.shortDescription }}
        </p>
        <router-link class="btn black" to="/">
          {{ event.buttonText }}
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
  },
  data () {
    return {
    }
  },
  props: {
    storeEvents: {
      type: Array,
      required: false,
      default () {
        return []
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.store-event{
  .event-photo{
    margin-right: 20px;
  }
  .event-details{
    max-width: 920px;
    .date{
      padding: 15px 0;
      img{
        margin-right: 10px;
      }
    }
  }
  @media (max-width: 767px) {
    h3{
      font-size: 16px;
    }
    .event-photo{
      margin: 0 0 15px;
      img{
        width: 100%;
      }
    }
  }
}
</style>
