<template>
  <div class="category-list relative" :id="sliderId">
    <div class="block-title flex between-xs">
      <h2>
        {{ secTitle }}
        <div class="sec-subtitle" v-if="subTitle">
          {{ subTitle }}
        </div>
      </h2>
      <div class="swiper-arrows flex">
        <span :id="sliderId + '-button-prev'" class="swiper-button-prev" slot="button-prev">
          <img src="/assets/icons/right-arrow.png" width="15" height="24" alt="Prev">
        </span>
        <span :id="sliderId + '-button-next'" class="swiper-button-next" slot="button-next">
          <img src="/assets/icons/right-arrow.png" width="15" height="24" alt="Next">
        </span>
      </div>
    </div>
    <div class="store-swiper">
      <swiper class="swiper flex" :options="swiperOption" :instance-name="sliderId">
        <swiper-slide v-for="(store, index) in storePhotoGallery" :key="index">
          <span>
            <img :src="store.url?store.url:null" :alt="store.altText">
          </span>
          <h4>
            {{ store.title }}
          </h4>
          <p>
            {{ store.subTitle }}
          </p>
        </swiper-slide>
      </swiper>
    </div>
  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr';
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import SwiperCore, { Navigation } from 'swiper';
import 'swiper/swiper.scss'

SwiperCore.use([Navigation]);

export default {
  components: {
    Swiper,
    SwiperSlide
  },
  data () {
    return {
      swiperOption: {
        slidesPerView: 'auto',
        // centeredSlides: true,
        grabCursor: true,
        navigation: {
          nextEl: ('#' + this.sliderId + '-button-next'),
          prevEl: ('#' + this.sliderId + '-button-prev')
        },
        breakpoints: this.sliderBreakPoints()
      }
    }
  },
  props: {
    storePhotoGallery: {
      type: Array,
      required: false,
      default () {
        return []
      }
    },
    sliderId: {
      type: String,
      default: ''
    },
    secTitle: {
      type: String,
      default: ' New Product'
    },
    subTitle: {
      type: String,
      default: ''
    },
    perPageCustom: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    sliderBreakPoints () {
      let breakPointsArr = {};
      let breakPointsScreens = [];
      let slidesPerViewArr = [];

      this.perPageCustom.forEach((perPage) => {
        breakPointsScreens.push(perPage[0]);
        slidesPerViewArr.push({
          slidesPerView: perPage[1][0],
          spaceBetween: perPage[1][1]
        });
      });
      breakPointsArr = Object.assign(...breakPointsScreens.map((k, i) => ({ [k]: slidesPerViewArr[i] })));
      return breakPointsArr;
    }
  }
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$white: color(white);
$black: color(black);
$black-464444: color(black-464444);

.store-swiper{
  .swiper-slide{
    h4{
      padding: 20px 0 10px;
    }
    p{
      font-size:14px;
    }
    span{
      img {
        display:block;
        width:100%;
      }
    }
    @media (max-width: 767px) {
      h4{
        font-size: 16px;
      }
    }
  }
}
</style>
