<template>
  <div class="map">
    <l-map :zoom="zoom" :center="[latitude,longitude]">
      <l-tile-layer
        :url="mapUrl"
      />
      <l-marker :lat-lng="[latitude,longitude]" :icon="icon" :ref="'marker'">
        <l-popup :ref="'popup'">
          <b>{{ store.name }}</b><br>{{ store.streetAddress }}, {{ store.city }}, {{ store.county }}, {{ store.postCode }}
        </l-popup>
      </l-marker>
    </l-map>
  </div>
</template>

<script>
import { LMap, LTileLayer, LMarker, LPopup } from 'vue2-leaflet';
import { latLng, icon } from 'leaflet';
import 'leaflet/dist/leaflet.css';

export default {
  data () {
    return {
      icon: icon({
        iconUrl: '/assets/favicon-32x32.png',
        iconSize: [32, 38],
        iconAnchor: [16, 37],
        popupAnchor: [0, -32]
      }),
      zoom: 13,
      mapUrl: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
    }
  },
  beforeUpdate () {
    this.$nextTick(() => {
      console.log(this.$refs.marker.mapObject.openPopup())
    })
  },
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LPopup
  },
  props: {
    latitude: {
      type: Number,
      default: 0
    },
    longitude: {
      type: Number,
      default: 0
    },
    store: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$oat: color(oat);

.map {
  .leaflet-popup {
    bottom:30px !important;
  }
  width: 50%;
  border: 1px solid $oat;
  overflow: hidden;
  z-index: 0;
  iframe{
    width: 100%;
    display: block;
  }
}
@media (max-width: 1199px) {
  .map{
    width: 100%;
    margin-top: 20px;
    height: 400px;
  }
}
@media (max-width: 767px) {
  .map{
    margin-top: 0;
    height: 300px;
  }
}
</style>

<style lang="scss">
.leaflet-popup-tip-container {
  top: 90%;
  z-index: -1;
}
</style>
