<template>
  <div class="adyen-block" :style="processing ? 'pointer-events:none; opacity: 0.5;' :null">
    <div id="adyen-payments-dropin" ref="adyenpaymentsdropin" />
    <div class="adyen-payments-processing site-loader-wrap" v-if="processing" />
  </div>
</template>

<script>
import Checkout from '@vue-storefront/core/pages/Checkout'
import AdyenCheckout from '@adyen/adyen-web';
import '@adyen/adyen-web/dist/adyen.css';
import { currentStoreView } from '@vue-storefront/core/lib/multistore';
import i18n from '@vue-storefront/i18n';
import config from 'config';
import EventBus from '@vue-storefront/core/compatibility/plugins/event-bus'
import { mapGetters, mapState } from 'vuex'
import { getCookie, setCookie } from 'theme/helpers'
import { getThumbnailPath } from '@vue-storefront/core/helpers'

export default {
  name: 'AdyenPayments',
  data () {
    return {
      payment: this.$store.state.checkout.paymentDetails,
      shipping: this.$store.state.checkout.shippingDetails,
      adyenCheckoutInstance: null,
      totalAmount: 0,
      checkout: null,
      state: null,
      component: null,
      processing: false,
      directProcess: true,
      adyenPayload: null,
      paymentMethod: '',
      adyenPaymentMethodList: null
    };
  },
  computed: {
    ...mapState({
      currentUser: state => state.user.current
    }),
    ...mapGetters({
      cartTotal: 'cart/getTotals',
      cartItems: 'cart/getCartItems',
      adyenOrder: 'payment-adyen/getAdyenOrderData',
      getPersonalDetails: 'checkout/getPersonalDetails'
    }),
    cartGrandTotal () {
      let cartGrandTotal = this.cartTotal.find(
        total => total.code === 'grand_total'
      );
      return cartGrandTotal || {};
    },
    cartShippingAmount () {
      let cartShipping = this.cartTotal.find(
        total => total.code === 'shipping'
      );
      return cartShipping || undefined;
    },
    cartDiscount () {
      let cartDiscount = this.cartTotal.find(
        total => total.code === 'discount'
      );
      return cartDiscount || undefined;
    },
    petClubVoucher () {
      let petClubVoucher = this.cartTotal.find(
        total => total.extension_attributes && total.extension_attributes.loyalty_coupons && total.extension_attributes.loyalty_coupons !== '' && total.extension_attributes.loyalty_coupons !== '[]'
      );
      return petClubVoucher || undefined;
    },
    lastOrderConfirmation () {
      return this.$store.state.order.last_order_confirmation ? this.$store.state.order.last_order_confirmation.confirmation : {}
    },
    lastOrder () {
      return this.$store.state.order.last_order_confirmation ? this.$store.state.order.last_order_confirmation.order : {}
    }
  },
  watch: {
    cartTotal: {
      handler () {
        this.totalAmount = this.cartGrandTotal.value
        if (this.checkout !== null && typeof this.checkout.update !== 'undefined') {
          this.checkout.update({
            paymentMethodsConfiguration: this.getPaymentConfigs(this.adyenPaymentMethodList)
          })
        }
      }
    }
  },
  async mounted () {
    this.totalAmount = this.cartGrandTotal.value
    let loyaltyNumber = (this.currentUser && this.currentUser.custom_attributes) ? this.currentUser.custom_attributes.find((a) => { return (a.attribute_code === 'loyalty_number') }) : '';
    const result = await this.$store
      .dispatch('payment-adyen/loadPaymentMethods', {
        shopperReference: (loyaltyNumber && typeof loyaltyNumber !== 'undefined') ? loyaltyNumber.value : ''
      })
      .then(res => res.response);
    this.adyenPaymentMethodList = result;
    this.createForm(result);
  },
  async beforeMount () {
    this.$bus.$on('payment-adyen-start', this.startProcessing)
    this.$bus.$on('payment-adyen-end', this.endProcessing)
    this.$bus.$on('payment-adyen-direct-debit-start', this.startDirectProcessing)
    this.$bus.$on('payment-adyen-direct-debit-end', this.endDirectProcessing)
    this.$bus.$on('payment-adyen-payload-store', this.storeAdyenPayload)
    this.$bus.$on('order-after-placed', this.onAfterPlaceOrderStartPayment)
    this.$bus.$on('payment-method-adyen', this.setAdyenPaymentMethod)
  },
  beforeDestroy () {
    this.$bus.$off('payment-adyen-start', this.startProcessing)
    this.$bus.$off('payment-adyen-end', this.endProcessing)
    this.$bus.$off('payment-adyen-direct-debit-start', this.startDirectProcessing)
    this.$bus.$off('payment-adyen-direct-debit-end', this.endDirectProcessing)
    this.$bus.$off('payment-adyen-payload-store', this.storeAdyenPayload)
    this.$bus.$off('order-after-placed', this.onAfterPlaceOrderStartPayment)
    this.$bus.$off('payment-method-adyen', this.setAdyenPaymentMethod)
  },
  mixins: [Checkout],
  methods: {
    onAfterPlaceOrderStartPayment (payload) {
      EventBus.$emit('payment-adyen-payload-store', payload)
      if (this.processing && this.directProcess) {
        this.initiatePayment(this.state, this.component)
      }
    },
    async onAfterPaymentDeduct (result) {
      try {
        this.adyenPayload['total'] = this.cartTotal
        this.$store.dispatch('payment-adyen/track', {
          'paymentInfo': {
            'order_id': this.adyenPayload.confirmation.backendOrderId,
            'method': this.paymentMethod,
            'additional_info': result
          }
        })
        this.confirmation = this.adyenPayload.confirmation
        // if (this.adyenOrder.resultCode === 'Authorised') {
        //   setTimeout(() => {
        //     this.$store.dispatch('payment-adyen/invoice', this.confirmation)
        //   }, 5000)
        // }
      } catch (e) {
        console.log(e)
      }
      this.$store.commit('segment/orderCompleted', this.adyenPayload)
      EventBus.$emit('payment-show-thank-you-page')
      this.$store.dispatch('checkout/updateOrderTimestamp')
      this.$store.dispatch('cart/clear', { sync: false }, { root: true })
      this.$store.dispatch('checkout/dropPassword')
      this.$store.dispatch('checkout/setThankYouPage', true)
      this.$store.dispatch('user/getOrdersHistory', { refresh: true, useCache: true })
      EventBus.$emit('notification-progress-stop')
    },
    startProcessing () {
      this.processing = true
    },
    endProcessing () {
      this.processing = false
    },
    startDirectProcessing () {
      this.directProcess = true
    },
    endDirectProcessing () {
      this.directProcess = false
    },
    storeAdyenPayload (payload) {
      this.adyenPayload = payload
      if (typeof window !== 'undefined' && typeof window.localStorage !== 'undefined') {
        localStorage.removeItem('shop/cart/current-cart-token');
        localStorage.removeItem('shop/cart/current-cart-hash');
      }
    },
    setAdyenPaymentMethod (method) {
      this.paymentMethod = method
    },
    getPaymentConfigs (pmethods = null) {
      const storeView = currentStoreView();
      let cartTotalMultipliedBy100 = Math.round(this.totalAmount * 100);
      let applePayConfig = null;
      if (pmethods !== null) {
        applePayConfig = pmethods.paymentMethods.find(method => method.type === 'applepay') || undefined;
      }
      return {
        ideal: {
          showImage: true
        },
        paywithgoogle: {
          environment: config.adyen.environment,
          amount: {
            value: cartTotalMultipliedBy100,
            currency: storeView.i18n.currencyCode
          },
          configuration: {
            gatewayMerchantId: config.adyen.googlepay.gatewayMerchantId,
            merchantIdentifier: config.adyen.googlepay.merchantIdentifier,
            merchantName: config.adyen.googlepay.merchantName
          },
          buttonColor: config.adyen.googlepay.buttonColor
          // onClick: () => {
          //   EventBus.$emit('payment-adyen-direct-debit-end')
          //   EventBus.$emit('payment-adyen-start')
          //   return true
          // }
        },
        paypal: {
          merchantId: config.adyen.paypal.merchantId,
          environment: config.adyen.environment,
          countryCode: storeView.i18n.defaultCountry,
          amount: {
            value: cartTotalMultipliedBy100,
            currency: storeView.i18n.currencyCode
          },
          style: {
            color: config.adyen.paypal.btnColor
          },
          intent: config.adyen.paypal.intent, // authorize
          onClick: () => {
            EventBus.$emit('payment-adyen-direct-debit-end')
            EventBus.$emit('payment-adyen-start')
            return true
          }
        },
        applepay: {
          amount: {
            value: cartTotalMultipliedBy100,
            currency: storeView.i18n.currencyCode
          },
          currencyCode: storeView.i18n.currencyCode,
          countryCode: storeView.i18n.defaultCountry,
          configuration: {
            merchantName: applePayConfig !== undefined && applePayConfig !== null ? applePayConfig.configuration.merchantDisplayName : config.adyen.applepay.merchantName,
            merchantIdentifier: applePayConfig !== undefined && applePayConfig !== null ? applePayConfig.configuration.merchantIdentifier : config.adyen.applepay.merchantIdentifier
          }
        },
        card: {
          hasHolderName: config.adyen.hasHolderName,
          countryCode: storeView.i18n.defaultCountry,
          holderNameRequired: config.adyen.holderNameRequired,
          name: config.adyen.name,
          enableStoreDetails: config.adyen.enableStoreDetails && this.currentUser,
          amount: {
            value: cartTotalMultipliedBy100,
            currency: storeView.i18n.currencyCode
          }
        }
      }
    },
    filterUnimplemented (pm) {
      pm.paymentMethods = pm.paymentMethods.filter(it =>
        [
          'scheme',
          // 'ideal',
          // 'dotpay',
          // 'giropay',
          // 'sepadirectdebit',
          // 'directEbanking',
          // 'ach',
          // 'alipay',
          // 'klarna_paynow',
          'klarna',
          // 'klarna_account',
          'paypal',
          'applepay',
          'paywithgoogle'
          // 'boletobancario_santander'
        ].includes(it.type)
      );
      return pm;
    },
    stockChecks (result, products, state, component) {
      let response = JSON.parse(result.result);
      this.state = state
      this.component = component
      let cartTotalMultipliedBy100 = Math.round(this.totalAmount * 100)
      const storeView = currentStoreView();
      if (result.code === 200) {
        let pName = [];
        for (let i in products) {
          if (response[products[i].id] === 0) {
            pName.push(products[i].name);
          }
        }
        if (pName.length > 0) {
          this.$store.dispatch('notification/spawnNotification', {
            type: 'error',
            message: pName.join(', ') + ' is not available in the requested quantity for the selected store so it cannot be added to your cart.',
            action1: { label: 'OK' }
          }, { root: true })
        } else {
          this.$store
            .dispatch('payment-adyen/initiatePayment', {
              state,
              currency: storeView.i18n.currencyCode,
              amount: cartTotalMultipliedBy100,
              countryCode: storeView.i18n.defaultCountry
            })
            .then(response => {
              if (response.code === 200) {
                if (response.result.resultCode === 'Authorised') {
                  this.adyenPlaceOrder(response.result);
                } else if (response.result.action) {
                  component.handleAction(response.result.action);
                } else {
                  this.errorNotification(
                    'Bad data provided for the payment',
                    'error'
                  );
                }
              }
            });
        }
      } else {
        EventBus.$emit('payment-adyen-end')
      }
    },
    async createForm (pmethods) {
      const storeView = currentStoreView();
      const cartData = this.cartItems
      // const localstoredata = JSON.parse(getCookie('storelocator'));
      let shopId = 0;
      const localstoredata = getCookie('storelocator');
      if (localstoredata !== null && localstoredata !== '') {
        shopId = JSON.parse(localstoredata).shop_id
      }

      try {
        const configuration = {
          paymentMethodsResponse: this.filterUnimplemented(pmethods),
          clientKey: config.adyen.clientKey,
          locale: storeView.i18n.defaultLocale.replace('-', '_'),
          environment: config.adyen.environment,
          showPayButton: config.adyen.showPayButton,
          paymentMethodsConfiguration: this.getPaymentConfigs(pmethods),
          onSubmit: (state, component) => this.adyenPlaceOrder(state, component),
          onAdditionalDetails: (state, component) => {
            this.$store
              .dispatch('payment-adyen/additionalPaymentDetail', state.data)
              .then(response => {
                if (response.code === 200) {
                  const { result: { resultCode } } = response
                  const responseArr = ['Authorised', 'Received', 'Pending', 'PresentToShopper']
                  if (responseArr.includes(resultCode)) {
                    this.onAfterPaymentDeduct(response.result);
                    // EventBus.$emit('checkout-do-placeOrder', {})
                  } else if (resultCode === 'Refused') {
                    this.errorNotification(
                      'Try the payment again using a different payment method.',
                      'error'
                    );
                  } else if (resultCode === 'Cancelled') {
                    this.errorNotification(
                      'Select a different payment method.',
                      'error'
                    );
                  } else if (resultCode === 'Error') {
                    this.errorNotification(
                      'There is an error processing a payment.',
                      'error'
                    );
                  } else {
                    this.errorNotification('Something went wrong.', 'error');
                  }
                }
              });
          },
          onCancel: (data, component) => {
            EventBus.$emit('payment-adyen-end')
            // component.setStatus('ready');
          },
          onError: (state, dropin) => {
            // dropin.setStatus('ready');
            EventBus.$emit('payment-adyen-end')
          }
        };

        this.checkout = new AdyenCheckout(configuration);
        const integration = this.checkout
          .create('dropin')
          .mount(this.$refs.adyenpaymentsdropin);
      } catch (error) {
        console.error('[Adyen Dropin]', error);
      }
    },
    errorNotification (msg, type) {
      this.$store.dispatch('notification/spawnNotification', {
        type: type,
        message: i18n.t('Bad data provided for the payment'),
        action1: { label: i18n.t('OK') }
      });
      EventBus.$emit('payment-adyen-end')
    },
    getInvoiceLineItems () {
      let lineItems = [];
      this.cartItems.forEach((item, index) => {
        lineItems.push({
          'quantity': item.qty,
          'amountExcludingTax': item.totals !== undefined ? Math.round(item.totals.price * 100) : item.price * 100,
          'taxPercentage': item.totals !== undefined ? (item.totals.tax_percent * 100) : Math.round(((100 * Math.round(item.price_tax * 100) / Math.round(item.price * 100)) * 100)),
          'description': item.name,
          'id': item.sku,
          'taxAmount': item.totals !== undefined ? Math.round((item.totals.tax_amount / item.qty) * 100) : Math.round(item.price_tax * 100),
          'amountIncludingTax': item.totals !== undefined ? Math.round(item.totals.price_incl_tax * 100) : Math.round(item.price_incl_tax * 100),
          'imageUrl': getThumbnailPath(item.image, config.cart.thumbnails.width, config.cart.thumbnails.height)
        })
      })
      if (this.cartShippingAmount !== undefined && this.cartShippingAmount.value > 0) {
        lineItems.push({
          'quantity': 1,
          'amountExcludingTax': (this.cartShippingAmount.value * 100),
          'taxPercentage': 0,
          'description': this.cartShippingAmount.title,
          'id': this.cartShippingAmount.code,
          'taxAmount': 0,
          'amountIncludingTax': (this.cartShippingAmount.value * 100)
        })
      }
      if (this.cartDiscount !== undefined || this.petClubVoucher !== undefined) {
        let discountAmount = 0;
        let discountTitle = '';
        let discountId = '';
        if (this.cartDiscount !== undefined) {
          discountAmount += Math.abs(this.cartDiscount.value);
          discountTitle += this.cartDiscount.title;
          discountId += this.cartDiscount.code
        }
        if (this.petClubVoucher !== undefined) {
          discountAmount += Math.abs(this.petClubVoucher.value);
          discountTitle += (discountTitle !== '') ? '/' + this.petClubVoucher.title : this.petClubVoucher.title;
          discountId += (discountId !== '') ? '/' + this.petClubVoucher.code : this.petClubVoucher.code
        }

        if (discountAmount > 0) {
          lineItems.push({
            'quantity': 1,
            'amountExcludingTax': Math.round((discountAmount * -1) * 100),
            'taxPercentage': 0,
            'description': discountTitle,
            'id': discountId,
            'taxAmount': 0,
            'amountIncludingTax': Math.round((discountAmount * -1) * 100)
          })
        }
      }
      return lineItems;
    },
    getInvoiceOpenLineItems () {
      const storeView = currentStoreView();
      let lineItems = {
        'openinvoicedata': {
          'numberOfLines': this.cartItems.length
        }
      };
      this.cartItems.forEach((item, index) => {
        let key = 'line' + (index + 1);
        lineItems['openinvoicedata'][key] = {};
        lineItems['openinvoicedata'][key]['currencyCode'] = storeView.i18n.currencyCode;
        lineItems['openinvoicedata'][key]['description'] = item.name;
        lineItems['openinvoicedata'][key]['itemAmount'] = item.price * 100;
        lineItems['openinvoicedata'][key]['itemVatAmount'] = item.totals !== undefined ? (item.totals.tax_amount / item.qty) * 100 : Math.round(item.price_tax * 100);
        lineItems['openinvoicedata'][key]['itemVatPercentage'] = item.totals !== undefined ? (item.totals.tax_percent * 100) : Math.round(((100 * Math.round(item.price_tax * 100) / Math.round(item.price * 100)) * 100));
        lineItems['openinvoicedata'][key]['numberOfItems'] = item.qty;
        lineItems['openinvoicedata'][key]['imageUrl'] = getThumbnailPath(item.image, config.cart.thumbnails.width, config.cart.thumbnails.height);
      })
      return lineItems;
    },
    initiatePayment (state, component) {
      this.$store.dispatch('checkout/setThankYouPage', false)
      const storeView = currentStoreView();
      let cartTotalMultipliedBy100 = Math.round(this.totalAmount * 100);
      let order = this.lastOrder.addressInformation
      let loyaltyNumber = (this.currentUser && this.currentUser.custom_attributes && this.paymentMethod !== 'paypal') ? this.currentUser.custom_attributes.find((a) => { return (a.attribute_code === 'loyalty_number') }) : '';
      this.$store
        .dispatch('payment-adyen/initiatePayment', {
          state,
          currency: storeView.i18n.currencyCode,
          amount: cartTotalMultipliedBy100,
          countryCode: storeView.i18n.defaultCountry,
          orderRef: this.lastOrderConfirmation.orderNumber,
          shopperName: {
            firstName: order.shippingAddress.firstname,
            lastName: order.shippingAddress.lastname
          },
          shopperEmail: (this.currentUser) ? this.currentUser.email : order.shippingAddress.email,
          shopperNumber: order.shippingAddress.telephone,
          shopperReference: (loyaltyNumber && typeof loyaltyNumber !== 'undefined') ? loyaltyNumber.value : '',
          billingAddress: {
            city: order.billingAddress.city,
            country: order.billingAddress.country_id,
            houseNumberOrName: order.billingAddress.country_id,
            postalCode: order.billingAddress.postcode,
            stateOrProvince: order.billingAddress.region,
            street: order.billingAddress.street.join(', ')
          },
          deliveryAddress: {
            city: order.shippingAddress.city,
            country: order.shippingAddress.country_id,
            houseNumberOrName: order.shippingAddress.country_id,
            postalCode: order.shippingAddress.postcode,
            stateOrProvince: order.shippingAddress.region,
            street: order.shippingAddress.street.join(', ')
          },
          returnUrl: (state.data.paymentMethod.type === 'klarna' || state.data.paymentMethod.type === 'klarna_account') ? config.adyen.klarna.redirectUrl : '',
          lineItems: (state.data.paymentMethod.type === 'klarna' || state.data.paymentMethod.type === 'klarna_account') ? this.getInvoiceLineItems() : []
          // additionalData: (state.data.paymentMethod.type === 'klarna' || state.data.paymentMethod.type === 'klarna_account') ? this.getInvoiceOpenLineItems() : {}
        })
        .then(response => {
          if (response.code === 200) {
            if (response.result.resultCode === 'Authorised') {
              // EventBus.$emit('checkout-do-placeOrder', {})
              this.onAfterPaymentDeduct(response.result);
            } else if (response.result.action) {
              if (this.adyenOrder.action !== undefined) {
                setCookie('adyen-payment-data', this.adyenOrder.action.paymentData, 1)
              }
              if (this.adyenPayload.confirmation !== undefined) {
                this.adyenPayload['total'] = this.cartTotal
                localStorage.setItem('adyen-order-payload-order', JSON.stringify(this.adyenPayload));
                setCookie('adyen-payment-order-id', this.adyenPayload.confirmation.backendOrderId, 1)
              }
              component.handleAction(response.result.action);
            } else {
              this.errorNotification(
                'Bad data provided for the payment',
                'error'
              );
              if (typeof window !== 'undefined' && typeof window.localStorage !== 'undefined') {
                localStorage.removeItem('shop/cart/current-cart-token');
                localStorage.removeItem('shop/cart/current-cart-hash');
              }
            }
          }
        });
    },
    prepareOrder () {
      const localstoredata = getCookie('storelocator');
      if (localstoredata !== null) {
        const storeJsonData = JSON.parse(localstoredata);
        this.storeLocatorId = storeJsonData.shop_id
      }
      this.order = {
        user_id: this.$store.state.user.current ? this.$store.state.user.current.id.toString() : '',
        cart_id: this.$store.state.cart.cartServerToken ? this.$store.state.cart.cartServerToken.toString() : '',
        products: this.$store.state.cart.cartItems,
        addressInformation: {
          billingAddress: {
            region: this.payment.state,
            region_id: this.payment.region_id ? this.payment.region_id : 0,
            country_id: this.payment.country,
            street: [this.payment.streetAddress, this.payment.apartmentNumber],
            company: this.payment.company,
            telephone: this.payment.phoneNumber,
            postcode: this.payment.zipCode,
            city: this.payment.city,
            firstname: this.payment.firstName,
            lastname: this.payment.lastName,
            email: this.getPersonalDetails.emailAddress,
            region_code: this.payment.region_code ? this.payment.region_code : '',
            vat_id: this.payment.taxId
          },
          shipping_method_code: this.shippingMethod.method_code ? this.shippingMethod.method_code : this.shipping.shippingMethod,
          shipping_carrier_code: this.shippingMethod.carrier_code ? this.shippingMethod.carrier_code : this.shipping.shippingCarrier,
          payment_method_code: this.getPaymentMethod(),
          payment_method_additional: this.adyenOrder,
          shippingExtraFields: { 'storelocator_id': this.storeLocatorId }
        }
      }
      if (!this.isVirtualCart) {
        this.order.addressInformation.shippingAddress = {
          region: this.shipping.state,
          region_id: this.shipping.region_id ? this.shipping.region_id : 0,
          country_id: this.shipping.country,
          street: [this.shipping.streetAddress, this.shipping.apartmentNumber],
          company: '',
          telephone: this.shipping.phoneNumber,
          postcode: this.shipping.zipCode,
          city: this.shipping.city,
          firstname: this.shipping.firstName,
          lastname: this.shipping.lastName,
          email: this.getPersonalDetails.emailAddress,
          region_code: this.shipping.region_code ? this.shipping.region_code : ''
        }
      }
      return this.order
    },
    checkStocks () {
      let isValid = true
      for (let child of this.$children) {
        if (child.hasOwnProperty('$v') && child.$refs.cartSummary === 'undefined') {
          if (child.$v.$invalid) {
            // Check if child component is Personal Details.
            // If so, then ignore validation of account creation fields.
            if (child.$v.hasOwnProperty('personalDetails')) {
              if (child.$v.personalDetails.$invalid) {
                isValid = false
                break
              }
            } else {
              isValid = false
              break
            }
          }
        }
      }

      if (typeof navigator !== 'undefined' && navigator.onLine) {
        if (this.stockCheckCompleted) {
          if (!this.stockCheckOK) {
            isValid = false
            this.notifyNotAvailable()
          }
        } else {
          this.notifyStockCheck()
          isValid = false
        }
      }
      return isValid
    },
    validateShippingMethod () {
      let shippingValid = true;
      let localstoredata = getCookie('storelocator');
      this.storeLocatorId = undefined;
      if (localstoredata !== null) {
        const storeJsonData = JSON.parse(localstoredata);
        this.storeLocatorId = storeJsonData.shop_id
      }
      if ((this.shippingMethod.method_code === 'clickandcollect' || typeof this.shippingMethod.method_code === 'undefined') &&
       typeof this.storeLocatorId === 'undefined') {
        shippingValid = false;
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: i18n.t('Please select a valid store for Click And Collect shipping method'),
          action1: { label: i18n.t('OK') }
        });
      }
      return shippingValid;
    },
    adyenPlaceOrder (state, component) {
      this.state = state
      this.component = component
      EventBus.$emit('payment-method-adyen', state.data.paymentMethod.type)
      if (state.isValid && this.validateShippingMethod()) {
        EventBus.$emit('payment-adyen-start')
        if (this.directProcess) {
          if (this.adyenPayload) {
            this.initiatePayment(state, component)
          } else {
            EventBus.$emit('checkout-do-placeOrder', {})
          }
        } else {
          if (this.adyenPayload) {
            this.initiatePayment(state, component)
          } else {
            this.checkConnection({ online: typeof navigator !== 'undefined' ? navigator.onLine : true })
            if (this.checkStocks()) {
              this.$store.dispatch('checkout/placeOrder', { order: this.prepareOrder() }).then(result => {
                if (typeof result !== 'undefined' && (!result.resultCode || result.resultCode === 200)) {
                  EventBus.$emit('payment-adyen-payload-store', { order: JSON.parse(result.payload.body), result, confirmation: result.result })
                  this.initiatePayment(state, component)
                } else {
                  EventBus.$emit('payment-adyen-end')
                  EventBus.$emit('notification-progress-start', 'The page will be reloaded in 5 seconds.')
                  setTimeout(() => {
                    window.location.reload(1);
                  }, 5000);
                }
              })
            } else {
              this.notifyNotAvailable()
            }
          }
        }
      }
    }
  }
};
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$red:color(red);
$red-f14e46:color(red-f14e46);

.adyen-block {
  position: relative;
  // opacity: 1 !important;
  .adyen-checkout__payment-method,
  .adyen-checkout__payment-method--selected {
    border-radius: 0;
    border: 0 none;
    background: transparent;
    margin: 0;
    padding: 0;
  }
  .adyen-checkout__payment-method__header {
    padding: 10px 10px 10px 30px;
  }
  .adyen-checkout__payment-method__details {
    padding: 0;
  }
  .adyen-checkout__payment-method__details__content {
    margin: 0 0 10px;
  }
  .adyen-checkout__payment-method__radio {
    left: 0;
  }
  .adyen-checkout__payment-method__radio--selected {
    background-color: $red;
  }
  .adyen-checkout__payment-method:hover:not(.adyen-checkout__payment-method--selected) .adyen-checkout__payment-method__radio {
    border-color: $red;
    box-shadow: none;
  }
  .adyen-checkout__spinner__wrapper {
    margin: 20px 0;
  }
  .adyen-checkout__spinner {
    border-color: $red $red $red transparent;
  }
  .adyen-checkout__button {
    background: $red;
    border-radius: 35px;
    font-weight: 700;
    padding: 10px 25px;
    font-size: 16px;
    &:hover {
      background: $red-f14e46;
      box-shadow: none;
    }
  }
  .adyen-payments-processing {
    background-color: rgba($color: #FFFFFF, $alpha: 0.5);
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    margin: 0;
    cursor: progress;
    z-index: 9999;
  }
}
</style>
