<template>
  <div class="payment-methods">
    <div v-if="!showLoader">
      <div v-if="savedCardsData && savedCardsData.length > 0">
        <h3 class="bold align-center py20">
          {{ $t('Your saved cards') }}
        </h3>
        <div class="payment-methods-row flex" v-for="(card, index) in savedCardsData" :key="index">
          <div class="payment-icon">
            <img :src="cardIcon" alt="card-icon">
          </div>
          <div class="payment-methods-text">
            <h4 class="mb10">
              {{ card.name }}
            </h4>
            <p>**** **** **** {{ card.lastFour }}</p>
            <p>{{ showCardExpiry(card) }}</p>
            <p>{{ card.holderName }}</p>
          </div>
          <div class="payment-delete">
            <!-- <base-checkbox
              class="checkbox"
              id="primarycard"
              :value="1"
            >
              {{ $t("Primary card") }}
            </base-checkbox> -->
            <p class="">
              <a href="#" @click.prevent="deleteCard(card.id)">
                Delete card
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                    <path d="M0 0h24v24H0V0z" fill="none" opacity=".87" />
                    <path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm3.59-13L12 10.59 8.41 7 7 8.41 10.59 12 7 15.59 8.41 17 12 13.41 15.59 17 17 15.59 13.41 12 17 8.41z" />
                  </svg>
                </span>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="shipping-empty align-center" v-else>
        <h2 class="bold align-center py20">
          {{ $t('You don’t have any saved cards at the moment.') }}
        </h2>
      </div>
    </div>
    <div class="site-loader-wrap" v-else>
      <div class="site-ajax-loader" />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'ListingCards',
  data () {
    return {
      showLoader: true,
      savedCardsData: null,
      cardIcon: '/assets/icons/paymentmethod-icon.svg'
    };
  },
  computed: {
    ...mapState({
      currentUser: state => state.user.current
    }),
    getShoppersReference () {
      let loyaltyNumber = (this.currentUser && this.currentUser.custom_attributes) ? this.currentUser.custom_attributes.find((a) => { return (a.attribute_code === 'loyalty_number') }) : '';
      return (loyaltyNumber && typeof loyaltyNumber !== 'undefined') ? loyaltyNumber.value : ''
    }
  },
  mounted () {
    this.getAllPaymentCards();
  },
  methods: {
    async getAllPaymentCards () {
      const result = await this.$store
        .dispatch('payment-adyen/loadPaymentMethods', {
          shopperReference: this.getShoppersReference ? this.getShoppersReference : '',
          listing: true
        })
        .then(res => res.response);
      if (result && result.storedPaymentMethods && result.storedPaymentMethods.length > 0) {
        this.savedCardsData = result.storedPaymentMethods.filter(card => card.supportedShopperInteractions.includes('Ecommerce'))
      }
      this.showLoader = false;
    },
    showCardExpiry (card) {
      return card.expiryMonth + ' / ' + card.expiryYear.slice(-2)
    },
    deleteCard (id) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message: 'Are you sure you want to delete?',
        action1: { label: this.$t('OK'),
          action: () => {
            this.deletePaymentCard(id)
          }
        },
        action2: { label: this.$t('Cancel'), action: 'close' },
        hasNoTimeout: true
      });
    },
    async deletePaymentCard (id) {
      this.showLoader = true;
      const deletedResult = await this.$store
        .dispatch('payment-adyen/removePaymentCards', {
          shopperReference: this.getShoppersReference ? this.getShoppersReference : '',
          recurringDetailReference: id
        })
        .then(res => res.response);
      if (typeof deletedResult !== 'undefined') {
        this.getAllPaymentCards();
      }
      this.showLoader = false;
    }
  }
};
</script>
<style lang="scss">
@import '~theme/css/base/global_vars';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-icon-hover: color(secondary, $colors-background);
$white: color(white);
$black: color(black);
$red: color(red);
$gray-979797: color(gray-979797);
$gray: color(gray);

#my_account{
  .select-wrapper{
    select{
      background-image: url(/assets/icons/down-arrow.png);
      background-size: auto;
      background-repeat: no-repeat;
      background-position: calc(100% - 10px);
    }
    &:after {
      display: none;
    }
  }
}
.payment-methods{
  .payment-methods-row{
    border: 1px solid $gray-979797;
    margin:1px 0 -2px -1px;
    background: $white;
    padding: 20px;
    position: relative;
    @media (max-width:767px) {
      padding:20px 13px;
    }
    .payment-icon{
      width: 150px;
      display: table;
      text-align:center;
      line-height: 0;
      align-self: center;
      @media (max-width:767px) {
        width: 80px;
        img{
          width: 63px;
        }
      }
    }
    .payment-methods-text{
      padding-left: 20px;
      p{
        padding:0 0 2px 0;
        @media (max-width:767px) {
          font-size: 14px;
        }
      }
      h4{
        @media (max-width:767px) {
          font-size: 16px;
        }
      }
    }
    .payment-delete{
       margin-left: auto;
       margin-top: auto;
      .checkbox{
          position: absolute;
          right: 30px;
          top: 16px;
          @media (max-width:767px) {
            right: 16px;
          }
          label{
            padding-left:0;
            padding-right:30px;
            &::before{
              left:inherit;
              right:0;
            }
            &::after{
              left:inherit;
              right:5px;
            }
          }
        }
        p{
          margin-top: auto;
          margin-left: auto;
          span{
            color: $red;
            font-size: 19px;
            vertical-align: top;
            display: inline-block;
          }
          @media (max-width:767px) {
            font-size: 12px;
          }
        }
      }
    .edite-links{align-self: center;}
  }

.myaccount-form {
  max-width: 720px;
  margin: auto;
  @media (max-width: 767px) {
    padding: 0 20px 20px;
  }
  .select-wrapper {
    display: flex;
    flex-wrap: wrap;
    select {
      &:first-child {
        height: 30px;
        border: solid 1px $gray;
        font-size: 16px;
        padding: 0px 7px;
        line-height: 29px;
      }
    }
    select:focus ~ label,
    select:not(.empty) ~ label {
      color: $black;
    }
    label {
      position: static;
      order: -1;
      padding-bottom: 0;
      color: $black;
    }
    &::after {
      top: 35px;
      right: 23px;
    }
  }
  .base-input {
    .relative {
      display: flex;
      flex-wrap: wrap;
      input {
        &:first-child {
          height: 30px;
          border: solid 1px $gray;
          font-size: 16px;
          padding: 7px;
        }
      }
      input:focus {
        border: solid 1px $red;
      }
    }
    label {
      position: static;
      order: -1;
      padding-bottom: 0;
      color: $black;
    }
    input:focus ~ label,
    input:not(.empty) ~ label {
      color: $black;
    }
  }
  @media (max-width: 767px) {
    .checkbox {
      label {
        font-size: 16px;
        padding-left: 26px;
        display: inline-block;
        vertical-align: top;
        line-height: 140%;
        padding-top: 4px;
        &:before {
          top: 4px;
        }
        &:after {
          top: 9px !important;
        }
      }
    }
  }
}
  .btn{
      font-size: 18px;
      font-weight: bold;
      padding: 8px 24px 8px;
      text-transform: capitalize;
  }
}
</style>
